<div class="row mt-7 mb-7">
  <div class="col-sm-5 d-flex align-items-center">
    <div class="mr-7 flex-shrink-0">
      <% if user.avatar.attached? && user.avatar.variable? %>
        <div class="avatar-lg">
          <%= image_tag user.avatar.variant(resize_to_limit: [103, 103]), class: 'avatar-img rounded-circle' %>
        </div>
      <% else %>
        <div class="avatar">
          <div class="avatar-img border rounded-circle"></div>
        </div>
      <% end %>
    </div>

    <div>
      <h3 class="h2 text-uppercase mb-0 font-weight-bold text-secondary">
        <%== [user.last_name, user.first_name].select(&:present?).join('<br>') %>
      </h3>
      <% if user.organization %>
        <div class="h3 mt-4 mb-0 text-gray-200 font-weight-normal">
          <%= user.organization.name %>
        </div>

        <% if user.organization.federal_subject %>
          <div class="h3 mt-4 mb-0 text-gray-200 font-weight-normal">
            <%= user.organization.federal_subject.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="border-left pl-5">
      <p>
        <span class="text-gray-700">Данные автора:</span>
      </p>

      <p class="mb-0">
        <%= user.contact_position %><br>
        <%= user.email %><br>
        <%= user.contact_phone %><br>
      </p>
    </div>
  </div>
</div>