<div data-controller="gallery" class="gallery my-7">
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <% images.each do |image| %>
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-16by9">
            <%= image_tag image, class: 'embed-responsive-item', style: 'object-fit: contain;' %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Add Arrows -->
    <div class="swiper-button-next" data-target="gallery.next"></div>
    <div class="swiper-button-prev" data-target="gallery.prev"></div>
  </div>

  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      <% images.each do |image| %>
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-16by9">
            <%= image_tag image, class: 'embed-responsive-item', style: 'object-fit: cover;' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
