<%
title('Добавить лучшую практику')
@compact_header = true
%>

<div class="container">
  <h1 class="text-muted mb-2">Добавить <span class="text-primary">лучшую практику</span></h1>

  <div class="row">
    <div class="col-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body">
          <%= simple_form_for @best_practice do |f| %>
            <% if f.object.errors.full_messages.any? %>
              <div class="alert alert-primary mb-4">
                <% f.object.errors.full_messages.each do |msg| %>
                  <div><%= msg %></div>
                <% end %>
              </div>
            <% end %>

            <%= f.input :name, required: false %>

            <%= f.input :content, required: false do %>
              <%= f.rich_text_area :content, placeholder: 'Вставьте или напечатайте текст...', style: 'min-height: 25rem;', data: { controller: 'trix-without-attachments' } %>
            <% end %>

            <%= f.input :filename, required: false %>
            <%= f.input :image, required: false, label: 'Файл в формате pdf' %>

            <%= f.input :images do %>
              <% if f.object.images.attached? %>
                <div class="row mb-5">
                  <% f.object.images.each do |image| %>
                    <div class="col-sm-3 d-flex flex-column justify-content-end" data-controller="press-release-form-image">
                      <%= f.hidden_field :images, multiple: true, value: image.signed_id %>

                      <div class="position-relative text-center small text-secondary mb-4">
                        <% if image.image? %>
                          <%= image_tag image, class: 'w-100' %>
                        <% end %>
                        <%= link_to image.filename, image, class: 'stretched-link' %>
                      </div>

                      <div class="text-center">
                        <%= button_tag 'удалить', type: :button, class: 'btn btn-outline-primary btn-sm', data: { action: 'press-release-form-image#delete' } %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <%= f.file_field :images, multiple: true, direct_upload: true, class: 'form-control-file', data: { target: 'press-release-form.filesField' } %>
            <% end %>

            <div class="form-group" data-controller="disabable-input-group">
              <div class="form-check mb-1">
                <%= check_box_tag nil, '1', use_published_at, class: 'form-check-input', data: { action: 'disabable-input-group#changed' }, id: 'use_published_at' %>
                <%= label_tag :use_published_at, 'Отложенная публикация', class: "form-check-label" %>
              </div>

              <%= tag.div class: 'input-group input-group-lg', data: {
                controller: "flatpickr",
                flatpickr_wrap: true,
                #flatpickr_date_format: "d.m.Y H:i",
                flatpickr_alt_format: "d.m.Y H:i",
                flatpickr_alt_input: true,
                flatpickr_enable_time: true,
                flatpickr_min_date: Date.today,
              } do %>
                <%= f.input_field :published_at, as: :string, placeholder: 'Укажите дату и время…', data: { input: '', target: 'disabable-input-group.input' }, class: 'form-control' , disabled: !use_published_at, value: (use_published_at ? f.object.published_at : nil) %>

                <div class="input-group-append">
                  <button type="button" class="btn" title="toggle" data-toggle></button>
                </div>
              <% end %>
            </div>

            <div class="mt-5 form-group d-flex">
              <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg mr-auto d-flex', name: nil do %>
                <span class="mr-2">Сохранить</span>
                <span class="fe fe-arrow-right"></span>
              <% end %>

              <% if @best_practice.persisted? %>
                <%= link_to 'Удалить', @best_practice, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>