<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="d-flex align-items-end" style="border-bottom: 2px solid #FF5973;">
        <h1 class="text-primary mb-0"><%= title('Лучшие региональные практики') %></h1>

        <% if policy(BestPractice).create? %>
          <%= link_to new_best_practice_path, class: 'ml-auto btn btn-sm text-left text-muted font-weight-normal d-flex align-items-center shadow-lift-down rounded-0 rounded-top', style: 'font-size: 15px;' do %>
            <div class="mr-2">
              <div class="icon-circle bg-primary text-white">
                <i class="fe fe-plus"></i>
              </div>
            </div>

            <div style="line-height: 16px;">
              Предложить<br>
              <span class="text-primary">объект для раздела</span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mb-11">
    <div class="col-9">

      <% @best_practices.each do |best_practice| %>
        <div class="card shadow mb-2">
          <div class="card-body d-flex align-items-center">
            <div>
              <div><%= l(best_practice.published_at, format: '%-d %B %Y') %></div>
              <div class="mb-2"><%= best_practice.user.organization&.federal_subject&.name %></div>
              <h4 class="mb-0"><%= link_to best_practice.name, best_practice %></h4>
            </div>
            <div class="ml-auto">
              <%= link_to best_practice.image, target: '_blank' do %>
                <%= image_tag 'pdf_file_icon.svg', style: 'height: 30px;' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>