<div class="container" id="content">
  <h1 class="mb-1 text-primary"><%= title('Лучшая региональная практика') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body px-10 press-release">
      <div class="d-flex justify-content-end">
        <% if policy(@best_practice).update? %>
          <div class="ml-7">
            <%= link_to 'Редактировать', [:edit, @best_practice] %>
          </div>
        <% end %>

        <% if policy(@best_practice).approve? %>
          <div class="ml-7">
            <% if @best_practice.draft? %>
              <%= link_to 'Опубликовать', [@best_practice, :approvement], method: :post %>
            <% else %>
              <%= link_to 'Снять с публикации', [@best_practice, :approvement], method: :delete %>
            <% end %>
          </div>
        <% end %>

        <div class="ml-10">
          <%= link_to best_practices_path, class: 'text-decoration-none' do %>
            <span class="fe fe-x"></span>
          <% end %>
        </div>
      </div>

      <div class="mb-1"><%= l(@best_practice.published_at, format: '%H:%M, %-d %B %Y') %></div>

      <h2 class="mb-2"><%= @best_practice.name %></h2>

      <div class="mb-7"><%= @best_practice.user.organization&.federal_subject&.name %></div>

      <%== @best_practice.content %>

      <div class="mt-7 d-flex align-items-center">
        <%= link_to @best_practice.image, target: '_blank' do %>
          <%= image_tag 'pdf_file_icon.svg', style: 'height: 30px;' %>
        <% end %>

        <%= link_to @best_practice.filename, @best_practice.image, target: '_blank', class: 'ml-2' %>
      </div>

      <%= render 'gallery', images: @best_practice.images if @best_practice.images.size > 0 %>

      <%= render 'author', user: @best_practice.user if current_user.admin? %>
    </div>
  </div>
</div>