<div class="d-flex justify-content-center mb-10">
  <div>
    <h1 class="text-center mb-3">
      Для начала работы с системой<br>
      завершите <span class="text-primary">регистрацию</span>
    </h1>
    <p class="h4 text-secondary text-center mb-7"><% if false %>Это займет всего несколько минут<% end %></p>

    <% if false %>
      <h1><%= t(".change_your_password") %></h1>
    <% end %>

      <%= simple_form_for(@user, url: confirmation_path(:user), html: { method: :post, data: { controller: 'confirmation-form' } }) do |f| %>
        <%= f.input :confirmation_token, as: :hidden %>

      <%#= f.error_notification %>

      <div class="form-inputs">
        <% if false %>
          <div class="row">
            <div class="col">
              <%= f.input :first_name, required: false, autofocus: true %>
            </div>
            <div class="col">
              <%= f.input :last_name, required: false %>
            </div>
          </div>

          <%= f.input :contact_position, required: false %>
          <%= f.input :contact_phone, required: false %>
        <% end %>
        <%#= f.full_error :reset_password_token %>

        <%= f.input :password,
                    label: t(".new_password"),
                    required: false,
                    hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: t(".confirm_new_password"),
                    required: false,
                    input_html: { autocomplete: "new-password" } %>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" data-action="confirmation-form#confirmClicked" data-confirmation-form-target="confirmirmation">
          <label class="form-check-label" for="exampleCheck1">
            Я <%= link_to 'согласен', page_url('user-agreement'), target: '_blank' %> с <%= link_to 'условиями использования', page_url('personal-data-policy'), target: '_blank' %> и даю <%= link_to page_url('personal-data-agreement'), target: '_blank' do %>
            разрешение на обработку<br>
            персональных данных
            <% end %>
          </label>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck2" data-action="confirmation-form#confirmClicked" data-confirmation-form-target="confirmirmation">
          <label class="form-check-label" for="exampleCheck2">Я подтверждаю, что введенные данные являются достоверными</label>
        </div>
      </div>

      <div class="form-actions mt-5">
        <%= f.button :submit, t(".change_my_password"), class: 'btn btn-block btn-primary btn-lg', disabled: true, data: { target: 'confirmation-form.submitButton' } %>

        <div class="text-right mt-4">
          <%= link_to 'Нужна помощь?', new_support_request_path(email: @user.email), remote: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>

