<table class="table table-bordered table-hover table-sm" id="table">
  <thead>
    <tr>
      <th><%= link_to sort_link_title("Название", :name, @sort), params.to_unsafe_h.merge(sort_link_sort_params(:name, @sort, 'asc')), remote: true %></th>
      <th class="text-right"><%= link_to sort_link_title("Кол-во инфоповодов", :press_releases, @sort), params.to_unsafe_h.merge(sort_link_sort_params(:press_releases, @sort, 'desc')), remote: true %></th>
      <th class="text-right"><%= link_to sort_link_title("Кол-во упоминаний", :national_projects, @sort), params.to_unsafe_h.merge(sort_link_sort_params(:national_projects, @sort, 'desc')), remote: true %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Всего</th>
      <th class="text-right"><%= @organizations.map(&:press_release_ids).flatten.uniq.size %></th>
      <th class="text-right"><%= @organizations.map(&:national_projects_count).sum %></th>
    </tr>

    <% @organizations.group_by { |organization| organization.federal_subject }.sort_by { |federal_subject, organizations|
      case @sort.keys.first
      when "name"
        federal_subject&.name || ""
      when "national_projects"
        organizations.map(&:national_projects_count).sum
      else
        [organizations.map(&:press_release_ids).flatten.uniq.size, federal_subject&.name || '']
      end
    }.yield_self { |arr|
      if @sort.values.first == "desc"
        arr.reverse
      else
        arr
      end
    }.each do |federal_subject, organizations| %>
      <tr>
        <td><%= link_to (federal_subject&.name.presence || 'Вся Россия'), '#', data: { toggle: 'collapse', target: "#federal_subject_#{federal_subject&.id}" }, class: 'text-decoration-none' %></td>
        <td class="text-right"><%= organizations.map(&:press_release_ids).flatten.uniq.size %></td>
        <td class="text-right"><%= organizations.map(&:national_projects_count).sum %></td>
      </tr>

      <% organizations.group_by(&:id).sort_by { |id, organizations|
        case @sort.keys.first
        when "name"
          "#{Organization.human_attribute_name("kinds.#{organizations.first.kind}")}: #{organizations.first.name}"
        when "national_projects"
          organizations.map(&:national_projects_count).sum
        else
          [organizations.map(&:press_release_ids).flatten.uniq.size, organizations.first.name || '']
        end
       }.yield_self { |arr|
        if @sort.values.first == "desc"
          arr.reverse
        else
          arr
        end
       }.each do |id, organizations| %>
        <tr class="table-tree--level-1 collapse" id="federal_subject_<%= federal_subject&.id %>">
          <td>
            <%= link_to '#', data: { toggle: 'collapse', target: "#organization_#{organizations.first.id}" }, class: 'text-decoration-none' do %>
              <%= "#{Organization.human_attribute_name("kinds.#{organizations.first.kind}")}: #{organizations.first.name}" %>
            <% end %>
          </td>
          <td class="text-right"><%= organizations.map(&:press_release_ids).flatten.uniq.size %></td>
          <td class="text-right"><%= organizations.map(&:national_projects_count).sum %></td>
        </tr>

        <% organizations.sort_by { |o|
          case @sort.keys.first
          when "name"
            o.national_project_name
          when "national_projects"
            o.national_projects_count
          else
            o.press_release_ids.uniq.size
          end
        }.yield_self { |arr|
          if @sort.values.first == "desc"
            arr.reverse
          else
            arr
          end
         }.each do |organization| %>
          <tr class="table-tree--level-2 collapse" id="organization_<%= organization&.id %>">
            <td><%= organization.national_project_name %></td>
            <td class="text-right"><%= organization.press_release_ids.uniq.size %></td>
            <td class="text-right"><%= organization.national_projects_count %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>