<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Инфоповоды по направлениям') %></h1>
  </div>

  <%= form_tag admin_press_releases_national_projects_report_path, method: :get, class: 'my-4' do %>
    <div class="form-row">
      <div class="col-auto">
        <%= tag.div class: 'input-group input-group-lg', data: {
          controller: "flatpickr",
          flatpickr_wrap: true,
          #flatpickr_date_format: "d.m.Y H:i",
          flatpickr_alt_format: "d.m.Y",
          flatpickr_alt_input: true,
          flatpickr_mode: "range"
        } do %>
          <%= text_field_tag :period, "#{@starts_on} — #{@ends_on}", data: { input: '' }, class: 'form-control' %>

          <div class="input-group-append">
            <button type="button" class="btn" title="toggle" data-toggle></button>
          </div>
        <% end %>
      </div>

      <div class="col-auto">
        <%= select_tag :organization_kind_eq, options_for_select(Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), Organization.kinds[key]] }, params[:organization_kind_eq]), include_blank: 'Все типы огранизаций', class: 'form-control form-control-lg nowidth', data: {
          controller: 'selectpicker',
        } %>
      </div>

      <div class="col-auto">
        <%= select_tag :federal_subject_id_eq, options_from_collection_for_select(FederalSubject.order(:name), :id, :name, params[:federal_subject_id_eq]), include_blank: 'Все регионы',
        class: 'form-control form-control-lg nowidth',
        data: {
          controller: 'selectpicker',
          live_search: true,
          live_search_normalize: true,
          } %>
      </div>

      <div class="col-auto">
        <%= select_tag :national_project_id_eq, options_from_collection_for_select(NationalProject.order(:short_name), :id, :short_name, params[:national_project_id_eq]), include_blank: 'Все направления',
        class: 'form-control form-control-lg nowidth',
        data: {
          controller: 'selectpicker',
          live_search: true,
          live_search_normalize: true,
          } %>
      </div>

      <div class="col-auto">
        <%= submit_tag 'Показать', name: nil, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>

  <div class="card card-border border-primary shadow mb-7">
    <div class="card-body">
      <%= column_chart @press_releases_national_projects_report, download: true %>
    </div>
  </div>

  <div class="d-flex mb-1">
    <h4 class="mb-0">Рейтинг организаций</h4>
    <%= link_to 'Скачать .xlsx', params.permit(:period, :organization_kind_eq, :federal_subject_id_eq, :national_project_id_eq).merge(format: :xlsx), class: 'mb-0 text-secondary ml-auto align-self-end' %>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <%= render "table" %>
  </div>
</div>