<div class="col-sm-3 mb-5 d-flex flex-column justify-content-end" data-controller="press-release-form-image">
  <%= hidden_field_tag "press_release[images][]", blob.signed_id %>

  <div class="position-relative text-center small text-secondary mb-4">
    <% if blob.image? %>
      <%= image_tag blob, class: 'w-100' %>
    <% end %>
    <%= link_to blob.filename, blob, class: 'stretched-link' %>
  </div>

  <div class="text-center">
    <%= button_tag 'удалить', type: :button, class: 'btn btn-outline-primary btn-sm', data: { action: 'press-release-form-image#delete' } %>
  </div>
</div>