<% title('Главные темы') %>

<div class="container">
  <h1 class="text-primary mb-0">Главные темы –&nbsp;материал для создания федеральных новостей</h1>

  <div class="row">
    <div class="col-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body pt-0 pb-7">
          <% @main_topics.each do |main_topic| %>
            <div class="d-flex py-5 border-bottom position-relative">
              <% if false %>
                <div class="mr-4" style="width: 41px;">
                  <% if national_project.avatar.attached? %>
                    <%= image_tag national_project.avatar, width: 41, height: 41 %>
                  <% end %>
                </div>
              <% end %>

              <div class="text-center flex-shrink-0" style="width: 100px; font-size: 10px; color: #A6A6A6;">
                <%= image_tag multiple_national_projects_image_url(main_topic.national_projects), width: 30, height: 30 %>

                <% if main_topic.national_projects.size < 6 %>
                  <div class="mt-2">
                    <% main_topic.national_projects.each do |national_project| %>
                      <%= national_project.short_name %><br>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="mt-1">
                <% if main_topic.starts_at && main_topic.ends_at %>
                  <div class="text-muted small">
                    <%= l main_topic.starts_at, format: '%-d %B' %> - <%= l main_topic.ends_at, format: '%-d %B' %>
                  </div>
                <% end %>

                <h4 class="mb-0">
                  <%= link_to main_topic.name, main_topic, class: 'text-decoration-none stretched-link' %>
                  <%#= link_to national_project.name, (@national_project_branding_link ? national_project_branding_path(national_project) : national_project_path(national_project)), class: 'text-decoration-none stretched-link' %>
                </h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>