<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="text-primary mb-0"><%= title(@main_topic.name) %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 pb-7">
      <div class="card card-border border-primary shadow mb-2">
        <div class="card-body px-8">
          <%= @main_topic.content %>
        </div>
      </div>

      <% @press_releases.each do |press_release| %>
        <div class="card shadow mb-2" style="font-size: 12px;">
          <div class="card-body py-4">
            <div class="d-flex">
              <div class="text-center flex-shrink-0" style="width: 100px; font-size: 10px; color: #A6A6A6;">
                <%= image_tag multiple_national_projects_image_url(press_release.national_projects), width: 30, height: 30 %>

                <% if press_release.national_projects.size < 6 %>
                  <div class="mt-2">
                    <% press_release.national_projects.each do |national_project| %>
                      <%= national_project.short_name %><br>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="text-center flex-shrink-0" style="width: 92px;"><%= press_release.published_at.strftime('%d.%m.%y') %></div>

              <div>
                <div class="small text-secondary font-weight-light mb-1">
                  <% if press_release.all_federal_subjects? %>
                    Вся Россия
                  <% else %>
                    <% federal_subjects = press_release.federal_subjects.sort_by(&:name) %>

                    <%= federal_subjects.first.name %>
                    <% if federal_subjects.count > 1 %>
                      <%= tag.span "и ещё #{federal_subjects.count - 1}", title: federal_subjects[1..-1].map(&:name).join("\n") %>
                    <% end %>
                  <% end %>
                </div>

                <%= link_to press_release_path(press_release), class: 'press_releases_list_link' do %>
                  <% str1, str2 = truncate_two_strings(press_release.title, press_release.content.to_plain_text.remove(/\[.+?\]/).strip, 180) %>
                  <%= str1 %>
                  <% if str2.present? %>
                    <span><%= str2 %></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>