<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0"><%= title('РОИВ: отчёт по активности') %></h1>

    <div class="ml-auto">
      <%= link_to 'Скачать .xlsx', params.permit(:period, :organization_kind_eq, :federal_subject_id_eq).merge(format: :xlsx), class: 'text-secondary' %>
    </div>
  </div>

  <%= form_tag admin_regional_authorities_activities_report_path, method: :get, class: 'my-4' do %>
    <div class="form-row">
      <div class="col-auto">
        <%= tag.div class: 'input-group input-group-lg', data: {
          controller: "flatpickr",
          flatpickr_wrap: true,
          #flatpickr_date_format: "d.m.Y H:i",
          flatpickr_alt_format: "d.m.Y",
          flatpickr_alt_input: true,
          flatpickr_mode: "range"
        } do %>
          <%= text_field_tag :period, "#{@starts_on} — #{@ends_on}", data: { input: '' }, class: 'form-control' %>

          <div class="input-group-append">
            <button type="button" class="btn" title="toggle" data-toggle></button>
          </div>
        <% end %>
      </div>

      <div class="col-auto">
        <%= select_tag :organization_kind_eq, options_for_select(Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), Organization.kinds[key]] }, params[:organization_kind_eq]), include_blank: 'Все типы огранизаций', class: 'form-control form-control-lg nowidth', data: {
          controller: 'selectpicker',
        } %>
      </div>

      <div class="col-auto">
        <%= select_tag :federal_subject_id_eq, options_from_collection_for_select(FederalSubject.order(:name), :id, :name, params[:federal_subject_id_eq]), include_blank: 'Все регионы',
        class: 'form-control form-control-lg nowidth',
        data: {
          controller: 'selectpicker',
          live_search: true,
          live_search_normalize: true,
          } %>
      </div>

      <div class="col-auto">
        <%= submit_tag 'Показать', name: nil, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>

  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-hover table-striped table-bordered table-sm" data-controller="sortable-table">
      <thead>
        <tr>
          <th>
            <%= sortable_table_sort_link "Регион", column_index: 0, direction: "asc", active: true, value_type: "string" %>
          </th>
          <th class="text-right">
            <%= sortable_table_sort_link "Инфоповоды", column_index: 1 %>
          </th>
          <th class="text-right">
            <%= sortable_table_sort_link "СМИ", column_index: 2 %>
          </th>
          <th class="text-right">
            <%= sortable_table_sort_link "Просмотрено СМИ", column_index: 3 %>
          </th>
          <th class="text-right">
            <%= sortable_table_sort_link "Взято СМИ", column_index: 4 %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @federal_subjects.each_with_index do |federal_subject, index| %>
          <tr>
            <td data-sortable-table-value="<%= federal_subject.name %>"><%= federal_subject.name %></td>
            <td class="text-right" data-sortable-table-value="<%= @press_releases_counts_hash[federal_subject.id] || 0 %>">
              <%= @press_releases_counts_hash[federal_subject.id] || 0 %>
            </td>
            <td class="text-right" data-sortable-table-value="<%= @repostable_users_counts_hash[federal_subject.id] || 0 %>">
              <%= @repostable_users_counts_hash[federal_subject.id] || 0 %>
            </td>
            <td class="text-right" data-sortable-table-value="<%= @viewed_press_releases_counts_hash[federal_subject.id] || 0 %>">
              <%= @viewed_press_releases_counts_hash[federal_subject.id] || 0 %>
            </td>
            <td class="text-right" data-sortable-table-value="<%= @reposted_press_releases_counts_hash[federal_subject.id] || 0 %>">
              <%= @reposted_press_releases_counts_hash[federal_subject.id] || 0 %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>