<div class="container mt-5">
  <h1 class="mb-0 mr-auto"><%= title('Страница') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @page] do |f| %>
        <%= f.input :public %>

        <%= f.input :slug do %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><%= root_url + 'pages/' %></span>
            </div>
            <%= f.input_field :slug, class: 'form-control' %>
          </div>
        <% end %>

        <%= f.input :name %>

        <%= f.input :content do %>
          <%= f.rich_text_area :content %>
        <% end %>

        <div class="form-group d-flex">
          <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>

          <% if @page.persisted? && policy([:admin, @page]).destroy? %>
            <%= link_to 'Удалить', [:admin, @page], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger btn-lg' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>