<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Страницы') %></h1>
    <%= link_to 'Добавить', [:new, :admin, :page], class: 'btn btn-primary' %>
  </div>

  <div class="card card-border border-primary">
    <table class="table table-bordered table-striped table-bordered">
      <% @pages.each do |page| %>
        <tr>
          <td><%= link_to page.name, page %></td>
          <td><%= link_to 'Редактировать', [:edit, :admin, page] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>