<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex border-bottom border-gray pb-2 mb-3">
      <h1 class="h3 mb-0 mr-auto"><%= title('Файл брендинга') %></h1>
    </div>

    <%= simple_form_for [:admin, @national_project, @branding_asset] do |f| %>
      <%= f.input :avatar do %>
        <% if f.object.avatar.attached? %>
          <div class="mb-1"><%= image_tag f.object.avatar %></div>
        <% end %>
        <%= f.input_field :avatar, class: 'form-control' %>
      <% end %>

      <%= f.input :description %>

      <%= f.input :images, wrapper_html: { data: { controller: "jit-direct-upload", jit_direct_upload_callback_url_value: new_admin_branding_assets_form_file_path }} do %>
        <div class="row" id="form-files">
          <% if f.object.images.attached? %>
            <% f.object.images.each do |image| %>
              <%= render "admin/branding_assets/form_files/form_file", blob: image %>
            <% end %>
          <% end %>
        </div>

        <%= f.file_field :images, multiple: true, direct_upload: true, class: 'form-control-file', data: { action: "jit-direct-upload#fileInputChanged" } %>
      <% end %>

      <hr>

      <div class="form-group d-flex">
        <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>
      </div>
    <% end %>
  </div>
</div>