<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title(@subcategory.name) %></h1>

    <div>
      <%= link_to 'Редактировать подкатегорию', [:edit, :admin, @subcategory], class: 'btn btn-secondary' %>
    </div>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Категории", [:admin, :categories ] %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @subcategory.category.name, [:admin, @subcategory.category ] %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @subcategory.name %></li>
    </ol>
  </nav>

  <div class="d-flex mb-1">
    <h2 class="mb-0 align-self-end">Измерения</h2>
    <div class="ml-auto">
      <%= link_to 'Добавить измерение', [:new, :admin, @subcategory, :subcategory_scope], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-5">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th class="text-right">#</th>
          <th><%= SubcategoryScope.human_attribute_name(:name) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @subcategory.subcategory_scopes.each do |subcategory_scopes| %>
          <tr>
            <td class="text-right"><%= subcategory_scopes.position %></td>
            <td><%= subcategory_scopes.name %></td>
            <td class="text-center">
              <%= link_to [:edit, :admin, subcategory_scopes] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="d-flex mb-1">
    <h2 class="mb-0 align-self-end">Значения</h2>
    <div class="ml-auto">
      <%= link_to 'Добавить значение', [:new, :admin, @subcategory, :press_release_value], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-5">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th class="text-right">#</th>
          <th><%= PressReleaseValue.human_attribute_name(:name) %></th>
          <th><%= PressReleaseValue.human_attribute_name(:subcategory_scope) %></th>
          <th class="text-right"><%= PressReleaseValue.human_attribute_name(:value) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @press_release_values.each do |press_release_value| %>
          <tr>
            <td class="text-right"><%= press_release_value.position %></td>
            <td><%= press_release_value.name %></td>
            <td><%= press_release_value.subcategory_scope&.name %></td>
            <td class="text-right"><%= press_release_value.value %></td>
            <td class="text-center">
              <%= link_to [:edit, :admin, press_release_value] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>