window.dataLayer.push(<%== {
  event: 'takeToWork',
  eventCategory: 'newsbreak',
  eventAction: 'takeToWork',
}.to_json %>);

$('#bookmark-toggle').html("<%= j render 'press_releases/bookmark_toggle' %>");
$('#new_repost').replaceWith("<%= j render 'press_releases/reposts/form', repost: @press_release.reposts.new %>");