<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Проверка схожести текстов') %></h1>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= form_tag [:admin, :similarity] do %>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :text1, 'Текст 1' %>
              <%= text_area_tag :text1, @text1, rows: 20, class: 'form-control' %>
            </div>

            <% if @text1.present? %>
              <div class="form-group">
                <%= label_tag :lexemes1, 'Лексемы' %>
                <%= text_area_tag nil, @lexemes1.join(', '), readonly: true, class: 'form-control bg-white', rows: 5 %>
              </div>
            <% end %>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :text2, 'Текст 2' %>
              <%= text_area_tag :text2, @text2, rows: 20, class: 'form-control' %>
            </div>

            <% if @text2.present? %>
              <div class="form-group">
                <%= label_tag :lexemes2, 'Лексемы' %>
                <%= text_area_tag nil, @lexemes2.join(', '), readonly: true, class: 'form-control bg-white', rows: 5 %>
              </div>
            <% end %>
          </div>
        </div>

        <% if @similarity %>
          <div class="form-group text-center">
            <h4 class="mb-0">Похожесть</h4>
            <div class="h2"><%= number_to_percentage(@similarity * 100, precision: 0) %></div>
          </div>
        <% end %>

        <div class="form-group">
          <%= submit_tag 'Проверить', class: 'btn btn-primary btn-block btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>