<div class="form-group" id="omniauth_account_<%= provider %>">
  <div class="row">
    <div class="col-md-3">
      <%= OmniauthAccount.human_attribute_name("providers.#{provider}") %>
    </div>

    <div class="col-md-6">
      <% if (omniauth_account = current_user.omniauth_accounts.detect { |omniauth_account| omniauth_account.provider == provider }) %>
        <div class="d-flex align-items-center">
          <div><%= omniauth_account.uid %></div>

          <div class="ml-4">
            <%= link_to 'отвязать', profile_omniauth_account_path(omniauth_account), method: :delete, remote: true, data: { confirm: 'Если вы отвяжете аккаунт, Вы не сможете с помощью него авторизовываться в СРК. Вы уверены?' } %>
          </div>
        </div>
      <% else %>
        <%= link_to 'привязать', [:user, provider, :omniauth_authorize] %>
      <% end %>
    </div>
  </div>
</div>