<%= render layout: 'layout' do %>
  <%= simple_form_for current_user, url: profile_path, data: { controller: 'settings' } do |f| %>
    <% if flash.any? %>
      <div class="text-primary mb-3">
        <% flash.each do |type, msg| %>
          <div><%= msg %></div>
        <% end %>
      </div>
    <% end %>

    <h2>Основное</h2>

    <div class="profile_fields">
      <div class="form-group string optional user_first_name form-group-valid">
        <div class="row">
          <div class="col-md-3">
            Имя
          </div>

          <div class="col-md-6">
            <div field-name="first_name">
              <%= current_user.first_name %>
            </div>

            <div field-name="first_name_edit" style="display: none;">
              <input class="form-control string optional" type="text" value="<%= current_user.first_name %>" name="user[first_name]" id="user_first_name">

              <br>

              <input type="submit" name="commit" value="Сохранить" class="btn btn-primary btn-lg" data-disable-with="Сохранить">
            </div>
          </div>

          <div class="col-md-3 text-right">
            <a href="#" class="edit_field_btn" data-field-name="first_name" data-action="edit">Изменить</a>
          </div>
        </div>
      </div>

      <div class="form-group string optional user_last_name form-group-valid">
        <div class="row">
          <div class="col-md-3">
            Фамилия
          </div>

          <div class="col-md-6">
            <div field-name="last_name">
              <%= current_user.last_name %>
            </div>

            <div field-name="last_name_edit" style="display: none;">
              <input class="form-control string optional" type="text" value="<%= current_user.last_name %>" name="user[last_name]" id="user_last_name">

              <br>

              <input type="submit" name="commit" value="Сохранить" class="btn btn-primary btn-lg" data-disable-with="Сохранить">
            </div>
          </div>

          <div class="col-md-3 text-right">
            <a href="#" class="edit_field_btn" data-field-name="last_name" data-action="edit">Изменить</a>
          </div>
        </div>
      </div>

      <div class="form-group string optional user_last_name form-group-valid">
        <div class="row">
          <div class="col-md-3">
            Организация
          </div>
          <div class="col-md-6">
            <%= current_user.organization&.name %>
          </div>
          <div class="col-md-3 text-right">

          </div>
        </div>
      </div>

      <div class="form-group string optional user_contact_position form-group-valid">
        <div class="row">
          <div class="col-md-3">
            Должность
          </div>

          <div class="col-md-6">
            <div field-name="contact_position">
              <%= current_user.contact_position %>
            </div>

            <div field-name="contact_position_edit" style="display: none;">
              <input class="form-control string optional" type="text" value="<%= current_user.contact_position %>" name="user[contact_position]" id="user_contact_position">

              <br>

              <input type="submit" name="commit" value="Сохранить" class="btn btn-primary btn-lg" data-disable-with="Сохранить">
            </div>
          </div>

          <div class="col-md-3 text-right">
            <a href="#" class="edit_field_btn" data-field-name="contact_position" data-action="edit">Изменить</a>
          </div>
        </div>
      </div>

      <div class="form-group string optional user_last_name form-group-valid">
        <div class="row">
          <div class="col-md-3">
            Регион
          </div>
          <div class="col-md-6">
            <%= current_user.organization&.federal_subject&.name %>
          </div>
          <div class="col-md-3 text-right">

          </div>
        </div>
      </div>

      <%#= f.input :first_name %>
      <%#= f.input :last_name %>
      <%#= f.input :contact_position %>

      <%#= f.association :organization, collection: Organization.order(:name), input_html: { data: {
        controller: 'selectpicker',
        live_search: true,
        live_search_normalize: true,
      }} %>

    </div>

    <h2>Безопасность и вход</h2>

    <div class="profile_fields">

      <div class="form-group string optional user_contact_phone form-group-valid">
        <div class="row">
          <div class="col-md-3">
            Номер телефона
          </div>

          <div class="col-md-6">
            <div field-name="contact_phone">
              <%= current_user.contact_phone %>
            </div>

            <div field-name="contact_phone_edit" style="display: none;">
              <input class="form-control string optional" type="text" value="<%= current_user.contact_phone %>" name="user[contact_phone]" id="user_contact_phone">

              <br>

              <input type="submit" name="commit" value="Сохранить" class="btn btn-primary btn-lg" data-disable-with="Сохранить">
            </div>
          </div>

          <div class="col-md-3 text-right">
            <a href="#" class="edit_field_btn" data-field-name="contact_phone" data-action="edit">Изменить</a>
          </div>
        </div>
      </div>

      <div class="form-group string optional user_email form-group-valid">
        <div class="row">
          <div class="col-md-3">
            E-mail
          </div>

          <div class="col-md-6">
            <div field-name="email">
              <%= current_user.email %>
            </div>

            <div field-name="email_edit" style="display: none;">
              <input class="form-control string optional" type="text" value="<%= current_user.email %>" name="user[email]" id="user_email">

              <br>

              <input type="submit" name="commit" value="Сохранить" class="btn btn-primary btn-lg" data-disable-with="Сохранить">
            </div>
          </div>

          <div class="col-md-3 text-right">
            <a href="#" class="edit_field_btn" data-field-name="email" data-action="edit">Изменить</a>
          </div>
        </div>
      </div>


      <div class="form-group string optional user_password form-group-valid">
         <div class="row">
           <div class="col-md-3">
             Пароль
           </div>

           <div class="col-md-6">
             <div field-name="password">
               ********
             </div>

             <div field-name="password_edit" style="display: none;">
               Старый пароль: <input class="form-control string optional" type="text" value="" name="" id="password">

               <br>
               Новый пароль: <input class="form-control string optional" type="text" value="" name="user[password]" id="password">

               <br>

               Подтверждение пароля: <input class="form-control string optional" type="text" value="" name="user[password_confirmation]" id="password_confirmation">

               <br>

               <input type="submit" name="commit" value="Сохранить" class="btn btn-primary btn-lg" data-disable-with="Сохранить">
             </div>
           </div>

           <div class="col-md-3 text-right">
             <a href="#" class="edit_field_btn" data-field-name="password" data-action="edit">Изменить</a>
           </div>
         </div>
       </div>

       <%= render 'omniauth_account', provider: 'vkontakte' %>
       <%= render'omniauth_account', provider: 'odnoklassniki' %>
       <%= render 'omniauth_account', provider: 'facebook' %>
       <%= render 'omniauth_account', provider: 'google_oauth2' %>

      <%#= f.input :contact_phone %>
      <%#= f.input :password, label: 'Новый пароль' %>
      <%#= f.input :password_confirmation %>
    </div>

    <br><br>

    <div class="delete_account">
      <a href="#" id="delete_account_btn">Удалить аккаунт</a>
      <br><br>
    </div>

    <div class="delete_account_form" style="display: none;">
      <div class="form-group string optional form-group-valid">
        <div class="row">
          <div class="col-md-3">
            Почему вы удаляете свой аккаунт?
          </div>

          <div class="col-md-6">
            <select class="form-control string optional" type="text" value="" name="" id="">
              <option selected="selected">Выберите из списка</option>
              <option>Не нашли нужную информацию</option>
              <option>Другое</option>
            </select>
          </div>

          <div class="col-md-3 text-right">

          </div>
        </div>
      </div>

      <div class="form-group string optional form-group-valid">
        <div class="row">
          <div class="col-md-3">
            Введите свой пароль
          </div>

          <div class="col-md-6">
            <input class="form-control string optional" type="text" value="" name="" id="">
          </div>

          <div class="col-md-3 text-right">

          </div>
        </div>
      </div>

      <input type="submit" name="commit" value="Удалить мой аккаунт" class="btn btn-primary btn-lg" data-disable-with="Удалить мой аккаунт">
    </div>

    <div class="form-group  d-flex">
      <%#= f.submit 'Сохранить', class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
<% end %>

<style type="text/css">
  .profile_fields {
    padding-left: 40px;
  }

  .profile_fields .form-group {
    min-height: 20px;
  }

  .edit_field_btn {
   color: rgb(255, 89, 138)!important;
   font-weight: bold!important;
   font-size: 15px!important;
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAZCAIAAABVQiKHAAABjElEQVQ4jd3U/0vCUBAAcP9wI+qHoojKoMy0JMkvpFkLJAcaBlEkBf5QgT9YQVZqijp103sXdA+Hs/WcWz8Gx2Dj3udx9+7N9QXgNLDdYZE0zAdgI4bFF/rickxofdiKg9urx5wfla4zBft9erL0laG4vfhQcqBgtwf+YywUcTBgUdlQXit2FeypsCvxZbM7+FRGVQXfEb1Sg+z2BVUNgqdGFQtBrNaxpTAph5pmS6E8CKXGG8FjLUInNcqZolA7IXxmJigCJ1SjLYUIFpMFhC9JnR7PnKjwg4hnBIQ3gZ2uKVmscCJ5LiA2D1Hp/M4XKJyQLgQEzXtLEe5qVjiRuhQQ61FstieVb1aYfC0gVsPYaFmcww+FZW4ExMoB1pvWA2EovJZE1kwsh7DWmDqZuoIfn/j8xm/98LIMY2kfK/WphKGw3C0sBmlb+llQIzlBr+81O4Sh0JXnKz1RUsgCTwzLVZuErvD9Z7b1KvYkqmv4N3KoFIqj6WbZvMVcWCns7pHl7/+wWDwv/0L5Bs72LZfkwFttAAAAFHRFWHRTb2Z0d2FyZQBZYW5kZXguRGlza05f+JEAAAAASUVORK5CYII=);
   background-repeat: no-repeat!important;
   padding-left: 20px;
   background-size: 17px!important;
   background-position: -1px!important;
  }

  .delete_account {
    text-align: left;
    padding-left: 40px;
  }

  .delete_account_form {
    padding-left: 40px;
  }

  #delete_account_btn {
    color: rgb(255, 89, 138)!important;
    font-weight: bold!important;
    font-size: 15px!important;
  }
</style>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script type="text/javascript">
  $(document).ready(function() {
    console.log('--dev---');

    $( ".edit_field_btn" ).click(function(e) {
      e.preventDefault();

      //first_name

      var field_name = $(this).attr('data-field-name');
      var action = $(this).attr('data-action');

      if (action == 'edit') {
        $('div[field-name="'+field_name+'"').hide();

        $('div[field-name="'+field_name+'_edit"').show();

        $(this).attr('data-action', 'cancel');
        $(this).text('Отмена');
        $(this).css('background', 'none');
      } else {
        $('div[field-name="'+field_name+'"').show();

        $('div[field-name="'+field_name+'_edit"').hide();

        $(this).attr('data-action', 'edit');
        $(this).text('Изменить');
        $(this).css('background', 'url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAZCAIAAABVQiKHAAABjElEQVQ4jd3U/0vCUBAAcP9wI+qHoojKoMy0JMkvpFkLJAcaBlEkBf5QgT9YQVZqijp103sXdA+Hs/WcWz8Gx2Dj3udx9+7N9QXgNLDdYZE0zAdgI4bFF/rickxofdiKg9urx5wfla4zBft9erL0laG4vfhQcqBgtwf+YywUcTBgUdlQXit2FeypsCvxZbM7+FRGVQXfEb1Sg+z2BVUNgqdGFQtBrNaxpTAph5pmS6E8CKXGG8FjLUInNcqZolA7IXxmJigCJ1SjLYUIFpMFhC9JnR7PnKjwg4hnBIQ3gZ2uKVmscCJ5LiA2D1Hp/M4XKJyQLgQEzXtLEe5qVjiRuhQQ61FstieVb1aYfC0gVsPYaFmcww+FZW4ExMoB1pvWA2EovJZE1kwsh7DWmDqZuoIfn/j8xm/98LIMY2kfK/WphKGw3C0sBmlb+llQIzlBr+81O4Sh0JXnKz1RUsgCTwzLVZuErvD9Z7b1KvYkqmv4N3KoFIqj6WbZvMVcWCns7pHl7/+wWDwv/0L5Bs72LZfkwFttAAAAFHRFWHRTb2Z0d2FyZQBZYW5kZXguRGlza05f+JEAAAAASUVORK5CYII=)');
      }

    });

    $( "#delete_account_btn" ).click(function(e) {
        e.preventDefault();

        $(this).hide();
        $('.delete_account_form').fadeIn();
    });
  });
</script>