<%= render layout: 'layout' do %>
  <% if @message_deliveries.any? %>
    <div class="accordion" id="accordion">
      <% @message_deliveries.each do |message_delivery| %>
        <div class="card <%= 'message_delivery--unread' unless message_delivery.read_at %>" data-controller="message-delivery">
          <div class="row border-bottom py-4">
            <div class="col-sm-3 text-center" style="font-size: 15px; font-weight: 600;">
              <div class="d-flex justify-content-center mt-1 align-items-center">
                <div class="mr-2 message_delivery--read_status"></div>

                <div>
                  <% if message_delivery.message.published_at == Date.today %>
                    <%= message_delivery.message.published_at.strftime('%H:%M') %>
                  <% else %>
                    <%= l(message_delivery.message.published_at, format: '%-d %B') %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div><%= link_to message_delivery.message.subject, message_read_path(message_delivery.message), method: :patch, remote: true, class: 'h5 mb-0 font-weight-bold', data: {
                toggle: 'collapse',
                target: "##{dom_id(message_delivery)}",
                action: "ajax:success->message-delivery#read"
              } %></div>

              <%= tag.div class: 'collapse', data: { parent: '#accordion' }, id: dom_id(message_delivery) do %>
                <div class="pt-4">
                  <%== message_delivery.message.content %>
                  <div class="text-right">
                    <%= link_to 'Удалить', message_delivery_path(message_delivery), method: :delete, remote: true, data: { confirm: 'Вы уверены?', action: "ajax:success->message-delivery#destroyed" } %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
   </div>
  <% else %>
    <p>В данный момент уведомлений нет.</p>
  <% end %>
<% end %>