<%= simple_form_for([:admin, @tutorial]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :content do %>
      <%= f.rich_text_area :content %>
    <% end %>
    <%= f.input :creatable_permitted %>
    <%= f.input :repostable_permitted %>
    <%= f.input :onboarding %>
  </div>

  <div class="form-actions form-group d-flex">
    <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>

    <% if f.object.persisted? && policy([:admin, f.object]).destroy? %>
      <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger btn-lg' %>
    <% end %>
  </div>
<% end %>
