<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Как работает система СРК?') %></h1>
    <%= link_to 'Добавить', [:new, :admin, :tutorial], class: 'btn btn-primary' %>
  </div>

  <div class="card card-border border-primary shadow">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th>Название</th>
          
          <% %i[ creatable_permitted repostable_permitted onboarding ].each do |attribute| %>
            <th class="text-center"><%= Tutorial.human_attribute_name(attribute) %></th>
          <% end %>
          
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @tutorials.each do |tutorial| %>
          <tr>
            <td><%= link_to tutorial.name, tutorial %></td>
            
            <% %i[ creatable_permitted repostable_permitted onboarding ].each do |attribute| %>
              <td class="text-center">
                <% if tutorial.public_send(attribute) %>
                  <span class="fe fe-check"></span>
                <% end %>
              </td>
            <% end %>
            
            <td class="text-center">
              <%= link_to [:edit, :admin, tutorial] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
