<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Инфоповоды') %></h1>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for [:admin, @q] do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :created_at_gteq, label: 'Создан', required: false do %>
              <div class="row">
                <div class="col-sm-6">
                  <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                    <%= f.input_field :created_at_gteq, class: 'form-control', data: { input: '' } %>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                    </div>
                  <% end %>
                  <small class="form-text text-muted">начало периода</small>
                </div>
                <div class="col-sm-6">
                  <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true } do %>
                    <%= f.input_field :created_at_lteq, class: 'form-control', data: { input: '' } %>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                    </div>
                  <% end %>
                  <small class="form-text text-muted">конец периода</small>
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-sm-6">
            <%= f.input :published_at_gteq, label: 'Опубликован', required: false do %>
              <div class="row">
                <div class="col-sm-6">
                  <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                    <%= f.input_field :published_at_gteq, class: 'form-control', data: { input: '' } %>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                    </div>
                  <% end %>
                  <small class="form-text text-muted">начало периода</small>
                </div>
                <div class="col-sm-6">
                  <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true } do %>
                    <%= f.input_field :published_at_lteq, class: 'form-control', data: { input: '' } %>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                    </div>
                  <% end %>
                  <small class="form-text text-muted">конец периода</small>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <%= f.input :seen_organizations_id_eq, as: :select, collection: [Organization.find_by(id: @q.seen_organizations_id_eq)].compact, label: "Просмотрены СМИ", required: false, input_html: {
          data: {
            controller: 'select2',
            select2_url_value: admin_organizations_path(q: { kind_eq: Organization.kinds[:media] }),
            allow_clear: true,
            placeholder: "",
          }
        } %>

        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%== pagy_info(@pagy) %>
      </div>

      <div>
        <% if @pagy.count > 1000 %>
          Уменьшите выборку до 1000, чтобы скачать
        <% elsif @pagy.count > 0 %>
          <%= link_to 'Скачать .xlsx', sort_url(@q, :published_at, format: :xlsx), class: 'h4 mb-0 text-secondary' %>
        <% end %>
      </div>
    </div>

    <div class="card card-border border-primary">
      <table class="table table-bordered table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center"><%= sort_link @q, :created_at, 'Создан', default_order: :desc %></th>
            <th class="text-center"><%= sort_link @q, :published_at, 'Опубликован', default_order: :desc %></th>
            <th>Инфоповод</th>
            <th class="text-center"><%= sort_link @q, :approved_at, 'Утверждён', default_order: :desc %></th>
            <th class="text-center"><%= sort_link @q, :press_release_likes_count, "Кол-во  лайков", default_order: :desc %></th>
          </tr>
        </thead>
        <tbody>
          <% @press_releases.each do |press_release| %>
            <tr>
              <td class="text-center">
                <%= press_release.created_at.strftime('%d.%m.%Y') %><br>
                <%= press_release.created_at.strftime('%H:%M') %>
              </td>
              <td class="text-center">
                <%= press_release.published_at.strftime('%d.%m.%Y') %><br>
                <%= press_release.published_at.strftime('%H:%M') %>
              </td>
              <td>
                <div class="text-muted small">
                  <%= press_release.national_projects.map(&:name).join(', ') %>
                  |
                  <%= press_release.all_federal_subjects? ? 'Вся Россия' : press_release.federal_subjects.sort_by(&:name).map(&:name).join(', ') %>
                </div>

                <div class="mt-1">
                  <%= [press_release.user.name, press_release.user.email, press_release.user.contact_phone].select(&:present?).join(' | ') %>
                </div>

                <div class="mt-3"><%= link_to press_release.title, press_release %></div>

                <% if false %>
                  <div class="mt-3">
                    <%= link_to "Дублей: #{press_release.original_sources_count}", [:admin, press_release, :similiar_press_releases] %>
                  </div>
                <% end %>
              </td>
              <td class="text-center">
                <%= press_release.approved_at&.strftime('%d.%m.%Y') %><br>
                <%= press_release.approved_at&.strftime('%H:%M') %>
              </td>

              <td class="text-center">
                <%= press_release.press_release_likes_count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <%== pagy_nav(@pagy) %>
</div>