<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <div>
      <h1 class="mr-auto"><%= title('Активность СМИ') %></h1>

      <%= form_tag admin_media_activity_report_path, method: :get, class: "form-inline mb-3" do %>
        <div class="form-check form-check-inline">
          <%= radio_button_tag :filter, "", params[:filter].blank?, class: "form-check-input", id: "filter_blank" %>
          <%= label_tag :filter_blank, "Все", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag :filter, "shown_bookmarked", params[:filter] == "shown_bookmarked", class: "form-check-input", id: "shown_bookmarked" %>
          <%= label_tag :shown_bookmarked, "Просматривали инфоповоды и взяли в работу
", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag :filter, "shown_not_bookmarked", params[:filter] == "shown_not_bookmarked", class: "form-check-input", id: "shown_not_bookmarked" %>
          <%= label_tag :shown_not_bookmarked, "Просматривали инфоповоды и не взяли ни одного", class: "form-check-label" %>
        </div>
        <%= submit_tag "Показать", name: "", class: "btn btn-primary btn-sm" %>
      <% end %>

      <div><%== pagy_info(@pagy) %></div>
    </div>

    <div class="ml-auto align-self-end">
      <%= link_to 'Скачать .xlsx', admin_media_activity_report_path(format: :xlsx, filter: params[:filter]), class: 'h4 mb-0 text-secondary' %>
    </div>
  </div>

  <div class="card card-border border-primary shadow mb-3">
    <table class="table table-sm table-bordered table-hover table-striped mb-0">
      <thead>
        <tr>
          <th><%= sort_link @q, :name, Organization.human_attribute_name(:name) %></th>
          <th class="text-center"><%= sort_link @q, :shown_press_releases_count, "Кол-во просмотров инфоповодов", default_order: :desc %></th>
          <th class="text-center"><%= sort_link @q, :bookmarks_count, "Кол-во взятых на публикацию", default_order: :desc %></th>
          <th class="text-center"><%= sort_link @q, :reposts_count, "Кол-во ссылок", default_order: :desc %></th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td><%= organization.name %></td>
            <td class="text-center"><%= organization.shown_press_releases_count %></td>
            <td class="text-center"><%= organization.bookmarks_count %></td>
            <td class="text-center"><%= organization.reposts_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
</div>