<% if @registration.user.persisted? %>
document.getElementById('<%= dom_id(@registration) %>').remove();
<% else %>
document.getElementById('<%= dom_id(@registration) %>').innerHTML = "<%= j render 'admin/registrations/registration', registration: @registration %>";
<% end %>