<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Группы пользователей", [:admin, :user_groups] %>
      </li>
      <% if @user_group.persisted? %>
        <li class="breadcrumb-item" aria-current="page"><%= link_to @user_group.name, [:admin, @user_group] %></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
      <% else %>
        <li class="breadcrumb-item active" aria-current="page">Добавление</li>
      <% end %>
    </ol>
  </nav>

  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0">Группа пользователей</h1>
  </div>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @user_group] do |f| %>
        <% if f.object.errors.full_messages.any? %>
          <div class="alert alert-primary mb-4">
            <% f.object.errors.full_messages.each do |msg| %>
              <div><%= msg %></div>
            <% end %>
          </div>
        <% end %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%#= f.association :features, collection: Feature.order(:name), as: :check_boxes, required: false %>
        </div>

        <div class="form-actions d-flex">
          <div>
            <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>
          </div>

          <div class="ml-auto">
            <% if f.object.persisted? && policy([:admin, f.object]).destroy? %>
              <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
