<div class="container mt-8">
  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0 mr-auto">Группы пользователей</h2>

    <div class="btn-group">
      <%= link_to 'Добавить', [:new, :admin, :user_group], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th><%= UserGroup.human_attribute_name(:name) %></th>
          <th class="text-center"><%= UserGroup.human_attribute_name(:users_count) %></th>
          <th class="text-center"><%= UserGroup.human_attribute_name(:user_group_abilities_count) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @user_groups.each do |user_group| %>
          <tr>
            <td><%= link_to user_group.name, [:admin, user_group] %></td>
            <td class="text-center"><%= link_to user_group.users_count, admin_users_path(q: { user_groups_id_eq: user_group.id }) %></td>
            <td class="text-center"><%= link_to user_group.user_group_abilities_count, [:admin, user_group] %></td>
            <td class="text-center">
              <%= link_to [:edit, :admin, user_group] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>