<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Группы пользователей", [:admin, :user_groups] %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @user_group.name %></li>
    </ol>
  </nav>

  <div class="d-flex mb-5">
    <div class="align-self-center">
      <h1 class="mb-0"><%= title(@user_group.name) %></h1>
    </div>

    <div class="btn-group ml-auto align-self-end">
      <%= link_to 'Редактировать', [:edit, :admin, @user_group], class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0 mr-auto"><%= UserGroupAbility.model_name.human %></h2>

    <div class="btn-group">
      <%= link_to 'Добавить', [:new, :admin, @user_group, :user_group_ability], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <% if false %>
        <thead>
          <tr>
            <th class="w-50"><%= UserGroupAbility.human_attribute_name(:name) %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      <% end %>

      <tbody>
        <% @user_group.user_group_abilities.each do |user_group_ability| %>
          <tr>
            <td><%= UserGroupAbility.human_enum_name(:abilities, user_group_ability.ability) %></td>
            <td>
              <%= link_to [:edit, :admin, user_group_ability] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>