<div class="d-flex align-items-center mt-7 mb-7">
  <div class="mr-7">
    <% if user.avatar.attached? && user.avatar.variable? %>
      <div class="avatar-lg">
        <%= image_tag user.avatar.variant(resize_to_limit: [103, 103]), class: 'avatar-img rounded-circle' %>
      </div>
    <% else %>
      <div class="avatar">
        <div class="avatar-img border rounded-circle"></div>
      </div>
    <% end %>
  </div>

  <div style="max-width: 350px;">
    <h3 class="h2 text-uppercase mb-0 font-weight-bold text-secondary">
      <%== [user.last_name, user.first_name].select(&:present?).join('<br>') %>
    </h3>
    <% if user.organization %>
      <div class="h3 mt-4 mb-0 text-gray-200 font-weight-normal"><%= user.organization&.name %></div>
    <% end %>
  </div>

  <div class="border-left ml-5 pl-5">
    <p>
      <span class="text-gray-700">Данные автора новости:</span>
    </p>

    <p>
      <%= user.contact_position %><br>
      <%= user.email %><br>
      <%= user.contact_phone %><br>
    </p>
  </div>

  <% if true %>
    <%
    regional_approver = @press_release.activities.where(key: 'press_release.approve', owner_id: User.where(regional_moderator: true)).order(:created_at).last&.owner
    %>
    <% if regional_approver %>
      <div class="border-left ml-5 pl-5">
        <p>
          <span class="text-gray-700">Новость согласована:</span>
        </p>

        <p>
          <%= regional_approver.organization&.name %><br>
          <%= regional_approver.contact_position %><br>
          <%= regional_approver.name %><br>
        </p>
      </div>
    <% end %>
  <% end %>
</div>