<% if policy(@press_release).bookmark? && !current_user.bookmarked?(@press_release) %>
  <%= link_to 'Взять в работу', press_release_bookmark_path(@press_release), method: :post, remote: true, class: 'btn btn-sm btn-outline-secondary' %>
<% elsif current_user.bookmarked?(@press_release) %>
  <%= link_to 'Не брать в работу', press_release_bookmark_path(@press_release), method: :delete, remote: true, class: 'btn btn-sm btn-outline-secondary' %>
<% end %>