<div class="modal fade" role="dialog" data-controller="modal modal-timer" data-modal-backdrop-value="static" data-modal-timer-timer-value="30">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">

        <div data-modal-timer-target="timer" class="text-muted" style="float: right; width: 20px; height: 20px; text-align: center; padding-top: 4px;">30</div>

        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close" data-modal-timer-target="close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 mb-6 text-secondary">Уважаемые коллеги!</h1>

          <div class="row mb-4">
            <div class="col-sm-8">
              <%= image_tag 'categories_tutorial/image1.jpg', class: "w-100" %>
            </div>
            <div class="col-sm-4">
              Для качественного освещения реализации национальных проектов и обеспечения загрузки в систему информационных поводов, соответствующих целям их реализации, мы ввели категоризацию инфоповодов.
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <%= image_tag 'categories_tutorial/image2.jpg', class: "w-100" %>
            </div>
            <div class="col-sm-4">
              Выбор категории инфоповода будет осуществляться при его загрузке и является обязательным.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
