<%= select_tag :category_id, options_from_collection_for_select(Category.order(:position), :id, :name, f.object.category&.id || params[:category_id]), include_blank: true, class: 'form-control selectpicker', data: { action: "category-selector#categoryChanged", category_selector_target: "categorySelector" }  %>

<% Category.order(:position).each do |category| %>
  <div class="<%= "d-none" unless category.subcategories.size > 1 && [f.object.category&.id&.to_s, params[:category_id]].select(&:present?).include?(category.id.to_s) %>" data-category-selector-target="category" data-category-id="<%= category.id %>" data-subcategories-size="<%= category.subcategories.size %>">
    <div class="row">
      <% category.subcategories.in_groups(2).each do |subcategories| %>
        <div class="col-sm-6">
          <% subcategories.each do |subcategory| %>
            <% next unless subcategory %>
            <div class="custom-control custom-radio mt-2">
              <%= radio_button_tag :subcategory_id, subcategory.id, [f.object.subcategory&.id&.to_s, params[:subcategory_id]].select(&:present?).include?(subcategory.id.to_s), class: "custom-control-input", id: dom_id(subcategory), data: { action: "category-selector#subcategoryChanged", category_selector_target: "subcategoryRadioButton" } %>
              <%= label_tag dom_id(subcategory), subcategory.name, class: "custom-control-label", style: "padding-top: 2px;" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% Category.order(:position).each do |category| %>
  <% category.subcategories.each do |subcategory| %>
    <div class="mt-3 <%= "d-none" unless subcategory.press_release_values.size > 1 && [f.object.subcategory&.id&.to_s, params[:subcategory_id]].select(&:present?).include?(subcategory.id.to_s) %>" data-category-selector-target="subcategory" data-subcategory-id="<%= subcategory.id %>" data-press-release-values-size="<%= subcategory.press_release_values.size %>">
      <% if subcategory.subcategory_scopes.any? %>
        <table class="table table-bordered table-sm table-hover table-striped mb-0">
          <thead>
            <tr>
              <th></th>
              <% subcategory.subcategory_scopes.each do |subcategory_scope| %>
                <th class="text-center"><%= subcategory_scope.name %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% subcategory.press_release_values.group_by(&:name).each do |name, press_release_values| %>
              <tr>
                <td><%= name %></td>
                <% subcategory.subcategory_scopes.each do |subcategory_scope| %>
                  <% press_release_value = press_release_values.detect { |press_release_value| press_release_value.subcategory_scope == subcategory_scope } %>
                  <td>
                    <% if press_release_value %>
                      <div class="d-flex justify-content-center">
                        <div class="custom-control custom-radio ml-2">
                          <%= f.radio_button :press_release_value_id, press_release_value.id, class: "custom-control-input", id: dom_id(press_release_value), data: { category_selector_target: "pressReleaseValue" } %>
                          <%= label_tag dom_id(press_release_value), "", class: "custom-control-label" %>
                        </div>
                      </div>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <table class="table table-bordered table-sm table-hover table-striped mb-0">
          <tbody>
            <% subcategory.press_release_values.each do |press_release_value| %>
              <tr>
                <td><%= press_release_value.name %></td>
                <td class="px-5">
                  <div class="d-flex justify-content-center">
                    <div class="custom-control custom-radio ml-2">
                       <%= f.radio_button :press_release_value_id, press_release_value.id, class: "custom-control-input", id: dom_id(press_release_value), data: { category_selector_target: "pressReleaseValue" } %>
                       <%= label_tag dom_id(press_release_value), "", class: "custom-control-label" %>
                     </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
<% end %>

<% Category.order(:position).each do |category| %>
  <div class="text-danger mt-1 small <%= "d-none" unless [f.object.category&.id&.to_s, params[:category_id]].select(&:present?).include?(category.id.to_s) %>" data-category-id="<%= category.id %>" data-category-selector-target="notice"><%= category.notice %></div>
<% end %>
