Ваш инфоповод должен соответствовать следующим критериям:

<ul>
  <li>Текст инфоповода на <b>русском языке</b>.</li>
  <li>Заголовок составлен <b>из 2х и более</b> слов.</li>
  <li>Четкая связь между инфоповодом и нацпроектом.</li>
  <li>Упоминание нацпроекта должно быть <b>в первом абзаце</b>.</li>
  <li>Желательно включение краткой справки об основных параметрах реализации нацпроекта в конце текста инфоповода.</li>
  <li>Возможно использование формата контента <b>«было/стало»</b>.</li>
  <li>Рассказ о результатах нацпроектов <b>через истории людей</b>.</li>
  <li>Ориентир на пользовательский контент, яркие истории.</li>
  <li>Понятное изложение информации, отвечающее на вопросы "что?", "когда?", "почему?", "как?" произошло, "кто стал участником события?", "что думают участники события о произошедшем?"</li>
</ul>
<br>
Старайтесь избегать:
<ul>
  <li>Сухих сообщений и перечисления фактов о росте финансирования проекта без указания, на что (кого) конкретно эти средства будут потрачены.</li>
  <li>Использования сложной лексики и формального языка.</li>
</ul>