<div class="nested-fields row form-group">
  <div class="col-sm-9"><%= f.input_field :name, placeholder: 'Имя, должность, телефон контактного лица...', class: 'form-control' %></div>
  <div class="col-sm-3"><%= link_to_remove_association "удалить", f, class: 'btn btn-outline-danger btn-block' %></div>
</div>