<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-border border-primary">
      <% @press_releases_filter.count %>
      <%= simple_form_for ExportRequest.new, remote: true, data: { controller: "press-releases-export-form" } do |f| %>
        <% @press_releases_filter.applied_filters.each do |key, value| %>
          <%= f.hidden_field "filters[][key]", value: key %>
          <%= f.hidden_field "filters[][value]", value: value %>
        <% end %>

        <div class="card-body pt-5 pb-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="fe fe-x"></span>
          </button>

          <div class="px-3">
            <h1 class="mt-3 text-secondary">Выгрузка инфоповодов</h1>

            <% if @press_releases_filter.count && @press_releases_filter.applied_filters.any? %>
              <div class="mb-2 font-weight-light" style="font-size: 15px;">Вы выбрали фильтры:</div>

              <table class="mb-5">
                <% @press_releases_filter.applied_filters.each do |key, value| %>
                  <tr>
                    <th class="pr-5"><%= key %></th>
                    <td><%= value %></td>
                  </tr>
                <% end %>
              </table>
            <% end %>

            <% if @press_releases_filter.count > 1000 %>
              <p class="font-weight-light" style="font-size: 15px;">Выгрузка содержит более 1 000 новостей. Пожалуйста, уточните список с помощью дополнительных фильтров.</p>
            <% elsif @press_releases_filter.count == 0 %>
              <p class="font-weight-light" style="font-size: 15px;">Выгрузка не содержит новостей. Пожалуйста, уточните список с помощью фильтров.</p>
            <% else %>
              <p class="font-weight-light" style="font-size: 15px;">Выгрузка содержит <%= @press_releases_filter.count %> <%= t('press_release', count: @press_releases_filter.count) %> и будет отправлена на электронный адрес <%= current_user.email %>.</p>
            <% end %>

            <%= f.input :body, required: false, as: :text, label: 'Добавьте комментарий, если вам необходим более точный запрос:', hint: "Это может занять некоторое время, и с вами могут дополнительно связаться для выяснения подробностей.", input_html: { data: { action: "press-releases-export-form#bodyChanged", press_releases_export_form_target: "body" }} %>
          </div>
        </div>

        <div class="modal-footer py-3">
          <%= f.submit "Заказать выгрузку", title: "Запрос на выгрузку в техподдержку", class: "btn btn-primary mr-auto", data: { press_releases_export_form_target: "sendButton" }, style: "cursor: help;" %>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>

          <% if @press_releases_filter.count > 0 && @press_releases_filter.count <= 1000 %>
            <%= link_to 'Выгрузить', press_releases_path(@safe_params.merge(ok: 1)), class: 'btn btn-primary', remote: true, data: { press_releases_export_form_target: "downloadButton" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
