<div class="swiper-slide" style="height: auto;">
  <div class="card shadow  mb-2" style="font-size: 12px; height: 100%;">
    <div class="card-body py-4 pb-4">
      <div>
        <div class="mb-2" style="width: 100px; font-size: 10px; color: #A6A6A6;">
          <%= image_tag multiple_national_projects_image_url(press_release.national_projects), width: 30, height: 30 %>

          <% if press_release.national_projects.size < 6 %>
            <div class="mt-2">
              <% press_release.national_projects.each do |national_project| %>
                <%= national_project.short_name %><br>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="" style="width: 92px;"><%= press_release.published_at.strftime('%d.%m.%y') %></div>

        <div class="mb-3">
          <div class="small text-secondary font-weight-light mb-1">
            <% if press_release.all_federal_subjects? %>
              Вся Россия
            <% else %>
              <% federal_subjects = press_release.federal_subjects.sort_by(&:name) %>

              <%= federal_subjects.first.name %>
              <% if federal_subjects.count > 1 %>
                <%= tag.span "и ещё #{federal_subjects.count - 1}", title: federal_subjects[1..-1].map(&:name).join("\n") %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div>
          <%= link_to press_release.title, press_release_path(press_release) %>
        </div>
      </div>
    </div>
  </div>
</div>