<div class="container" id="content">
  <h1 class="mb-1 text-primary"><%= title('Инфоповод') %></h1>
  <div class="card card-border border-primary shadow">
    <div class="card-body px-10 press-release">
      <div class="d-flex justify-content-end">
        <% if false %>
          <div class="ml-7">
            <%= link_to 'Скачать .docx', press_release_path(@press_release, format: 'docx') %>
          </div>
        <% end %>

        <% if policy(@press_release).update_main_topic? %>
          <div class="ml-7">
            <%= link_to 'Выбрать главную тему', edit_press_release_main_topic_path(@press_release), remote: true %>
          </div>
        <% end %>

        <% if policy(@press_release).update? %>
          <div class="ml-7">
            <%= link_to 'Редактировать', edit_press_release_path(@press_release) %>
          </div>
        <% end %>

        <% if policy(@press_release).approve? %>
          <div class="ml-7">
            <% if @press_release.draft? %>
              <%= link_to 'Опубликовать', press_release_approvement_path(@press_release), method: :post, remote: true, data: { pjax_reload: '' } %>
            <% else %>
              <%= link_to 'Снять с публикации', press_release_approvement_path(@press_release), method: :delete, remote: true, data: { pjax_reload: '' } %>
            <% end %>
          </div>
        <% elsif @press_release.need_pre_approvement? && policy(@press_release).pre_approve? %>
          <div class="ml-7">
            <% if @press_release.pre_approved_at.nil? %>
              <%= link_to 'Опубликовать', press_release_pre_approvement_path(@press_release), method: :post, remote: true, data: { pjax_reload: '' } %>
            <% else %>
              <%= link_to 'Снять с публикации', press_release_pre_approvement_path(@press_release), method: :delete, remote: true, data: { pjax_reload: '' } %>
            <% end %>
          </div>
        <% end %>

        <div class="ml-10">
          <%= link_to press_releases_path, class: 'text-decoration-none' do %>
            <span class="fe fe-x"></span>
          <% end %>
        </div>
      </div>

      <div class="d-flex">
        <div>
          <% @press_release.national_projects.each do |national_project| %>
            <div class="d-flex mb-3 align-items-center">
              <% if national_project.avatar.attached? %>
                <div class="mr-3">
                  <%= image_tag national_project.avatar, width: 30 %>
                </div>
              <% end %>
              <div style="font-size: 11px;">
                <%= link_to national_project do %>
                  Направление<br>
                  <%= national_project.name %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="ml-auto mr-7">
          <%= render 'press_releases/awards/badge', press_release: @press_release %>
        </div>
      </div>

      <div class="mt-7">
        <% if current_user.admin? %>
          <% @press_release.similiar(0.75).each do |similiar_press_release| %>
            <div class="text-danger">На <%= number_to_percentage(similiar_press_release._similarity * 100, precision: 0) %> дублирует новость <%= link_to "«#{similiar_press_release.title}»", similiar_press_release %></div>
          <% end %>
        <% end %>

        <h2 class="mb-2"><%= @press_release.title %></h2>
      </div>

      <div class="mb-7">
        <div>
          <% if @press_release.all_federal_subjects? %>
            Вся Россия
          <% else %>
            <% federal_subjects = @press_release.federal_subjects.sort_by(&:name) %>

            <%= federal_subjects.first.name %>
            <% if federal_subjects.count > 1 %>
              <%= tag.span "и ещё #{federal_subjects.count - 1}", title: federal_subjects[1..-1].map(&:name).join("\n") %>
            <% end %>
          <% end %>
        </div>

        <div class="d-flex mt-1">
          <div><%= l(@press_release.published_at, format: '%H:%M, %-d %B %Y') %></div>
          <% if @press_release.user.organization %>
            <div class="ml-4">Источник: <%= @press_release.user.organization.name %></div>
          <% end %>
        </div>

        <% if @press_release.starts_at %>
          <div class="mt-1">Анонс: <%= l(@press_release.starts_at, format: '%-d %B %Y %H:%M') %>
        <% end %>
      </div>

      <div class="press-release--content">
        <%= @press_release.content %>

        <% if @press_release.images.attached? %>
          <div class="row mt-5" data-controller="photoswipe">
            <% @press_release.images.each do |image| %>
              <div class="col-sm-3 mb-6">
                <div class="border h-100 d-flex flex-column justify-content-center">
                  <% if image.variable? %>
                    <%= link_to image, data: { action: 'photoswipe#onImageClick', photoswipe_target: 'image' } do %>
                      <%= image_tag image.variant(resize_to_limit: [500, 282]), class: 'w-100' %>
                    <% end %>
                  <% else %>
                    <p class="text-center small text-secondary"><%= link_to image.filename, image %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <%= link_to 'Скачать всё', press_release_attachments_path(@press_release, format: :zip), class: 'text-secondary small' %>
        <% end %>
      </div>

      <% if @press_release.experts.any? %>
        <div class="my-5">
          <h4>Контакты:</h4>
          <% @press_release.experts.each do |expert| %>
            <div class="my-2">
              <%= expert.name %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= render 'related_press_releases', press_releases: @press_release.related_press_releases if @press_release.related_press_releases.any? %>

      <% if @press_release.authors_contacts_published? || policy(@press_release).update? %>
        <%= render 'press_releases/authors_contacts', user: @press_release.user %>
      <% end %>

      <% if @press_release.tags.any? %>
        <div class="mb-5">
          <% @press_release.tags.order(:name).each do |tag| %>
            <%= link_to tag.name, press_releases_path(tag_id: tag.id), class: 'mr-3' %>
          <% end %>
        </div>
      <% end %>

      <%= render 'press_releases/impressions/impression', impression: current_user.press_release_impression(@press_release.id) %>

      <div class="d-flex my-3">
        <% if current_user.mailing_lists.any? %>
          <div class="mr-4">
            <%= link_to 'Отправить по E-mail', new_press_release_mailing_path(@press_release), remote: true, class: 'btn btn-sm btn-outline-secondary' %>
          </div>
        <% end %>

        <%= render 'press_releases/favourites/switch', press_release: @press_release %>
        <%= render 'press_releases/new_complaint' unless current_user.admin? %>

        <%= render 'press_releases/top_list_items/switch' if policy(TopListItem).create? %>

        <%= render('press_releases/awards/switch', press_release: @press_release) if policy(@press_release).award? %>

        <div class="ml-auto" id="bookmark-toggle">
          <%= render 'press_releases/new_complaint' if current_user.admin? %>
          <%= render 'press_releases/bookmark_toggle' %>
        </div>
      </div>

      <hr class="my-5 border-primary">

      <div id="pjax-container-bottom">
        <div class="d-flex">
          <% if policy(@press_release).comments? %>
            <div class="mr-7">
              <h3 class="h2 font-weight-bold"><%= link_to 'Комментарии', press_release_comments_path(@press_release), class: (current_page?(press_release_comments_path(@press_release)) ? 'text-primary' : 'text-secondary text-decoration-none'), data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h3>
            </div>
          <% end %>

          <% if policy(@press_release).show_reposts? %>
            <div>
              <h3 class="h2 font-weight-bold"><%= link_to 'Ссылки', press_release_path(@press_release), class: (current_page?(press_release_path(@press_release)) ? 'text-primary' : 'text-secondary text-decoration-none'), data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h3>
            </div>
          <% end %>

          <% if policy(@press_release).show_bookmarked_users? %>
            <div class="ml-7">
              <h3 class="h2 font-weight-bold"><%= link_to 'Взято СМИ', press_release_bookmarked_users_path(@press_release), class: (current_page?(press_release_bookmarked_users_path(@press_release)) ? 'text-primary' : 'text-secondary text-decoration-none'), data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h3>
            </div>
          <% end %>

          <% if policy(@press_release).show_reposted_users? %>
            <div class="ml-7">
              <h3 class="h2 font-weight-bold"><%= link_to 'Опубликовано СМИ', press_release_reposted_users_path(@press_release), class: (current_page?(press_release_reposted_users_path(@press_release)) ? 'text-primary' : 'text-secondary text-decoration-none'), data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h3>
            </div>
          <% end %>

          <% if policy(@press_release).show_moderators? %>
            <div class="ml-7">
              <h3 class="h2 font-weight-bold"><%= link_to 'Модераторы', press_release_moderators_path(@press_release), class: (current_page?(press_release_moderators_path(@press_release)) ? 'text-primary' : 'text-secondary text-decoration-none'), data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h3>
            </div>
          <% end %>

          <% if policy(@press_release).show_logs? %>
            <div class="ml-7">
              <h3 class="h2 font-weight-bold"><%= link_to 'История', press_release_logs_path(@press_release), class: (current_page?(press_release_logs_path(@press_release)) ? 'text-primary' : 'text-secondary text-decoration-none'), data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h3>
            </div>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>
</div>

<% if false %>
      <% if @press_release.starts_at.present? %>
        <fieldset>
          <legend>Начало мероприятия – <%= l(@press_release.starts_at, format: '%-d %B, %A') %>
          <%= link_to 'Добавить в календарь', press_release_path(@press_release, format: :ics), class: 'btn btn-sm btn-primary' %>
          </legend>

        </fieldset>
      <% end %>

      <% if @press_release.experts.any? %>
        <fieldset>
          <legend>Эксперты</legend>
          <% @press_release.experts.each_with_index do |expert, index| %>
            <div class="<%= index > 0 ? 'mt-3' : '' %>">
              <div class="text-muted small"><%= expert.title %></div>
              <h6 class="mb-1"><%= expert.name %></h6>
              <div class="small"><%= expert.phone %></div>
            </div>
          <% end %>
        </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "application/photoswipe" %>