<div class="nested-fields">
  <div class="d-flex align-items-center">
    <%= f.hidden_field :related_press_release_id, data: { press_release_relations_target: 'relatedPressReleaseId' } %>

    <%= tag.span f.object.related_press_release&.name, data: { press_release_relations_target: 'relatedPressReleaseName' } %>

    <%= link_to_remove_association(f, class: 'btn py-1 ml-auto') do %>
      <span class="fe fe-trash-2"></span>
    <% end %>
  </div>
</div>