<h3>Используемые источники</h3>

<div class="position-relative" data-controller="swiper" data-swiper-slides-per-view-value="4">
  <div class="swiper-container mx-7" data-swiper-target="container">
    <div class="swiper-wrapper">
      <%# 10.times do %>
        <%= render partial: 'press_release_with_same_tags', collection: press_releases, as: :press_release %>
      <%# end %>
    </div>
  </div>
  
  <div class="swiper-button-prev" data-swiper-target="prev"></div>
  <div class="swiper-button-next" data-swiper-target="next"></div>
</div>