<%
title('Добавить событие')
@compact_header = true
%>

<div class="container">
  <h1 class="text-muted mb-2">Добавить <span class="text-primary">инфоповод</span></h1>
  <div class="row">
    <div class="col-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body">
          <%= simple_form_for @press_release, data: { controller: 'measure-selector territory-selector project-selector', measure_selector_path: press_releases_measures_path(format: :json), territory_selector_urban_districts_path: press_releases_urban_districts_path(format: :json) } do |f| %>

            <% if f.object.errors.full_messages.any? %>
              <div class="alert alert-primary mb-4">
                <% f.object.errors.full_messages.each do |msg| %>
                  <div><%= msg %></div>
                <% end %>
              </div>
            <% end %>

            <%= f.input :category, wrapper_html: { class: "category-selector", data: { controller: "category-selector" } } do %>
              <%= render 'category_selector', f: f %>
            <% end %>

            <% if current_user.admin? %>
              <%= f.input :value_nullified %>
            <% end %>

            <%= f.association :national_projects, required: false, collection: policy_scope([:press_release_editing, NationalProject]).order(:short_name), label_method: :short_name, input_html: {
              class: 'border form-control-lg',
              data: {
                controller: 'selectpicker',
                project_selector_target: 'nationalProjectsSelect',
                width: '100%',
                none_selected_text: '',
                actions_box: true,
                selected_text_format: 'count > 3'
              }
            } %>

            <%= f.association :federal_projects, required: false, collection: policy_scope([:press_release_editing, FederalProject]).order(:name).map { |federal_project|
                options = { data: { national_project_id: federal_project.national_project_id }}
                if f.object.national_projects.one? && f.object.national_projects.first.id == federal_project.national_project_id
                else
                  options.merge!(disabled: '')
                end
                [federal_project.name, federal_project.id, options]
              }, input_html: {
              class: 'border form-control-lg',
              data: {
                controller: 'selectpicker',
                project_selector_target: 'federalProjectsSelect',
                width: '100%',
                none_selected_text: '',
                hide_disabled: true,
                actions_box: true,
                selected_text_format: 'count > 3'
              }
            }, wrapper_html: { class: (f.object.national_projects.one? ? '' : 'd-none') } %>
            <%= f.association :tags, {
              hint: "Если не один из тегов не подходит к вашей новости, то вы можете #{link_to 'предложить новый тег', new_tag_request_path, remote: true }.".html_safe,
              collection: Tag.includes(:national_projects).order(:name).map { |tag|
                options = { data: { national_project_ids: tag.national_project_ids }}
                unless (f.object.national_project_ids & tag.national_project_ids).any?
                  options.merge!(disabled: '')
                end
                [tag.name, tag.id, options]
              },
              input_html: {
                class: 'border form-control form-control-lg',
                data: {
                  controller: 'selectpicker',
                  project_selector_target: 'tagsSelect',
                  width: '100%',
                  none_selected_text: 'Выберите теги',
                  hide_disabled: true,
                  actions_box: false,
                  selected_text_format: 'count > 3',
                }
              }
            }
            %>

            <%= f.input :selected_federal_subject_ids, as: :select, required: false, collection: policy_scope([:press_release_editing, FederalSubject]).order(:name), input_html: {
              multiple: true,
              class: 'border form-control-lg',
              data: {
                controller: 'selectpicker',
                live_search: true,
                live_search_normalize: true,
                width: '100%',
                none_selected_text: '',
                actions_box: true,
                selected_text_format: 'count > 3'
              }
            } %>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" data-controller="disabable-input-group">
                  <div class="form-check">
                    <%= f.check_box :use_starts_at, class: 'form-check-input', data: { action: 'disabable-input-group#changed' } %>
                    <%= f.label :use_starts_at, 'Анонс' %>
                  </div>

                  <%= tag.div class: 'input-group input-group-lg', data: {
                    controller: "flatpickr",
                    flatpickr_wrap: true,
                    #flatpickr_date_format: "d.m.Y H:i",
                    flatpickr_alt_format: "d.m.Y H:i",
                    flatpickr_alt_input: true,
                    flatpickr_enable_time: true,
                    flatpickr_min_date: Date.today,
                  } do %>
                    <%= f.input_field :starts_at, as: :string, placeholder: 'Укажите дату и время…', data: { input: '', target: 'disabable-input-group.input' }, disabled: !f.object.use_starts_at %>

                    <div class="input-group-append">
                      <button type="button" class="btn " title="toggle" data-toggle></button>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" data-controller="disabable-input-group">
                  <div class="form-check">
                    <%= f.check_box :use_late_published_at, class: 'form-check-input', data: { action: 'disabable-input-group#changed' } %>
                    <%= f.label :use_late_published_at, 'Отложенная публикация' %>
                  </div>

                  <%= tag.div class: 'input-group input-group-lg', data: {
                    controller: "flatpickr",
                    flatpickr_wrap: true,
                    #flatpickr_date_format: "d.m.Y H:i",
                    flatpickr_alt_format: "d.m.Y H:i",
                    flatpickr_alt_input: true,
                    flatpickr_enable_time: true,
                    flatpickr_min_date: (current_user.admin? ? nil : Date.today),
                  } do %>
                    <%= f.input_field :late_published_at, as: :string, placeholder: 'Укажите дату и время…', data: { input: '', target: 'disabable-input-group.input' }, class: 'form-control' , disabled: !f.object.use_late_published_at %>

                    <div class="input-group-append">
                      <button type="button" class="btn" title="toggle" data-toggle></button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <% if false %>
              <%= f.association :measure, collection: available_measures(federal_project: @press_release.federal_project), include_blank: false, input_html: {
                class: 'selectpicker',
                data: {
                  target: 'measure-selector.measureSelect',
                  live_search: true,
                  live_search_normalize: true,
                  width: '100%',
                }
              } %>
            <% end %>

            <% if false %>
              <%= f.association :urban_district, collection: urban_districts(federal_subject: @press_release.federal_subject), include_blank: (current_user.urban_district ? false : 'Все'), input_html: {
                class: 'selectpicker',
                data: {
                  target: 'territory-selector.urbanDistrictSelect',
                  live_search: true,
                  live_search_normalize: true,
                  width: '100%',
                }
              } %>
            <% end %>

            <div class="form-group select" data-controller="disabable-input-group">
              <div class="form-check">
                <%= f.check_box :use_main_topic, class: 'form-check-input', data: { action: 'disabable-input-group#changed' } %>
                <%= f.label :use_main_topic, 'Главная тема' %>
              </div>

              <%= f.association :main_topic, label: false, collection: MainTopic.published.order(:name), input_html: {
                class: 'border form-control-lg',
                disabled: !f.object.use_main_topic,
                data: {
                  controller: 'selectpicker',
                  target: 'disabable-input-group.input',
                  live_search: true,
                  live_search_normalize: true,
                  width: '100%',
                  none_selected_text: ''
                }
              }
               %>
            </div>

            <%= f.input :title, required: false, input_html: { class: 'form-control-lg' } %>

            <%= f.input :content do %>
              <%= f.rich_text_area :content, placeholder: 'Вставьте или напечатайте текст...', style: 'min-height: 25rem;', data: { controller: 'trix-without-attachments trix-with-formatted-placeholder', 'trix-with-formatted-placeholder-content' => render('content_placeholder') } %>
            <% end %>

            <%= f.input :images, wrapper_html: { data: { controller: "jit-direct-upload", jit_direct_upload_callback_url_value: new_press_releases_form_file_path }} do %>
              <%= hidden_field_tag "press_release[images][]", nil %>

              <div class="row" id="form-files">
                <% if f.object.images.attached? %>
                  <% f.object.images.each do |image| %>
                    <%= render "press_releases/form_files/form_file", blob: image %>
                  <% end %>
                <% end %>
              </div>

              <%= f.file_field :images, multiple: true, direct_upload: true, class: 'form-control-file', data: { action: "jit-direct-upload#fileInputChanged" } %>
              <small class="form-text text-muted">Размер файла до 100мб</small>
            <% end %>

            <hr>

            <%#= f.input :authors_contacts_published %>

            <%= f.input :experts do %>
              <div id="experts">
                <%= f.simple_fields_for :experts do |expert| %>
                  <%= render 'expert_fields', f: expert %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association 'добавить', f, :experts %>
                </div>
              </div>
            <% end %>

            <% if current_user.admin? %>
              <hr>
              <%= f.input :press_release_relations, wrapper_html: { data: { controller: 'press-release-relations' }} do %>
                <div class="position-relative mb-4">
                  <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_press_releases_related_press_releases_path %>"  data-action="autocomplete.change->press-release-relations#add">
                    <%= text_field_tag nil, '', placeholder: 'Поиск первоисточника…', class: 'form-control form-control rounded-0', data: {
                      autocomplete_target: 'input',
                      press_release_relations_target: 'search',
                    } %>
                    <div class="dropdown-menu show" data-autocomplete-target="results"></div>
                  </div>
                </div>

                <div id="press_release_relations">
                  <%= f.simple_fields_for :press_release_relations do |press_release_relation| %>
                    <%= render 'press_release_relation_fields', f: press_release_relation %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'добавить', f, :press_release_relations, data: {
                      press_release_relations_target: 'addAssociationLink',
                    }, class: 'd-none' %>
                  </div>
                </div>
              <% end %>
            <% end %>

            <div class="mt-5 form-group d-flex">
              <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg mr-auto d-flex' do %>
                <span class="mr-2">Сохранить</span>
                <span class="fe fe-arrow-right"></span>
              <% end %>

              <% if @press_release.persisted? %>
                <%= link_to 'Удалить', @press_release, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>

<%= render 'categories_tutorial' if @show_categories_tutorial %>
