<div>
  <% if current_user.has_ability?(:show_video_clips) %>
    <% if true %>
      <div class="container mb-7">
        <%= render 'application/banners' %>
      </div>
    <% else %>
      <div class="container mb-7">
        <%= render 'application/banner_nauka' %>
      </div>
    <% end %>
  <% end %>

  <%= render 'application/search_and_help' %>

  <div class="container mb-7" id="list" style="z-index: auto;">
    <div class="row">
      <div class="col-sm-9">
        <% if @safe_params[:q].blank? %>
          <div class="d-flex align-items-end">
            <div class="flex-grow-0 flex-shrink-0" style="width: 162px;">
              <h1 class="text-primary mb-0"><%= title('Инфоповоды') %></h1>
            </div>

            <div class="d-flex align-items-end press_releases_nav">
              <div>
                <%= link_to 'Все', @safe_params.merge(kind: 'all'), class: ['btn btn', (@safe_params[:kind] == 'all' ? 'btn-primary' : 'btn-outline-primary')], data: { pjax: '', pjax_container: '#list' } %>
              </div>

              <% if current_user.has_ability?(:show_my_press_releases)  %>
                <div>
                  <%= link_to 'Мои', @safe_params.merge(kind: 'my'), class: ['btn', (@safe_params[:kind].in?(%w{ my my_unapproved my_approved my_bookmarked }) ? 'btn-primary' : 'btn-outline-primary')], data: { pjax: '', pjax_container: '#list' } %>
                </div>
              <% end %>

              <% if !policy(PressRelease).new? && current_user.media? %>
                <div>
                  <%= link_to 'Главные темы', @safe_params.merge(kind: 'main_topics'), class: ['btn', (@safe_params[:kind] == 'main_topics' ? 'btn-primary' : 'btn-outline-primary')], data: { pjax: '', pjax_container: '#list' } %>
                </div>
                <div>
                  <%= link_to 'В работе', @safe_params.merge(kind: 'i_bookmarked'), class: ['btn', (@safe_params[:kind] == 'i_bookmarked' ? 'btn-primary' : 'btn-outline-primary')], data: { pjax: '', pjax_container: '#list' } %>
                </div>
                <div>
                  <%= link_to 'Опубликовано', @safe_params.merge(kind: 'i_reposted'), class: ['btn', (@safe_params[:kind] == 'i_reposted' ? 'btn-primary' : 'btn-outline-primary')], data: { pjax: '', pjax_container: '#list' } %>
                </div>
                <div>
                  <%= link_to 'Анонсы', @safe_params.merge(kind: 'event'), class: ['btn', (@safe_params[:kind] == 'event' ? 'btn-primary' : 'btn-outline-primary')], data: { pjax: '', pjax_container: '#list' } %>
                </div>
              <% end %>

              <% if @safe_params[:kind].in?(%w{ all all_unapproved media_works returned }) && (current_user.admin? || current_user.moderator?) %>
                <div>
                  <%= link_to @safe_params.merge(kind: 'all_unapproved'), class: %W{ btn btn-sm btn-counter #{@safe_params[:kind] == 'all_unapproved' ? 'btn-primary' : 'btn-outline-primary'} }, data: { pjax: '', pjax_container: '#list' } do %>
                    <span class="btn-counter-name">На согласование</span>
                    <span class="btn-counter-counter"><%= @totals[:all_unapproved] %></span>
                  <% end %>
                </div>

                <% if current_user.has_ability?(:show_media_works_press_releases) %>
                  <div>
                    <%= link_to @safe_params.merge(kind: 'media_works'), class: %W{ btn btn-sm btn-counter #{@safe_params[:kind] == 'media_works' ? 'btn-primary' : 'btn-outline-primary'} }, data: { pjax: '', pjax_container: '#list' } do %>
                      <span class="btn-counter-name">В работе у СМИ</span>
                      <span class="btn-counter-counter"><%#= @totals[:media_works] %></span>
                    <% end %>
                  </div>
                <% end %>

                <% if current_user.has_ability?(:show_returned_press_releases) %>
                  <div>
                    <%= link_to @safe_params.merge(kind: 'returned'), class: %W{ btn btn-sm btn-counter #{@safe_params[:kind] == 'returned' ? 'btn-primary' : 'btn-outline-primary'} }, data: { pjax: '', pjax_container: '#list' } do %>
                      <span class="btn-counter-name">На доработке</span>
                      <span class="btn-counter-counter"><%= @totals[:returned] %></span>
                    <% end %>
                  </div>
                <% end %>
              <% elsif @safe_params[:kind].in?(%w{ my my_unapproved my_approved my_bookmarked }) %>
                <div>
                  <%= link_to @safe_params.merge(kind: 'my_unapproved'), class: %W{ btn btn-sm btn-counter #{@safe_params[:kind] == 'my_unapproved' ? 'btn-primary' : 'btn-outline-primary'} }, data: { pjax: '', pjax_container: '#list' } do %>
                    <span class="btn-counter-name">На модерации</span>
                    <span class="btn-counter-counter"><%= @totals[:my_unapproved] %></span>
                  <% end %>
                </div>
                <div>
                  <%= link_to @safe_params.merge(kind: 'my_approved'), class: %W{ btn btn-sm btn-counter #{@safe_params[:kind] == 'my_approved' ? 'btn-primary' : 'btn-outline-primary'} }, data: { pjax: '', pjax_container: '#list' } do %>
                    <span class="btn-counter-name">Согласованы</span>
                    <span class="btn-counter-counter"><%= @totals[:my_approved] %></span>
                  <% end %>
                </div>
                <div>
                  <%= link_to @safe_params.merge(kind: 'my_bookmarked'), class: %W{ btn btn-sm btn-counter #{@safe_params[:kind] == 'my_bookmarked' ? 'btn-primary' : 'btn-outline-primary'} }, data: { pjax: '', pjax_container: '#list' } do %>
                    <span class="btn-counter-name">Взяты СМИ</span>
                    <span class="btn-counter-counter"><%= @totals[:my_bookmarked] %></span>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="ml-auto d-flex">
              <% if policy(PressRelease).new? %>
                <%= link_to new_press_release_path, class: 'btn btn-sm text-left text-muted font-weight-normal d-flex align-items-center shadow-lift-down rounded-0 rounded-top', style: 'font-size: 15px;' do %>
                  <div class="mr-2">
                    <div class="icon-circle bg-primary text-white">
                      <i class="fe fe-plus"></i>
                    </div>
                  </div>

                  <div style="line-height: 16px;">
                    Добавить<br>
                    <span class="text-primary">инфоповод</span>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% else %>
          <h1 class="mb-0 text-primary"><%= title('Результаты поиска') %></h1>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <div class="d-flex mb-4">
          <div class="press-releases-filters" style="width: 162px;">
            <div class="card card-border border-primary">
              <div class="card-body pt-3 px-3">
                <h4 class="text-center text-gray-500">Фильтры</h4>

                <%= form_tag @safe_params.except(:national_project_ids, :federal_subject_id, :dates), method: :get, data: { pjax: '', pjax_container: '#list' } do %>

                  <div class="form-group">
                    <label>Период</label>

                    <div class="ml-2">
                      <ul class="nav nav-pills press-releases-filters-periods-nav">
                        <li class="nav-item">
                          <%= link_to 'Всё время', @safe_params.merge(period: nil, dates: nil), class: ['nav-link', (@press_releases_filter.dates.blank? && @safe_params.fetch(:period, '') == '' ? 'active' : nil)], data: { pjax: '', pjax_container: '#list' } %>
                        </li>
                        <li class="nav-item">
                          <%= link_to 'Сегодня', @safe_params.merge(period: 'today', dates: nil), class: ['nav-link', (@press_releases_filter.dates.blank? && @safe_params.fetch(:period, '') == 'today' ? 'active' : nil)], data: { pjax: '', pjax_container: '#list' } %>
                        </li>
                        <li class="nav-item">
                          <%= link_to 'Неделя', @safe_params.merge(period: 'week', dates: nil), class: ['nav-link', (@press_releases_filter.dates.blank? && @safe_params.fetch(:period, '') == 'week' ? 'active' : nil)], data: { pjax: '', pjax_container: '#list' } %>
                        </li>
                        <li class="nav-item">
                          <%= link_to 'Месяц', @safe_params.merge(period: 'month', dates: nil), class: ['nav-link', (@press_releases_filter.dates.blank? && @safe_params.fetch(:period, '') == 'month' ? 'active' : nil)], data: { pjax: '', pjax_container: '#list' } %>
                        </li>
                        <li class="nav-item">
                          <%= link_to 'Выбрать период', '#', class: ['nav-link', (@press_releases_filter.dates.present? ? 'active' : nil)], onclick: "$('#press_releases_filter_dates').removeClass('d-none'); $('.press-releases-filters-periods-nav a').removeClass('active'); $(this).addClass('active'); return false;" %>
                        </li>
                      </ul>
                    </div>

                    <div class="mt-1 <%= 'd-none' if @press_releases_filter.dates.blank? %>" id="press_releases_filter_dates">
                      <%= tag.div data: {
                        controller: "flatpickr",
                        flatpickr_wrap: true,
                        #flatpickr_date_format: "d.m.Y H:i",
                        flatpickr_alt_format: "d.m.Y",
                        flatpickr_alt_input: true,
                        flatpickr_mode: "range",
                        flatpickr_submit_on_close: true,
                      }, style: 'border-radius: 6px;' do %>
                        <div class="input-group input-group-sm">
                          <%= text_field_tag :dates, @press_releases_filter.dates, data: { input: '' } %>

                          <div class="input-group-append mr-1">
                            <button type="button" class="btn btn-sm" style="background-size: contain;" title="toggle" data-toggle></button>
                          </div>
                        </div>

                        <% if false %>
                          <%= link_to @safe_params.merge(dates: nil), data: { pjax: '', pjax_container: '#list' }, class: 'btn btn-sm', style: 'text-decoration: none;' do %>
                            <span class="fe fe-trash-2" style="line-height: 18px;"></span>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label>Направление</label>

                    <%= select_tag(:national_project_id, options_from_collection_for_select([OpenStruct.new(id: 0, short_name: 'Все направления')] + @press_releases_filter.available_national_projects, :id, :short_name), {
                      title: 'Добавить',
                      class: 'press-releases-filters-select',
                      data: {
                        controller: 'selectpicker',
                        none_selected_text: '',
                        live_search: true,
                        live_search_normalize: true,
                        size: 20,
                      },
                      onchange: "
                        var val = $(this).val();
                        if (val == 0) { $(this).closest('form').find('input[name=\"national_project_ids[]\"]').remove();
                        } else {
                          $(this).closest('form').append('<input type=\"hidden\" name=\"national_project_ids[]\" value=\"' + val + '\">');

                        }
                        $(this).closest('form').submit();
                      "
                      }) %>

                    <% @press_releases_filter.selected_national_projects.each do |national_project| %>
                      <div class="mt-1 small d-flex justify-content-between align-items-center">
                        <%= hidden_field_tag 'national_project_ids[]', national_project.id, id: nil %>
                        <%= national_project.short_name %>
                        <%= link_to @safe_params.merge(national_project_ids: (@press_releases_filter.national_project_ids - [national_project.id])), class: 'ml-1', style: 'text-decoration: none;', data: { pjax: '', pjax_container: '#list' } do %>
                          <span class="fe fe-trash-2"></span>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <% if @press_releases_filter.available_federal_projects.any? %>
                    <div class="form-group">
                      <label>Федеральный проект</label>

                      <%= select_tag(:federal_project_id, options_for_select(
                        @press_releases_filter.available_federal_projects.map { |federal_project|
                          [federal_project.name&.truncate(80, separator: ' '), federal_project.id]
                        },
                        @safe_params[:federal_project_id]
                        ), {
                        include_blank: 'Все проекты',
                        class: 'press-releases-filters-select',
                        data: {
                          controller: 'selectpicker',
                          none_selected_text: '',
                          live_search: true,
                          live_search_normalize: true,
                          size: 20,
                        },
                        onchange: '$(this).closest("form").submit()'
                        }) %>
                    </div>
                  <% else %>
                    <%= hidden_field_tag :federal_project_id, nil %>
                  <% end %>

                  <div class="form-group">
                    <label>Регион</label>

                    <%= select_tag(:federal_subject_id,
                      options_from_collection_for_select(
                        @press_releases_filter.available_federal_subjects,
                        :id,
                        :name,
                        @safe_params[:federal_subject_id]
                      ), {
                      include_blank: 'Все регионы',
                      class: 'press-releases-filters-select',
                      data: {
                        controller: 'selectpicker',
                        none_selected_text: '',
                        live_search: true,
                        live_search_normalize: true,
                        size: 12,
                      },
                      onchange: '$(this).closest("form").submit()'
                      }) %>
                  </div>

                  <div class="form-group">
                    <label>Главная тема</label>

                    <%= select_tag(:main_topic_id, options_from_collection_for_select(MainTopic.published.order(:name), :id, :name, @safe_params[:main_topic_id]), {
                      include_blank: 'Все темы',
                      class: 'press-releases-filters-select',
                      data: {
                        controller: 'selectpicker',
                        none_selected_text: '',
                        # live_search: true,
                        # live_search_normalize: true,
                        size: 12,
                      },
                      onchange: '$(this).closest("form").submit()'
                      }) %>
                  </div>

                  <div class="form-group">
                    <label>Организация</label>

                    <%= select_tag(:organization_id, options_from_collection_for_select(
                        (@safe_params[:organization_id] ? Organization.where(id: @safe_params[:organization_id]) : Organization.none),
                        :id,
                        :name,
                        @safe_params[:organization_id]
                      ), {
                      include_blank: 'Все организации',
                      class: 'press-releases-filters-select',
                      data: {
                        controller: 'selectpicker',
                        abs_ajax_url: press_releases_organizations_url,
                        none_selected_text: '',
                        live_search: true,
                        live_search_normalize: true,
                        size: 12,
                      },
                      #onchange: '$(this).closest("form").submit()'
                      }) %>
                      <script>
                        $('#organization_id').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                          $(e.target).closest("form").submit()
                        })
                      </script>
                  </div>

                  <div class="form-group">
                    <label>Категория</label>
                    <%= select_tag(:category_id, options_from_collection_for_select(Category.order(:position), :id, :name, @safe_params[:category_id]), {
                      include_blank: "Все категории",
                      class: 'press-releases-filters-select',
                      data: {
                        controller: 'selectpicker',
                        none_selected_text: '',
                        live_search: true,
                        live_search_normalize: true,
                        size: 12,
                      },
                      onchange: '$(this).closest("form").submit()'
                    }) %>
                  </div>

                  <% if current_user.admin? && @safe_params[:kind] == 'all_unapproved' %>
                    <div class="form-group">
                      <label>На согласовании</label>

                      <%= select_tag(:approvement, options_for_select([
                        ['Все', 'all'],
                        ['Согласовано РОИВом', 'pre_approved']
                        ], @safe_params[:approvement]), {
                        include_blank: false,
                        class: 'press-releases-filters-select',
                        data: {
                          controller: 'selectpicker',
                          none_selected_text: '',
                          # live_search: true,
                          # live_search_normalize: true,
                          size: 12,
                        },
                        onchange: '$(this).closest("form").submit()'
                        }) %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="flex-fill press_releases_list">
            <% if @press_releases.any? %>
              <table class="press_releases_table shadow">
                <thead>
                  <tr>
                    <th>Направление</th>
                    <th>Создание</th>
                    <th>Инфоповод</th>
                    <th>Статус</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: 'press_release_row', collection: @press_releases, as: :press_release %>
                </tbody>
              </table>
            <% else %>
              <div class="d-flex justify-content-center align-items-center h-100">
                <div>Подходящих инфоповодов не найдено.</div>
              </div>
            <% end %>
          </div>
        </div>

        <div>
          <%== pagy_nav(@pagy) %>
        </div>

        <% if current_user.has_ability?(:show_main_topics_slider) %>
          <%= render 'application/main_topics_slider' %>
        <% end %>
      </div>

      <% if current_user.has_ability?(:show_mainpage_aside) %>
        <div class="col-3">
          <% if policy(PressRelease).export? %>
            <div class="mb-4">
              <%= link_to press_releases_path(@safe_params), remote: true, class: 'btn btn-outline-primary btn-block' do %>
                Заказать выгрузку новостей на почту
              <% end %>
            </div>
          <% end %>

          <%#= render 'application/dashboard_widget' if policy(:dashboard).show? %>
          <%= render 'application/best_practices_widget' %>
          <%= render 'application/rating_widget' if policy(:rating_widget).show? %>
          <%= render 'application/main_topics_list_widget' %>
          <%= render 'application/resources_widget' %>
          <%#= render 'application/main_topics_list' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @onboarding_tutorial %>
  <%= render('application/onboarding_tutorial', tutorial: @onboarding_tutorial) %>
<% elsif @show_policy_agreement_popup %>
  <%= render('policy_agreements/show') %>
<% elsif @notification_popup %>
  <%= render @notification_popup %>
<% end %>