<% if current_user.organization&.media? %>
  <% content_for :analytics_head do %>
    <script>
      window.dataLayer.push(<%== {
        event: 'viewPressReleases',
        author: @press_release.user.name,
        national_projects: @press_release.national_projects.map(&:id),
        author_org_name: @press_release.user.organization_id,
        news_regions: (@press_release.all_federal_subjects? ? ["Вся Россия"] : @press_release.federal_subjects.map(&:id)),
      }.to_json %>);
    </script>
  <% end %>
<% end %>

<% if flash.notice == "Инфоповод добавлен" %>
  <% content_for :analytics_head do %>
    <script>
      window.dataLayer.push(<%== {
        event: 'saveInfopovodSuccess',
        eventCategory: 'infopovod',
        eventAction: 'save',
      }.to_json %>);
    </script>
  <% end %>
  flash.notice = nil
<% end %>


<div data-pjax-container>
  <%= render layout: 'press_releases/press_release' do %>
    <%= render 'press_releases/reposts/form', repost: @press_release.reposts.new %>

    <div id="reposts">
      <%= render partial: 'press_releases/reposts/repost', collection: @reposts %>
    </div>
  <% end %>
</div>

<%= render('press_releases_with_same_tags', press_releases: @press_release.press_releases_with_same_tags.limit(10)) if @press_release.press_releases_with_same_tags.any? %>
