<%= render layout: 'admin/users/layout' do %>
  <%== pagy_info(@pagy) %>
  <div class="card card-border border-primary mb-10">
    <div class="card-body">
      <% @activities.each do |activity| %>
        <div class="row">
          <div class="col-sm-2 mt-1 mb-3 text-center">
            <%= l(activity.created_at, format: '%-d %B %Y') %><br>
            <small class="text-muted"><%= activity.created_at.strftime('%H:%M') %></small>
          </div>
          <div class="col-sm-10 mb-3">
            <div class="small text-muted"><%= t(activity.key, scope: :activity) %></div>
            <% if activity.trackable.is_a? PressRelease %>
              <div class="mt-1"><%= link_to activity.trackable.title, activity.trackable %></div>
            <% end %>
          </div>
        </div>
      <% end %>

      <%== pagy_nav(@pagy) %>
    </div>
  </div>
<% end %>