<%= render layout: 'admin/users/layout' do %>
  <h1>API-ключ</h1>
  
  <%= @user.authentication_token.presence || '–' %>
  <br><br>
  <%= link_to 'Сгенерировать новый', admin_user_authentication_token_path(@user), method: :post %>
<% end %>