<div class="my-7" style="overflow: scroll;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>e-mail</th>
        <th>СМИ, от которого зарегистрировался</th>
        <th>Дата регистрации</th>
        <th>Регион пользователя</th>
        <th>Дата последнего входа</th>

        <th>Число входов с 28 сентября по 4 октября 2020</th>
        <th>Число входов с 5 октября по 11 октября 2020</th>
        <th>Число входов с 12 октября по 18 октября 2020</th>
        <th>Число входов с 19 октября по 25 октября 2020</th>


        <th>Число входов всего в июле 2020</th>
        <th>Число входов всего в августе 2020</th>
        <th>Число входов всего в сентябре 2020</th>
        <th>Число входов всего в октябре 2020</th>

        <th>Число просмотров инфоповодов с 28 сентября по 4 октября 2020</th>
        <th>Число просмотров инфоповодов с 5 октября по 11 октября 2020</th>
        <th>Число просмотров инфоповодов с 12 октября по 18 октября 2020</th>
        <th>Число просмотров инфоповодов с 19 октября по 25 октября 2020</th>

        <th>Число просмотров инфоповодов всего в июле 2020</th>
        <th>Число просмотров инфоповодов всего в августе 2020</th>
        <th>Число просмотров инфоповодов всего в сентябре 2020</th>
        <th>Число просмотров инфоповодов всего в октябре 2020</th>

        <th>Число размещенных ссылок на инфоповоды с 28 сентября по 4 октября 2020</th>
        <th>Число размещенных ссылок на инфоповоды с 5 октября по 11 октября 2020</th>
        <th>Число размещенных ссылок на инфоповоды с 12 октября по 18 октября 2020</th>
        <th>Число размещенных ссылок на инфоповоды с 19 октября по 25 октября 2020</th>

        <th>Число размещенных ссылок на инфоповоды всего в июле 2020</th>
        <th>Число размещенных ссылок на инфоповоды всего в августе 2020</th>
        <th>Число размещенных ссылок на инфоповоды всего в сентябре 2020</th>
        <th>Число размещенных ссылок на инфоповоды всего в октябре 2020</th>
      </tr>
    </thead>
    <tbody>
      <% @rows.each do |row| %>
        <tr>
          <td><%= row.user.name %></td>
          <td class="text-nowrap"><%= row.user.contact_phone %></td>
          <td><%= row.user.email %></td>
          <td><%= row.user.organization.name %></td>
          <td><%= row.user.created_at.strftime('%d.%m.%Y') %></td>
          <td><%= row.user.federal_subject&.name || 'Вся Россия' %></td>
          <td><%= row.user.last_sign_in_at&.strftime('%d.%m.%Y') %></td>

          <td><%= row.visits_count_week1 %></td>
          <td><%= row.visits_count_week2 %></td>
          <td><%= row.visits_count_week3 %></td>
          <td><%= row.visits_count_week4 %></td>

          <td><%= row.visits_count_month1 %></td>
          <td><%= row.visits_count_month2 %></td>
          <td><%= row.visits_count_month3 %></td>
          <td><%= row.visits_count_month4 %></td>
          
          <td><%= row.shows_count_week1 %></td>
          <td><%= row.shows_count_week2 %></td>
          <td><%= row.shows_count_week3 %></td>
          <td><%= row.shows_count_week4 %></td>

          <td><%= row.shows_count_month1 %></td>
          <td><%= row.shows_count_month2 %></td>
          <td><%= row.shows_count_month3 %></td>
          <td><%= row.shows_count_month4 %></td>

          <td><%= row.reposts_count_week1 %></td>
          <td><%= row.reposts_count_week2 %></td>
          <td><%= row.reposts_count_week3 %></td>
          <td><%= row.reposts_count_week4 %></td>

          <td><%= row.reposts_count_month1 %></td>
          <td><%= row.reposts_count_month2 %></td>
          <td><%= row.reposts_count_month3 %></td>
          <td><%= row.reposts_count_month4 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>