<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Значение') %></h1>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Категории", [:admin, :categories ] %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @press_release_value.subcategory.category.name, [:admin, @press_release_value.subcategory.category ] %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @press_release_value.subcategory.name, [:admin, @press_release_value.subcategory ] %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Значение</li>
    </ol>
  </nav>

  <div class="card card-border shadow border-primary mb-5">
    <div class="card-body">
      <%= simple_form_for [:admin, @subcategory, @press_release_value] do |f| %>
        <%= f.input :name, required: false %>
        <%= f.association :subcategory_scope, include_blank: false, collection: @press_release_value.subcategory.subcategory_scopes %>
        <%= f.input :value, required: false %>

        <div class="form-group d-flex">
          <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>
          <% if @press_release_value.persisted? %>
            <%= link_to 'Удалить', [:admin, @press_release_value], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>