Здравствуйте!<br>
<br>
В системе "Национальных приоритетов" добавлена новая лучшая региональная практика.<br>
Пожалуйста, пройдите по ссылке, чтобы его прочитать:<br>
<%= link_to best_practice_url(@best_practice), best_practice_url(@best_practice) %><br>
<br>
С уважением,<br>
Национальные приоритеты
