<h1><%= @subject %></h1>

<div>Текущий период: <%= l(@dashboard.starts2_on, format: '%-d %B, %A') %> – <%= l(@dashboard.ends2_on, format: '%-d %B, %A') %></div>
<div>Прошедший период: <%= l(@dashboard.starts_on, format: '%-d %B, %A') %> – <%= l(@dashboard.ends_on, format: '%-d %B, %A') %></div>
<div>Среднее значение: Количество с начала года / количество недель (<%= @dashboard.weeks_since_beginning_of_year %>)</div>

<%= render partial: 'user_mailer/dashboard_stats/press_releases', locals: {
  main_period: (@dashboard.starts2_on.to_time..@dashboard.ends2_on.end_of_day),
  compare_period: (@dashboard.starts_on.to_time..@dashboard.ends_on.end_of_day),
  average_period: (Time.current.beginning_of_year...),
  organizations_list: @dashboard.organizations_list,
} %>

<%= render partial: 'user_mailer/dashboard_stats/media', locals: {
  main_period: (@dashboard.starts2_on.to_time..@dashboard.ends2_on.end_of_day),
  compare_period: (@dashboard.starts_on.to_time..@dashboard.ends_on.end_of_day),
  average_period: (Time.current.beginning_of_year...),
  users_list: @dashboard.users_list,
  organizations_list: @dashboard.organizations_list,
} %>

<h3 class="text-primary">Инфоповодов по направлениям</h3>
<div class="card card-border border-primary shadow mb-7">
  <%= render partial: 'user_mailer/dashboard_stats/national_projects_list', locals: {
    main_period: (@dashboard.starts2_on.to_time..@dashboard.ends2_on.end_of_day),
    compare_period: (@dashboard.starts_on.to_time..@dashboard.ends_on.end_of_day),
    average_period: (Time.current.beginning_of_year...),

    national_projects_list: Dashboard::NationalProjectsList.new({
      starts_at: @dashboard.starts_at,
      ends_at: @dashboard.ends_at,
      starts2_at: @dashboard.starts2_at,
      ends2_at: @dashboard.ends2_at
    })
  } %>
</div>

<h3 class="text-primary">Организации</h3>
<div class="card card-border border-primary shadow mb-7">
  <%= render partial: 'user_mailer/dashboard_stats/organizations_table', locals: {
    main_period: (@dashboard.starts2_on.to_time..@dashboard.ends2_on.end_of_day),
    compare_period: (@dashboard.starts_on.to_time..@dashboard.ends_on.end_of_day),
    average_period: (Time.current.beginning_of_year...),

    organizations_list: @dashboard.organizations_list,
    kinds: Organization.kinds.keys.reject { |kind| kind == 'media' },
  } %>
</div>

<h3 class="text-primary">СМИ</h3>
<div class="card card-border border-primary shadow mb-7">
  <%= render partial: 'user_mailer/dashboard_stats/organizations_table', locals: {
    main_period: (@dashboard.starts2_on.to_time..@dashboard.ends2_on.end_of_day),
    compare_period: (@dashboard.starts_on.to_time..@dashboard.ends_on.end_of_day),
    average_period: (Time.current.beginning_of_year...),

    organizations_list: @dashboard.organizations_list,
    kinds: ['media_federal', 'media_regional'],
  } %>
</div>

<h3 class="text-primary">Пользователи организаций</h3>
<div class="card card-border border-primary shadow mb-7">
  <%= render partial: 'user_mailer/dashboard_stats/users_table', locals: {
    main_period: (@dashboard.starts2_on.to_time..@dashboard.ends2_on.end_of_day),
    compare_period: (@dashboard.starts_on.to_time..@dashboard.ends_on.end_of_day),
    average_period: (Time.current.beginning_of_year...),

    users_list: @dashboard.users_list,
    kinds: Organization.kinds.keys.reject { |kind| kind == 'media' },
  } %>
</div>

<h3 class="text-primary">Пользователи СМИ</h3>
<div class="card card-border border-primary shadow mb-7">
  <%= render partial: 'user_mailer/dashboard_stats/users_table', locals: {
    main_period: (@dashboard.starts2_on.to_time..@dashboard.ends2_on.end_of_day),
    compare_period: (@dashboard.starts_on.to_time..@dashboard.ends_on.end_of_day),
    average_period: (Time.current.beginning_of_year...),

    users_list: @dashboard.users_list,
    kinds: ['media_federal', 'media_regional'],
  } %>
</div>
