<h3>Пользователь</h3>
<div><%= @user.name %> (<%= @user.email %>)</div>
<div>Организация: <%= @user.organization&.name %></div>
<div>Регион: <%= @user.organization&.federal_subject&.name %></div>

<% if @export_request.filters.present? %>
  <h3>Фильтры</h3>
  <% @export_request.filters.each do |hash| %>
    <div><%= hash["key"] %>: <%= hash["value"] %></div>
  <% end %>
<% end %>

<h3>Запрос на выгрузку</h3>
<div><%= ExportRequest.human_attribute_name(:body) %>: <%= @export_request.body %></div>

