<h1><%= @subject %></h1>

<h3 class="text-primary"><%= @starts_on.strftime('%d.%m.%Y') %>–&nbsp;<%= @ends_on.strftime('%d.%m.%Y') %></h3>

<table class="table" style="width: auto;">
  <thead>
    <tr>
      <th>Загруженно ИП</th>
      <th>Взято СМИ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><%= @created_press_releases_count %></td>
      <td class="text-center"><%= @taken_press_releases_count %></td>
    </tr>
  </tbody>
</table>
