<h3>Пользователь</h3>
<div><%= @user.name %> (<%= @user.email %>)</div>
<div>Организация: <%= @user.organization&.name %></div>
<div>Регион: <%= @user.organization&.federal_subject&.name %></div>

<h3>Предложение добавить тег</h3>
<div><%= @tag_request.subject %></div>
