<%= render layout: 'admin/users/layout' do %>
  <%= link_to 'Отправить дайджест СМИ', media_digest_mail_admin_mails_path(user_id: @user.id), method: :post, remote: true, data: { confirm: 'Вы уверены?' } %>
  <br><br>
  <%= link_to 'Письмо при регистрации', registration_submitted_admin_mails_path(user_id: @user.id), method: :post, remote: true, data: { confirm: 'Вы уверены?' } %>
  <br><br>
  <%= link_to 'Письмо при получении доступа в СРК (РОИВ/ФОИВ и т.д.)', welcome_others_admin_mails_path(user_id: @user.id), method: :post, remote: true, data: { confirm: 'Вы уверены?' } %>
  <br><br>
  <%= link_to 'Письмо при получении доступа в СРК (СМИ)', welcome_media_admin_mails_path(user_id: @user.id), method: :post, remote: true, data: { confirm: 'Вы уверены?' } %>
  <br><br>
  <%= link_to 'Письмо при отказе в СРК', rejected_admin_mails_path(user_id: @user.id), method: :post, remote: true, data: { confirm: 'Вы уверены?' } %>
  <br><br>
  <%= link_to 'Письмо при размещении новости', press_release_approved_admin_mails_path(user_id: @user.id), method: :post, remote: true, data: { confirm: 'Вы уверены?' } %>
  <br><br>
  <%= link_to 'Письмо еженедельной статистики', dashboard_stats_weekly_admin_mails_path(user_id: @user.id), method: :post, remote: true, data: { confirm: 'Вы уверены?' } %>
  <br><br>
  <%= link_to 'Письмо ежедневной статистики', dashboard_stats_daily_admin_mails_path(user_id: @user.id), method: :post, remote: true, data: { confirm: 'Вы уверены?' } %>
  <br><br>
  <%= link_to 'Благодарственное письмо', admin_user_thank_you_note_path(@user, format: :pdf) %>
<% end %>