<div class="container mt-5">
  <h1 class="mb-0 mr-auto"><%= title('Направление') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @national_project] do |f| %>
        <%= f.input :name %>
        <%= f.input :short_name %>

        <%= f.input :avatar do %>
          <% if f.object.avatar.attached? %>
            <div class="mb-1"><%= image_tag f.object.avatar %></div>
          <% end %>
          <%= f.input_field :avatar, class: 'form-control' %>
        <% end %>

        <%= f.input :content do %>
          <%= f.rich_text_area :content %>
        <% end %>

        <%= f.input :branding do %>
          <%= f.rich_text_area :branding %>
        <% end %>

        <%= f.input :used_in_rating %>

        <div class="form-group d-flex">
          <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>
          <% if @national_project.persisted? && policy([:admin, @national_project]).destroy? %>
            <%= link_to 'Удалить', [:admin, @national_project], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>