<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Направления') %></h1>
    <%= link_to 'Добавить', [:new, :admin, :national_project], class: 'btn btn-primary' %>
  </div>

  <div class="card card-border border-primary shadow">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th>Иконка</th>
          <th>Название</th>
          <th>Короткое название</th>
        </tr>
      </thead>
      <tbody>
        <% @national_projects.each do |national_project| %>
          <tr>
            <td class="text-center">
              <% if national_project.avatar.attached? %>
                <%= image_tag national_project.avatar, width: 31 %>
              <% end %>
            </td>
            <td><%= link_to national_project.name, [:admin, national_project] %></td>
            <td><%= national_project.short_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>