<div class="container mt-5 mb-8">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title(@national_project.name) %></h1>

    <% if policy([:admin, @national_project]).update? %>
      <%= link_to 'Редактировать направление', [:edit, :admin, @national_project] %>
    <% end %>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <div class="card-body">
    </div>
  </div>

  <h2 class="mb-0">Файлы брендинга</h2>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th><%= BrandingAsset.human_attribute_name(:avatar) %></th>
          <th><%= BrandingAsset.human_attribute_name(:description) %></th>
          <th class="text-center"><%= BrandingAsset.human_attribute_name(:images) %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @national_project.branding_assets.each do |branding_asset| %>
        <tr>
          <td>
            <% if branding_asset.avatar.attached? %>
              <%= image_tag branding_asset.avatar, width: 58 %>
            <% end %>
          </td>
          <td><%= branding_asset.description %></td>
          <td class="text-center">
            <% branding_asset.images.each do |image| %>
              <%= link_to image.blob.filename.extension, rails_blob_path(image, disposition: "attachment") %>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to [:edit, :admin, branding_asset], class: "text-decoration-none" do %>
              <span class="fe fe-edit"></span>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to [:admin, branding_asset], method: :delete, data: { confirm: 'Вы уверены?' }, class: "text-decoration-none" do %>
              <span class="fe fe-trash-2"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'добавить', [:new, :admin, @national_project, :branding_asset] %>
  </div>

  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0">Федеральные проекты</h2>

    <div class="ml-auto">
      <% if policy(FederalProject).create? %>
        <%= link_to 'Добавить федеральный проект', [:new, :admin, @national_project, :federal_project] %>
      <% end %>
    </div>
  </div>
  <div class="card card-border border-primary shadow">
    <table class="table table-bordered table-striped table-bordered">
      <% @federal_projects.each do |federal_project| %>
        <tr>
          <td><%= link_to federal_project.name, [:admin, federal_project] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
