<% if RepostPolicy.new(current_user, repost).create? && current_user.bookmarked?(@press_release) %>
  <%= simple_form_for [repost.press_release, repost], remote: true, html: { class: 'mb-3' } do |f| %>
    <%= f.input :link, label: false, input_html: { placeholder: 'Оставьте ссылку...' } %>
    <div class="form-group">
      <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex ml-auto' do %>
        <span class="mr-2">Отправить</span>
        <span class="fe fe-arrow-right"></span>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div id="new_repost"></div>
<% end %>
