<%= tag.div class: 'pt-3 mb-3 border-top', id: dom_id(repost) do %>
  <div class="small mb-1 text-muted">
    <%= l(repost.created_at, format: '%-d %B %Y') %>
    |
    <%= repost.user.name %>
    <% if policy(repost).destroy? %>
      |
      <%= link_to 'удалить', repost, method: :delete, remote: true, data: { confirm: 'Вы уверены?' }, class: 'text-danger' %>
    <% end %>
  </div>
  <div><%= link_to repost.link, repost.link, target: '_blank' %></div>
<% end %>