<% if @repost.valid? %>
  window.dataLayer.push(<%== {
    event: 'workIsDone',
    eventCategory: 'newsbreak',
    eventAction: 'workIsDone',
  }.to_json %>);

  $('#new_repost').replaceWith("<%= j render 'form', repost: @press_release.reposts.new %>");
  $('#reposts').prepend("<%= j render 'repost', repost: @repost %>");
<% else %>
  $('#new_repost').replaceWith("<%= j render 'form', repost: @repost %>");
<% end %>