<%= tag.div class: 'pt-3 mb-3 border-top', id: dom_id(comment) do %>
  <div class="small mb-1 text-muted">
    <%= l(comment.created_at, format: '%-d %B %Y') %>
    |
    <%= comment.user.name %>
    <% if policy(comment).destroy? %>
      |
      <%= link_to 'удалить', comment, method: :delete, remote: true, data: { confirm: 'Вы уверены?' }, class: 'text-danger' %>
    <% end %>
  </div>
  <div><%= simple_format(comment.text) %></div>
<% end %>