<% if policy(comment).create? %>
  <%= simple_form_for [comment.press_release, comment], remote: true, html: { class: 'mb-3' } do |f| %>
    <%= f.input :text, label: false, input_html: { placeholder: 'Оставьте комментарий...', rows: 3 } %>

    <% if policy(comment.press_release).return_to_author? %>
      <div class="form-group form-check">
        <%= check_box_tag :return_to_author, '1', false, class: 'form-check-input' %>
        <%= label_tag :return_to_author, 'Вернуть на доработку', class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex ml-auto' do %>
        <span class="mr-2">Отправить</span>
        <span class="fe fe-arrow-right"></span>
      <% end %>
    </div>
  <% end %>
<% end %>