<% if @comment.valid? %>
  $('#new_comment').replaceWith("<%= j render 'form', comment: @press_release.comments.new %>");
  $('#comments').prepend("<%= j render 'comment', comment: @comment %>");
<% else %>
  $('#new_comment').replaceWith("<%= j render 'form', comment: @comment %>");
<% end %>