<div data-pjax-container>
  <%= render layout: 'press_releases/press_release' do %>
    <%= render 'press_releases/comments/form', comment: @press_release.comments.new %>

    <div id="comments">
      <%= render partial: 'press_releases/comments/comment', collection: @comments %>
    </div>
  <% end %>
</div>
