<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0">Видеоальбом</h1>
  </div>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @video_album] do |f| %>
        <% if f.object.errors.full_messages.any? %>
          <div class="alert alert-primary mb-4">
            <% f.object.errors.full_messages.each do |msg| %>
              <div><%= msg %></div>
            <% end %>
          </div>
        <% end %>

        <div class="form-inputs">
          <%= f.input :name %>

          <%= f.input :image, hint: 'JPG или PNG в пропорции 16x9, 500x281px' do %>
            <% if f.object.image.attached? %>
              <div class="embed-responsive embed-responsive-16by9 mb-1" style="max-width: 300px;">
                <%= image_tag f.object.image, class: 'embed-responsive-item', style: 'object-fit: cover;' %>
              </div>
            <% end %>

            <%= f.input_field :image, class: 'form-control' %>
          <% end %>

          <%= f.input :published %>
        </div>

        <div class="form-actions d-flex">
          <div>
            <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>
          </div>

          <div class="ml-auto">
            <% if f.object.persisted? && policy([:admin, f.object]).destroy? %>
              <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
