<div class="container mt-8">
  <div class="d-flex mb-1">
    <div>
      <!-- <h2 class="mb-0">Видеоальбомы</h2> -->

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Видеоальбомы</li>
        </ol>
      </nav>
    </div>

    <div class="ml-auto">
      <div class="btn-group">
        <%= link_to 'Добавить альбом', [:new, :admin, :video_album], class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th style="width: 200px;">Превью</th>
          <th>Название</th>
          <th>Кол-во видео</th>
          <th><%= VideoAlbum.human_attribute_name(:published) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @video_albums.each do |video_album| %>
          <tr>
            <td>
              <% if video_album.image.attached? %>
                <div class="embed-responsive embed-responsive-16by9">
                  <%= image_tag video_album.image, class: 'embed-responsive-item', style: 'object-fit: cover;' %>
                </div>
              <% end %>
            </td>

            <td><%= link_to video_album.name, [:admin, video_album] %></td>

            <td><%= video_album.video_clips.count %></td>

            <td><%= 'да' if video_album.published? %></td>

            <td class="text-center">
              <%= link_to [:edit, :admin, video_album] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>