<div class="container mt-8">
  <div class="d-flex mb-1">
    <div>
      <!-- <h2 class="mb-0">Видеоальбомы</h2> -->

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to 'Видеоальбомы', [:admin, :video_albums ] %>
          </li>
          <li class="breadcrumb-item active" aria-current="page"><%= @video_album.name %></li>
        </ol>
      </nav>
    </div>

    <div class="ml-auto">
      <div class="btn-group">
        <%= link_to 'Редактировать альбом', [:edit, :admin, @video_album], class: 'btn btn-secondary' %>

        <%= link_to 'Добавить видео', [:new, :admin, @video_album, :video_clip], class: 'btn btn-primary' %>
      </div>
    </div>
  </div>


  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th style="width: 200px;">Превью</th>
          <th>Название</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @video_album.video_clips.each do |video_clip| %>
          <tr>
            <td>
              <% if video_clip.image.attached? %>
                <div class="embed-responsive embed-responsive-16by9">
                  <%= image_tag video_clip.image, class: 'embed-responsive-item', style: 'object-fit: cover;' %>
                </div>
              <% end %>
            </td>
            <td><%= video_clip.name %></td>
            <td class="text-center">
              <%= link_to [:edit, :admin, video_clip] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>