<h3 class="text-primary">СМИ</h3>
<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="text-center">
          <%= main_period.begin.strftime('%d.%m') %>–<%= main_period.end.strftime('%d.%m') %><br>
          (текущий период)
        </th>
        <th class="text-center">
          <%= compare_period.begin.strftime('%d.%m') %>–<%= compare_period.end.strftime('%d.%m') %><br>
          (прошедший период)
        </th>
        <th class="text-center">
          Среднее с начала года
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td>Сколько СМИ просмотрело инфоповоды</td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.shown_period2 %>
          <%= percentage_diff(@dashboard.media_organizations_table.shown_period2, @dashboard.media_organizations_table.shown_period1) %>
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.shown_period1 %>
        </td>
        <td class="text-center">
          <% average = @dashboard.media_organizations_table.shown_period4.to_f / @dashboard.weeks_since_beginning_of_year %>
          <%= number_with_precision(average, precision: 1) %>
          <%= percentage_diff(@dashboard.media_organizations_table.shown_period2, average) %>
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= organizations_list.shown_period2_counts_hash.fetch(custom_kind, 0) %>
            <%= percentage_diff(organizations_list.shown_period2_counts_hash.fetch(custom_kind, 0), organizations_list.shown_period1_counts_hash.fetch(custom_kind, 0)) %>
          </td>
          <td class="text-center">
            <%= organizations_list.shown_period1_counts_hash.fetch(custom_kind, 0) %>
          </td>
          <td class="text-center">
            <% average = organizations_list.shown_period4_counts_hash.fetch(custom_kind, 0).to_f / @dashboard.weeks_since_beginning_of_year %>
            <%= number_with_precision(average, precision: 1) %>
            <%= percentage_diff(organizations_list.shown_period2_counts_hash.fetch(custom_kind, 0), average) %>
          </td>
        </tr>
      <% end %>

      <tr class="table-light">
        <td>Сколько СМИ не посмотрело инфоповоды</td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.unshown_period2 %>
          <%= percentage_diff(@dashboard.media_organizations_table.unshown_period2, @dashboard.media_organizations_table.unshown_period1) %>
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.unshown_period1 %>
        </td>
        <td class="text-center">
          <% average = @dashboard.media_organizations_table.unshown_period4.to_f / @dashboard.weeks_since_beginning_of_year %>
          <%= number_with_precision(average, precision: 1) %>
          <%= percentage_diff(@dashboard.media_organizations_table.unshown_period2, average) %>
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= organizations_list.unshown_period2_count(custom_kind) %>
            <%= percentage_diff(organizations_list.unshown_period2_count(custom_kind), organizations_list.unshown_period1_count(custom_kind)) %>
          </td>
          <td class="text-center">
            <%= organizations_list.unshown_period1_count(custom_kind) %>
          </td>
          <td class="text-center">
            <% average = organizations_list.unshown_period4_count(custom_kind).to_f / @dashboard.weeks_since_beginning_of_year %>
            <%= number_with_precision(average, precision: 1) %>
            <%= percentage_diff(organizations_list.unshown_period2_count(custom_kind), average) %>
          </td>
        </tr>
      <% end %>

      <tr class="table-light">
        <td>СМИ разместили ссылки</td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.reposted_period2 %>
          <%= percentage_diff(@dashboard.media_organizations_table.reposted_period2, @dashboard.media_organizations_table.reposted_period1) %>
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.reposted_period1 %>
        </td>
        <td class="text-center">
          <% average = @dashboard.media_organizations_table.reposted_period4.to_f / @dashboard.weeks_since_beginning_of_year %>
          <%= number_with_precision(average, precision: 1) %>
          <%= percentage_diff(@dashboard.media_organizations_table.reposted_period2, average) %>
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= organizations_list.reposted_period2_counts_hash.fetch(custom_kind, 0) %>
            <%= percentage_diff(organizations_list.reposted_period2_counts_hash.fetch(custom_kind, 0), organizations_list.reposted_period1_counts_hash.fetch(custom_kind, 0)) %>
          </td>
          <td class="text-center">
            <%= organizations_list.reposted_period1_counts_hash.fetch(custom_kind, 0) %>
          </td>
          <td class="text-center">
            <% average = organizations_list.reposted_period4_counts_hash.fetch(custom_kind, 0).to_f / @dashboard.weeks_since_beginning_of_year %>
            <%= number_with_precision(average, precision: 1) %>
            <%= percentage_diff(organizations_list.reposted_period2_counts_hash.fetch(custom_kind, 0), average) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h3 class="text-primary">Показатель активности СМИ</h3>
<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="text-center">
          <%= main_period.begin.strftime('%d.%m') %>–<%= main_period.end.strftime('%d.%m') %><br>
          (текущий период)
        </th>
        <th class="text-center">
          <%= compare_period.begin.strftime('%d.%m') %>–<%= compare_period.end.strftime('%d.%m') %><br>
          (прошедший период)
        </th>
        <th class="text-center">
          Среднее с начала года
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td>Кол-во просмотренных инфоповодов / на количество активных СМИ</td>
        <%
        value1 = @dashboard.press_releases_shown_period1_count
        value2 = users_list.visited_period1_counts_hash.select { |key, value| organizations_list.media?(key) }.values.sum
        period1_value = value2 != 0 ? value1.to_f / value2 : 0

        value1 = @dashboard.press_releases_shown_period2_count
        value2 = users_list.visited_period2_counts_hash.select { |key, value| organizations_list.media?(key) }.values.sum
        period2_value = value2 != 0 ? value1.to_f / value2 : 0

        value1 = @dashboard.press_releases_shown_period4_count
        value2 = users_list.visited_period4_counts_hash.select { |key, value| organizations_list.media?(key) }.values.sum
        period4_value = value2 != 0 ? value1.to_f / value2 : 0
        average_value = period4_value.to_f / @dashboard.weeks_since_beginning_of_year
        %>
        <td class="text-center">
          <%= number_with_precision(period2_value, precision: 2) %>
          <%= percentage_diff(period2_value, period1_value) %>
        </td>
        <td class="text-center">
          <%= number_with_precision(period1_value, precision: 2) %>
        </td>
        <td class="text-center">
          <%= number_with_precision(average_value, precision: 2) %>
          <%= percentage_diff(period2_value, average_value) %>
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <%
          value1 = @dashboard.press_releases_shown_period1_count
          value2 = users_list.visited_period1_counts_hash.fetch(custom_kind, 0)
          period1_value = value2 != 0 ? value1.to_f / value2 : 0

          value1 = @dashboard.press_releases_shown_period2_count
          value2 = users_list.visited_period2_counts_hash.fetch(custom_kind, 0)
          period2_value = value2 != 0 ? value1.to_f / value2 : 0

          value1 = @dashboard.press_releases_shown_period4_count
          value2 = users_list.visited_period4_counts_hash.fetch(custom_kind, 0)
          period4_value = value2 != 0 ? value1.to_f / value2 : 0
          average_value = period4_value.to_f / @dashboard.weeks_since_beginning_of_year
          %>
          <td class="text-center">
            <%= number_with_precision(period2_value, precision: 2) %>
            <%= percentage_diff(period2_value, period1_value) %>
          </td>
          <td class="text-center">
            <%= number_with_precision(period1_value, precision: 2) %>
          </td>
          <td class="text-center">
            <%= number_with_precision(average_value, precision: 2) %>
            <%= percentage_diff(period2_value, average_value) %>
          </td>
        </tr>
      <% end %>

      <tr class="table-light">
        <td>Инфоповодов на 100 СМИ (кол-во инфоповдов / кол-во СМИ) * 100</td>
        <%
          value1 = @dashboard.press_releases_period1_count.to_f
          value2 = @dashboard.media_organizations_table.created_upto_period1
          period1_value = value2 != 0 ? (value1.to_f / value2) * 100 : nil

          value1 = @dashboard.press_releases_period2_count.to_f
          value2 = @dashboard.media_organizations_table.created_upto_period2
          period2_value = (value1.to_f / value2) * 100

          value1 = @dashboard.press_releases_period4_count.to_f
          value2 = @dashboard.media_organizations_table.created_upto_period4
          period4_value = (value1.to_f / value2) * 100
          average_value = period4_value.to_f / @dashboard.weeks_since_beginning_of_year
        %>

        <td class="text-center">
          <%= number_with_precision(period2_value, precision: 2) %>
          <%= percentage_diff(period2_value, period1_value) %>
        </td>
        <td class="text-center">
          <%= number_with_precision(period1_value, precision: 2) %>
        </td>
        <td class="text-center">
          <%= number_with_precision(average_value, precision: 2) %>
          <%= percentage_diff(period2_value, average_value) %>
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <%
            value1 = @dashboard.press_releases_period1_count
            value2 = organizations_list.upto_period1_counts_hash.fetch(custom_kind, 0)
            period1_value = value2 != 0 ? (value1.to_f / value2) * 100 : nil

            value1 = @dashboard.press_releases_period2_count
            value2 = organizations_list.upto_period2_counts_hash.fetch(custom_kind, 0)
            period2_value = (value1.to_f / value2) * 100

            value1 = @dashboard.press_releases_period4_count
            value2 = organizations_list.upto_period4_counts_hash.fetch(custom_kind, 0)
            period4_value = value2 != 0 ? (value1.to_f / value2) * 100 : nil
            average_value = period4_value.to_f / @dashboard.weeks_since_beginning_of_year
          %>
          <td class="text-center">
            <%= number_with_precision(period2_value, precision: 2) %>
            <%= percentage_diff(period2_value, period1_value) %>
          </td>
          <td class="text-center">
            <%= number_with_precision(period1_value, precision: 2) %>
          </td>
          <td class="text-center">
            <%= number_with_precision(average_value, precision: 2) %>
            <%= percentage_diff(period2_value, average_value) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>