<table class="table table-bordered table-sm mb-0 table-hover" id="national_projects_list">
  <thead>
    <tr>
      <th>Направление</th>
      <th class="text-center">
        <%= main_period.begin.strftime('%d.%m') %>–<%= main_period.end.strftime('%d.%m') %><br>
        (текущий период)
      </th>
      <th class="text-center">
        <%= compare_period.begin.strftime('%d.%m') %>–<%= compare_period.end.strftime('%d.%m') %><br>
        (прошедший период)
      </th>
      <th class="text-center">
        Среднее с начала года
      </th>
    </tr>
  </thead>

  <tbody>
    <% national_projects_list.rows.each do |row| %>
      <tr>
        <td><%= row.name %></td>
        <td class="text-center">
          <%= row.period2 %>
          <%= percentage_diff(row.period2, row.period1) %>
        </td>
        <td class="text-center">
          <%= row.period1 %>
        </td>
        <td class="text-center">
          <% average = row.period4.to_f / @dashboard.weeks_since_beginning_of_year %>
          <%= number_with_precision(average, precision: 1) %>
          <%= percentage_diff(row.period2, average) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
