<table class="table table-bordered mb-0">
  <thead>
    <tr>
      <th rowspan="2">&nbsp;</th>
      <th colspan="3" class="text-center">Подключено</th>
      <th colspan="3" class="text-center table-light">Активировано</th>
      <th colspan="3" class="text-center">Активных</th>
    </tr>

    <tr>
      <th class="text-center text-nowrap">
        <%= main_period.begin.strftime('%d.%m') %>–<%= main_period.end.strftime('%d.%m') %><br>
        (текущий период)
      </th>
      <th class="text-center text-nowrap">
        <%= compare_period.begin.strftime('%d.%m') %>–<%= compare_period.end.strftime('%d.%m') %><br>
        (прошедший период)
      </th>
      <th class="text-center">Среднее значение</th>

      <th class="text-center text-nowrap table-light">
        <%= main_period.begin.strftime('%d.%m') %>–<%= main_period.end.strftime('%d.%m') %><br>
        (текущий период)
      </th>
      <th class="text-center text-nowrap table-light">
        <%= compare_period.begin.strftime('%d.%m') %>–<%= compare_period.end.strftime('%d.%m') %><br>
        (прошедший период)
      </th>
      <th class="text-center text-nowrap table-light">Среднее значение</th>

      <th class="text-center text-nowrap">
        <%= main_period.begin.strftime('%d.%m') %>–<%= main_period.end.strftime('%d.%m') %><br>
        (текущий период)
      </th>
      <th class="text-center text-nowrap">
        <%= compare_period.begin.strftime('%d.%m') %>–<%= compare_period.end.strftime('%d.%m') %><br>
        (прошедший период)
      </th>
      <th class="text-center">Среднее значение</th>
    </tr>
  </thead>

  <tbody>
    <% kinds.each do |kind| %>
      <% custom_kind = organizations_list.custom_kind(kind) %>
      <tr>
        <td>
          <%= Organization.human_attribute_name("kinds.#{kind}") %>
        </td>

        <td class="text-center">
          <%= organizations_list.period2_counts_hash.fetch(custom_kind, 0) %>
          <%= percentage_diff(organizations_list.period2_counts_hash.fetch(custom_kind, 0), organizations_list.period1_counts_hash.fetch(custom_kind, 0)) %>
        </td>
        <td class="text-center">
          <%= organizations_list.period1_counts_hash.fetch(custom_kind, 0) %>
        </td>
        <td class="text-center">
          <% average = organizations_list.period4_counts_hash.fetch(custom_kind, 0).to_f / @dashboard.weeks_since_beginning_of_year %>
          <%= number_with_precision(average, precision: 1) %>
          <%= percentage_diff(organizations_list.period2_counts_hash.fetch(custom_kind, 0), average) %>
        </td>

        <% if false %>
          <td class="text-center">
            <%= organizations_list.upto_period2_counts_hash.fetch(custom_kind, 0) %>
          </td>
          <td class="text-center">
            <%= organizations_list.upto_period1_counts_hash.fetch(custom_kind, 0) %>
          </td>
        <% end %>

        <td class="text-center table-light">
          <%= organizations_list.confirmed_period2_counts_hash.fetch(custom_kind, 0) %>
          <%= percentage_diff(organizations_list.confirmed_period2_counts_hash.fetch(custom_kind, 0), organizations_list.confirmed_period1_counts_hash.fetch(custom_kind, 0)) %>
        </td>
        <td class="text-center table-light">
          <%= organizations_list.confirmed_period1_counts_hash.fetch(custom_kind, 0) %>
        </td>
        <td class="text-center table-light">
          <% average = organizations_list.confirmed_period4_counts_hash.fetch(custom_kind, 0).to_f / @dashboard.weeks_since_beginning_of_year %>
          <%= number_with_precision(average, precision: 1) %>
          <%= percentage_diff(organizations_list.confirmed_period2_counts_hash.fetch(custom_kind, 0), average) %>
        </td>

        <td class="text-center">
          <%= organizations_list.visited_period2_counts_hash.fetch(custom_kind, 0) %>
          <%= percentage_diff(organizations_list.visited_period2_counts_hash.fetch(custom_kind, 0), organizations_list.visited_period1_counts_hash.fetch(custom_kind, 0)) %>
        </td>
        <td class="text-center">
          <%= organizations_list.visited_period1_counts_hash.fetch(custom_kind, 0) %>
        </td>
        <td class="text-center">
          <% average = organizations_list.visited_period4_counts_hash.fetch(custom_kind, 0) %>
          <%= number_with_precision(average, precision: 1) %>
          <%= percentage_diff(organizations_list.visited_period2_counts_hash.fetch(custom_kind, 0), average) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>