<h3 class="text-primary">Инфоповоды</h3>
<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="text-center">
          <%= main_period.begin.strftime('%d.%m') %>–<%= main_period.end.strftime('%d.%m') %><br>
          (текущий период)
        </th>
        <th class="text-center">
          <%= compare_period.begin.strftime('%d.%m') %>–<%= compare_period.end.strftime('%d.%m') %><br>
          (прошедший период)
        </th>
        <th class="text-center">Среднее с начала года</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Размещено в СРК</td>
        <td class="text-center">
          <%= @dashboard.press_releases_period2_count %>
          <%= percentage_diff(@dashboard.press_releases_period2_count, @dashboard.press_releases_period1_count) %>
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_period1_count %>
        </td>
        <td class="text-center">
          <%= number_with_precision(@dashboard.press_releases_average_count, precision: 1) %>
          <%= percentage_diff(@dashboard.press_releases_period2_count, @dashboard.press_releases_average_count) %>
        </td>
      </tr>

      <tr>
        <td>Просмотрено инфоповодов</td>
        <td class="text-center">
          <%= @dashboard.press_releases_shown_period2_count %>
          <%= percentage_diff(@dashboard.press_releases_shown_period2_count, @dashboard.press_releases_shown_period1_count) %>
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_shown_period1_count %>
        </td>
        <td class="text-center">
          <%= number_with_precision(@dashboard.press_releases_shown_average_count, precision: 1) %>
          <%= percentage_diff(@dashboard.press_releases_shown_period2_count, @dashboard.press_releases_shown_average_count) %>
        </td>
      </tr>

      <tr>
        <td>Непросмотренных инфоповодов</td>
        <td class="text-center">
          <%= @dashboard.press_releases_unshown_period2_count %>
          <%= percentage_diff(@dashboard.press_releases_unshown_period2_count, @dashboard.press_releases_unshown_period1_count) %>
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_unshown_period1_count %>
        </td>
        <td class="text-center">
          <%= number_with_precision(@dashboard.press_releases_unshown_average_count, precision: 1) %>
          <%= percentage_diff(@dashboard.press_releases_unshown_period2_count, @dashboard.press_releases_unshown_average_count) %>
        </td>
      </tr>

      <tr>
        <td>Количество инфоповодов с ссылками</td>
        <td class="text-center">
          <%= @dashboard.press_releases_reposted_period2_count %>
          <%= percentage_diff(@dashboard.press_releases_reposted_period2_count, @dashboard.press_releases_reposted_period1_count) %>
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_reposted_period1_count %>
        </td>
        <td class="text-center">
          <%= number_with_precision(@dashboard.press_releases_reposted_average_count, precision: 1) %>
          <%= percentage_diff(@dashboard.press_releases_reposted_period2_count, @dashboard.press_releases_reposted_average_count) %>
        </td>
      </tr>

      <tr>
        <td>Сколько ссылок разместили СМИ</td>
        <td class="text-center">
          <%= @dashboard.reposts_period2_count %>
          <%= percentage_diff(@dashboard.reposts_period2_count, @dashboard.reposts_period1_count) %>
        </td>
        <td class="text-center">
          <%= @dashboard.reposts_period1_count %>
        </td>
        <td class="text-center">
          <%= number_with_precision(@dashboard.reposts_average_count, precision: 1) %>
          <%= percentage_diff(@dashboard.reposts_period2_count, @dashboard.reposts_average_count) %>
        </td>
      </tr>

      <tr class="table-light">
        <td>
          Сколько активных организаций<br>
          (Число тех, кто разместил инфоповод):
        </td>
        <td class="text-center">
          <%= organizations_list.published_period2_counts_hash.values.sum %>
          <%= percentage_diff(organizations_list.published_period2_counts_hash.values.sum, organizations_list.published_period1_counts_hash.values.sum) %>
        </td>
        <td class="text-center">
          <%= organizations_list.published_period1_counts_hash.values.sum %>
        </td>
        <td class="text-center">
          <% average = organizations_list.published_period4_counts_hash.values.sum.to_f / @dashboard.weeks_since_beginning_of_year %>
          <%= number_with_precision(average, precision: 1) %>
          <%= percentage_diff(organizations_list.published_period2_counts_hash.values.sum, average) %>
        </td>
      </tr>

      <% (Organization.kinds.keys.reject { |kind| kind == 'media' } + ['media_federal', 'media_regional']).each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= organizations_list.published_period2_counts_hash.fetch(custom_kind, 0) %>
            <%= percentage_diff(organizations_list.published_period2_counts_hash.fetch(custom_kind, 0), organizations_list.published_period1_counts_hash.fetch(custom_kind, 0)) %>
          </td>
          <td class="text-center">
            <%= organizations_list.published_period1_counts_hash.fetch(custom_kind, 0) %>
          </td>
          <td class="text-center">
            <% average = organizations_list.published_period4_counts_hash.fetch(custom_kind, 0).to_f / @dashboard.weeks_since_beginning_of_year %>
            <%= number_with_precision(average, precision: 1) %>
            <%= percentage_diff(organizations_list.published_period2_counts_hash.fetch(custom_kind, 0), average) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>