<div class="d-flex align-items-bottom">
  <h3 class="text-primary">Таблицы с данными еженедельной рассылки</h3>

  <%= link_to "Скачать .xlsx", table7_admin_dashboard_subscriptions_path({
      starts_at: dashboard.starts_at,
      ends_at: dashboard.ends_at,
      starts2_at: dashboard.starts2_at,
      ends2_at: dashboard.ends2_at,
      format: :xlsx
      }), class: "ml-auto" %>
</div>

<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered table-hover table-striped mb-0">
    <thead>
      <tr>
        <th colspan="3">Отправленные</th>
        <th colspan="3">Доставленные</th>
        <th colspan="3">Прочитанные</th>
        <th colspan="3">СПАМ</th>
        <th colspan="3">Отписки</th>
      </tr>
      <tr>
        <th>За первый период</th>
        <th>За второй период</th>
        <th>Всего</th>

        <th>За первый период</th>
        <th>За второй период</th>
        <th>Всего</th>

        <th>За первый период</th>
        <th>За второй период</th>
        <th>Всего</th>

        <th>За первый период</th>
        <th>За второй период</th>
        <th>Всего</th>

        <th>За первый период</th>
        <th>За второй период</th>
        <th>Всего</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= dashboard.period1_messages.weekly.count %></td>
        <td><%= dashboard.period2_messages.weekly.count %></td>
        <td><%= dashboard.total_messages.weekly.count %></td>

        <td><%= dashboard.period1_messages.weekly.delivered.count %></td>
        <td><%= dashboard.period2_messages.weekly.delivered.count %></td>
        <td><%= dashboard.total_messages.weekly.delivered.count %></td>

        <td><%= dashboard.period1_messages.weekly.opened.count %></td>
        <td><%= dashboard.period2_messages.weekly.opened.count %></td>
        <td><%= dashboard.total_messages.weekly.opened.count %></td>

        <td><%= dashboard.period1_messages.weekly.spamed.count %></td>
        <td><%= dashboard.period2_messages.weekly.spamed.count %></td>
        <td><%= dashboard.total_messages.weekly.spamed.count %></td>

        <td><%= dashboard.period1_messages.weekly.unsubscribed.count %></td>
        <td><%= dashboard.period2_messages.weekly.unsubscribed.count %></td>
        <td><%= dashboard.total_messages.weekly.unsubscribed.count %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered table-hover table-striped mb-0">
    <thead>
      <tr>
        <th colspan="3">Переходы</th>
        <th colspan="3">Ошибки доставки</th>
      </tr>
      <tr>
        <th>За первый период</th>
        <th>За второй период</th>
        <th>Всего</th>

        <th>За первый период</th>
        <th>За второй период</th>
        <th>Всего</th>
      </tr>
    </thead>
    <tbody>
      <td><%= dashboard.period1_messages.weekly.clicked.count %></td>
      <td><%= dashboard.period2_messages.weekly.clicked.count %></td>
      <td><%= dashboard.total_messages.weekly.clicked.count %></td>

      <td><%= dashboard.period1_messages.weekly.undelivered.count %></td>
      <td><%= dashboard.period2_messages.weekly.undelivered.count %></td>
      <td><%= dashboard.total_messages.weekly.undelivered.count %></td>
    </tbody>
  </table>
</div>