<div class="d-flex align-items-bottom">
  <h3 class="text-primary">Топ-10 регионов, которые наиболее активно подписываются на рассылку</h3>

  <%= link_to "Скачать .xlsx", table2_admin_dashboard_subscriptions_path({
      starts_at: dashboard.starts_at,
      ends_at: dashboard.ends_at,
      starts2_at: dashboard.starts2_at,
      ends2_at: dashboard.ends2_at,
      format: :xlsx
      }), class: "ml-auto" %>
</div>

<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered table-hover table-striped mb-0">
    <thead>
      <tr>
        <th>Регион</th>
        <th class="text-right">Кол-во подписчиков</th>
      </tr>
    </thead>
    <tbody>
      <% dashboard.top_subscribing_federal_subjects.each do |federal_subject| %>
        <tr>
          <td><%= federal_subject.name %></td>
          <td class="text-right"><%= federal_subject._subscriptions_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>