<div class="d-flex align-items-bottom">
  <h3 class="text-primary">Прирост подписчиков за неделю</h3>

  <%= link_to "Скачать .xlsx", table1_admin_dashboard_subscriptions_path({
      starts_at: dashboard.starts_at,
      ends_at: dashboard.ends_at,
      starts2_at: dashboard.starts2_at,
      ends2_at: dashboard.ends2_at,
      format: :xlsx
      }), class: "ml-auto" %>
</div>
<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered table-hover table-striped mb-0">
    <thead>
      <tr>
        <th class="text-center">За первый период</th>
        <th class="text-center">За второй период</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= dashboard.period1_subscriptions.count %></td>
        <td class="text-center">
          <%= dashboard.period2_subscriptions.count %>

          <span>
            (<% if dashboard.period2_subscriptions.count > dashboard.period1_subscriptions.count %><span class="fe fe-arrow-up text-success"></span><% end %><%= dashboard.period2_subscriptions.count - dashboard.period1_subscriptions.count %>)
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="text-primary">График роста за все время</h3>
<div class="card card-border border-primary shadow mb-7">
  <%= line_chart Subscription.group_by_week(:created_at).count %>
</div>