<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Лучшие региональные практики') %></h1>
    <%= link_to 'Добавить', [:new, :best_practice] %>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for [:admin, @q] do |f| %>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :approved_at_null, 'Статус' %>
              <%= f.select :approved_at_null, options_for_select([
                ['На модерации', true],
                ['Согласованы', false],
              ], f.object.approved_at_null), { include_blank: 'Все' }, class: 'form-control', data: { controller: 'selectpicker' } %>
            </div>
          </div>
        </div>

        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <div>
    <%== pagy_info(@pagy) %>
  </div>

  <div class="card card-border border-primary">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th><%= sort_link(@q, :published_at, 'Дата публикации', default_order: :desc) %></th>
          <th><%= sort_link(@q, :created_at, 'Дата создания', default_order: :desc) %></th>
          <th>Название</th>
          <th>Автор</th>
          <th>Регион</th>
          <th>Статус</th>
        </tr>
      </thead>
      <% @best_practices.each do |best_practice| %>
        <tr>
          <td><%= best_practice.published_at.strftime('%d.%m.%Y %H:%M') %></td>
          <td><%= best_practice.created_at.strftime('%d.%m.%Y %H:%M') %></td>
          <td><%= link_to best_practice.name, best_practice %></td>
          <td><%= best_practice.user.name %></td>
          <td><%= best_practice.user.organization&.federal_subject&.name %></td>
          <td><%= best_practice.approved_at.nil? ? 'На модерации' : 'Согласована' %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
</div>