<%= form_tag nil, method: :get, class: 'my-4' do %>
  <div class="form-row">
    <div class="col-auto">
      <%= tag.div class: 'input-group input-group-lg', data: {
        controller: "flatpickr",
        flatpickr_wrap: true,
        #flatpickr_date_format: "d.m.Y H:i",
        flatpickr_alt_format: "d.m.Y",
        flatpickr_alt_input: true,
        flatpickr_mode: "range"
      } do %>
        <%= text_field_tag :period1, "#{@starts_on} — #{@ends_on}", data: { input: '' }, class: 'form-control' %>

        <div class="input-group-append">
          <button type="button" class="btn" title="toggle" data-toggle></button>
        </div>
      <% end %>
    </div>

    <div class="col-auto">
      <%= submit_tag 'Показать', name: nil, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>