<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-3">
    <h1 class="mb-0 mr-auto"><%= title('Брендирование') %></h1>
  </div>

  <%= render 'filters' %>

  <div class="d-flex justify-content-between">
    <div>
      <%== pagy_info(@pagy) %>
    </div>
    <div>
      <%= link_to 'Скачать .xlsx', admin_placements_path(params.to_unsafe_h.merge(format: :xlsx)), class: 'h4 mb-0 text-secondary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-5">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th class="text-center">Дата</th>
          <th>Направление</th>
          <th>Название</th>
          <th>Организация</th>
          <th>Регион</th>
          <th>Автор</th>
        </tr>
      </thead>
      <tbody>
        <% @placements.each do |placement| %>
          <tr>
            <td class="text-center"><%= placement.created_at.strftime('%d.%m.%Y') %></td>
            <td><%= placement.national_projects.map(&:short_name).join(', ') %></td>
            <td><%= link_to placement.title, placement %></td>
            <td><%= placement.user.organization&.name %></td>
            <td><%= (placement.all_federal_subjects? ? 'Вся Россия' : placement.federal_subjects.map(&:name).join(', ')) %></td>
            <td><%= placement.user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
</div>