<div class="modal fade" role="dialog" data-controller="modal" data-modal-backdrop-value="static">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <div class="modal-dialog" role="document">
      <div class="modal-content card card-border border-primary">
        <div class="card-body pt-6">
          <div class="px-3">
            <%= form_tag :policy_agreement, data: { controller: 'confirmation-form' }, remote: true do %>
              <p>В целях соблюдения законодательства РФ в <%= link_to "Политику обработки персональных данных", "https://srk.nationalpriority.ru/pages/personal-data-policy", target: "_blank" %> платформы СРК (Сбор и Распределение Контента) внесены изменения. Изменения связаны в том числе с использованием системы аналитики Google Analytics.</p>

              <p>Просим Вас ознакомиться с документом и подтвердить своё согласие на трансграничную передачу своих персональных данных при наступлении такой необходимости.</p>

              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" data-action="change->confirmation-form#confirmClicked" data-confirmation-form-target="confirmation">
                <label class="form-check-label" for="exampleCheck1">Даю согласие на трансграничную передачу своих персональных данных</label>
              </div>

              <div class="form-actions mt-5">
                <%= submit_tag 'OK', class: 'btn btn-primary btn-lg', disabled: true, data: { target: 'confirmation-form.submitButton' } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
