<div data-pjax-container>
  <%= render layout: 'press_releases/press_release' do %>
    <% @users.each do |user| %>
      <div class="d-flex align-items-center">
        <div class="mr-4 mb-4">
          <% if user.avatar.attached? && user.avatar.variable? %>
            <div class="avatar">
              <%= image_tag user.avatar.variant(resize_to_limit: [103, 103]), class: 'avatar-img rounded-circle' %>
            </div>
          <% else %>
            <div class="avatar">
              <div class="avatar-img border rounded-circle"></div>
            </div>
          <% end %>
        </div>
        <div class="mb-4">
          <div class="mb-2 text-secondary small"><%= user.organization&.name %></div>
          <%= [user.last_name, user.first_name].select(&:present?).join(' ').presence || user.email %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
