<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <div>
      <h1 class="mr-auto"><%= title('Отчёт по подключенным организациям') %></h1>
      <div><%== pagy_info(@pagy) %></div>
    </div>

    <div class="ml-auto align-self-end">
      <%= link_to 'Скачать .xlsx', admin_organizations_report_path(format: :xlsx), class: 'h4 mb-0 text-secondary' %>
    </div>
  </div>

  <div class="card card-border border-primary shadow mb-3">
    <table class="table table-sm table-bordered table-hover table-striped mb-0">
      <thead>
        <tr>
          <th rowspan="2"><%= sort_link @q, :name, Organization.human_attribute_name(:name) %></th>
          <th rowspan="2"><%= sort_link @q, :kind, Organization.human_attribute_name(:kind) %></th>
          <th rowspan="2"><%= sort_link @q, :federal_subject_name, FederalSubject.human_attribute_name(:name) %></th>
          <th colspan="2" class="text-center">Кол-во пользователей</th>
        </tr>
        <tr>
          <th class="text-center"><%= sort_link @q, :users_count, "Всего", default_order: :desc %></th>
          <th class="text-center"><%= sort_link @q, :confirmed_users_count, "Активированных", default_order: :desc %></th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td><%= organization.name %></td>
            <td><%= Organization.human_enum_name(:kinds, organization.kind) %></td>
            <td><%= organization.federal_subject&.name || 'Вся Россия' %></td>
            <td class="text-center"><%= organization.users_count %></td>
            <td class="text-center"><%= organization.confirmed_users_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
</div>