<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 text-secondary">Выберите список рассылки</h1>

          <%= form_tag press_release_mailings_path(@press_release), remote: true do %>
            <div class="mb-5">
              <% @mailing_lists.each do |mailing_list| %>
                <div class="form-check mb-3">
                  <%= check_box_tag 'mailing_list_ids[]', mailing_list.id, false, class: 'form-check-input', id: dom_id(mailing_list) %>
                  <label class="form-check-label" for="<%= dom_id(mailing_list) %>">
                    <%= mailing_list.name %>
                  </label>
                </div>
              <% end %>
            </div>

            <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex', data: { disable_with: 'Отправляю…' } do %>
              <span class="mr-2">Отправить</span>
              <span class="fe fe-arrow-right"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
