<div class="card-body pt-5">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="fe fe-x"></span>
  </button>

  <div class="px-3">
    <h1 class="mt-3 text-secondary">Инфоповод отправлен.</h1>
  </div>
</div>
