<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Отчёт по направлениям') %></h1>
  </div>

  <% if true %>
    <%= form_tag admin_national_projects_report_path, method: :get, class: 'my-4' do %>
      <div class="form-row">
        <div class="col-auto">
          <%= tag.div class: 'input-group input-group-lg', data: {
            controller: "flatpickr",
            flatpickr_wrap: true,
            #flatpickr_date_format: "d.m.Y H:i",
            flatpickr_alt_format: "d.m.Y",
            flatpickr_alt_input: true,
            flatpickr_mode: "range"
          } do %>
            <%= text_field_tag :period, "#{@starts_on} — #{@ends_on}", data: { input: '' }, class: 'form-control' %>

            <div class="input-group-append">
              <button type="button" class="btn" title="toggle" data-toggle></button>
            </div>
          <% end %>
        </div>

        <div class="col-auto">
          <%= submit_tag 'Показать', name: nil, class: 'btn btn-primary btn-lg' %>
        </div>

        <div class="ml-auto col-auto align-self-end">
          <%= link_to 'Скачать .xlsx', admin_national_projects_report_path(period: "#{@starts_on} — #{@ends_on}", format: :xlsx), class: 'h4 mb-0 text-secondary' %>
        </div>
      </div>
    <% end %>

    <div class="card card-border border-primary shadow mb-7">
      <table class="table table-sm table-bordered table-hover table-striped shadow">
        <thead>
          <tr>
            <th>Источник</th>
            <th>Направление</th>
            <th class="text-center">Всего</th>
            <% (@starts_on..@ends_on).each do |date| %>
              <th class="text-center"><%= date.strftime('%d.%m') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @national_projects_report.rows.each do |row| %>
            <tr class="<%= row.national_project_name.nil? ? 'table-secondary' : '' %>">
              <td><%= row.organization_name %></td>
              <td><%= row.national_project_name %></td>
              <td class="text-center font-weight-bold">
                <%= row.total %>
              </td>
              <% (@starts_on..@ends_on).each do |date| %>
                <td class="text-center">
                  <%= row.counters_by_day&.fetch(date, nil) %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="table-warning">
            <th colspan="2">Итого</th>
            <th class="text-center"><%= @national_projects_report.rows.sum(&:total) %></th>
            <% (@starts_on..@ends_on).each do |date| %>
              <th class="text-center">
                <%= @national_projects_report.rows.sum { |row| row.counters_by_day&.fetch(date, 0) || 0 } %>
              </th>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
  <% else %>
    Временно не работает :(
  <% end %>
</div>