<div id="impression" class="mt-5 mb-6">
  <div class="d-flex">
    <div class="d-flex flex-column">
      <%= render "press_releases/likes/likes" %>

      <% if policy(impression).create? %>
        <div>
          <div class="mb-1">Пожалуйста, оцените прочитанный материал от 1 до 10</div>

          <div class="d-flex">
            <% 1.upto(10).each do |i| %>
              <%= link_to press_release_impression_path(impression.press_release_id, impression: { score: i }), remote: true, method: :patch, class: "text-decoration-none position-relative" do %>
                <%= inline_svg_tag 'star.svg', class: "star #{'active' if impression.score.to_i >= i }", width: 32 %>
                <span class="position-absolute text-center w-100" style="top: 7px; margin: 0; left: 0; font-size: 10px; color: #fff;"><%= i %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>