<div class="container mt-5">
  <h1 class="mb-0 mr-auto"><%= title('FAQ: вопрос') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @faq_item] do |f| %>
        <%= f.input :question %>

        <%= f.input :answer do %>
          <%= f.rich_text_area :answer %>
        <% end %>

        <%= f.input :media_allowed %>
        <%= f.input :non_media_allowed %>

        <div class="form-group d-flex align-items-center">
          <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg' %>

          <% if @faq_item.persisted? && policy([:admin, @faq_item]).destroy? %>
            <%= link_to 'Удалить', [:admin, @faq_item], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'ml-5' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>