<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('FAQ') %></h1>

    <div class="btn-group">
      <%= link_to 'Добавить', new_admin_faq_item_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border border-primary">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th class='text-right'>#</th>
          <th>Вопрос</th>
          <th>Показывать<br>СМИ</th>
          <th>Показывать<br>не-СМИ</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @faq_items.each do |faq_item| %>
          <tr>
            <td class="text-right"><%= faq_item.position %></td>
            <td><%== faq_item.question %></td>
            <td>
              <% if faq_item.media_allowed? %>
                <span class="fe fe-check"></span>
              <% end %>
            </td>
            <td>
              <% if faq_item.non_media_allowed? %>
                <span class="fe fe-check"></span>
              <% end %>
            </td>

            <td class="text-center">
              <%= link_to [:admin, faq_item, :up], method: :patch, class: 'mx-4 text-decoration-none' do %>
                <span class="fe fe-arrow-up"></span>
              <% end %>

              <%= link_to [:admin, faq_item, :down], method: :patch, class: 'mx-4 text-decoration-none' do %>
                <span class="fe fe-arrow-down"></span>
              <% end %>

              <%= link_to [:edit, :admin, faq_item], class: 'mx-4 text-decoration-none' do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>