<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Удалённые пользователи') %></h1>
  </div>

  <div class="card card-border border-primary mb-10">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Время удаления</th>
          <th>Пользователь</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.discarded_at.strftime('%H:%M %d.%m.%Y') %></td>
            <td><%= user.organization&.name %></td>
            <td><%= [user.last_name, user.first_name].join(' ') %></td>
            <td><%= user.email %></td>
            <td class="text-center" style="white-space: nowrap;">
              <%= link_to 'восстановить', admin_deleted_user_path(user, user: { discarded_at: nil }), method: :patch, data: { confirm: "Вы уверены, что хотите восстановить пользователя #{user.email}?" } %>
              |
              <%= link_to 'удалить навсегда', admin_deleted_user_path(user), method: :delete, data: { confirm: "Вы уверены, что хотите удалить навсегда пользователя #{user.email}?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>