<tr id="<%= dom_id(press_release) %>">
  <td class="text-center">
    <%= image_tag multiple_national_projects_image_url(press_release.national_projects), width: 30, height: 30 %>

    <% if press_release.national_projects.size < 6 %>
      <div class="mt-2">
        <% press_release.national_projects.each do |national_project| %>
          <%= national_project.short_name %><br>
        <% end %>
      </div>
    <% end %>
  </td>
  <td class="text-center">
    <%= press_release.published_at.strftime('%d.%m.%y') %>
  </td>
  <td>
    <div class="d-flex">
      <div class="press_release_table--fire">
        <% if press_release.main_topic_id %>
          <%= image_tag 'fire.png' %><br>
        <% end %>

        <% if press_release.awarded? && policy(press_release).view_award? %>
          <%= image_tag 'award.png', class: 'w-100' %><br>
        <% end %>
      </div>
      <div>
        <div class="small text-secondary font-weight-light mb-1">
          <% if press_release.all_federal_subjects? %>
            Вся Россия
          <% else %>
            <% federal_subjects = press_release.federal_subjects.sort_by(&:name) %>

            <%= federal_subjects.first.name %>
            <% if federal_subjects.count > 1 %>
              <%= tag.span "и ещё #{federal_subjects.count - 1}", title: federal_subjects[1..-1].map(&:name).join("\n") %>
            <% end %>
          <% end %>
        </div>

        <%= link_to press_release_path(press_release), class: 'press_releases_list_link' do %>
          <% str1, str2 = truncate_two_strings(press_release.title, press_release.plain_text_content.remove(/\[.+?\]/).strip, 100) %>
          <%= str1 %>
          <% if str2.present? %>
            <span><%= str2 %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </td>
  <td class="px-3 text-center">
    <%= link_to 'Удалить из Избранного', profile_favourite_path(press_release.id), method: :delete, remote: true %>
  </td>
</tr>