<%= render layout: 'profiles/layout' do %>
  <% if @press_releases.any? %>
    <div class="press_releases_list">
      <table class="press_releases_table shadow">
        <thead>
          <tr>
            <th>Направление</th>
            <th>Создание</th>
            <th>Инфоповод</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'press_release_row', collection: @press_releases, as: :press_release %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div>Ваш список пуст. Добавляйте интересные новости в Избранное,<br>чтобы иметь к ним быстрый доступ через Личный кабинет.</div>
  <% end %>
<% end %>