<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('СМИ: отчет по активности') %></h1>
  </div>

  <%= form_tag admin_press_release_views_report_path, method: :get, class: 'my-4' do %>
    <div class="form-row">
      <div class="col-auto">
        <%= tag.div class: 'input-group input-group-lg', data: {
          controller: "flatpickr",
          flatpickr_wrap: true,
          #flatpickr_date_format: "d.m.Y H:i",
          flatpickr_alt_format: "d.m.Y",
          flatpickr_alt_input: true,
          flatpickr_mode: "range"
        } do %>
          <%= text_field_tag :period, "#{@starts_on} — #{@ends_on}", data: { input: '' }, class: 'form-control' %>

          <div class="input-group-append">
            <button type="button" class="btn" title="toggle" data-toggle></button>
          </div>
        <% end %>
      </div>

      <div class="col-auto">
        <%= select_tag :organization_kind_eq, options_for_select(Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), Organization.kinds[key]] }, params[:organization_kind_eq]), include_blank: 'Все типы огранизаций', class: 'form-control form-control-lg nowidth', data: {
          controller: 'selectpicker',
        } %>
      </div>

      <div class="col-auto">
        <%= select_tag :federal_subject_id_eq, options_from_collection_for_select(FederalSubject.order(:name), :id, :name, params[:federal_subject_id_eq]), include_blank: 'Все регионы',
        class: 'form-control form-control-lg nowidth',
        data: {
          controller: 'selectpicker',
          live_search: true,
          live_search_normalize: true,
          } %>
      </div>

      <div class="col-auto">
        <%= submit_tag 'Показать', name: nil, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>

  <div class="d-flex mb-4">
    <div>
      <h2 class="mb-0 font-weight-bold"><%= link_to 'График', admin_press_release_views_report_path(period: params[:period], organization_kind_eq: params[:organization_kind_eq], federal_subject_id_eq: params[:federal_subject_id_eq]), class: [
        'btn',
        'btn-lh-30',
        (current_page?([:admin, :press_release_views_report]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>

    <div class="ml-3">
      <h2 class="mb-0 font-weight-bold"><%= link_to 'Рейтинг пользователей', users_admin_press_release_views_report_path(period: params[:period], organization_kind_eq: params[:organization_kind_eq], federal_subject_id_eq: params[:federal_subject_id_eq]), class: [
        'btn',
        'btn-lh-30',
        (current_page?([:users, :admin, :press_release_views_report]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>

    <div class="ml-3">
      <h2 class="mb-0 font-weight-bold"><%= link_to 'Рейтинг инфоповодов', press_releases_admin_press_release_views_report_path(period: params[:period], organization_kind_eq: params[:organization_kind_eq], federal_subject_id_eq: params[:federal_subject_id_eq]), class: [
        'btn',
        'btn-lh-30',
        (current_page?([:press_releases, :admin, :press_release_views_report]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>
  </div>

  <%= yield %>
</div>