<table class="table table-bordered table-hover table-sm" id="table">
  <thead>
    <tr>
      <th>
        <%= link_to sort_link_title("Название", :name, @sort), params.to_unsafe_h.merge(sort_link_sort_params(:name, @sort, 'asc')), remote: true %>
      </th>
      <th class="text-right"><%= link_to sort_link_title("Кол-во просмотров", :activities_count, @sort), params.to_unsafe_h.merge(sort_link_sort_params(:activities_count, @sort, 'desc')), remote: true %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Всего</th>
      <th class="text-right"><%= @users.map(&:activities_count).sum %></th>
    </tr>
    <% @users.group_by { |user| user.organization&.federal_subject }.sort_by { |federal_subject, users|
      case @sort.keys.first
      when "name"
        federal_subject&.name.to_s
      else
        [users.map(&:activities_count).sum, federal_subject&.name.to_s]
      end
    }.yield_self { |arr|
      if @sort.values.first == "desc"
        arr.reverse
      else
        arr
      end
    }.each do |federal_subject, users| %>
      <tr>
        <td><%= link_to (federal_subject&.name.presence || 'Вся Россия'), '#', data: { toggle: 'collapse', target: "#federal_subject_#{federal_subject&.id}" }, class: 'text-decoration-none' %></td>
        <td class="text-right"><%= users.map(&:activities_count).sum %></td>
      </tr>

      <% users.group_by(&:organization).sort_by { |organization, users|
        case @sort.keys.first
        when "name"
          organization&.name.to_s
        else
          [users.map(&:activities_count).sum, organization&.name.to_s]
        end
        }.yield_self { |arr|
          if @sort.values.first == "desc"
            arr.reverse
          else
            arr
          end
        }.each do |organization, users| %>
        <tr class="table-tree--level-1 collapse" id="federal_subject_<%= federal_subject&.id %>">
          <td>
            <%= link_to '#', data: { toggle: 'collapse', target: "#organization_#{organization&.id}" }, class: 'text-decoration-none' do %>
              <% if organization %>
                <%= Organization.human_attribute_name("kinds.#{organization.kind}") %>:
                <%= organization.name %>
              <% else %>
                Без организации
              <% end %>
            <% end %>
          </td>
          <td class="text-right"><%= users.map(&:activities_count).sum %></td>
        </tr>

        <% users.sort_by { |user|
          case @sort.keys.first
          when "name"
            user.name
          else
            user.activities_count
          end
        }.yield_self { |arr|
          if @sort.values.first == "desc"
            arr.reverse
          else
            arr
          end
        }.each do |user| %>
          <tr class="table-tree--level-2 collapse" id="organization_<%= organization&.id %>">
            <td><%= link_to user.name, [:admin, user] %></td>
            <td class="text-right"><%= user.activities_count %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>