<%= render layout: 'layout' do %>
  <h4 class="mb-1">Рейтинг инфоповодов по просмотрам</h4>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered table-striped table-hover table-sm" data-controller="sortable-table">
      <thead>
        <tr>
          <th class="text-center"><%= sortable_table_sort_link "Дата публикации", column_index: 0, direction: "asc", value_type: "string" %></th>
          <th><%= sortable_table_sort_link "Название", column_index: 1, direction: "asc", value_type: "string" %></th>
          <th class="text-right"><%= sortable_table_sort_link "Кол-во просмотров", column_index: 2, active: true %></th>
        </tr>
      </thead>
      <tbody>
        <% @press_releases.each do |press_release| %>
          <tr>
            <td class="text-center" data-sortable-table-value="<%= press_release.published_at.strftime("%Y%m%d") %>">
              <%= press_release.published_at.strftime('%d.%m.%Y') %>
            </td>
            <td data-sortable-table-value="<%= press_release.title %>">
              <%= link_to press_release.title, press_release %>
            </td>
            <td class="text-right" data-sortable-table-value="<%= press_release.activities_count %>">
              <%= press_release.activities_count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
