<%= render layout: 'layout' do %>
  <div class="card card-border border-primary shadow mb-7">
    <div class="card-body">
      <%= line_chart @press_release_views_report, download: true %>
    </div>
    
    <div class="d-flex justify-content-center">
      <div class="mr-7">
        <h3>
          Кол-во просмотров
          <span class="small text-muted">за период</span>
        </h3>
      
        <div class="h1"><%= @activities.count %></div>
      </div>

      <div>
        <h3>
          Взято СМИ
          <span class="small text-muted mb-2">за период</span>
        </h3>
      
        <div class="h1"><%= @bookmarks.count %></div>
      </div>
    </div>
  </div>
<% end %>
