<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex border-bottom border-gray pb-2 mb-3">
      <h1 class="h3 mb-0 mr-auto"><%= title('Федеральный проект') %></h1>
    </div>

    <%= simple_form_for [:admin, @national_project, @federal_project] do |f| %>
      <%= f.input :name %>
      <%= f.input :available %>
      <hr>

      <div class="form-group d-flex">
        <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>
        <% if @federal_project.persisted? %>
          <%= link_to 'Удалить', [:admin, @federal_project], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>