<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex border-bottom border-gray pb-2 mb-3">
      <h1 class="h3 mb-0 mr-auto"><%= title(@federal_project.name) %></h1>
      <div class="text-nowrap">
        <% if policy(Measure).create? %>
          <%= link_to 'Добавить меру', [:new, :admin, @federal_project, :measure], class: 'btn btn-primary' %>
        <% end %>
        <% if policy(@federal_project).update? %>
          <%= link_to 'Редактировать федпроект', [:edit, :admin, @federal_project], class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>

    <table class="table table-bordered table-striped table-bordered">
      <% @measures.each do |measure| %>
        <tr>
          <td><%= link_to measure.name, [:edit, :admin, measure] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>