<table class="table table-bordered table-sm mb-0 table-hover" id="national_projects_list">
  <thead>
    <tr>
      <th>Направление</th>
      <th class="text-center">
        <%= link_to sort_link_title("За всё время", :total, national_projects_list.sort),  admin_dashboard_national_projects_list_path(national_projects_list.params.merge(sort_link_sort_params(:total, national_projects_list.sort, 'desc'))), remote: true %>
      </th>
      <th class="text-center">
        <%= link_to sort_link_title("За первый период", :period1, national_projects_list.sort), admin_dashboard_national_projects_list_path(national_projects_list.params.merge(sort_link_sort_params(:period1, national_projects_list.sort, 'desc'))), remote: true %>
      </th>
      <th class="text-center">
        <%= link_to sort_link_title("За второй период", :period2, national_projects_list.sort), admin_dashboard_national_projects_list_path(national_projects_list.params.merge(sort_link_sort_params(:period2, national_projects_list.sort, 'desc'))), remote: true %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% national_projects_list.rows.each do |row| %>
      <tr>
        <td><%= row.name %></td>
        <td class="text-center"><%= row.total %></td>
        <td class="text-center"><%= row.period1 %></td>
        <td class="text-center">
          <%= row.period2 %>

          <% if row.period1 && row.period2 %>
            <span>
              (<% if row.period2 > row.period1 %><span class="fe fe-arrow-up text-success"></span><% end %><%= row.period2 - row.period1 %>)
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
