<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Дублированные инфоповоды') %></h1>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for [:admin, @q] do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :created_at_gteq, label: 'Создан', required: false do %>
              <div class="row">
                <div class="col-sm-6">
                  <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                    <%= f.input_field :created_at_gteq, class: 'form-control', data: { input: '' } %>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                    </div>
                  <% end %>
                  <small class="form-text text-muted">начало периода</small>
                </div>
                <div class="col-sm-6">
                  <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true } do %>
                    <%= f.input_field :created_at_lteq, class: 'form-control', data: { input: '' } %>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                    </div>
                  <% end %>
                  <small class="form-text text-muted">конец периода</small>
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-sm-6">
            <%= f.input :published_at_gteq, label: 'Опубликован', required: false do %>
              <div class="row">
                <div class="col-sm-6">
                  <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                    <%= f.input_field :published_at_gteq, class: 'form-control', data: { input: '' } %>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                    </div>
                  <% end %>
                  <small class="form-text text-muted">начало периода</small>
                </div>
                <div class="col-sm-6">
                  <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true } do %>
                    <%= f.input_field :published_at_lteq, class: 'form-control', data: { input: '' } %>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                    </div>
                  <% end %>
                  <small class="form-text text-muted">конец периода</small>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%== pagy_info(@pagy) %>
      </div>
    </div>

    <div class="card card-border border-primary">
      <table class="table table-bordered table-bordered">
        <thead>
          <tr>
            <th colspan="2">Оригинал</th>
            <th>Копии</th>
          </tr>
          <tr>
            <th class="text-center"><%= sort_link @q, :created_at, 'Создан', default_order: :desc %></th>
            <th>Инфоповод</th>
          </tr>
        </thead>
        <tbody>
          <% @original_press_releases.each do |original_press_release| %>
            <tr>
              <td class="text-center">
                <%= original_press_release.created_at.strftime('%d.%m.%Y') %><br>
                <%= original_press_release.created_at.strftime('%H:%M') %>
              </td>
              <td width="50%">
                <div class="text-muted small">
                  <%= original_press_release.national_projects.map(&:name).join(', ') %>
                  |
                  <%= original_press_release.all_federal_subjects? ? 'Вся Россия' : original_press_release.federal_subjects.sort_by(&:name).map(&:name).join(', ') %>
                </div>

                <div class="mt-1">
                  <%= [original_press_release.user.name, original_press_release.user.email, original_press_release.user.contact_phone].select(&:present?).join(' | ') %>
                </div>

                <div class="mt-3"><%= link_to original_press_release.title, original_press_release %></div>
              </td>

              <td width="50%">
                <% original_press_release.kept75_duplicate_press_releases.each_with_index do |duplicated_press_release, index| %>
                  <div class="<%= 'mt-4 pt-4 border-top' if index > 0 %>">
                    <div class="text-muted small">
                      <%= duplicated_press_release.created_at.strftime('%d.%m.%Y %H:%M') %><br>

                      <%= duplicated_press_release.national_projects.map(&:name).join(', ') %>
                      |
                      <%= duplicated_press_release.all_federal_subjects? ? 'Вся Россия' : duplicated_press_release.federal_subjects.sort_by(&:name).map(&:name).join(', ') %>
                    </div>

                    <div class="mt-1">
                      <%= [duplicated_press_release.user.name, duplicated_press_release.user.email, duplicated_press_release.user.contact_phone].select(&:present?).join(' | ') %>
                    </div>

                    <div class="mt-3"><%= link_to duplicated_press_release.title, duplicated_press_release %></div>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <%== pagy_nav(@pagy) %>
</div>