<div class="container mt-5 mb-10">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Статистика по дублям') %></h1>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered mb-0">
      <tbody>
        <tr>
          <th>Всего инфоповодов</td>
          <th class="text-right">
            <%= PressRelease.count %>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered mb-0">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <% @percentages.each do |percentage| %>
            <th class="text-center"><%= number_to_percentage(percentage, strip_insignificant_zeros: true) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Оригинальных инфоповодов</td>
          <% @percentages.each do |percentage| %>
            <td class="text-center">
              <%= PressRelease.left_joins(:"origin#{percentage}_press_release").where(press_release_origins: { press_release_id: nil }).count %>
            </td>
          <% end %>
        </tr>

        <tr>
          <th>Дублей</td>
          <% @percentages.each do |percentage| %>
            <td class="text-center">
              <%= PressRelease.joins(:"origin#{percentage}_press_release").count %>
            </td>
          <% end %>
        </tr>

        <tr>
          <th>Максимальное количество дублей на один инфоповод</td>
          <% @percentages.each do |percentage| %>
            <td class="text-center">
              <%= PressReleaseOrigin.where(percentage: percentage).group(:original_press_release_id).select('COUNT(press_release_id) as c').order(c: 'DESC').first&.c %>
            </td>
          <% end %>
        </tr>

        <tr>
          <th>Удалённых дублей</td>
          <% @percentages.each do |percentage| %>
            <td class="text-center">
              <%= PressRelease.with_discarded.discarded.joins(:"origin#{percentage}_press_release").count %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="text-primary">Топ 10 месяцев по дублям</h3>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered mb-0">
      <tbody>
        <% PressRelease.joins(:origin90_press_release).group_by_month(:created_at).count.sort_by { |month, count| count }.reverse.first(10).each do |month, count| %>
          <tr>
            <th><%= t("months.#{month.strftime('%B')}") %> <%= month.year %></td>
            <td class="text-center">
              <%= count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h3 class="text-primary">Топ 10 организаций по дублям</h3>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered mb-0">
      <tbody>
        <% Organization.joins(users: { press_releases: :origin90_press_release }).group(:id).select('name, COUNT(press_releases.id) AS _press_releases_count').order(_press_releases_count: 'DESC').first(10).each do |organization| %>
          <tr>
            <th><%= organization.name %></td>
            <td class="text-center">
              <%= organization._press_releases_count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h3 class="text-primary">Топ 10 регионов организаций по дублям</h3>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered mb-0">
      <tbody>
        <% FederalSubject.joins(organizations: { users: { press_releases: :origin90_press_release }}).group(:id).select('federal_subjects.name, COUNT(press_releases.id) AS _press_releases_count').order(_press_releases_count: 'DESC').first(10).each do |federal_subject| %>
          <tr>
            <th><%= federal_subject.name %></td>
            <td class="text-center">
              <%= federal_subject._press_releases_count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h3 class="text-primary">Топ 10 пользователей по дублям</h3>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered mb-0">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Организация</th>
          <th>Кол-во</th>
        </tr>
      </thead>
      <tbody>
        <% User.joins(press_releases: :origin90_press_release).group(:id).select('users.*, COUNT(press_releases.id) AS _press_releases_count').order(_press_releases_count: 'DESC').preload(:organization).first(10).each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.organization&.name %></td>
            <td class="text-center">
              <%= user._press_releases_count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <h3 class="text-primary">Динамика по месяцам</h3>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered mb-0">
      <tbody>
        <% PressRelease.joins(:origin90_press_release).group_by_month(:created_at).count.sort_by { |month, count| month }.each do |month, count| %>
          <tr>
            <th><%= t("months.#{month.strftime('%B')}") %> <%= month.year %></td>
            <td class="text-center">
              <%= count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>