<%= simple_form_for [:admin, @message] do |f| %>
  <% if @message.new_record? %>
    <%= f.input :addressee, as: :select, collection: Message.addressees.map { |key, value| [Message.human_attribute_name("addressees.#{key}"), key] }, required: false, include_blank: 'Все', input_html: {
      class: 'border',
      data: {
        controller: 'selectpicker',
        width: '100%',
        none_selected_text: ''
      }
    } %>
  <% end %>

  <% if @message.new_record? %>
    <%= f.association :national_projects, collection: NationalProject.order(:name), label_method: :short_name, required: false, input_html: {
      class: 'border',
      data: {
        controller: 'selectpicker',
        live_search: true,
        live_search_normalize: true,
        width: '100%',
        none_selected_text: 'Не выбран',
        size: 10
      }
    } %>
  <% end %>

  <% if @message.new_record? %>
    <%= f.association :organizations, {
      collection: Organization.order(:name).map { |organization| [organization.name, organization.id, data: { kind: organization.kind }] },
      required: false,
      wrapper_html: {
        data: {
          controller: 'organization-with-kinds-multiselect',
          'organization-with-kinds-multiselect-kinds' => Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), key] }
        }
      },
      input_html: {
        class: 'border',
        data: {
          controller: 'selectpicker',
          target: 'organization-with-kinds-multiselect.select',
          live_search: true,
          live_search_normalize: true,
          width: '100%',
          none_selected_text: 'Все',
          size: 10,
          actions_box: true,
          selected_text_format: 'count > 1',
        }
      }
    } %>
  <% end %>

  <%= f.input :subject, required: false %>

  <%= f.input :content, required: false do %>
    <%= f.rich_text_area :content, placeholder: 'Вставьте или напечатайте текст...', style: 'min-height: 10rem;' %>
  <% end %>

  <% if @message.new_record? %>
    <div class="form-group">
      <div class="form-check">
        <%= f.check_box :use_late_published_at, class: 'form-check-input' %>
        <%= f.label :use_late_published_at, 'Отложенная публикация' %>
      </div>

      <%= tag.div class: 'input-group', data: {
        controller: "flatpickr",
        flatpickr_wrap: true,
        #flatpickr_date_format: "d.m.Y H:i",
        flatpickr_alt_format: "d.m.Y H:i",
        flatpickr_alt_input: true,
        flatpickr_enable_time: true
      } do %>
        <%= f.input_field :late_published_at, as: :string, placeholder: 'Укажите дату и время…', data: { input: '' }, class: 'form-control' %>

        <div class="input-group-append">
          <button type="button" class="btn" title="toggle" data-toggle></button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group d-flex">
    <% if @message.new_record? %>
      <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex', data: { disable_with: 'Отправляю…' } do %>
        <span class="mr-2">Отправить</span>
        <span class="fe fe-arrow-right"></span>
      <% end %>
    <% else %>
      <%= f.submit 'Сохранить', class: 'btn btn-lg btn-primary mr-auto' %>
      <% if policy([:admin, @message]).destroy? %>
        <%= link_to 'Удалить', [:admin, @message], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
      <% end %>
    <% end %>
  </div>
<% end %>
