<div class="container mt-5">
  <h1 class="mb-0 mr-auto"><%= title('Уведомление') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>