<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Уведомления') %></h1>

    <div class="ml-auto">
      <div class="btn-group">
        <%= link_to 'Добавить', [:new, :admin, :message], class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <%== pagy_info(@pagy) %>

  <div class="card card-border border-primary shadow">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th>Создано</th>
          <th>Автор</th>
          <th>Название</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.created_at.strftime('%d.%m.%Y %H:%M') %></td>
            <td><%= message.sender.name %></td>
            <td><%= link_to message.subject, [:admin, message] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%== pagy_nav(@pagy) %>
  </div>
</div>