<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title(@message.subject) %></h1>

    <% if policy([:admin, @message]).update? %>
      <%= link_to 'редактировать', [:edit, :admin, @message] %>
    <% end %>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <div class="card-body">
      <%== @message.content %>
    </div>
  </div>

  <h2 class="mb-0">Получатели</h2>

  <%== pagy_info(@message_deliveries_pagy) %>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th>Организация</th>
          <th>Имя</th>
          <th>Время прочтения</th>
        </tr>
      </thead>
      <tbody>
        <% @message_deliveries.each do |message_delivery| %>
          <tr>
            <td><%= message_delivery.user.organization&.name %></td>
            <td><%= [message_delivery.user.last_name, message_delivery.user.first_name].join(' ').presence || message_delivery.user.email %></td>
            <td><%= message_delivery.read_at&.strftime('%d.%m.%Y %H:%M') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%== pagy_nav(@message_deliveries_pagy) %>
  </div>
</div>