<div class="row mb-10">
  <div class="col-sm-3 mx-auto">
    <h1 class="text-primary text-center mb-7"><%= title(t(".change_your_password")) %></h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%#= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%#= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password,
                    label: t(".new_password"),
                    required: false,
                    autofocus: true,
                    hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: t(".confirm_new_password"),
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(".change_my_password"), class: 'btn btn-lg btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
