<div class="row mb-10">
  <div class="col-sm-3 mx-auto">
    <h1 class="text-primary text-center mb-7"><%= title(t(".forgot_your_password")) %></h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <%#= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(".send_me_reset_password_instructions"), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>
  </div>
</div>


