<%
title('Добавить брендирование')
%>

<div class="container">
  <h1 class="text-muted mb-2">Добавить <span class="text-primary">брендирование</span></h1>

  <div class="row">
    <div class="col-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body">
          <%= simple_form_for @placement, data: { controller: 'press-release-form' } do |f| %>
            <% if f.object.errors.full_messages.any? %>
              <div class="alert alert-primary mb-4">
                <% f.object.errors.full_messages.each do |msg| %>
                  <div><%= msg %></div>
                <% end %>
              </div>
            <% end %>

            <%= f.association :national_projects, {
              required: false,
              include_blank: false,
              collection: NationalProject.order(:short_name),
              label_method: :short_name,
              input_html: {
                data: {
                  controller: 'selectpicker',
                  size: false,
                  none_selected_text: '',
                  actions_box: true,
                  selected_text_format: 'count > 3'
                }
              }
            } %>

            <%= f.association :federal_subjects, {
              required: false,
              include_blank: false,
              collection: FederalSubject.order(:name),
              input_html: {
                data: {
                  controller: 'selectpicker',
                  live_search: true,
                  live_search_normalize: true,
                  none_selected_text: '',
                  actions_box: true,
                  selected_text_format: 'count > 3'
                }
              }
            } %>

            <%= f.input :title, required: false %>

            <%= f.input :content do %>
              <%= f.rich_text_area :content, placeholder: 'Вставьте или напечатайте текст...', style: 'min-height: 25rem;', data: { controller: 'trix-without-attachments' } %>
            <% end %>

            <%= f.input :images, required: false do %>
              <% if f.object.images.attached? %>
                <div class="row mb-5">
                  <% f.object.images.each do |image| %>
                    <div class="col-sm-3 d-flex flex-column justify-content-end" data-controller="press-release-form-image">
                      <%= f.hidden_field :images, multiple: true, value: image.signed_id %>

                      <div class="position-relative text-center small text-secondary mb-4">
                        <% if image.image? %>
                          <%= image_tag image, class: 'w-100' %>
                        <% end %>
                        <%= link_to image.filename, image, class: 'stretched-link' %>
                      </div>

                      <div class="text-center">
                        <%= button_tag 'удалить', type: :button, class: 'btn btn-outline-primary btn-sm', data: { action: 'press-release-form-image#delete' } %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <%= f.file_field :images, multiple: true, direct_upload: true, class: 'form-control-file', data: { target: 'press-release-form.filesField' } %>
              <small class="form-text text-muted">Размер файла до 100мб</small>
            <% end %>

            <div class="mt-5 form-group d-flex">
              <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg mr-auto d-flex' do %>
                <span class="mr-2">Сохранить</span>
                <span class="fe fe-arrow-right"></span>
              <% end %>

              <% if f.object.persisted? && policy(f.object).destroy? %>
                <%= link_to 'Удалить', f.object, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>