<div class="container" id="content">
  <h1 class="mb-1 text-primary">Брендирование</h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body px-10">
      <div class="d-flex justify-content-end">
        <% if policy(@placement).convert_to_press_release? %>
          <div class="ml-7">
            <%= link_to 'Перенести в инфоповоды', placement_press_release_conversion_path(@placement), method: :post, data: { confirm: 'Вы уверены?' } %>
          </div>
        <% end %>

        <% if policy(@placement).update? %>
          <div class="ml-7">
            <%= link_to 'Редактировать', edit_placement_path(@placement) %>
          </div>
        <% end %>
      </div>

      <h2 class="mt-7 mb-2"><%= title(@placement.title) %></h2>

      <%= @placement.content %>

      <div class="row mt-5">
        <% @placement.images.each do |image| %>
          <div class="col-sm-3 mb-6">
            <div class="border h-100 d-flex flex-column justify-content-center">
              <% if image.variable? %>
                <%= link_to image do %>
                  <%= image_tag image.variant(resize_to_limit: [500, 282]), class: 'w-100' %>
                <% end %>
              <% else %>
                <p class="text-center small text-secondary"><%= link_to image.filename, image %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>