<div class="d-flex justify-content-center mb-10">
  <div>
    <h1 class="text-center mb-3">
      Ваша заявка <span class="text-primary">принята</span>
    </h1>
    <p class="h4 text-secondary text-center mb-7">Через несколько минут Вам придет<br />подтверждение о регистрации в системе.</p>
  </div>
</div>

