<div class="d-flex justify-content-center mb-10">
  <div>
    <h1 class="text-center mb-3">
      Для заявки на подключение<br>
      к системе заполните <span class="text-primary">анкету</span>
    </h1>
    <p class="h4 text-secondary text-center mb-7">Это займет всего несколько минут</p>

    <%= simple_form_for @registration, data: { controller: 'registration confirmation-form' } do |f| %>
      <div class="form-inputs">
        <%= f.input :organization_name, label: 'Название организации', required: false, wrapper_html: {
          class: 'position-relative',
          data: {
            controller: 'autocomplete',
            autocomplete_url_value: organizations_registrations_path
          }
        } do %>
          <%= f.input_field :organization_name, class: 'form-control', data: { target: 'autocomplete.input' } %>
          <div class="dropdown-menu show" data-target="autocomplete.results"></div>
        <% end %>

        <%= f.input :kind, as: :select, collection: Registration.kinds.map { |key, value| [Registration.human_attribute_name("kinds.#{key}"), key] }, label: 'Вид деятельности (выберите из выпадающего списка)', required: false, input_html: {
          data: {
            controller: 'selectpicker',
            none_selected_text: '',
            target: 'registration.kindSelect',
            action: 'registration#updateMediaFields'
          }
        } %>

        <%= f.association :federal_subject, collection: FederalSubject.order(:name), label: 'Регион (выберите из выпадающего списка)', required: false, input_html: {
          data: {
            controller: 'selectpicker',
            none_selected_text: '',
            live_search: true,
            live_search_normalize: true,
            size: 20
          }
        } %>

        <div class="row">
          <div class="col">
            <%= f.input :first_name, required: false %>
          </div>
          <div class="col">
            <%= f.input :last_name, required: false %>
          </div>
        </div>

        <%= f.input :email, label: 'Ваш E-mail' %>
        <%= f.input :contact_phone, label: 'Ваш телефон', required: false, input_html: { data: { controller: 'phone-validator' }, placeholder: '+7 (___) ___-____'} %>
        <%= f.input :contact_position, min_max: true, required: false %>

        <%= f.input :website, wrapper_html: {
          class: (f.object.kind != 'media' ? 'd-none' : ''),
          data: { target: 'registration.websiteWrapper' }
        } %>

        <%= f.input :media_subscribers, wrapper_html: {
          class: (f.object.kind != 'media' ? 'd-none' : ''),
          data: { target: 'registration.mediaSubscribersWrapper' }
        } %>
      </div>

      <%= f.input :password,
                  required: false,
                  hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" data-action="confirmation-form#confirmClicked" data-confirmation-form-target="confirmation">
        <label class="form-check-label" for="exampleCheck1">
          Я <%= link_to 'согласен', page_url('user-agreement'), target: '_blank' %> с <%= link_to 'условиями использования', page_url('personal-data-policy'), target: '_blank' %> и даю <%= link_to page_url('personal-data-agreement'), target: '_blank' do %>
          разрешение на обработку<br>
          <% end %>
          персональных данных
        </label>
      </div>
      
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck3" data-action="confirmation-form#confirmClicked" data-confirmation-form-target="confirmation">
        <label class="form-check-label" for="exampleCheck3">
          Выражаю согласие на трансграничную передачу своих персональных<br>данных
        </label>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck2" data-action="confirmation-form#confirmClicked"data-confirmation-form-target="confirmation">
        <label class="form-check-label" for="exampleCheck2">Я подтверждаю, что введенные данные являются достоверными</label>
      </div>

      <div class="form-actions mt-5">
        <%= f.button :submit, 'Отправить заявку', class: 'btn btn-block btn-primary btn-lg', disabled: true, data: { target: 'confirmation-form.submitButton' } %>
      </div>

      <div class="row" style="margin-top: 8px;">
        <div class="text-left col-md-6">
          <%= link_to 'Вернуться на вход', '/users/sign_in' %>
        </div>

        <div class="text-right col-md-6">
          <%= link_to 'Нужна помощь?', 'mailto:support.srk@nationalpriority.ru' %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script type="text/javascript">
  $(document).ready(function() {
    console.log('--dev---');

    $('#registration_first_name').bind("change keyup input click", function() {if (this.value.match(/[^а-яА-Яa-zA-Z\s]/g)) {this.value = this.value.replace(/[^а-яА-Яa-zA-Z\s]/g, '');}});

    $('#registration_last_name').bind("change keyup input click", function() {if (this.value.match(/[^а-яА-Яa-zA-Z\s]/g)) {this.value = this.value.replace(/[^а-яА-Яa-zA-Z\s]/g, '');}});

    $('#registration_contact_position').bind("change keyup input click", function() {if (this.value.match(/[^а-яА-Яa-zA-Z\s]/g)) {this.value = this.value.replace(/[^а-яА-Яa-zA-Z\s]/g, '');}});

  });
</script>

