<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Отправки дайджеста СМИ') %></h1>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <div class="card-body">
      <h3>Загрузить выгрузку из SendPulse</h3>
      <%= form_tag nil, multipart: true do %>
        <div class="form-group">
          <%= file_field_tag :file, class: 'form-control-file' %>
        </div>
        <%= submit_tag 'Загрузить', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <%== pagy_info(@pagy) %>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered mb-0">
      <thead>
        <tr>
          <th>Дата</th>
          <th>E-mail</th>
          <th>Доставлено</th>
          <th>Открыто</th>
          <th>Переход по ссылке</th>
        </tr>
      </thead>

      <tbody>
        <% @media_digest_deliveries.each do |media_digest_delivery| %>
          <tr>
            <td><%= media_digest_delivery.created_at %></td>
            <td><%= media_digest_delivery.recipient %></td>
            <td><%= media_digest_delivery.delivered_at %></td>
            <td><%= media_digest_delivery.opened_at %></td>
            <td><%= media_digest_delivery.clicked_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%== pagy_nav(@pagy) %>
</div>