<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="text-primary mb-0"><%= title('Как работает система СРК?
') %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body px-8">
          <div class="d-flex mb-6 align-items-center">
            <% @tutorials.each do |tutorial| %>
              <div class="mr-6">
                <h2 class="mb-0 font-weight-bold"><%= link_to tutorial.name, tutorial, class: [
                  'btn',
                  'btn-lh-30',
                  (current_page?(tutorial_path(tutorial)) ? 'btn-primary' : 'btn-outline-primary')
                ], data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h2>
              </div>
            <% end %>
          </div>

          <%= @tutorial.content %>
        </div>
      </div>
    </div>
  </div>
</div>