<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 mb-6 text-secondary">Возникли проблемы?</h1>

          <p class="font-weight-light mb-7" style="font-size: 15px;">Выберите удобный способ их решить.</p>

          <div class="row">
            <div class="col-sm-4">
              <%= link_to faq_path do %>
                <%= image_tag 'help/faq.png' %>
              <% end %>

              <div class="text-primary m-3" style="font-size: 15px;">
                Часто задаваемые <br>
                вопросы
              </div>
            </div>

            <% if current_user.has_ability?(:show_help_telegram) %>
              <div class="col-sm-4">
                <%= link_to 'https://t.me/joinchat/kqixIU_8xKhlNTE6', target: '_blank' do %>
                  <%= image_tag 'help/telegram.png' %>
                <% end %>

                <div class="text-primary m-3" style="font-size: 15px;">
                  Перейти в чат Telegram
                </div>
              </div>
            <% end %>

            <div class="col-sm-4">
              <%= link_to new_support_request_path(email: current_user.email), remote: true do %>
                <%= image_tag 'help/email.png' %>
              <% end %>

              <div class="text-primary m-3" style="font-size: 15px;">
                Получить обратную связь
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
