<%= render 'application/search_and_help' %>

<div class="container">
  <h1 class="text-primary mb-0"><%= title('FAQ') %></h1>

  <div class="row mb-11">
    <div class="col-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body pt-0 pb-7 accordion" id="accordion">
          <% @faq_items.each do |faq_item| %>
            <div class="py-5 border-bottom position-relative" style="border-bottom-color: rgba(247, 52, 73, 0.18) !important;">

              <div><%= link_to faq_item.question, '#', class: 'font-weight-normal text-decoration-none mb-0 faq_question', data: {
                toggle: 'collapse',
                target: "##{dom_id(faq_item)}",
              }, style: 'font-size: 15px;' %></div>

              <%= tag.div class: 'collapse', data: { parent: '#accordion' }, id: dom_id(faq_item) do %>
                <div class="pt-4" style="font-size: 15px; font-weight: 300;">
                  <%== faq_item.answer %>
                </div>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>