<%= simple_form_for [:admin, rating_month, federal_subject_rating_value] do |f| %>
  <% if f.object.errors.full_messages.any? %>
    <div class="alert alert-primary mb-4">
      <% f.object.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.association :federal_subject, required: false, collection: FederalSubject.order(:name), input_html: {
      data: {
        controller: "select2",
      }
    } %>

    <div class="form-row">
      <div class="col-3">
        <%= f.input :press_releases_count, as: :string, required: false, input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>

      <div class="col-3">
        <%= f.input :press_releases_value, as: :string, required: false, input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>

      <div class="col-3">
        <%= f.input :press_releases_value_with_nullified, as: :string, required: false, input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>

      <div class="col-3">
        <%= f.input :value_with_returns, as: :string, required: false, input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-3">
      <%= f.input :quality, required: false do %>
        <div class="input-group">
          <%= f.input_field :quality, class: "form-control" %>

          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <fieldset class="mt-3">
    <legend>Дополнительные баллы</legend>

    <div class="form-row">
      <div class="col-4">
        <%= f.input :regional_media_links_count, as: :string, required: false, hint: "x#{Rating::FederalSubjectValuesCalculator::REGIONAL_MEDIA_REPOST_VALUE}", input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>

      <div class="col-4">
        <%= f.input :federal_media_links_count, as: :string, required: false, hint: "x#{Rating::FederalSubjectValuesCalculator::FEDERAL_MEDIA_REPOST_VALUE}", input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>

      <div class="col-4">
        <%= f.input :awarded_count, as: :string, required: false, hint: "x#{Rating::FederalSubjectValuesCalculator::AWARD_VALUE}", input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-4">
        <%= f.input :likeness, as: :string, required: false, input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>

      <div class="col-4">
        <%= f.input :activity_rate, as: :string, required: false, hint: "x#{Rating::FederalSubjectValuesCalculator::ACTIVITY_VALUE_RANGE}", input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>
    </div>
  </fieldset>

  <fieldset class="mt-3">
    <legend><%= FederalSubjectRatingValue.human_attribute_name(:total_value) %></legend>
    <div class="form-row">
      <div class="col-3">
        <%= f.input :total_value, label: false, as: :string, required: false, input_html: { readonly: '', style: "background-color: #F1F1F1" } %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions d-flex mt-5 mb-8">
    <div>
      <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>
    </div>

    <div class="ml-auto">
      <% if f.object.persisted? %>
        <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
      <% end %>
    </div>
  </div>

  <script>
    (function() {
      const updateValues = function() {
        const federalSubjectId = $('select[name="federal_subject_rating_value[federal_subject_id]"]').val()
        const quality = $('input[name="federal_subject_rating_value[quality]"]').val()

        $.ajax({
          url: "<%= form_admin_rating_month_federal_subject_rating_values_path(federal_subject_rating_value.rating_month) %>",
          type: "GET",
          data: {
            calculator: {
              federal_subject_id: federalSubjectId,
              quality: quality,
            }
          }
        })
      }

      $('select[name="federal_subject_rating_value[federal_subject_id]"]').change(function(e) {
        updateValues()
      })
      $('input[name="federal_subject_rating_value[quality]"]').on("change keyup", function(e) {
        updateValues()
      })
    })()
  </script>
<% end %>