<%= simple_form_for @support_request, remote: true do |f| %>
  <%= hidden_field_tag :email, params[:email] %>
  <%= f.input :subject, placeholder: 'Чем можем помочь?', required: false %>
  <%= f.input :body, as: :text, required: false, placeholder: 'Введите текст обращения...', input_html: { rows: 10 } %>

  <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex' do %>
    <span class="mr-2">Отправить</span>
    <span class="fe fe-arrow-right"></span>
  <% end %>
<% end %>
