<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 text-secondary">Обращение в <span class="text-primary">поддержку</span></h1>

          <p class="font-weight-light" style="font-size: 15px;">Мы постараемся ответить на ваш вопрос как можно быстрее. Обработка обращения может занять до 24 часов.</p>
          
          <div class="modal-form">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
