<div class="container mt-5 mb-10">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Отчёт по направлениям для аналитиков') %></h1>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for @q, url: admin_national_projects_stats_path do |f| %>
        <%= f.input :created_at_gteq, label: 'Дата/время создания инфоповодов', required: false do %>
          <div class="row">
            <div class="col-sm-6">
              <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                <%= f.input_field :created_at_gteq, class: 'form-control', data: { input: '' } %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                </div>
              <% end %>
              <small class="form-text text-muted">начало периода</small>
            </div>
            <div class="col-sm-6">
              <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true } do %>
                <%= f.input_field :created_at_lteq, class: 'form-control', data: { input: '' } %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                </div>
              <% end %>
              <small class="form-text text-muted">конец периода</small>
            </div>
          </div>
        <% end %>

        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class="card my-5">
    <%= bar_chart @national_projects_chart, height: "#{@national_projects.size * 50}px", library: { plugins: { datalabels: { align: 'center' }}} %>
  </div>

  <%= link_to 'Скачать в .xlsx', admin_national_projects_stats_path(format: :xlsx) %>

  <div class="card card-border border-primary">
    <table class="table table-bordered table-sm table-striped table-hover" data-controller="sortable-table">
      <thead>
        <tr>
          <th><%= sortable_table_sort_link("Направление", column_index: 0, direction: "asc", value_type: "string", active: true) %></th>
          <th class="text-right"><%= sortable_table_sort_link("Кол-во загруженных инфоповодов", column_index: 1) %></th>
          <th class="text-right"><%= sortable_table_sort_link("Кол-во инфоповодов, взятых СМИ", column_index: 2) %></th>
          <th class="text-right"><%= sortable_table_sort_link("Кол-во опубликованных материалов", column_index: 3) %></th>
        </tr>
      </thead>

      <tbody>
        <% @national_projects.each do |national_project| %>
          <tr>
            <td data-sortable-table-value="<%= national_project.short_name %>"><%= national_project.short_name %></td>

            <td class="text-right" data-sortable-table-value="<%= @press_releases_counts_hash.fetch(national_project.id, 0) %>">
              <%= @press_releases_counts_hash.fetch(national_project.id, 0) %>
              (<%= number_to_percentage(@press_releases_counts_hash.fetch(national_project.id, 0).to_f / @press_releases_counts_hash.values.sum * 100, precision: 0) %>)
            </td>

            <td class="text-right" data-sortable-table-value="<%= @bookmarked_press_releases_counts_hash.fetch(national_project.id, 0) %>">
              <%= @bookmarked_press_releases_counts_hash.fetch(national_project.id, 0) %>
              (<%= number_to_percentage(@bookmarked_press_releases_counts_hash.fetch(national_project.id, 0).to_f / @bookmarked_press_releases_counts_hash.values.sum * 100, precision: 0) %>)
            </td>

            <td class="text-right" data-sortable-table-value="<%= @reposts_counts_hash.fetch(national_project.id, 0) %>">
              <%= @reposts_counts_hash.fetch(national_project.id, 0) %>
              (<%= number_to_percentage(@reposts_counts_hash.fetch(national_project.id, 0).to_f / @reposts_counts_hash.values.sum * 100, precision: 0) %>)
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
