<% if @press_releases.any? %>
  <% @press_releases.each do |press_release| %>
    <div role="option" class="dropdown-item" data-autocomplete-value="<%= press_release.id %>">
      <%= press_release.name %>
    </div>
  <% end %>
<% else %>
  <div role="option" class="dropdown-item text-danger" aria-disabled="true">
    По запросу ничего не найдено.
  </div>
<% end %>

