<div class="container mt-8">
  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0 mr-auto">Теги</h2>

    <div class="btn-group">
      <%= link_to 'Добавить', [:new, :admin, :tag], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for [:admin, @q] do |f| %>
        <%= f.input :national_projects_id_eq, as: :select, collection: NationalProject.order(:name), required: false, input_html: { data: { controller: 'selectpicker' }}, label: 'Направление', include_blank: 'Все направления' %>
        <%= f.input :name_cont, label: 'Название тега', required: false %>
        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th><%= sort_link @q, :name, Tag.human_attribute_name(:name) %></th>
          <th><%= sort_link @q, :national_projects_name, Tag.human_attribute_name(:national_projects) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name %></td>
            <td><%= tag.national_projects.sort_by(&:name).map(&:name).join(', ') %></td>
            <td class="text-center">
              <%= link_to [:edit, :admin, tag] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>