<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="text-primary mb-0"><%= title(@page.name) %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body px-8">
          <%= @page.content %>

          <div style="display: none">2020 test (*dev)</div>
        </div>
      </div>
    </div>
  </div>
</div>