<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 text-secondary">Выберите главную тему</h1>

          <%= form_for @press_release, url: press_release_main_topic_path(@press_release), method: :patch, remote: true do |f| %>
            <div class="mb-5">
              <div class="form-check mb-3">
                <%= f.radio_button :main_topic_id, '', class: 'form-check-input', id: 'main_topic_nil' %>
                <label class="form-check-label" for="main_topic_nil">
                  Нет главной темы
                </label>
              </div>

              <% @main_topics.each do |main_topic| %>
                <div class="form-check mb-3">
                  <%= f.radio_button :main_topic_id, main_topic.id, class: 'form-check-input', id: dom_id(main_topic) %>
                  <label class="form-check-label" for="<%= dom_id(main_topic) %>">
                    <%= main_topic.name %>
                  </label>
                </div>
              <% end %>
            </div>

            <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex' do %>
              <span class="mr-2">Сохранить</span>
              <span class="fe fe-arrow-right"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
