<div id="favourite-switch" class="mr-4">
  <% unless current_user.favourite_press_releases.exists?(@press_release.id) %>
    <%= link_to 'Добавить в Избранное', press_release_favourite_path(press_release), method: :post, remote: true, class: 'btn btn-sm btn-outline-secondary' %>
  <% else %>
    <%= link_to 'Удалить из Избранного', press_release_favourite_path(press_release), method: :delete, remote: true, class: 'btn btn-sm btn-outline-secondary' %>
  <% end %>
</div>