<div id="award-badge">
  <% if press_release.awarded? && policy(press_release).view_award? %>
    <div class="d-flex align-items-center font-weight-bold text-center border border-primary p-2 text-primary" style="border-radius: 0.375rem;">
      <div class="mr-2">
        <%= image_tag 'award.svg', style: 'height: 32px;' %>
      </div>
      <div class="">
        Рекомендовано<br>
        АНО «Национальные приоритеты»
      </div>
    </div>
  <% end %>
</div>