<div id="award-switch" class="mr-4">
  <% unless press_release.awarded? %>
    <%= link_to 'Добавить в рекомендованные', press_release_award_path(press_release), method: :post, remote: true, class: 'btn btn-sm btn-outline-secondary' %>
  <% else %>
    <%= link_to 'Убрать из рекомендованных', press_release_award_path(press_release), method: :delete, remote: true, class: 'btn btn-sm btn-outline-secondary' %>
  <% end %>
</div>