$('#award-switch').html("<%= j render 'press_releases/awards/switch', press_release: @press_release %>");
$('#award-badge').html("<%= j render 'press_releases/awards/badge', press_release: @press_release %>");
