<div class="container mt-5">
  <h1 class="mb-0 mr-auto"><%= title('Попап') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @notification_popup] do |f| %>
        <%= f.input :name, required: false %>

        <%= f.input :content do %>
          <%= f.rich_text_area :content %>
        <% end %>

        <div class="row">
          <div class="col">
            <%= f.input :starts_on, as: :string, required: false, input_html: {
              data: {
                controller: "flatpickr",
                flatpickr_alt_format: "d.m.Y",
                flatpickr_alt_input: true,
              },
              class: "bg-transparent"
            } %>
          </div>
          <div class="col">
            <%= f.input :ends_on, as: :string, required: false, input_html: {
              data: {
                controller: "flatpickr",
                flatpickr_alt_format: "d.m.Y",
                flatpickr_alt_input: true,
              },
              class: "bg-transparent"
            } %>
          </div>
        </div>

        <%= f.input :organization_kinds, as: :check_boxes, collection: Organization.kinds.keys.map { |key| [Organization.human_enum_name(:kinds, key), key] } %>
        <%= f.input :only_regional_organizations %>
        <%= f.input :timeout, label: 'Время, сек' %>
        <%= f.input :close_button_when_user_clicks_link %>

        <div class="form-group d-flex">
          <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>

          <% if @notification_popup.persisted? %>
            <%= link_to 'Удалить', [:admin, @notification_popup], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger btn-lg' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>