<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Попапы') %></h1>
    <%= link_to 'Добавить', [:new, :admin, :notification_popup], class: 'btn btn-primary' %>
  </div>

  <div class="card card-border border-primary">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th><%= NotificationPopup.human_attribute_name(:starts_on) %></th>
          <th><%= NotificationPopup.human_attribute_name(:ends_on) %></th>
          <th><%= NotificationPopup.human_attribute_name(:name) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @notification_popups.each do |notification_popup| %>
          <tr>
            <td><%= notification_popup.starts_on.strftime("%d.%m.%Y") %></td>
            <td><%= notification_popup.ends_on.strftime("%d.%m.%Y") %></td>
            <td><%= notification_popup.name %></td>
            <td class="text-center"><%= link_to 'превью', [:admin, notification_popup, :preview], remote: true %></td>
            <td class="text-center">
              <%= link_to [:edit, :admin, notification_popup] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>