<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Дубли') %></h1>
  </div>

  <div class="card card-border border-primary">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center">Создан</th>
          <th class="text-center">Опубликован</th>
          <th>Инфоповод</th>
          <th class="text-center">Утверждён</th>
        </tr>
      </thead>
      <tbody>
        <% @similiar_press_releases.each do |press_release| %>
          <tr>
            <td class="text-center">
              <%= press_release.created_at.strftime('%d.%m.%Y') %><br>
              <%= press_release.created_at.strftime('%H:%M') %>
            </td>
            <td class="text-center">
              <%= press_release.published_at.strftime('%d.%m.%Y') %><br>
              <%= press_release.published_at.strftime('%H:%M') %>
            </td>
            <td>
              <div class="text-muted small">
                <%= press_release.national_projects.map(&:name).join(', ') %>
                |
                <%= press_release.all_federal_subjects? ? 'Вся Россия' : press_release.federal_subjects.sort_by(&:name).map(&:name).join(', ') %>
              </div>

              <div class="mt-1">
                <%= [press_release.user.name, press_release.user.email, press_release.user.contact_phone].select(&:present?).join(' | ') %>
              </div>

              <div class="mt-3"><%= link_to press_release.title, press_release %></div>

              <div class="mt-3 text-danger">
                <%= press_release._similarity %>
              </div>
            </td>
            <td class="text-center">
              <%= press_release.approved_at&.strftime('%d.%m.%Y') %><br>
              <%= press_release.approved_at&.strftime('%H:%M') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>