<%= simple_form_for [@press_release, @complaint], remote: true do |f| %>
  <%= f.input :body, as: :text, label: false, required: false, input_html: { rows: 5 } %>

  <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex' do %>
    <span class="mr-2">Отправить</span>
    <span class="fe fe-arrow-right"></span>
  <% end %>
<% end %>
