<div class="container">
  <h1 class="text-primary mb-0"><%= title('Теги') %></h1>

  <div class="row">
    <div class="col-9">
      <div class="card card-border shadow border-primary mb-7">
        <div class="d-flex">
          <div class="flex-shrink-0 flex-grow-0" style="width: 162px;">
            <div class="p-4">
              <%= search_form_for @q do |f| %>
                <%= f.input :national_projects_id_eq, as: :select, collection: NationalProject.order(:name), required: false, input_html: { data: { controller: 'selectpicker' }, class: 'press-releases-filters-select' }, label: 'Направление', include_blank: 'Все направления' %>
                <%= f.input :name_cont, label: 'Название тега', required: false %>
                <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
              <% end %>
            </div>
          </div>

          <div class="flex-fill">
            <table class="table table-bordered table-striped table-bordered mb-0">
              <thead>
                <tr>
                  <th><%= sort_link @q, :name, Tag.human_attribute_name(:name) %></th>
                  <th><%= sort_link @q, :national_projects_name, Tag.human_attribute_name(:national_projects) %></th>
                </tr>
              </thead>
              <tbody>
                <% @tags.each do |tag| %>
                  <tr>
                    <td><%= tag.name %></td>
                    <td><%= tag.national_projects.sort_by(&:name).map(&:name).join(', ') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>