<div class="container">
  <h1 class="text-primary mb-0"><%= title('Видеоматериалы') %></h1>

  <div class="row">
    <div class="col-9">
      <div class="card card-border shadow border-primary mb-7">
        <div class="card-body">
          <div class="row">
            <% @video_albums.each do |video_album| %>
              <div class="col-sm-4">
                <div class="card mb-7">
                  <% if video_album.image.attached? %>
                    <div class="mb-4">
                      <div class="embed-responsive embed-responsive-16by9">
                        <%= link_to video_album do %>
                          <%= image_tag video_album.image, class: 'embed-responsive-item', style: 'object-fit: cover;' %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <div class="">
                    <%= link_to video_album.name, video_album, class: 'text-decoration-none' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>