<% title(@video_album.name) %>

<div class="container">
  <h1 class="text-primary mb-0">
    <%= link_to "Видеоматериалы", :video_albums, class: 'text-decoration-none' %>:
    <%= @video_album.name %>
  </h1>

  <div class="row">
    <div class="col-9">
      <div class="card card-border shadow border-primary mb-7">
        <div class="card-body">
          <div class="row">
            <% @video_clips.each do |video_clip| %>
              <div class="col-sm-4">
                <div class="card mb-7">
                  <% if video_clip.image.attached? %>
                    <div class="mb-4">
                      <div class="embed-responsive embed-responsive-16by9">
                        <%= link_to video_clip, remote: true do %>
                          <%= image_tag video_clip.image, class: 'embed-responsive-item', style: 'object-fit: cover;' %>
                          <span class="fe fe-play-circle" style="position: absolute; top: 50%; left: 50%; font-size: 40px; color: #fff; margin-left: -20px; margin-top: -20px;"></span>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <div>
                    <%= link_to video_clip.name, video_clip, remote: true, class: 'text-decoration-none' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>