<div class="row mb-10">
  <div class="col-sm-3 mx-auto">
    <h1 class="text-primary text-center mb-1"><%= title('Авторизация') %></h1>
    <p class="h4 text-secondary text-center mb-7">Для работы с СРК войдите в аккаунт.</p>

    <% if flash.any? %>
      <div class="text-primary mb-4 text-center">
        <% flash.each do |key, msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'form-control-lg' } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", class: 'form-control-lg' } %>
        <%= f.input(:remember_me, as: :boolean, input_html: { checked: true }) if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Вход', class: 'btn btn-primary btn-lg btn-block' %>
      </div>
      
      <div data-controller="cookie-agreement" class="mt-3 d-flex animate__animated animate__fadeIn animate__delay-1s">
        <div class="animate__animated animate__pulse animate__delay-1s">Я соглашаюсь с тем, что владелец сайта использует файлы cookie для повышения удобства работы на сайте, сервисы Google Analytics и Яндекс.Метрика. Оставаясь на сайте, я соглашаюсь с политикой их применения.</div>
        <div class="ml-4">
          <%= button_tag "ОК", class: "btn btn-primary", data: { action: "cookie-agreement#close" } %>
        </div>
      </div>

      <div class="mt-6">
        <div class="mb-2 text-primary">Войти с помощью:</div>

        <div class="d-flex justify-content-between">
          <%= link_to user_vkontakte_omniauth_authorize_path, class: 'btn btn-outline-secondary', title: 'ВКонтакте' do %>
            <%= inline_svg_tag 'vk-brands.svg', size: '20' %>
          <% end %>

          <%= link_to user_odnoklassniki_omniauth_authorize_path, class: 'btn btn-outline-secondary', title: 'Одноклассники' do %>
            <%= inline_svg_tag 'odnoklassniki-brands.svg', size: '20' %>
          <% end %>

          <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-outline-secondary', title: 'Facebook' do %>
            <%= inline_svg_tag 'facebook-square-brands.svg', size: '20' %>
          <% end %>

          <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-secondary', title: 'Google' do %>
            <%= inline_svg_tag 'google-brands.svg', size: '20' %>
          <% end %>
        </div>
      </div>

      <div class="d-flex mt-6">
        <%= link_to 'Нужна помощь?', 'mailto:support.srk@nationalpriority.ru' %>
        <%= link_to 'Забыли пароль?', new_user_password_path, class: 'ml-auto' %>
      </div>

      <hr>

      <div>
        <%= link_to 'Пройти регистрацию', new_registration_path, class: 'btn btn-outline-primary btn-block btn-lg' %>
      </div>
    <% end %>
  </div>
</div>

