<%= simple_form_for [:admin, rating_month] do |f| %>
  <% if f.object.errors.full_messages.any? %>
    <div class="alert alert-primary mb-4">
      <% f.object.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :month, discard_day: true, use_month_numbers: true %>
  </div>

  <div class="form-actions d-flex">
    <div>
      <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>
    </div>

    <div class="ml-auto">
      <% if f.object.persisted? %>
        <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>