<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Рейтинги", [:admin, :rating_months] %>
      </li>
      <li class="breadcrumb-item" aria-current="page"><%= link_to @rating_month.name, [:admin, @rating_month] %></li>
      <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
    </ol>
  </nav>

  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0">Редактирование</h1>
  </div>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= render "form", rating_month: @rating_month %>
    </div>
  </div>
</div>
