<div class="container mt-8">
  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0 mr-auto">Рейтинги</h2>

    <div class="btn-group">
      <%= link_to 'Добавить', [:new, :admin, :rating_month], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
      </thead>
      <tbody>
        <% @rating_months.each do |rating_month| %>
          <tr>
            <td><%= link_to rating_month.name, [:admin, rating_month] %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>