<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Рейтинги", [:admin, :rating_months] %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @rating_month.name %></li>
    </ol>
  </nav>

  <div class="d-flex mb-5">
    <div class="align-self-center">
      <h1 class="mb-0"><%= title(@rating_month.name) %></h1>
    </div>

    <div class="btn-group ml-auto align-self-end">
      <%= link_to 'Редактировать', [:edit, :admin, @rating_month], class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0 mr-auto">Рейтинг регионов</h2>

    <div class="btn-group">
      <%= link_to 'Добавить регион', [:new, :admin, @rating_month, :federal_subject_rating_value], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th><%= FederalSubjectRatingValue.human_attribute_name(:federal_subject) %></th>
          <th><%= FederalSubjectRatingValue.human_attribute_name(:press_releases_count) %></th>
          <th><%= FederalSubjectRatingValue.human_attribute_name(:press_releases_value) %></th>
          <th><%= FederalSubjectRatingValue.human_attribute_name(:press_releases_value_with_nullified) %></th>
          <th><%= FederalSubjectRatingValue.human_attribute_name(:value_with_returns) %></th>
          <th><%= FederalSubjectRatingValue.human_attribute_name(:quality) %></th>
          <th><%= FederalSubjectRatingValue.human_attribute_name(:total_value) %></th>
          <th>Место в рейтинге</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @federal_subject_rating_values.each do |federal_subject_rating_value| %>
          <tr>
            <td><%= federal_subject_rating_value.federal_subject.name %></td>
            <td><%= federal_subject_rating_value.press_releases_count %></td>
            <td><%= federal_subject_rating_value.press_releases_value %></td>
            <td><%= federal_subject_rating_value.press_releases_value_with_nullified %></td>
            <td><%= federal_subject_rating_value.value_with_returns %></td>
            <td><%= number_to_percentage(federal_subject_rating_value.quality, strip_insignificant_zeros: true) %></td>
            <td><%= federal_subject_rating_value.total_value %></td>
            <td><%= @total_values.index(federal_subject_rating_value.total_value) + 1 %></td>
            <td class="text-center">
              <%= link_to [:edit, :admin, federal_subject_rating_value] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
