<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-3">
    <h1 class="mb-0 mr-auto"><%= title('СМИ: Лента новостей') %></h1>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for [:admin, @q] do |f| %>
        <%= f.input :press_release_published_at_gteq, label: 'Инфоповод опубликован', required: false do %>
          <div class="row">
            <div class="col-sm-6">
              <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                <%= f.input_field :press_release_published_at_gteq, class: 'form-control', data: { input: '' } %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                </div>
              <% end %>
              <small class="form-text text-muted">начало периода</small>
            </div>
            <div class="col-sm-6">
              <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true } do %>
                <%= f.input_field :press_release_published_at_lteq, class: 'form-control', data: { input: '' } %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                </div>
              <% end %>
              <small class="form-text text-muted">конец периода</small>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :press_release_national_projects_id_eq, label: NationalProject.model_name.human, required: false, as: :select, collection: NationalProject.order(:name), include_blank: "Все", input_html: { data: { controller: "selectpicker", live_search: true }} %>
          </div>

          <div class="col-sm-6">
            <%= f.input :press_release_federal_subjects_id_eq, label: FederalSubject.model_name.human, required: false, as: :select, collection: FederalSubject.order(:name), include_blank: "Все", input_html: { data: { controller: "selectpicker", live_search: true }} %>
          </div>
        </div>

        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div>
      <%== pagy_info(@pagy) %>
    </div>

    <div>
      <% if @pagy.count > 1000 %>
        Уменьшите выборку до 1000, чтобы скачать
      <% elsif @pagy.count > 0 %>
        <%= link_to 'Скачать .xlsx', sort_url(@q, :created_at, format: :xlsx), class: 'h4 mb-0 text-secondary' %>
      <% end %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-5">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th class="text-center">Дата публикации инфоповода</th>
          <th style="width: 33%;">Инфоповод</th>
          <th class="text-center">Дата добавления ссылки</th>
          <th>Ссылка</th>
          <th style="width: 25%;">Организация</th>
        </tr>
      </thead>
      <tbody>
        <% @reposts.each do |repost| %>
          <tr>
            <td class="text-center"><%= repost.press_release.published_at.strftime('%d.%m.%Y %H:%M') %></td>
            <td><%= link_to repost.press_release.title, repost.press_release %></td>
            <td class="text-center"><%= repost.created_at.strftime('%d.%m.%Y %H:%M') %></td>
            <td><%= link_to repost.link.truncate(50), repost.link, target: '_blank' %></td>
            <td>
              <% if repost.user.organization %>
                <div class="mb-1"><%= repost.user.organization&.name %></div>
              <% end %>

              <div class="text-secondary">
                <span class="fe fe-user"></span>
                <%= repost.user.name %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
</div>