<%= simple_form_for [:admin, organization], remote: true do |f| %>
  <div class="row">
    <div class="col-3">
      <%= f.input :name, label: 'Новая организация' %>
    </div>

    <div class="col-2">
      <%= f.input :kind, as: :select, collection: Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), key] }, include_blank: false, input_html: {
        class: 'nowidth',
        data: {
          controller: 'selectpicker',
          none_selected_text: ''
        }
      } %>
    </div>
    
    <div class="col-3">
      <%= f.association :federal_subject, collection: all_federal_subjects, include_blank: 'Вся Россия', input_html: {
            class: 'nowidth',
            data: {
              controller: 'selectpicker',
              live_search: true,
              live_search_normalize: true,
              container: 'body',
              width: '100%',
              size: 20
            }
          } %>
    </div>
    
    <div class="col-2">
      <%= f.simple_fields_for :organization_websites, (f.object.organization_websites.any? ? f.object.organization_websites : [OrganizationWebsite.new]) do |organization_website| %>
        <%= organization_website.input :address, label: 'Сайт', required: false %>
      <% end %>
    </div>
    
    <div class="col-2">
      <label>&nbsp;</label>
      <%= f.submit 'Добавить', class: 'btn btn-block btn-primary' %>
    </div>
  </div>
<% end %>