<tr>
  <td>
    <%= link_to organization.name, admin_users_path(q: { organization_id_eq: organization.id }) %>
    <% if organization.organization_websites.any? %>
      <div class="mt-2 small text-secondary">
        <% organization.organization_websites.each do |organization_website| %>
          <%= link_to organization_website.address, organization_website.address %><br>
        <% end %>
      </div>
    <% end %>
  </td>

  <td>
    <%= simple_fields_for(organization) do |f| %>
      <%= f.input :kind, as: :select, label: false, collection: Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), key] }, wrapper_html: { class: 'mb-0' }, input_html: {
        class: 'nowidth',
        data: {
          remote: true,
          method: 'put',
          url: admin_organization_path(organization),
          controller: 'selectpicker',
          width: '100%',
        }
      } %>
    <% end %>
  </td>

  <td>
    <%= simple_fields_for(organization) do |f| %>
      <%= f.input :federal_subject_id, as: :select, collection: all_federal_subjects, label: false, include_blank: 'Вся Россия', wrapper_html: { class: 'mb-0' }, input_html: {
        class: 'nowidth',
        data: {
          remote: true,
          method: 'put',
          url: admin_organization_path(organization),
          controller: 'selectpicker',
          live_search: true,
          live_search_normalize: true,
          width: '100%',
          size: 20
        }
      } %>
    <% end %>
  </td>
  <td class="text-center"><%= organization.created_at.strftime('%d.%m.%Y %H:%M') %></td>
  <td class="text-center"><%= link_to 'Редактировать', [:edit, :admin, organization] %></td>
</tr>