<% if @organization.persisted? %>
  $('tbody#organizations').prepend("<%= j render 'organization', organization: @organization, all_federal_subjects: FederalSubject.order(:name) %>")
  $('#new_organization').replaceWith("<%= j render 'new_form', organization: Organization.new, all_federal_subjects: FederalSubject.order(:name) %>")
<% else %>
  $('#new_organization').replaceWith("<%= j render 'new_form', organization: @organization, all_federal_subjects: FederalSubject.order(:name) %>")
<% end %>