<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex border-bottom border-gray pb-2 mb-3">
      <h1 class="h3 mb-0 mr-auto"><%= title('Организация') %></h1>
    </div>

    <%= simple_form_for [:admin, @organization] do |f| %>
      <%= f.input :name %>

      <% if @same_name_organization %>
        <div class="mb-4">
          <%= link_to "Объединить с другой существующей организаций, а эту удалить?", admin_organization_merging_path(@organization, destination_organization_id: @same_name_organization.id), method: :post, data: { confirm: 'Вы уверены?' } %>
        </div>
      <% end %>

      <%= f.input :kind, as: :select, collection: Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), key] }, include_blank: false, input_html: {
        class: 'nowidth',
        data: {
          controller: 'selectpicker',
          none_selected_text: ''
        }
      } %>

      <%= f.association :federal_subject, include_blank: 'Вся Россия', input_html: {
        class: 'selectpicker',
        data: {
          live_search: true,
          live_search_normalize: true,
          width: '100%',
          size: 20
        }
      } %>

      <%= f.input :can_create_messages %>
      <%= f.input :list_all_unapproved_press_releases %>
      <%#= f.input :skip_repost_domain_validation %>
      <%= f.input :rated %>

      <%= f.association :rating_addon_organization, collection: Organization.order(:name), input_html: { class: 'border', data: {
        controller: 'selectpicker',
        live_search: true,
        live_search_normalize: true,
      }} %>

      <%= f.input :organization_websites do %>
        <div id="organization_websites">
          <%= f.simple_fields_for :organization_websites do |organization_website| %>
            <%= render 'organization_website_fields', f: organization_website %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'добавить', f, :organization_websites %>
          </div>
        </div>
      <% end %>

      <fieldset>
        <legend>Контактное лицо</legend>

        <%= f.input :contact_name %>
        <%= f.input :contact_position %>
        <%= f.input :contact_phone %>
      </fieldset>

      <div class="form-group d-flex">
        <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>
        <% if @organization.persisted? && policy(@organization).destroy? %>
          <%= link_to 'Удалить', [:admin, @organization], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>