<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0"><%= title('Организации') %></h1>

    <div class="ml-auto">
      <div class="btn-group">
        <%= link_to 'Добавить', [:new, :admin, :organization], class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <div class='card-body'>
      <%= render 'new_form', organization: Organization.new, all_federal_subjects: FederalSubject.order(:name) %>
    </div>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for [:admin, @q] do |f| %>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :name_cont %>
              <%= f.search_field :name_cont, class: 'form-control' %>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :federal_subject_id_eq_or_nil, 'Регион' %>
              <%= f.select :federal_subject_id_eq_or_nil, options_for_select(
                [['Вся Россия', 0]] +
                FederalSubject.order(:name).map { |fs| [fs.name, fs.id] },
                f.object.federal_subject_id_eq_or_nil
              ), {
                include_blank: 'Любой'
              }, {
                class: 'form-control',
                data: {
                  controller: 'selectpicker',
                }
              } %>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :kind_eq, 'Тип организации' %>
              <%= f.collection_select :kind_eq, Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), Organization.kinds[key]] }, :last, :first, { include_blank: 'Все' }, class: 'form-control', data: {
                controller: 'selectpicker',
              } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <%= f.input :created_at_gteq, required: false, label: 'Созданы после' do %>
              <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                <%= f.input_field :created_at_gteq, class: 'form-control bg-white', data: { input: '' } %>
                <div class="input-group-append">
                  <button class="btn" type="button" data-clear>x</button>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <%= f.input :created_at_lteq, required: false, label: 'Созданы до' do %>
              <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                <%= f.input_field :created_at_lteq, class: 'form-control bg-white', data: { input: '' } %>
                <div class="input-group-append">
                  <button class="btn" type="button" data-clear>x</button>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <%= label_tag :items, 'Записей на странице' %>
              <%= select_tag :items, options_for_select([10, 20, 50, 100], @pagy.items), class: 'form-control', data: { controller: 'selectpicker' } %>
            </div>
          </div>
        </div>

        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <%== pagy_info(@pagy) %>
    </div>
    <div>
      <%= link_to 'Скачать .xlsx', sort_url(@q, :organization_name, format: :xlsx), class: 'h4 mb-0 text-secondary' %>
    </div>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th><%= sort_link @q, :name, 'Название' %></th>
          <th>Тип</th>
          <th>Регион</th>
          <th class="text-center"><%= sort_link @q, :created_at, 'Дата добавления', default_order: :desc %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id="organizations">
        <%= render partial: 'organization', collection: @organizations, locals: { all_federal_subjects: FederalSubject.order(:name) } %>
      </tbody>
    </table>

    <%== pagy_nav(@pagy) %>
  </div>
</div>