<%= content_tag :div, class: "nested-fields row", data: { new_record: form.object.new_record? } do %>
  <div class="col-sm-3">
    <%= form.input :email, label: false %>
  </div>
  <div class="col-sm-3">
    <%= form.input :last_name, label: false %>
  </div>
  <div class="col-sm-3">
    <%= form.input :first_name, label: false %>
  </div>
  <div class="col-sm-2">
    <%= form.input :asked_to_send_confirmation_notification %>
  </div>
  <div class="col-sm-1">
    <div class="mt-1">
      <%= link_to "убрать", "#", data: { action: "click->nested-form#remove_association" } %>
    </div>
  </div>
  <%#= form.hidden_field :_destroy %>
<% end %>