<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Добавление списка пользователей') %></h1>
  </div>

  <div class="card card-border border-primary mb-10">
    <div class="card-body">
      <%= simple_form_for [:admin, @user_list] do |f| %>
        <% if false && f.object.errors.any? %>
          <div class="text-primary mb-4 text-center">
            <% f.object.errors.each do |key, msg| %>
              <%= msg %><br>
            <% end %>
          </div>
        <% end %>

        <%= f.input :organization_id, as: :select, collection: Organization.order(:name), input_html: {
          data: {
            controller: 'selectpicker',
            live_search: true,
            live_search_normalize: true,
          }
        } %>

        <%= f.input :federal_subject_id, as: :select, collection: FederalSubject.order(:name), include_blank: 'Все', input_html: {
          data: {
            controller: 'selectpicker',
            live_search: true,
            live_search_normalize: true,
            width: '100%',
            size: 20
          }
        } %>

        <div class="row">
          <% %i[creatable moderatable viewable repostable].each do |permission| %>
            <div class="col-sm-3">
              <%= f.input "#{permission}_federal_project_ids", {
                as: :grouped_select,
                collection: federal_projects_for_select,
                group_method: :last,
                group_label_method: :first,
                input_html: {
                  multiple: true,
                  class: 'nowidth',
                  data: {
                    controller: 'selectpicker selectpicker-checkable-optgroups',
                    live_search: true,
                    live_search_normalize: true,
                    none_selected_text: '',
                    actions_box: true,
                    selected_text_format: 'count'
                  }
                }
              } %>
            </div>
          <% end %>
        </div>

        <fieldset class="mt-3">
          <legend class="h3">Пользователи</legend>

          <div data-controller="nested-form">
            <template data-target="nested-form.template">
              <%= f.simple_fields_for :users, User.new, child_index: 'NEW_RECORD' do |user| %>
                <%= render "user_fields", form: user %>
              <% end %>
            </template>

            <div class="border-bottom mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <strong>E-mail</strong>
                </div>
                <div class="col-sm-3">
                  <strong>Фамилия</strong>
                </div>
                <div class="col-sm-3">
                  <strong>Имя</strong>
                </div>
              </div>
            </div>

            <%= f.simple_fields_for :users do |user| %>
               <%= render 'user_fields', form: user %>
            <% end %>

            <div class="mb-3" data-target="nested-form.links">
              <%= link_to "добавить", "#", data: { action: "click->nested-form#add_association" } %>
            </div>
          </div>
        </fieldset>

        <div class="mt-7">
          <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>