<%= simple_form_for([:admin, support_email]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email %>
  </div>

  <div class="form-actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>

      <% if f.object.persisted? && policy([:admin, f.object]).destroy? %>
        <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>
