<div class="container mt-8">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('E-mail адреса поддержки') %></h1>

    <div class="btn-group">
      <%= link_to 'Добавить', [:new, :admin, :support_email], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border border-primary mb-10">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th class="w-50"><%= SupportEmail.human_attribute_name(:email) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @support_emails.each do |support_email| %>
          <tr>
            <td><%= support_email.email %></td>
            <td><%= link_to 'редактировать', [:edit, :admin, support_email] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Подписчики на дайджест неопубликованных инфоповодов') %></h1>

    <div class="btn-group">
      <%= link_to 'Добавить', [:new, :admin, :unapproved_press_releases_digest_subscriber], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border border-primary mb-10">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th class="w-50"><%= UnapprovedPressReleasesDigestSubscriber.human_attribute_name(:email) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @subscribers.each do |subscriber| %>
          <tr>
            <td><%= subscriber.email %></td>
            <td><%= link_to 'редактировать', [:edit, :admin, subscriber] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
