<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Заявки на регистрацию') %></h1>
  </div>

  <div class="d-flex mb-3">
    <div>
      <h2 class="mb-0 font-weight-bold"><%= link_to 'В ожидании', [:admin, :registrations], class: [
        'btn',
        'btn-lh-30',
        (current_page?([:admin, :registrations]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>

    <div class="ml-3">
      <h2 class="mb-0 font-weight-bold"><%= link_to 'Утверждённые', [:confirmed, :admin, :registrations], class: [
        'btn',
        'btn-lh-30',
        (current_page?([:confirmed, :admin, :registrations]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>

    <div class="ml-3">
      <h2 class="mb-0 font-weight-bold"><%= link_to 'Удалённые', [:deleted, :admin, :registrations], class: [
        'btn',
        'btn-lh-30',
        (current_page?([:deleted, :admin, :registrations]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>
  </div>

  <%= yield %>

</div>