<%
federal_projects_for_select = FederalProject
  .includes(:national_project)
  .order('national_projects.short_name')
  .order('federal_projects.name')
  .group_by(&:national_project)
  .map { |national_project, federal_projects|
    [
      national_project.short_name,
      federal_projects.map { |federal_project|
        [
          (federal_project.name || '').truncate(40),
          federal_project.id,
          { data: { tokens: "#{national_project.short_name} #{federal_project.name}" }}
        ]
      }
    ]
  }
%>

<%= simple_form_for [:admin, registration, (registration.user || User.new_from_registration(registration))], remote: true, html: { id: dom_id(registration) }, data: { controller: 'admin-registration' } do |f| %>
  <div class="card shadow mt-5">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <%= f.association :organization, collection: [f.object.organization].compact, include_blank: 'Новая организация', input_html: {
            id: "#{dom_id(registration)}_organization_select",
            data: {
              controller: 'select2',
              action: 'select2:change->admin-registration#organizationChanged',
              select2_url_value: admin_organizations_path,
              allow_clear: true,
              placeholder: "Новая организация",
            }
          } %>

          <div class="<%= 'd-none' if f.object.organization.persisted? %>" data-target="admin-registration.newOrganizationFields">
            <%= f.simple_fields_for :organization do |f2| %>
              <%= f2.input :kind, as: :select, collection: Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), key] }, include_blank: false, input_html: {
                class: 'nowidth',
                data: {
                  controller: 'selectpicker'
                }
              } %>

              <%= f2.association :federal_subject, include_blank: 'Вся Россия', input_html: {
                data: {
                  controller: 'selectpicker',
                  live_search: true,
                  live_search_normalize: true,
                  width: '100%',
                  size: 20
                }
              } %>

              <%= f2.input :name %>
              <%= f2.simple_fields_for :organization_websites, (f2.object.organization_websites.first || f2.object.organization_websites.new) do |f3| %>
                <%= f3.input :address %>
              <% end %>
              <%= f2.input :media_subscribers %>
            <% end %>
          </div>
        </div>

        <div class="col-sm-4">
          <%= f.association :federal_subject, include_blank: 'Вся Россия', input_html: {
            data: {
              controller: 'selectpicker',
              live_search: true,
              live_search_normalize: true,
              width: '100%',
              size: 20
            }
          } %>
          <%= f.input :email %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :contact_position %>
          <%= f.input :contact_phone %>
        </div>

        <div class="col-sm-4">
          <% %i[creatable moderatable viewable repostable].each do |permission| %>
            <div class="form-group">
              <%= f.input "#{permission}_federal_project_ids", {
                as: :grouped_select,
                collection: federal_projects_for_select,
                group_method: :last,
                group_label_method: :first,
                input_html: {
                  multiple: true,
                  class: 'nowidth',
                  data: {
                    controller: 'selectpicker selectpicker-checkable-optgroups',
                    live_search: true,
                    live_search_normalize: true,
                    none_selected_text: '',
                    actions_box: true,
                    selected_text_format: 'count'
                  }
                }
              } %>
            </div>
          <% end %>

          <%= f.association :user_groups, as: :check_boxes, collection: Admin::UserGroupPolicy::UserEditingScope.new(current_user, UserGroup).resolve.order(:name).map { |user_group| [user_group.name, user_group.id, {id: "#{dom_id(registration)}_#{dom_id(user_group)}"}] } %>
        </div>
      </div>

      <% if f.object.errors.any? %>
        <div class="text-primary">
          <%= f.object.errors.full_messages.join(', ') %>
        </div>
      <% end %>

      <div class="mt-2 d-flex align-items-center">
        <%= f.submit 'Зарегистрировать', class: 'btn btn-primary btn-lg' %>
        <%= link_to 'Удалить', [:admin, registration], method: :delete, remote: true, data: { confirm: 'Вы уверены?', action: 'ajax:success->admin-registration#destroyed' }, class: 'ml-5' %>
        <div class="ml-auto text-secondary"><%= l(registration.created_at, format: '%H:%M %-d %B %Y') %></div>
      </div>
    </div>
  </div>
<% end %>

<% if false %>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://webaq.ru/srk_sendpulse/sendpulse.js'></script>
<% end %>