<%= render layout: 'layout' do %>
  <div>
    <%== pagy_info(@pagy) %>
  </div>

  <div class="card card-border shadow border-primary mb-4">
    <table class="table table-bordered table-hover table-striped mb-0">
      <thead>
        <tr>
          <th>Время утверждения</th>
          <th>Пользователь</th>
          <th>Утвердил</th>
          <th>Время создания</th>
        </tr>
      </thead>
      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.confirmed_at.strftime('%H:%M %d.%m.%Y') %></td>
            <td>
              <%= registration.user.name %><br>
              <%= registration.user.email %><br>
              <%= registration.user.organization&.name %>
            </td>
            <td><%= registration.confirmed_user.name %></td>
            <td><%= registration.created_at.strftime('%H:%M %d.%m.%Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
  
  <div class="mb-10"><%== pagy_nav(@pagy) %></div>
<% end %>