<%= render layout: 'layout' do %>
  <div>
    <%== pagy_info(@pagy) %>
  </div>

  <div class="card card-border border-primary mb-4">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Время удаления</th>
          <th>Пользователь</th>
          <th>Время создания</th>
        </tr>
      </thead>
      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.discarded_at.strftime('%H:%M %d.%m.%Y') %></td>
            <td>
              <%= [registration.first_name, registration.last_name].join(' ') %><br>
              <%= registration.email %><br>
              <%= registration.organization_name %>
            </td>
            <td><%= registration.created_at.strftime('%H:%M %d.%m.%Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="mb-10"><%== pagy_nav(@pagy) %></div>
<% end %>