<%= render layout: 'layout' do %>
  <div>
    <%== pagy_info(@pagy) %>
  </div>

  <div class="card card-border border-primary mb-4">
    <%= render partial: 'registration', collection: @registrations %>
  </div>
  
  <div class="mb-10"><%== pagy_nav(@pagy) %></div>
<% end %>
