<div class="container mt-5">
  <h1 class="mb-0 mr-auto"><%= title('Субъект Федерации') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @federal_subject] do |f| %>
        <%= f.input :name %>
        <%= f.input :time_zone, collection: ActiveSupport::TimeZone.country_zones('RU').map { |z| [z.to_s, z.tzinfo.name] }, input_html: {
          data: {
            controller: 'selectpicker',
            live_search: true,
            live_search_normalize: true
          }
        } %>
        
        <%= f.input :regional_moderated %>
        
        <div class="form-group d-flex align-items-center">
          <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg' %>
          <% if @federal_subject.persisted? %>
            <%= link_to 'Удалить', [:admin, @federal_subject], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'ml-5' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>