<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex border-bottom border-gray pb-2">
      <h1 class="h3 mb-0 mr-auto"><%= title('Субъекты Федерации') %></h1>
      <%= link_to 'Добавить', [:new, :admin, :federal_subject], class: 'btn btn-primary' %>
    </div>

    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th class='text-right'>#</th>
          <th>Название</th>
          <% if false %>
            <th>Часовой пояс</th>
            <th>Код адресной книги</th>
          <% end %>
          <th>Региональные модераторы</th>
          <th>ИП утверждаются регионом</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @federal_subjects.each_with_index do |federal_subject, index| %>
          <tr>
            <td class="text-right"><%= index + 1 %></td>
            <td><%= link_to federal_subject.name, [:admin, federal_subject] %></td>
            <% if false %>
              <td><%= federal_subject.time_zone %></td>
              <td><%= federal_subject.id_address_book %></td>
            <% end %>
            <td>
              <% @regional_moderators.fetch(federal_subject.id, []).each do |user| %>
                <%= user.organization.try(:name) %>: <%= link_to user.name, [:admin, user] %><br />
              <% end %>
            </td>
            <td>
              <%= 'да' if federal_subject.regional_moderated? %>
            </td>
            <td class="text-center">
              <%= link_to [:edit, :admin, federal_subject], class: 'mx-4' do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>