<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex border-bottom border-gray pb-2 mb-3">
      <h1 class="h3 mb-0 mr-auto"><%= title(@federal_subject.name) %></h1>
      <div class="text-nowrap">
        <% if policy(UrbanDistrict).create? %>
          <%= link_to 'Добавить городской округ', [:new, :admin, @federal_subject, :urban_district], class: 'btn btn-primary' %>
        <% end %>
        <% if policy([:admin, @federal_subject]).update? %>
          <%= link_to 'Редактировать', [:edit, :admin, @federal_subject], class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>

    <table class="table table-bordered table-striped table-bordered">
      <% @urban_districts.each do |urban_district| %>
        <tr>
          <td><%= urban_district.name %></td>
          <td><%= link_to 'Редактировать', [:edit, :admin, urban_district] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>