<div class="container mt-5">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0">Подписчик</h1>
  </div>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= render 'form', subscriber: @subscriber %>
    </div>
  </div>
</div>
