<%= render layout: 'profiles/layout' do %>
  <% flash.each do |name, msg| -%>
    <div class="text-primary mb-3"><%= msg %></div>
  <% end %>

  <ul class="list-unstyled">
    <% @mailing_lists.each do |mailing_list| %>
      <li class="mb-2">
        <%= link_to mailing_list.name, [:edit, :profile, mailing_list] %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Добавить новый список', [:new, :profile, :mailing_list], class: 'btn btn-outline-primary' %>
<% end %>