<%= simple_form_for([:admin, subscriber]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email %>
  </div>

  <div class="form-actions d-flex">
    <div>
      <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>
    </div>

    <div class="ml-auto">
      <% if f.object.persisted? && policy([:admin, f.object]).destroy? %>
        <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-lg btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>
