<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Количество инфоповодов') %></h1>
  </div>

  <%= form_tag admin_press_releases_report_path, method: :get, class: 'my-4' do %>
    <div class="form-row">
      <div class="col-auto">
        <%= tag.div class: 'input-group input-group-lg', data: {
          controller: "flatpickr",
          flatpickr_wrap: true,
          #flatpickr_date_format: "d.m.Y H:i",
          flatpickr_alt_format: "d.m.Y",
          flatpickr_alt_input: true,
          flatpickr_mode: "range"
        } do %>
          <%= text_field_tag :period, "#{@starts_on} — #{@ends_on}", data: { input: '' }, class: 'form-control' %>

          <div class="input-group-append">
            <button type="button" class="btn" title="toggle" data-toggle></button>
          </div>
        <% end %>
      </div>

      <div class="col-auto">
        <%= submit_tag 'Показать', name: nil, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>

  <div class="card card-border border-primary shadow mb-7">
    <div class="card-body">
      <%= line_chart @press_releases_report %>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <h3>
          Создано
          <span class="small text-muted">за период</span>
        </h3>

        <div class="h1"><%= @press_releases_report.created_press_releases.count %></div>
      </div>

      <div class="col-3">
        <h3>
          Опубликовано
          <span class="small text-muted mb-2">за период</span>
        </h3>

        <div class="h1"><%= @press_releases_report.approved_press_releases.count %></div>
      </div>

      <div class="col-3">
        <h3>
          Взято СМИ
          <span class="small text-muted mb-2">за период</span>
        </h3>

        <div class="h1"><%= @press_releases_report.created_bookmarks.count %></div>
      </div>
    </div>
  </div>
</div>