<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Категория') %></h1>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Категории", [:admin, :categories] %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Категория</li>
    </ol>
  </nav>

  <div class="card card-border shadow border-primary mb-5">
    <div class="card-body">
      <%= simple_form_for [:admin, @category] do |f| %>
        <%= f.input :name %>
        <%= f.input :notice %>

        <div class="form-group d-flex">
          <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>
          <% if @category.persisted? %>
            <%= link_to 'Удалить', [:admin, @category], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>