<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Категории') %></h1>

    <div>
      <%= link_to 'Добавить категорию', new_admin_category_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-5">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th class="text-right">#</th>
          <th>Название</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td class="text-right"><%= category.position %></td>
            <td><%= link_to category.name, [:admin, category] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>