<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title(@category.name) %></h1>

    <div>
      <%= link_to 'Редактировать категорию', [:edit, :admin, @category], class: 'btn btn-secondary' %>
      <%= link_to 'Добавить подкатегорию', new_admin_category_subcategory_path(@category), class: 'btn btn-primary' %>
    </div>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Категории", [:admin, :categories] %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
    </ol>
  </nav>

  <div class="card card-border shadow border-primary mb-5">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th class="text-right">#</th>
          <th>Название</th>
        </tr>
      </thead>
      <tbody>
        <% @subcategories.each do |subcategory| %>
          <tr>
            <td class="text-right"><%= subcategory.position %></td>
            <td><%= link_to subcategory.name, [:admin, subcategory] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>