<%= simple_form_for([:admin, mailing_list]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-5">
    <%= f.input :name %>

    <%= f.input :mailing_list_items do %>
      <div id="mailing_list_items">
        <%= f.simple_fields_for :mailing_list_items do |mailing_list_item_fields| %>
          <%= render 'mailing_list_item_fields', f: mailing_list_item_fields %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'добавить', f, :mailing_list_items %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>

      <% if f.object.persisted? && policy([:admin, f.object]).destroy? %>
        <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>
