<% if false %>
  <div class="container mt-8">
    <div class="d-flex align-items-end mb-1">
      <h1 class="mb-0 mr-auto"><%= title('Списки рассылки') %></h1>

      <div class="btn-group">
        <%= link_to 'Добавить', [:new, :admin, :mailing_list], class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card card-border shadow border-primary mb-7">
      <table class="table table-bordered table-striped table-bordered mb-0">
        <thead>
          <tr>
            <th class="w-50"><%= MailingList.human_attribute_name(:name) %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <% @mailing_lists.each do |mailing_list| %>
            <tr>
              <td><%= mailing_list.name %></td>
              <td><%= link_to 'редактировать', [:edit, :admin, mailing_list] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="container mt-8">
  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0 mr-auto">E-mail адреса поддержки</h2>

    <div class="btn-group">
      <%= link_to 'Добавить', [:new, :admin, :support_email], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th class="w-50"><%= SupportEmail.human_attribute_name(:email) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @support_emails.each do |support_email| %>
          <tr>
            <td><%= support_email.email %></td>
            <td><%= link_to 'редактировать', [:edit, :admin, support_email] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0 mr-auto">Подписчики на дайджест неопубликованных инфоповодов</h2>

    <div class="btn-group">
      <%= link_to 'Добавить', [:new, :admin, :unapproved_press_releases_digest_subscriber], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border shadow border-primary mb-7">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th class="w-50"><%= UnapprovedPressReleasesDigestSubscriber.human_attribute_name(:email) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @subscribers.each do |subscriber| %>
          <tr>
            <td><%= subscriber.email %></td>
            <td><%= link_to 'редактировать', [:edit, :admin, subscriber] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% SystemSubscriber.kinds.keys.each do |kind| %>
  <div class="container" id="system_subscribers_<%= kind %>">
    <div class="d-flex align-items-end mb-1">
      <h2 class="mb-0 mr-auto"><%= SystemSubscriber.human_attribute_name("kinds.#{kind}") %></h2>

      <div class="btn-group">
        <%= link_to 'Добавить', new_admin_system_subscriber_path(kind: kind), class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card card-border shadow border-primary mb-7">
      <table class="table table-bordered table-striped table-bordered mb-0">
        <thead>
          <tr>
            <th class="w-50"><%= SystemSubscriber.human_attribute_name(:email) %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <% SystemSubscriber.public_send(kind).each do |subscriber| %>
            <tr>
              <td><%= subscriber.email %></td>
              <td><%= link_to 'редактировать', [:edit, :admin, subscriber] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
