<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Утверждения') %></h1>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for @q, url: admin_approvements_path do |f| %>

        <%= f.input :created_at_gteq, label: 'Создан', required: false do %>
          <div class="row">
            <div class="col-sm-6">
              <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true, } do %>
                <%= f.input_field :created_at_gteq, class: 'form-control', data: { input: '' } %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                </div>
              <% end %>
              <small class="form-text text-muted">начало периода</small>
            </div>
            <div class="col-sm-6">
              <%= tag.div class: 'input-group', data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_wrap: true, flatpickr_alt_format: "d.m.Y H:i", flatpickr_alt_input: true } do %>
                <%= f.input_field :created_at_lteq, class: 'form-control', data: { input: '' } %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" data-clear>x</button>
                </div>
              <% end %>
              <small class="form-text text-muted">конец периода</small>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-sm-4">
            <%= f.input :national_projects_id_eq, as: :select, collection: NationalProject.order(:name), required: false, label: 'Направление', input_html: {
              data: {
                controller: 'selectpicker',
                live_search: true,
              }
            } %>
          </div>

          <div class="col-sm-4">
            <%= f.input :federal_subjects_id_eq, as: :select, collection: FederalSubject.order(:name), required: false, label: 'Регион', input_html: {
              data: {
                controller: 'selectpicker',
                live_search: true,
              }
            } %>
          </div>

          <div class="col-sm-4">
            <%= f.input :user_organization_id_eq, as: :select, collection: Organization.order(:name), required: false, label: 'Организация', input_html: {
              data: {
                controller: 'selectpicker',
                live_search: true,
              }
            } %>
          </div>
        </div>

        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div>
      <%== pagy_info(@pagy) %>
    </div>
  </div>

  <div class="card card-border border-primary">
    <table class="table table-bordered table-bordered">
      <thead>
        <tr>
          <th>Пользователь</th>
          <th>Организация</th>
          <th>Регион</th>
          <th>Инфоповод</th>
          <th>Дата/время просмотра</th>
          <th>Дата/время апрува</th>
          <th>До апрува</th>
        </tr>
      </thead>

      <tbody>
        <% @press_releases.each do |press_release| %>
          <%
          approve_activity = press_release.approve_activities.last
          show_activity = press_release.show_activities.detect { |activity| activity.owner_id == approve_activity.owner_id }
          %>
          <tr>
            <td><%= approve_activity.owner.name %></td>
            <td><%= approve_activity.owner.organization&.name %></td>
            <td><%= approve_activity.owner.federal_subject&.name %></td>
            <td>
              <%= link_to press_release.title, press_release_logs_path(press_release_id: press_release.id) %>
            </td>
            <td><%= show_activity&.created_at&.strftime('%d.%m.%Y %H:%M') %></td>
            <td><%= approve_activity.created_at.strftime('%d.%m.%Y %H:%M') %></td>
            <td>
              <%= distance_of_time_in_words(show_activity.created_at, approve_activity.created_at) if show_activity %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
</div>