<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 text-primary"><%= @video_clip.name %></h1>

          <% if @video_clip.video.attached? %>
            <%= tag.div data: {
              controller: "video-clip-player",
              video_clip_player_name_value: @video_clip.name,
            } do %>
              <%= video_tag @video_clip.video.service_url, controls: true, autoplay: true, data: { video_clip_player_target: "videoTag", action: "play->video-clip-player#playerStarted" }, class: 'w-100' %>
            <% end %>

            <div class="mt-3">
              <%= link_to 'Скачать', rails_blob_path(@video_clip.video, disposition: "attachment") %>
            </div>
            
          <% elsif @video_clip.youtube_id.present? %>
            <div class="embed-responsive embed-responsive-16by9">
              <%= tag.div data: {
                controller: "video-clip-player",
                video_clip_player_name_value: @video_clip.name,
                video_clip_player_youtube_id_value: @video_clip.youtube_id,
              }, class: "embed-responsive-item" %>
            </div>
            <div class="mt-3">
              <%= link_to 'Ссылка на YouTube', @video_clip.youtube_url, target: '_blank' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
