<div data-pjax-container>
  <%= render layout: 'press_releases/press_release' do %>
    <% @activities.each do |activity| %>
      <div class="d-flex align-items-center">
        <div class="mr-4 mb-4">
          <% if activity.owner %>
            <% if activity.owner.avatar.attached? && activity.owner.avatar.variable? %>
              <div class="avatar">
                <%= image_tag activity.owner.avatar.variant(resize_to_limit: [103, 103]), class: 'avatar-img rounded-circle' %>
              </div>
            <% else %>
              <div class="avatar">
                <div class="avatar-img border rounded-circle"></div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mb-4">
          <div class="mb-2 text-secondary small"><%= activity.owner&.name.presence || activity.owner&.email %> | <%= activity.owner&.organization&.name %></div>
          <%= l(activity.created_at, format: '%-d %B %Y %H:%M') %>: <%= t(activity.key, scope: :activity) %>
          <%#= activity.inspect %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
