<h3>Пользователь</h3>
<div><%= @complaint.user.name %> (<%= @complaint.user.email %>)</div>
<div>Организация: <%= @complaint.user.organization&.name %></div>
<div>Регион: <%= @complaint.user.organization&.federal_subject&.name %></div>

<h3>Инфоповод</h3>
<div><%= link_to @complaint.press_release.name, press_release_url(@complaint.press_release) %></div>

<h3>Жалоба</h3>
<div><%= @complaint.body %></div>
