<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <title>

    </title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      #outlook a { padding:0; }
      body { margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }
      table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }
      img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }
      p { display:block;margin:13px 0; }
    </style>
    <!--[if mso]>
    <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if lte mso 11]>
    <style type="text/css">
      .mj-outlook-group-fix { width:100% !important; }
    </style>
    <![endif]-->

  <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
    </style>
  <!--<![endif]-->



<style type="text/css">
  @media only screen and (min-width:480px) {
    .mj-column-per-100 { width:100% !important; max-width: 100%; }
  }
</style>


    <style type="text/css">



@media only screen and (max-width:480px) {
  table.mj-full-width-mobile { width: 100% !important; }
  td.mj-full-width-mobile { width: auto !important; }
}

    </style>


  </head>
  <body style="background-color:#ffffff;">


  <div
     style="background-color:#ffffff;"
  >


  <!--[if mso | IE]>
  <table
     align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">

    <table
       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
    >
      <tbody>
        <tr>
          <td
             style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
           class="" style="vertical-align:top;width:600px;"
        >
      <![endif]-->

  <div
     class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
     border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >

        <tr>
          <td
             align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <table
     border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
  >
    <tbody>
      <tr>
        <td  style="width:200px;">

  <img
     height="auto" src="<%= attachments['srk_logo.png'].url %>" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="200"
  />

        </td>
      </tr>
    </tbody>
  </table>

          </td>
        </tr>

  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>

  <table
     align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">

    <table
       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
    >
      <tbody>
        <tr>
          <td
             style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
           class="" style="vertical-align:top;width:600px;"
        >
      <![endif]-->

  <div
     class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
     border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >

        <tr>
          <td
             align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <div
     style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;text-align:left;color:#FF5973;"
  >Добрый день!</div>

          </td>
        </tr>

        <tr>
          <td
             align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <div
     style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;text-align:left;color:#555555;"
  >В Системе сбора и распределения контента появилось <a href="<%= press_releases_url %>" style="color: #FF5973"><%= "#{@press_releases_count} #{t(:press_release, count: @press_releases_count)}" %></a> по интересующим Вас темам.</div>

          </td>
        </tr>

  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>

  <table
     align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">

    <table
       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
    >
      <tbody>
        <tr>
          <td
             style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:0px;text-align:center;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
           class="" style="vertical-align:top;width:600px;"
        >
      <![endif]-->

  <div
     class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
     border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >

        <tr>
          <td
             align="left" style="font-size:0px;padding:0px 25px 10px;word-break:break-word;"
          >

  <table
     cellpadding="0" cellspacing="0" width="100%" border="0" style="color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;table-layout:auto;width:100%;border:none;"
  >
    <% @press_releases.each_with_index do |press_release, index| %>
      <tr style="<%= 'border-top: 1px solid #f0f0f0;' if index > 0 %>">
        <td style="width: 50px; padding: 15px 0;">
          <img src="<%= attachments[press_release_national_project_mailer_image_attachment(press_release)[:name]].url %>" width="30" height="30" style="width: 30px; height: 30px;" />
        </td>
        <td style="padding: 15px 0;">
          <%= link_to press_release_url(press_release), style: 'text-decoration: none;' do %>
            <% str1, str2 = truncate_two_strings(press_release.title, press_release.content.to_plain_text.remove(/\[.+?\]/).strip, 150) %>

            <span style="color: #555555;"><%= str1 %></span>

            <% if str2.present? %>
              <span style="color: #999;"><%= str2 %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

          </td>
        </tr>

  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>

  <table
     align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">

    <table
       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
    >
      <tbody>
        <tr>
          <td
             style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
           class="" style="vertical-align:top;width:600px;"
        >
      <![endif]-->

  <div
     class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
     border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >

        <tr>
          <td
             align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <div
     style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;text-align:left;color:#555555;"
  >Система сбора и распределения контента (СРК) - единый коммуникационный центр по реализации национальных проектов России. Ежедневно федеральные и региональные органы власти, а также иные исполнители по национальным проектам России, размещают в СРК актуальную информацию по реализации инициатив национальных проектов, которая доступна для использования в работе средствам массовой информации.</div>

          </td>
        </tr>

        <tr>
          <td
             align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <div
     style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;text-align:left;color:#555555;"
  >Еще больше актуальной и проверенной информации по реализации национальных проектов на <a href="<%= press_releases_url %>" style="color: #FF5973">платформе СРК</a>.</div>

          </td>
        </tr>

        <tr>
          <td
             align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <div
     style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;text-align:left;color:#555555;"
  >По всем вопросам пишите в разделе «Помощь» или на почту <a href="mailto:support.srk@nationalpriority.ru" style="color: #FF5973">support.srk@nationalpriority.ru</a>.</div>

          </td>
        </tr>


  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>

  <table
     align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">

    <table
       align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
    >
      <tbody>
        <tr>
          <td
             style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
           class="" style="vertical-align:top;width:600px;"
        >
      <![endif]-->

  <div
     class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
     border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >

        <tr>
          <td
             style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <p
     style="border-top:solid 1px #FF5973;font-size:1px;margin:0px auto;width:100%;"
  >
  </p>

  <!--[if mso | IE]>
    <table
       align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 1px #FF5973;font-size:1px;margin:0px auto;width:550px;" role="presentation" width="550px"
    >
      <tr>
        <td style="height:0;line-height:0;">
          &nbsp;
        </td>
      </tr>
    </table>
  <![endif]-->


          </td>
        </tr>

        <tr>
          <td
             align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <div
     style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;text-align:left;color:#555555;"
  >Команда АНО "Национальные приоритеты"</div>

          </td>
        </tr>

        <tr>
          <td
             align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
          >

  <table
     border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
  >
    <tbody>
      <tr>
        <td  style="width:155px;">

  <img
     height="auto" src="<%= attachments['national_priorities_logo.png'].url %>" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="155"
  />

        </td>
      </tr>
    </tbody>
  </table>

          </td>
        </tr>

  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>
  <![endif]-->


  </div>

  </body>
</html>
