Здравствуйте!

В системе "Национальных приоритетов" добавлено новое событие.
Пожалуйста, пройдите по ссылке, чтобы его прочитать:
<%= press_release_url(@press_release) %>

С уважением,
Национальные приоритеты
