<%= l(@press_release.published_at, format: '%H:%M, %-d %B %Y') %><br>
<br>

<% @press_release.national_projects.each do |national_project| %>
  <%= national_project.name %><br>
<% end %>
<br>

<% if @press_release.all_federal_subjects? %>
  Вся Россия
<% else %>
  <% federal_subjects = @press_release.federal_subjects.sort_by(&:name) %>

  <%= federal_subjects.first.name %>
  <% if federal_subjects.count > 1 %>
    <%= tag.span "и ещё #{federal_subjects.count - 1}", title: federal_subjects[1..-1].map(&:name).join("\n") %>
  <% end %>
<% end %>
<br><br>

<strong><%= @press_release.title %></strong><br>
<br>




<%= @press_release.content %>
<br>

<%= @press_release.user.name %><br>
<br>

<%= link_to 'Ссылка на инфоповод в СРК', press_release_url(@press_release) %>
