<mj-section padding-top="0">
  <mj-column>
    <mj-text mj-class="lead">
      В СРК за <%= @period_text %> опубликовали <%= link_to "#{@press_releases.size}&nbsp;#{t('press_release', count: @press_releases.size)}".html_safe, press_releases_url %>.
    </mj-text>

    <mj-text>
      Из них:<br/>
      <br />
      <div style="padding-left: 15px; border-left: 1px solid #FF5973;">
      <% @press_releases.map { |press_release| press_release.national_projects }.flatten.uniq.sort_by(&:short_name).each do |national_project| %>
        <div>
          <%= national_project.short_name %> –&nbsp;<%= @press_releases.count { |press_release| national_project.in?(press_release.national_projects) } %>
        </div>
      <% end %>
    </mj-text>

    <% @top_press_releases.each_with_index do |press_release, index| %>
      <% if index > 0 %>
        <mj-divider padding-top="0" padding-bottom="0" border-color="#F0F0F0" />
      <% end %>

      <mj-social icon-size="30px" mode="vertical" align="left" inner-padding="0" border-radius="0" text-padding="18px 0px 18px 30px">
        <mj-social-element src="<%= press_release_national_project_icon_url(press_release) %>">
          <%= link_to press_release_url(press_release), style: 'text-decoration: none;' do %>
            <% str1, str2 = truncate_two_strings(press_release.title, press_release.content.to_plain_text.remove(/\[.+?\]/).strip, 150) %>

            <span style="color: #555555;"><%= str1 %></span>

            <% if str2.present? %>
              <span style="color: #999;"><%= str2 %></span>
            <% end %>
          <% end %>
        </mj-social-element>
      </mj-social>
    <% end %>

    <mj-text mj-class="lead">
      Смотрите больше <%= link_to 'на платформе СРК', press_releases_url %>.<br />
      <br />
      Спасибо, что вы с нами.<br />
      Мы меняем мир к лучшему!
    </mj-text>

    <mj-divider />

    <mj-text>
      В любой момент у вас есть возможность настроить систему оповещения у себя <%= link_to 'в личном кабинете', profile_subscription_url, class: 'text-nowrap' %>.<br />
      <br />
      По всем вопросам пишите в разделе «Помощь» или на почту support.srk@nationalpriority.ru
    </mj-text>
  </mj-column>
</mj-section>
