<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Доброе утро!</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Ниже –&nbsp;список неопубликованных инфоповодов на <%= l(Time.current, format: '%H:%M %-d %B') %>:</p>

<% @press_releases.each do |press_release| %>
  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
    <%= press_release.created_at.strftime('%H:%M %d.%m.%Y') %><br>
    <%= press_release.user.organization&.name %><br>
    <%= press_release.title %><br>
    <%= link_to 'Подробнее…', press_release_comments_url(press_release) %>
  </p>
<% end %>
<br>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Команда АНО "Национальные приоритеты"</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><%= image_tag 'footer_logo.png', style: 'height: 30px;' %></p>
