<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Уважаемый, <%= @user.name %>!</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Вы успешно активировали личный кабинет в системе СРК.
<br><br><br>
<%= link_to 'Войти', new_user_session_url, style: 'background-color: #FF5973; color: #FFFFFF; padding: 10px 16px; text-decoration: none; border-radius: 6px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;' %></p>
<br>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Во вложении краткое описание интерфейса главного меню.</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Любые вопросы по системе СРК можете направлять через кнопку «Помощь» в главном меню.<br>
Также можете написать нам на почту <a href="mailto:support.srk@nationalpriority.ru">support.srk@nationalpriority.ru</a>.</p>
  
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Команда АНО "Национальные приоритеты"</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><%= image_tag 'footer_logo.png', style: 'height: 30px;' %></p>

