<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex border-bottom border-gray pb-2 mb-3">
      <h1 class="h3 mb-0 mr-auto"><%= title('Городской округ') %></h1>
    </div>

    <%= simple_form_for [:admin, @federal_subject, @urban_district] do |f| %>
      <%= f.input :name %>

      <hr>

      <div class="form-group d-flex">
        <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>
        <% if @urban_district.persisted? %>
          <%= link_to 'Удалить', [:admin, @urban_district], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>