<div class="form-group row">
  <div class="col-3 offset-1"><%= Subscription.human_attribute_name(:federal_subjects) %></div>
  <div class="col-8"><%= subscription_federal_subjects_name(subscription) %></div>
</div>

<div class="form-group row">
  <div class="col-3 offset-1"><%= Subscription.human_attribute_name(:national_projects) %></div>
  <div class="col-8"><%= subscription_national_projects_name(subscription) %></div>
</div>

<div class="form-group row">
  <div class="col-3 offset-1"><%= Subscription.human_attribute_name(:tags) %></div>
  <div class="col-8"><%= subscription_tags_name(subscription) %></div>
</div>

<div class="form-group row">
  <div class="col-3 offset-1"><%= Subscription.human_attribute_name(:organizations) %></div>
  <div class="col-8"><%= subscription_organizations_name(subscription) %></div>
</div>

<div class="form-group row">
  <div class="col-3 offset-1"><%= Subscription.human_attribute_name(:frequency) %></div>
  <div class="col-8"><%= Subscription.human_enum_name(:frequencies, subscription.frequency) %></div>
</div>

<div class="form-group row">
  <div class="col-3 offset-1"><%= Subscription.human_attribute_name(:activated) %></div>
  <div class="col-8">
    <%= simple_form_for subscription, url: profile_subscription_path, remote: true do |f| %>
      <%= f.input_field :activated, onchange: "Rails.fire(this.form, 'submit')" %>
      <small class="form-text text-muted d-block">Вы можете временно деактивировать свою подписку, при включении выбранные параметры рассылки сохранятся.</small>
    <% end %>
  </div>
</div>

<div class="form-group row">
  <div class="col-11 offset-1">
    <%= link_to 'Изменить', edit_profile_subscription_path, class: 'btn btn-primary' %>
    <%= link_to 'Отписаться', profile_subscription_path, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'ml-3 align-self-center' %>
  </div>
</div>
