<%= render layout: 'profiles/layout' do %>
  <h2 class="mb-4">Настройте персональную рассылку, выбрав интересующие вас поля</h3>

  <%= simple_form_for current_user.subscription, url: profile_subscription_path do |f| %>
    <%= f.association :federal_subjects, {
      collection: (
        [OpenStruct.new(name: 'Все регионы', id: 0)] +
        FederalSubject.order(:name)
      ),
      input_html: {
        data: {
          controller: 'selectpicker selectpicker-with-all-option',
          live_search: true,
          none_selected_text: 'Все регионы',
          selected_text_format: 'count > 1',
          action: 'show-hint-if-empty-value#valueChanged',
        }
      }, hint: 'Если вы оставите поле незаполненным, автоматически будут выбраны все варианты.',
      wrapper_html: { data: { controller: 'show-hint-if-empty-value' }, class: 'mb-5' },
      hint_html: { class: "#{ 'd-none' if f.object.federal_subjects.any? }", data: { show_hint_if_empty_value_target: 'hint' }}
    } %>

    <%= f.association :national_projects, {
      collection: (
        [OpenStruct.new(short_name: 'Все направления', id: 0)] +
        NationalProject.order(:short_name)
      ),
      label_method: :short_name,
      input_html: {
        data: {
          controller: 'selectpicker selectpicker-with-all-option',
          none_selected_text: 'Все направления',
          action: 'show-hint-if-empty-value#valueChanged',
        }
      }, hint: 'Если вы оставите поле незаполненным, автоматически будут выбраны все варианты.',
      wrapper_html: { data: { controller: 'show-hint-if-empty-value' }, class: 'mb-5' },
      hint_html: { class: "#{ 'd-none' if f.object.national_projects.any? }", data: { show_hint_if_empty_value_target: 'hint' }}
    } %>

    <%= f.association :tags, {
      collection: (
        [OpenStruct.new(name: 'Все теги', id: 0)] +
        Tag.order(:name)
      ),
      input_html: {
        data: {
          controller: 'selectpicker selectpicker-with-all-option',
          live_search: true,
          none_selected_text: 'Все теги',
          selected_text_format: 'count > 1',
          action: 'show-hint-if-empty-value#valueChanged',
        }
      }, hint: 'Если вы оставите поле незаполненным, автоматически будут выбраны все варианты.',
      wrapper_html: { data: { controller: 'show-hint-if-empty-value' }, class: 'mb-5' },
      hint_html: { class: "#{ 'd-none' if f.object.tags.any? }", data: { show_hint_if_empty_value_target: 'hint' }}
    } %>

    <%= f.association :organizations, {
      collection: (
        [OpenStruct.new(name: 'Все организации', id: 0)] +
        Organization.order(:name)
      ),
      input_html: {
        data: {
          controller: 'selectpicker selectpicker-with-all-option',
          live_search: true,
          none_selected_text: 'Все организации',
          selected_text_format: 'count > 1',
          action: 'show-hint-if-empty-value#valueChanged',
        }
      }, hint: 'Если вы оставите поле незаполненным, автоматически будут выбраны все варианты.',
      wrapper_html: { data: { controller: 'show-hint-if-empty-value' }, class: 'mb-5' },
      hint_html: { class: "#{ 'd-none' if f.object.organizations.any? }", data: { show_hint_if_empty_value_target: 'hint' }}
    } %>

    <%= f.input :frequency, required: false, as: :radio_buttons, collection: Subscription.frequencies.keys.map { |key| [Subscription.human_enum_name(:frequencies, key), key] }, wrapper_html: { class: 'mb-5' } %>

    <div class="d-flex">
      <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
<% end %>