<%= render layout: 'profiles/layout' do %>
  <% unless current_user.organization&.media? %>
    <fieldset>
      <legend class="h2">Уведомления о комментариях</legend>

      <%= simple_form_for current_user, url: profile_path, remote: true do |f| %>
        <div class="row">
          <div class="col-11 offset-1">
            <%= f.input :receive_notifications_by_email, input_html: { onchange: "Rails.fire(this.form, 'submit')" } %>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <fieldset>
    <legend class="h2">Рассылка по инфоповодам</legend>

    <% unless current_user.subscription %>
      <div class="row">
        <div class="col-11 offset-1">
          <%= link_to 'Подписаться на рассылку по инфоповодам', new_profile_subscription_path %>
        </div>
      </div>
    <% else %>
      <%= render 'subscription', subscription: current_user.subscription %>
    <% end %>
  </fieldset>
<% end %>