.btn-counter {
  @extend .d-flex;
  &.btn.btn-sm {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0;
    .btn-counter-name {
      @extend .py-1;
    }
    .btn-counter-counter {
      @extend .px-2;
      @extend .py-1;
    }
  }
  &-counter {
    @extend .ml-2;
    background-color: #FFE2E6;
    border-top-right-radius: 0.375rem;
  }
  &:hover, &.btn-primary {
    .btn-counter-counter {
      background: none;
    }
  }
}
