.mainpage-banners {
  &--above-image {
    font-size: 10px;
    color: $secondary;
  }

  &--image-text {
    position: absolute;
    bottom: 0;
    right: 0;
    @extend .pr-2;
    @extend .pb-1;
    color: #fff;
  }

  .swiper-button-prev {
    left: -20px;
    top: 58px;
  }

  .swiper-button-next {
    right: -20px;
    top: 58px;
  }
}