.pagy-nav {
  @extend .d-flex;
  @extend .justify-content-center;

  & > .page {
    & > a {
      @extend .px-1;
      text-decoration: none;
    }

    &.active {
      @extend .mx-1;
      text-decoration: underline;
      color: $primary;
    }

    &.disabled {
      @extend .mx-1;
    }
  }
}