.press_releases_list {
  border-bottom: 0.2px solid rgba(247, 52, 73, 0.56);
  border-left: 0.2px solid rgba(247, 52, 73, 0.56);
  border-right: 0.2px solid rgba(247, 52, 73, 0.56);
  border-top: 2px solid $primary;
  &_link {
    text-decoration: none;
    > span {
      font-weight: 300;
    }
  }
}

.press_releases_table {
  width: 100%;

  & > thead > tr > th {
    text-transform: uppercase;
    @extend .py-3;
    @extend .px-3;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: $gray-500;
    border-right: 0.2px solid rgba(247, 52, 73, 0.56);
    border-bottom: 0.2px solid rgba(247, 52, 73, 0.56);
    &:last-child {
      width: 143px;
      border-right: 0;
    }
  }

  & > tbody > tr > td {
    border-top: 0.2px solid rgba(247, 52, 73, 0.56);
    border-bottom: 0.2px solid rgba(247, 52, 73, 0.56);
    @extend .py-3;
    font-size: 12px;
    vertical-align: top;
    &:first-child {
      color: #A6A6A6;
      font-size: 10px;
    }
  }
}

.press_release_table--fire {
  width: 12px;
  @extend .mr-1;
  @extend .flex-shrink-0;
  @extend .flex-grow-0;
}