.press_releases_nav {
  .btn {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 600;
    font-size: 12px;
    // @extend .py-2;
    text-transform: uppercase;
    &.btn-sm {
      font-size: 11px;
      // @extend .py-1;
      text-transform: none;
    }
  }
}