.press-releases-filters {
  @extend .flex-grow-0;
  @extend .flex-shrink-0;
  border-left: 0.2px solid rgba(247, 52, 73, 0.56);
  border-bottom: 0.2px solid rgba(247, 52, 73, 0.56);

  &-periods-nav {
    // @extend .flex-column;
    //@extend .align-items-start;
    display: inline-block;
    font-size: 12px;
    .nav-item {
      // @extend .d-flex;

      &:not(:last-child) {
        @extend .mb-1;
      }

      .nav-link {
        @extend .py-1;
        @extend .px-2;
        text-decoration: none;
        background-color: $gray-100;

        &.active {
          background-color: $primary;
        }
      }
    }
  }

  &-select {
    @extend .border;
    @extend .rounded;
    width: 100% !important;

    .dropdown-toggle {
      @extend .py-1;
      @extend .px-1;
      // border-radius: 0;
      font-size: 12px;
    }

    & > .dropdown-menu {
      max-width: 556px; //initial
      @extend .shadow-lift-down;


      .bs-searchbox {
        input[type="search"] {
          @extend .py-1;
          @extend .px-3;
          height: auto;
        }
      }

      .dropdown-menu.inner.show {
        min-width: 500px !important;
        .dropdown-item {
          white-space: normal;
        }
      }
    }
  }

  [data-controller="flatpickr"] {
    input[type="text"] {
      border-radius: 6px;
      font-size: 10px;
      //line-height: 34px;
      height: 25px;
      //padding-left: 3px;
      padding-right: 2px;
    }
  }
}
