.bootstrap-select {
  @extend .border;
  @extend .rounded;


  .bs-actionsbox {
    @extend .mb-2;
    .actions-btn {
      @extend .btn-link;
      background: none;
    }
  }

  .dropdown-menu.inner {
    li+li {
      margin-top: .25rem;
    }
  }

  &.dropup .dropdown-toggle::after {
    content: "\e92e";
  }

  .dropdown-toggle {
    // @extend .form-control;
    // @extend .bg-white;
    font-weight: 300;
    background-color: $white;
    color: $body-color;
  }

  .bs-searchbox {
    @extend .mb-2;
    @extend .ml-5;

    padding-left: 0;
    padding-right: 0;

    input[type="search"] {
      @extend .py-1;
      @extend .px-3;
      height: auto;
    }
  }

  & > .dropdown-menu {
    max-width: 100%;
    padding-left: 0;

    & > .inner {
      & > .dropdown-menu.inner {
        & > li {
          & > a.dropdown-item {
            margin-left: 0;
            margin-right: 0;
            padding-left: 30px;
            padding-right: 0;
            position: relative;
            &:hover {
              color: $primary;
            }
            & > .check-mark {
              left: 15px;
              right: inherit;
              top: 0;
            }
          }
        }
      }
    }
  }

  &.show > .btn-light.dropdown-toggle {
    background-color: $gray-100;
  }
  .btn-light.dropdown-toggle:active {
    background-color: $gray-100;
  }

  &.nowidth > .dropdown-menu {
    max-width: initial !important;
  }

  .dropdown-header {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
  }
}
