@import 'trix/dist/trix';
@import 'actiontext';

@import 'fonts';

@import 'bootstrap/scss/functions';
@import 'landkit-1.1.3/scss/theme/functions';

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px);
$grid-gutter-width: 30px;
$font-family-base: "Circe", "Helvetica Neue", Arial, sans-serif;
$primary: #FF5973;
$secondary: #646464;
$warning: #EA7804;
$success: #78B71C;
$light: #D9E2EF;
$danger: $primary;
$black: #161C2D;
$card-border-radius: 0;
$font-size-base: 0.813rem;// 13px;
$font-size-sm: $font-size-base;
$font-size-lg: $font-size-base;
// $font-size-lg: 0.94rem; // 15px
// $font-size-sm: 0.75rem; // 12px
$line-height-base: 1.3;
$small-font-size: 12px;
$h1-font-size: 1.44rem; // 23px
$h1-font-size-md: $h1-font-size;
$h2-font-size: 1.19rem;
$h2-font-size-md: $h2-font-size;
$h3-font-size: 1rem;
$h3-font-size-md: $h3-font-size;
$h4-font-size: 0.88rem; // 14px
$h4-font-size-md: $h4-font-size;
$navbar-brand-font-size: $h3-font-size;
$headings-letter-spacing: 0;
$headings-font-weight: 400;
//$input-btn-padding-y: .375rem;
//$btn-padding-y-sm: .375rem;
$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;
$input-btn-padding-y-sm: .125rem;
$input-btn-padding-x-sm: .5rem;
$input-btn-padding-y-lg: .625rem;
$input-btn-padding-x-lg: 1rem;
$gray-900: #464646;
$gray-600: #646464;
$gray-700: #6D6E71;
$gray-500: #8F8D8D;
$gray-200: #A6A6A6;
$gray-100: #F1F1F1;
$border-color: #E2E2E3;
$body-color: $gray-900;
$link-color: inherit;
$link-hover-color: inherit;
$link-decoration: underline;
$input-placeholder-color: #869AB8;
$input-color-placeholder: $input-placeholder-color;
$input-border-color: $light;
$input-height: 30px;
$box-shadow: 0 0.5rem 1.5rem fade-out($black, .97);
$icon-circle-size: 25px;
$icon-circle-font-size: 20px;
$nav-tabs-border-width: 0;
$form-check-input-margin-y: 0;
$navbar-padding-y: 0.2rem;
$table-cell-padding: 1rem;
$avatar-size-base: 55px;
$avatar-size-lg: 103px;
$table-accent-bg: #f8f8f8;
$table-border-color: #e8e8e8;
$modal-content-border-radius: 0;
$modal-content-border-width: 0;
$modal-md: 618px;
$alert-border-radius: 0;
$alert-margin-bottom: 0;

@import 'landkit-1.1.3/scss/theme/variables';
@import 'bootstrap/scss/bootstrap';
@import 'landkit-1.1.3/scss/theme/theme';
@import 'landkit-1.1.3/fonts/Feather/feather';

@import 'bootstrap-select/sass/bootstrap-select';

@import 'flatpickr/dist/flatpickr';
@import 'flatpickr/dist/themes/airbnb';

@import '_selectpicker';
@import '_btn_counter';

@import '_press_releases_nav';
@import '_press_releases_filters';
@import '_press_releases_list';
@import '_footer';
@import '_admin_navbar';
@import '_pagy_nav';
@import '_press_release';
@import 'profiles';
@import 'table_tree';
@import 'faq';
@import "sortable_table";

$themeColor: $primary;

@import 'swiper/swiper';
@import 'swiper/components/navigation/navigation';
@import 'swiper/components/pagination/pagination';

:root {
  --swiper-navigation-size: 15px;
}

@import '_mainpage_banners';


body, .container {
  min-width: 1140px;
}
.container {
  width: 1140px;
}

.btn {
  text-decoration: none;
}

.font-decoration-underline {
  text-decoration: underline;
}

// label {
//   font-size: 1.063rem;
// }

.header {
  margin-top: 51px;
}



input[type="text"]::placeholder {
  font-weight: 300;
  line-height: 1.3rem;
}

textarea::placeholder {
  font-weight: 300;
}

[data-controller="flatpickr"] {
  @extend .border;
  .form-control.input {
    @extend .bg-white;
    @extend .border-0;
  }
  button[data-toggle] {
    background: asset-url('calendar.png');
    background-repeat: no-repeat;
    background-position: center center;
    //background-size: contain;
  }
}

.trix-button-row {
  .trix-button-group {
    margin-bottom: 0;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @extend .rounded-top;
    .trix-button {
      border-bottom: 0;
      @extend .btn;
      @extend .btn-light;
      border-radius: 0;
      // border-bottom: 0;
      // @extend .rounded-0;
      background-color: #FAFCFD;
      &:first-child {
        border-top-left-radius: .25rem !important;
      }
      &:last-child {
        border-top-right-radius: .25rem !important;
      }
      &:not(:last-child) {
        border-right-width: 0;
      }
    }
  }
}
#trix-toolbar-1 .trix-button-row .trix-button-group .trix-button {
  border-color: $input-border-color !important;
}

form .trix-content {
  @extend .border;
  @extend .border-light;
  @extend .rounded-0;
  @extend .rounded-bottom;
  // @extend .py-3;
  // @extend .px-4;
  padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
  &::before { // placeholder
    color: $input-placeholder-color !important;
    font-weight: 300;
  }
}

// trix-toolbar {
//   .trix-button--icon {
//     &-align-left {
//       text-indent: initial;
//       padding-top: 3px !important;
//       padding-left: 10px !important;
//     }
//     &-align-center {
//       text-indent: initial;
//       padding-top: 3px !important;
//       padding-left: 10px !important;
//     }
//     &-align-right {
//       text-indent: initial;
//       padding-top: 3px !important;
//       padding-left: 10px !important;
//     }
//     &-align-justify {
//       text-indent: initial;
//       padding-top: 3px !important;
//       padding-left: 10px !important;
//     }
//   }
// }

.shadow-lift-down {
  box-shadow: 0 -.5rem 1.5rem rgba(22,28,45,.05)!important;
}

.branding-assets-table {
  width: 100%;
  font-weight: 300;
  & > tbody > tr > td {
    border: 0.2px solid rgba(247, 52, 73, 0.56);
    @extend .p-4;
  }
  a {
    text-decoration: none;
  }
}

.btn-sm {
  font-weight: normal;
}

.btn-lh {
  &-22 {
    padding-top: 0;
    padding-bottom: 0;
    height: 22px;
    line-height: 22px;
  }
  &-30 {
    padding-top: 0;
    padding-bottom: 0;
    height: 30px;
    line-height: 30px;
  }
}

.input-group > .form-control + .form-control {
  margin-left: initial;
}

figure.attachment {
  &.attachment--pdf {
    border: none;
    // a {
    //   text-decoration: underline
    // }
  }
  a {
    &.btn-primary, &.btn-primary:hover {
      color: #fff;
    }
  }
}

@import 'trix_with_formatted_placeholder';
@import 'gallery';
@import 'swiper_fix';
@import 'star';
@import "category_selector";
