@font-face {
  font-family: "Circe";
  font-weight: normal;
  font-style: normal;
  src: font-url('Circe-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  src: font-url('Circe-Light.ttf') format("truetype");
}

@font-face {
  font-family: "Circe";
  font-weight: 600;
  font-style: normal;
  src: font-url('Circe-Bold.ttf') format("truetype");
}