body {
  font-family: Arial;
  padding-bottom: 100px;
  color: #464646;
  font-size: 0.813rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 40px;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 1rem;
}

.table-light {
  background-color: #f4f7fb;
}

h1 {
  margin-bottom: 1rem;
  font-weight: normal;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #FF5973;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.text-nowrap {
  white-space: nowrap;
}

.border-primary {
  border-color: #FF5973;
}

.card-border {
  border-top-width: 2px;
  border-top-style: solid;
}