<%= simple_form_for @export_request, remote: true do |f| %>
  <%= f.input :subject, required: false, placeholder: 'Укажите тему' %>

  <%= f.input :body, required: false, as: :text, placeholder: 'Сформулируйте запрос, по какой теме и за какой период вы бы хотели получить выгрузку новостей' %>

  <%= f.input :federal_subject_ids, as: :select, required: false, collection: FederalSubject.order(:name), input_html: {
    multiple: true,
    class: 'border form-control-lg',
    data: {
      controller: 'selectpicker',
      live_search: true,
      live_search_normalize: true,
      width: '100%',
      none_selected_text: 'Вся Россия',
      actions_box: false,
      selected_text_format: 'count > 3'
    }
  } %>

  <%= f.input :email, required: false %>

  <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex' do %>
    <span class="mr-2">Отправить</span>
    <span class="fe fe-arrow-right"></span>
  <% end %>
<% end %>
