<div class="card-body pt-5">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="fe fe-x"></span>
  </button>

  <div class="px-3">
    <h1 class="mt-3 text-secondary">Ваше обращение <span class="text-primary">принято</span></h1>

    <p class="font-weight-light" style="font-size: 15px;">Мы постараемся ответить на ваш запрос как можно быстрее. Обработка обращения может занять до 24 часов.</p>
  </div>
</div>
  

