window.dataLayer.push(<%== {
  event: 'unloadingInfopovodFeed',
  eventCategory: 'Infopovod',
  eventAction: 'unloadingFeed',
}.to_json %>);

<% if false %>
  $('.modal-content').html("<%= j render 'result' %>");
<% end %>
$('.modal').modal('hide');
