<html>
<body>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Добро пожаловать в Систему СРК!</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Перед началом использования системы необходимо перейти по ссылке и изменить пароль на вход.<br>Логином является Ваша электронная почта.<br><br><br>
<%= link_to 'Пройти регистрацию', confirmation_url(@resource, confirmation_token: @token), style: 'background-color: #FF5973; color: #FFFFFF; padding: 10px 16px; text-decoration: none; border-radius: 6px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;' %></p>
<br>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Для обратной связи с разработчиками СРК используйте кнопку "Помощь" под профилем пользователя.<br>
Также можете написать нам на почту <a href="mailto:support.srk@nationalpriority.ru">support.srk@nationalpriority.ru</a>.
</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Спасибо, что Вы с нами.</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;">Команда АНО "Национальные приоритеты"</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><%= image_tag 'footer_logo.png', style: 'height: 30px;' %></p>
</body>
</html>

