<div class="d-flex mb-2">
  <h3 class="text-primary mb-0"><%= name %></h3>
  <div class="ml-auto">
    <%= select_tag :period, options_for_select([['по дням', 'day'], ['по неделям', 'week'], ['по месяцам', 'month']], period), data: { remote: true, url: change_period_url } %>
  </div>
</div>

<div class="card card-border border-primary shadow mb-7">
  <div class="card-body">
    <%= line_chart chart, id: chart_id %>

    <script>
      (function() {
        var chart = Chartkick.charts['<%= chart_id %>'];
        	var newOptions = {
        		library: {
              tooltips: {
                callbacks: {
                  afterBody: function(tooltipItem, data) {
                    var item = tooltipItem[0];

                    var valueDatasetIndex = null;
                    var totalDatasetIndex = null;

                    switch(item.datasetIndex) {
                    case 0:
                      valueDatasetIndex = 1;
                      totalDatasetIndex = 0;
                      break;
                    case 1:
                      valueDatasetIndex = 1;
                      totalDatasetIndex = 0;
                      break;
                    case 2:
                      valueDatasetIndex = 3;
                      totalDatasetIndex = 2;
                      break;
                    case 3:
                      valueDatasetIndex = 3;
                      totalDatasetIndex = 2;
                      break;
                    }

                    var value = data.datasets[valueDatasetIndex].data[item.index] || 0;
                    var total = data.datasets[totalDatasetIndex].data[item.index];
                    var percent = value / total * 100;
                    str = '';
                    if(item.datasetIndex == totalDatasetIndex) {
                      str += data.datasets[valueDatasetIndex].label + ': ' + value + "\n";
                    } else {
                      str += data.datasets[totalDatasetIndex].label + ': ' + total + "\n";
                    }
                    str += 'Процент залогинов: ' + percent.toFixed(0) + '%';
                    return str;
                  }
                }
              }
        		}
        }
        var mergedOptions = $.extend(chart.options,newOptions)
        chart.setOptions(mergedOptions);
      })();
    </script>

    <div class="mt-7 text-center small text-muted">Учитываются пользователи, которые зашли в систему хотя бы 1 раз</div>
  </div>
</div>
