<div class="d-flex mb-2">
  <h3 class="text-primary mb-0"><%= name %></h3>
  <div class="ml-auto">
    <%= select_tag :period, options_for_select([['по дням', 'day'], ['по неделям', 'week'], ['по месяцам', 'month']], period), data: { remote: true, url: change_period_url } %>
  </div>
</div>

<div class="card card-border border-primary shadow mb-7">
  <div class="card-body">
    <%= line_chart chart, id: 'chart1_chart' %>
    <script>
      var chart = Chartkick.charts["chart1_chart"];
      	var newOptions = {
      		library: {
            tooltips: {
              callbacks: {
                afterBody: function(tooltipItem, data) {
                  var item = tooltipItem[0];

                  str = '';
                  if(item.datasetIndex == 1 || item.datasetIndex == 2) {
                    var totalDatasetIndex = 0;
                    var total = data.datasets[totalDatasetIndex].data[item.index];
                    var percent = item.value / total * 100;
                    str = percent.toFixed(0) + '% от размещённых';
                  }
                  return str;
                }
              }
            }
      		}
      }
      var mergedOptions = $.extend(chart.options,newOptions)
      chart.setOptions(mergedOptions);
    </script>
  </div>
</div>
