<div class="d-flex mb-2">
  <h3 class="text-primary mb-0"><%= name %></h3>
  <div class="ml-auto">
    <%= select_tag :period, options_for_select([['по дням', 'day'], ['по неделям', 'week'], ['по месяцам', 'month']], period), data: { remote: true, url: change_period_url } %>
  </div>
</div>

<div class="card card-border border-primary shadow mb-7">
  <div class="card-body">
    <%= line_chart chart, id: 'chart4_chart' %>
  </div>
</div>