<%= form_tag admin_dashboard_path, method: :get, class: 'my-4' do %>
  <div class="form-row">
    <div class="col-auto">
      <%= tag.div class: 'input-group input-group-lg', data: {
        controller: "flatpickr",
        flatpickr_wrap: true,
        #flatpickr_date_format: "d.m.Y H:i",
        flatpickr_alt_format: "d.m.Y",
        flatpickr_alt_input: true,
        flatpickr_mode: "range"
      } do %>
        <%= text_field_tag :period1, "#{@starts_on} — #{@ends_on}", data: { input: '' }, class: 'form-control' %>

        <div class="input-group-append">
          <button type="button" class="btn" title="toggle" data-toggle></button>
        </div>
      <% end %>

      <div class="form-text text-muted">первый период</div>
    </div>

    <div class="col-auto">
      <%= tag.div class: 'input-group input-group-lg', data: {
        controller: "flatpickr",
        flatpickr_wrap: true,
        #flatpickr_date_format: "d.m.Y H:i",
        flatpickr_alt_format: "d.m.Y",
        flatpickr_alt_input: true,
        flatpickr_mode: "range"
      } do %>
        <%= text_field_tag :period2, "#{@starts2_on} — #{@ends2_on}", data: { input: '' }, class: 'form-control' %>

        <div class="input-group-append">
          <button type="button" class="btn" title="toggle" data-toggle></button>
        </div>
      <% end %>

      <div class="form-text text-muted">второй период</div>
    </div>

    <div class="col-auto">
      <%= select_tag :federal_subject_id_eq, options_from_collection_for_select(@federal_subjects, :id, :name, params[:federal_subject_id_eq]), include_blank: 'Все регионы',
      class: 'form-control form-control-lg nowidth',
      data: {
        controller: 'selectpicker',
        live_search: true,
        live_search_normalize: true,
        } %>
    </div>

    <div class="col-auto">
      <%= submit_tag 'Показать', name: nil, class: 'btn btn-primary btn-lg' %>
    </div>

    <div class="ml-auto col-auto align-self-end">
      <%#= link_to 'Скачать .pdf', params.permit(:period, :federal_subject_id_eq).merge(format: :pdf), class: 'h4 mb-0 text-secondary' %>
    </div>
  </div>
<% end %>