<h3 class="text-primary">СМИ</h3>
<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="text-center">За всё время</th>
        <th class="text-center">За первый период</th>
        <th class="text-center">За второй период</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td>Сколько СМИ просмотрело инфоповоды</td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.shown_total %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.shown_total * 100.0 / @dashboard.media_organizations_table.created_total, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.shown_period1 %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.shown_period1 * 100.0 / @dashboard.media_organizations_table.created_upto_period1, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.shown_period2 %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.shown_period2 * 100.0 / @dashboard.media_organizations_table.created_upto_period2, precision: 0) %>)
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= organizations_list.shown_total_counts_hash.fetch(custom_kind, 0) %>
            (<%= number_to_percentage(organizations_list.shown_total_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
          <td class="text-center">
            <%= organizations_list.shown_period1_counts_hash.fetch(custom_kind, 0) %>
            (<%= number_to_percentage(organizations_list.shown_period1_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.upto_period1_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
          <td class="text-center">
            <%= organizations_list.shown_period2_counts_hash.fetch(custom_kind, 0) %>
            (<%= number_to_percentage(organizations_list.shown_period2_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.upto_period2_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
        </tr>
      <% end %>

      <tr class="table-light">
        <td>Сколько СМИ не посмотрело инфоповоды</td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.unshown_total %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.unshown_total * 100.0 / @dashboard.media_organizations_table.created_total, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.unshown_period1 %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.unshown_period1 * 100.0 / @dashboard.media_organizations_table.created_upto_period1, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.unshown_period2 %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.unshown_period2 * 100.0 / @dashboard.media_organizations_table.created_upto_period2, precision: 0) %>)
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= organizations_list.unshown_total_count(custom_kind) %>
            (<%= number_to_percentage(organizations_list.unshown_total_count(custom_kind) * 100.0 / organizations_list.total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
          <td class="text-center">
            <%= organizations_list.unshown_period1_count(custom_kind) %>
            (<%= number_to_percentage(organizations_list.unshown_period1_count(custom_kind) * 100.0 / organizations_list.upto_period1_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
          <td class="text-center">
            <%= organizations_list.unshown_period2_count(custom_kind) %>
            (<%= number_to_percentage(organizations_list.unshown_period2_count(custom_kind) * 100.0 / organizations_list.upto_period2_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
        </tr>
      <% end %>

      <tr class="table-light">
        <td>СМИ разместили ссылки</td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.reposted_total %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.reposted_total * 100.0 / @dashboard.media_organizations_table.created_total, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.reposted_period1 %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.reposted_period1 * 100.0 / @dashboard.media_organizations_table.created_upto_period1, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.media_organizations_table.reposted_period2 %>
          (<%= number_to_percentage(@dashboard.media_organizations_table.reposted_period2 * 100.0 / @dashboard.media_organizations_table.created_upto_period2, precision: 0) %>)
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= organizations_list.reposted_total_counts_hash.fetch(custom_kind, 0) %>
            (<%= number_to_percentage(organizations_list.reposted_total_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
          <td class="text-center">
            <%= organizations_list.reposted_period1_counts_hash.fetch(custom_kind, 0) %>
            (<%= number_to_percentage(organizations_list.reposted_period1_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.upto_period1_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
          <td class="text-center">
            <%= organizations_list.reposted_period2_counts_hash.fetch(custom_kind, 0) %>
            (<%= number_to_percentage(organizations_list.reposted_period2_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.upto_period2_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h3 class="text-primary">Показатель активности СМИ</h3>
<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="text-center">За всё время</th>
        <th class="text-center">За первый период</th>
        <th class="text-center">За второй период</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td>Кол-во просмотренных инфоповодов / на количество активных СМИ</td>
        <td class="text-center">
          <%= number_with_precision(@dashboard.press_releases_shown_total_count.to_f / users_list.confirmed_total_counts_hash.select { |key, value| organizations_list.media?(key) }.values.sum, precision: 2) %><br>
        </td>
        <td class="text-center">
          <%= number_with_precision(@dashboard.press_releases_shown_period1_count.to_f / users_list.visited_period1_counts_hash.select { |key, value| organizations_list.media?(key) }.values.sum, precision: 2) %>
        </td>
        <td class="text-center">
          <%= number_with_precision(@dashboard.press_releases_shown_period2_count.to_f / users_list.visited_period2_counts_hash.select { |key, value| organizations_list.media?(key) }.values.sum, precision: 2) %>
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= number_with_precision(@dashboard.press_releases_shown_total_count.to_f / users_list.confirmed_total_counts_hash.fetch(custom_kind, 0), precision: 2) %><br>
          </td>
          <td class="text-center">
            <%= number_with_precision(@dashboard.press_releases_shown_period1_count.to_f / users_list.visited_period1_counts_hash.fetch(custom_kind, 0), precision: 2) %>
          </td>
          <td class="text-center">
            <%= number_with_precision(@dashboard.press_releases_shown_period2_count.to_f / users_list.visited_period2_counts_hash.fetch(custom_kind, 0), precision: 2) %>
          </td>
        </tr>
      <% end %>

      <tr class="table-light">
        <td>Инфоповодов на 100 СМИ (кол-во инфоповдов / кол-во СМИ) * 100</td>
        <td class="text-center">
          <%= number_with_precision((@dashboard.press_releases_total.to_f / @dashboard.media_organizations_table.created_total) * 100) %>
        </td>
        <td class="text-center">
          <%= number_with_precision((@dashboard.press_releases_period1_count.to_f / @dashboard.media_organizations_table.created_upto_period1) * 100) %>
        </td>
        <td class="text-center">
          <%= number_with_precision((@dashboard.press_releases_period2_count.to_f / @dashboard.media_organizations_table.created_upto_period2) * 100) %>
        </td>
      </tr>

      <% [:media_federal, :media_regional].each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= number_with_precision((@dashboard.press_releases_total.to_f / organizations_list.total_counts_hash.fetch(custom_kind, 0)) * 100) %>
          </td>
          <td class="text-center">
            <%= number_with_precision((@dashboard.press_releases_period1_count.to_f / organizations_list.upto_period1_counts_hash.fetch(custom_kind, 0)) * 100) %>
          </td>
          <td class="text-center">
            <%= number_with_precision((@dashboard.press_releases_period2_count.to_f / organizations_list.upto_period2_counts_hash.fetch(custom_kind, 0)) * 100) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>