<h3 class="text-primary">Инфоповоды</h3>
<div class="card card-border border-primary shadow mb-7">
  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="text-center">За всё время</th>
        <th class="text-center">За первый период</th>
        <th class="text-center">За второй период</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Размещено в СРК</td>
        <td class="text-center">
          <%= @dashboard.press_releases_total_count %>
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_period1_count %>
          (<%= number_to_percentage(@dashboard.press_releases_period1_count * 100.0 / @dashboard.press_releases_total_count, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_period2_count %>
          (<%= number_to_percentage(@dashboard.press_releases_period2_count * 100.0 / @dashboard.press_releases_total_count, precision: 0) %>)
        </td>
      </tr>

      <tr>
        <td>Просмотрено инфоповодов</td>
        <td class="text-center">
          <%= @dashboard.press_releases_shown_total_count %>
          (<%= number_to_percentage(@dashboard.press_releases_shown_total_count * 100.0 / @dashboard.press_releases_total_count, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_shown_period1_count %>
          (<%= number_to_percentage(@dashboard.press_releases_shown_period1_count * 100.0 / @dashboard.press_releases_period1_count, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_shown_period2_count %>
          (<%= number_to_percentage(@dashboard.press_releases_shown_period2_count * 100.0 / @dashboard.press_releases_period2_count, precision: 0) %>)
        </td>
      </tr>

      <tr>
        <td>Непросмотренных инфоповодов</td>
        <td class="text-center">
          <%= @dashboard.press_releases_unshown_total_count %>
          (<%= number_to_percentage(@dashboard.press_releases_unshown_total_count * 100.0 / @dashboard.press_releases_total_count, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_unshown_period1_count %>
          (<%= number_to_percentage(@dashboard.press_releases_unshown_period1_count * 100.0 / @dashboard.press_releases_period1_count, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_unshown_period2_count %>
          (<%= number_to_percentage(@dashboard.press_releases_unshown_period2_count * 100.0 / @dashboard.press_releases_period2_count, precision: 0) %>)
        </td>
      </tr>

      <tr>
        <td>Количество инфоповодов с ссылками</td>
        <td class="text-center">
          <%= @dashboard.press_releases_reposted_total_count %>
          (<%= number_to_percentage(@dashboard.press_releases_reposted_total_count * 100.0 / @dashboard.press_releases_total_count, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_reposted_period1_count %>
          (<%= number_to_percentage(@dashboard.press_releases_reposted_period1_count * 100.0 / @dashboard.press_releases_period1_count, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.press_releases_reposted_period2_count %>
          (<%= number_to_percentage(@dashboard.press_releases_reposted_period2_count * 100.0 / @dashboard.press_releases_period2_count, precision: 0) %>)
        </td>
      </tr>

      <tr>
        <td>Сколько ссылок разместили СМИ</td>
        <td class="text-center">
          <%= @dashboard.reposts_total_count %>
        </td>
        <td class="text-center">
          <%= @dashboard.reposts_period1_count %>
          (<%= number_to_percentage(@dashboard.reposts_period1_count * 100.0 / @dashboard.reposts_total_count, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= @dashboard.reposts_period2_count %>
          (<%= number_to_percentage(@dashboard.reposts_period2_count * 100.0 / @dashboard.reposts_total_count, precision: 0) %>)
        </td>
      </tr>

      <tr class="table-light">
        <td>
          Сколько активных организаций<br>
          (Число тех, кто разместил инфоповод):
        </td>
        <td class="text-center">
          <%= organizations_list.published_total_counts_hash.values.sum %>
          (<%= number_to_percentage(organizations_list.published_total_counts_hash.values.sum * 100.0 / organizations_list.total_counts_hash.values.sum, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= organizations_list.published_period1_counts_hash.values.sum %>
          (<%= number_to_percentage(organizations_list.published_period1_counts_hash.values.sum * 100.0 / organizations_list.upto_period1_counts_hash.values.sum, precision: 0) %>)
        </td>
        <td class="text-center">
          <%= organizations_list.published_period2_counts_hash.values.sum %>
          (<%= number_to_percentage(organizations_list.published_period2_counts_hash.values.sum * 100.0 / organizations_list.upto_period2_counts_hash.values.sum, precision: 0) %>)
        </td>
      </tr>

      <% (Organization.kinds.keys.reject { |kind| kind == 'media' } + ['media_federal', 'media_regional']).each do |kind| %>
        <% custom_kind = organizations_list.custom_kind(kind) %>
        <tr>
          <td>–&nbsp;<%= Organization.human_attribute_name("kinds.#{kind}") %></td>
          <td class="text-center">
            <%= organizations_list.published_total_counts_hash.fetch(custom_kind, 0) %>
            (<%= number_to_percentage(organizations_list.published_total_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
          </td>
          <td class="text-center">
            <%= organizations_list.published_period1_counts_hash.fetch(custom_kind, 0) %>
            <% if organizations_list.upto_period1_counts_hash.fetch(custom_kind, 0) > 0 %>
              (<%= number_to_percentage(organizations_list.published_period1_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.upto_period1_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
            <% end %>
          </td>
          <td class="text-center">
            <%= organizations_list.published_period2_counts_hash.fetch(custom_kind, 0) %>
            <% if organizations_list.upto_period2_counts_hash.fetch(custom_kind, 0) > 0 %>
              (<%= number_to_percentage(organizations_list.published_period2_counts_hash.fetch(custom_kind, 0) * 100.0 / organizations_list.upto_period2_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>