<table class="table table-bordered mb-0" data-controller="sortable-table">
  <thead>
    <tr>
      <th rowspan="2">&nbsp;</th>
      <th colspan="5" class="text-center">Подключено</th>
      <th colspan="3" class="text-center table-light">Активировано</th>
      <th colspan="2" class="text-center">Активных</th>
    </tr>

    <tr>
      <th class="text-center">
        <%= sortable_table_sort_link "За всё время", column_index: 1 %></th>
      <th class="text-center">
        <%= sortable_table_sort_link "За первый период", column_index: 2 %>
      </th>
      <th class="text-center">
        <%= sortable_table_sort_link "За второй период", column_index: 3 %>
      </th>
      <th class="text-center">
        <%= sortable_table_sort_link "К концу первого периода", column_index: 4 %>
      </th>
      <th class="text-center">
        <%= sortable_table_sort_link "К концу второго периода", column_index: 5 %>
      </th>

      <th class="text-center table-light">
        <%= sortable_table_sort_link "За всё время", column_index: 6 %>
      </th>
      <th class="text-center table-light">
        <%= sortable_table_sort_link "За первый период", column_index: 7 %>
      </th>
      <th class="text-center table-light">
        <%= sortable_table_sort_link "За второй период", column_index: 8 %>
      </th>

      <th class="text-center">
        <%= sortable_table_sort_link "За первый период", column_index: 9 %>
      </th>
      <th class="text-center">
        <%= sortable_table_sort_link "За второй период", column_index: 10 %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% kinds.each do |kind| %>
      <% custom_kind = users_list.custom_kind(kind) %>

      <tr>
        <td>
          <%= Organization.human_attribute_name("kinds.#{kind}") %>
        </td>

        <td class="text-center" data-sortable-table-value="<%= users_list.total_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.total_counts_hash.fetch(custom_kind, 0) %>
        </td>

        <td class="text-center" data-sortable-table-value="<%= users_list.period1_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.period1_counts_hash.fetch(custom_kind, 0) %>
          (<%= number_to_percentage(users_list.period1_counts_hash.fetch(custom_kind, 0) * 100.0 / users_list.total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
        </td>
        <td class="text-center" data-sortable-table-value="<%= users_list.period2_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.period2_counts_hash.fetch(custom_kind, 0) %>
          (<%= number_to_percentage(users_list.period2_counts_hash.fetch(custom_kind, 0) * 100.0 / users_list.total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
        </td>

        <td class="text-center" data-sortable-table-value="<%= users_list.upto_period1_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.upto_period1_counts_hash.fetch(custom_kind, 0) %>
        </td>
        <td class="text-center" data-sortable-table-value="<%= users_list.upto_period2_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.upto_period2_counts_hash.fetch(custom_kind, 0) %>
        </td>

        <td class="text-center table-light text-nowrap" data-sortable-table-value="<%= users_list.confirmed_total_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.confirmed_total_counts_hash.fetch(custom_kind, 0) %>
          (<%= number_to_percentage(users_list.confirmed_total_counts_hash.fetch(custom_kind, 0) * 100.0 / users_list.total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
        </td>
        <td class="text-center table-light" data-sortable-table-value="<%= users_list.confirmed_period1_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.confirmed_period1_counts_hash.fetch(custom_kind, 0) %>
          (<%= number_to_percentage(users_list.confirmed_period1_counts_hash.fetch(custom_kind, 0) * 100.0 / users_list.confirmed_total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
        </td>
        <td class="text-center table-light"  data-sortable-table-value="<%= users_list.confirmed_period2_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.confirmed_period2_counts_hash.fetch(custom_kind, 0) %>
          (<%= number_to_percentage(users_list.confirmed_period2_counts_hash.fetch(custom_kind, 0) * 100.0 / users_list.confirmed_total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
        </td>

        <td class="text-center" data-sortable-table-value="<%= users_list.visited_period1_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.visited_period1_counts_hash.fetch(custom_kind, 0) %>
          (<%= number_to_percentage(users_list.visited_period1_counts_hash.fetch(custom_kind, 0) * 100.0 / users_list.confirmed_total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
        </td>
        <td class="text-center" data-sortable-table-value="<%= users_list.visited_period2_counts_hash.fetch(custom_kind, 0) %>">
          <%= users_list.visited_period2_counts_hash.fetch(custom_kind, 0) %>
          (<%= number_to_percentage(users_list.visited_period2_counts_hash.fetch(custom_kind, 0) * 100.0 / users_list.confirmed_total_counts_hash.fetch(custom_kind, 0), precision: 0) %>)
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
