$('#chart2').html("<%= j render 'admin/dashboards/chart2', chart: @dashboard.chart2, name: 'Динамика количества СМИ, посмотревших инфоповоды', change_period_url: chart2_admin_dashboard_path(params.to_unsafe_h), period: @dashboard.chart2_period %>");