$('#chart3_users').html("<%= j render partial: 'admin/dashboards/chart3', locals: {
  chart: @dashboard.chart3_users,
  chart_id: 'chart3_users_chart',
  name: 'Динамика пользователей по входам в систему (суммарно по всем ОИВам и СМИ)',
  period: @dashboard.chart3_users_period,
  change_period_url: chart3_users_admin_dashboard_path(params.to_unsafe_h),
  html_id: 'chart3_users',
} %>");