$('#chart3_organizations').html("<%= j render partial: 'admin/dashboards/chart3', locals: {
  chart: @dashboard.chart3_organizations,
  chart_id: 'chart3_organizations_chart',
  name: 'Динамика организаций по входам в систему (суммарно по всем ОИВам и СМИ)',
  period: @dashboard.chart3_organizations_period,
  change_period_url: chart3_organizations_admin_dashboard_path(params.to_unsafe_h),
} %>");