<div class="container mt-5 mb-10">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Дашборд') %></h1>
  </div>

  <%= render 'filters' %>

  <h3 class="text-primary">Организации</h3>
  <div class="card card-border border-primary shadow mb-7">
    <%= render partial: 'admin/dashboards/organizations_table', locals: {
      organizations_list: @dashboard.organizations_list,
      kinds: Organization.kinds.keys.reject { |kind| kind == 'media' },
    } %>
  </div>

  <h3 class="text-primary">СМИ</h3>
  <div class="card card-border border-primary shadow mb-7">
    <%= render partial: 'admin/dashboards/organizations_table', locals: {
      organizations_list: @dashboard.organizations_list,
      kinds: ['media_federal', 'media_regional'],
    } %>
  </div>

  <h3 class="text-primary">Пользователи организаций</h3>
  <div class="card card-border border-primary shadow mb-7">
    <%= render partial: 'admin/dashboards/users_table', locals: {
      users_list: @dashboard.users_list,
      kinds: Organization.kinds.keys.reject { |kind| kind == 'media' },
    } %>
  </div>

  <h3 class="text-primary">Пользователи СМИ</h3>
  <div class="card card-border border-primary shadow mb-7">
    <%= render partial: 'admin/dashboards/users_table', locals: {
      users_list: @dashboard.users_list,
      kinds: ['media_federal', 'media_regional'],
    } %>
  </div>

  <div id="chart3_organizations">
    <%#= render partial: 'chart3', locals: {
      chart: @dashboard.chart3_organizations,
      chart_id: 'chart3_organizations_chart',
      name: 'Динамика организаций по входам в систему (суммарно по всем ОИВам и СМИ)',
      period: @dashboard.chart3_organizations_period,
      change_period_url: chart3_organizations_admin_dashboard_path(params.to_unsafe_h),
    } %>
  </div>
  <script>
  $(function() {
    $.ajax({
      url: "<%== chart3_organizations_admin_dashboard_path(params.to_unsafe_h.merge(period: @dashboard.chart3_organizations_period)) %>",
      dataType: 'script',
    });
  });
  </script>

  <div id="chart3_users">
    <%#= render partial: 'chart3', locals: {
      chart: @dashboard.chart3_users,
      chart_id: 'chart3_users_chart',
      name: 'Динамика пользователей по входам в систему (суммарно по всем ОИВам и СМИ)',
      period: @dashboard.chart3_users_period,
      change_period_url: chart3_users_admin_dashboard_path(params.to_unsafe_h),
      html_id: 'chart3_users',
    } %>
  </div>
  <script>
  $(function() {
    $.ajax({
      url: "<%== chart3_users_admin_dashboard_path(params.to_unsafe_h.merge(period: @dashboard.chart3_users_period)) %>",
      dataType: 'script',
    });
  });
  </script>

  <div id="chart4">
    <%#= render 'chart4', chart: @dashboard.chart4, name: 'Пользователи (источники с разбивкой по типам и СМИ с разбивкой федеральные региональные) хотя бы 1 раз заходили на этой неделе', change_period_url: chart4_admin_dashboard_path(params.to_unsafe_h), period: @dashboard.chart4_period %>
  </div>
  <script>
  $(function() {
    $.ajax({
      url: "<%== chart4_admin_dashboard_path(params.to_unsafe_h.merge(period: @dashboard.chart4_period)) %>",
      dataType: 'script',
    });
  });
  </script>

  <%= render partial: 'press_releases', locals: {
    organizations_list: @dashboard.organizations_list,
  } %>

  <div id="chart1">
    <%#= render 'chart1', chart: @dashboard.chart1, name: "Инфоповоды: динамика с #{@dashboard.both_periods_starts_at.to_date.strftime('%d.%m.%Y')} по #{(@dashboard.both_periods_ends_at.to_date - 1).strftime('%d.%m.%Y')}.", change_period_url: chart1_admin_dashboard_path(params.to_unsafe_h), period: @dashboard.chart1_period %>
  </div>
  <script>
  $(function() {
    $.ajax({
      url: "<%== chart1_admin_dashboard_path(params.to_unsafe_h.merge(period: @dashboard.chart1_period)) %>",
      dataType: 'script',
    });
  });
  </script>

  <%= render partial: 'media', locals: {
    users_list: @dashboard.users_list,
    organizations_list: @dashboard.organizations_list,
  } %>

  <%#= render 'press_releases_chart', chart: @dashboard.press_releases_chart %>
  <%#= render 'media_digest_deliveries_chart', chart: @dashboard.media_digest_deliveries_chart %>

  <div id="chart2">
    <%= render 'chart2', chart: @dashboard.chart2, name: 'Динамика количества СМИ, посмотревших инфоповоды', change_period_url: chart2_admin_dashboard_path(params.to_unsafe_h), period: @dashboard.chart2_period %>
  </div>

  <h3 class="text-primary">Инфоповодов по направлениям</h3>
  <div class="card card-border border-primary shadow mb-7">
    <div class="p-4" id="national_projects_list">Загрузка…</div>

    <div class="small text-muted mt-3">
      Считаются инфоповоды, созданные в указанные периоды<br>
      Инфоповод может быть привязан одновременно к нескольким направлением, поэтому количество уникальных инфоповодов часто меньше суммы инфоповодов по каждому направлению в отдельности.
    </div>

    <script>
    $(function() {
      $.ajax({
        url: "<%== admin_dashboard_national_projects_list_path({
          federal_subject_id: @dashboard.federal_subject&.id,
          starts_at: @dashboard.starts_at,
          ends_at: @dashboard.ends_at,
          starts2_at: @dashboard.starts2_at,
          ends2_at: @dashboard.ends2_at,
        }) %>",
        dataType: 'script'
      });
    });
    </script>
  </div>


  <h2 class="text-center mt-8 pt-8">Рассылка по подписке</h2>

  <% subscriptions_dashboard = Dashboard::SubscriptionsDashboard.new(starts_at: @dashboard.starts_at, ends_at: @dashboard.ends_at, starts2_at: @dashboard.starts2_at, ends2_at: @dashboard.ends2_at) %>

  <div id="subscriptions_table1">
    <% if false %>
      <%= render "admin/dashboards/subscriptions/table1", dashboard: subscriptions_dashboard %>
    <% else %>
      <script>
      $(function() {
        $.ajax({
          url: "<%== table1_admin_dashboard_subscriptions_path({
            starts_at: @dashboard.starts_at,
            ends_at: @dashboard.ends_at,
            starts2_at: @dashboard.starts2_at,
            ends2_at: @dashboard.ends2_at,
          }) %>",
          dataType: 'script'
        });
      });
      </script>
    <% end %>
  </div>

  <div id="subscriptions_table2">
    <% if false %>
      <%= render "admin/dashboards/subscriptions/table2", dashboard: subscriptions_dashboard %>
    <% else %>
      <script>
      $(function() {
        $.ajax({
          url: "<%== table2_admin_dashboard_subscriptions_path({
            starts_at: @dashboard.starts_at,
            ends_at: @dashboard.ends_at,
            starts2_at: @dashboard.starts2_at,
            ends2_at: @dashboard.ends2_at,
          }) %>",
          dataType: 'script'
        });
      });
      </script>
    <% end %>
  </div>

  <div id="subscriptions_table3">
    <% if false %>
      <%= render "admin/dashboards/subscriptions/table3", dashboard: subscriptions_dashboard %>
    <% else %>
      <script>
      $(function() {
        $.ajax({
          url: "<%== table3_admin_dashboard_subscriptions_path({
            starts_at: @dashboard.starts_at,
            ends_at: @dashboard.ends_at,
            starts2_at: @dashboard.starts2_at,
            ends2_at: @dashboard.ends2_at,
          }) %>",
          dataType: 'script'
        });
      });
      </script>
    <% end %>
  </div>

  <div id="subscriptions_table4">
    <% if false %>
      <%= render "admin/dashboards/subscriptions/table4", dashboard: subscriptions_dashboard %>
    <% else %>
      <script>
      $(function() {
        $.ajax({
          url: "<%== table4_admin_dashboard_subscriptions_path({
            starts_at: @dashboard.starts_at,
            ends_at: @dashboard.ends_at,
            starts2_at: @dashboard.starts2_at,
            ends2_at: @dashboard.ends2_at,
          }) %>",
          dataType: 'script'
        });
      });
      </script>
    <% end %>
  </div>

  <div id="subscriptions_table5">
    <% if false %>
      <%= render "admin/dashboards/subscriptions/table5", dashboard: subscriptions_dashboard %>
    <% else %>
      <script>
      $(function() {
        $.ajax({
          url: "<%== table5_admin_dashboard_subscriptions_path({
            starts_at: @dashboard.starts_at,
            ends_at: @dashboard.ends_at,
            starts2_at: @dashboard.starts2_at,
            ends2_at: @dashboard.ends2_at,
          }) %>",
          dataType: 'script'
        });
      });
      </script>
    <% end %>
  </div>

  <div id="subscriptions_table6">
    <% if false %>
      <%= render "admin/dashboards/subscriptions/table6", dashboard: subscriptions_dashboard %>
    <% else %>
      <script>
      $(function() {
        $.ajax({
          url: "<%== table6_admin_dashboard_subscriptions_path({
            starts_at: @dashboard.starts_at,
            ends_at: @dashboard.ends_at,
            starts2_at: @dashboard.starts2_at,
            ends2_at: @dashboard.ends2_at,
          }) %>",
          dataType: 'script'
        });
      });
      </script>
    <% end %>
  </div>

  <div id="subscriptions_table7">
    <% if false %>
      <%= render "admin/dashboards/subscriptions/table7", dashboard: subscriptions_dashboard %>
    <% else %>
      <script>
      $(function() {
        $.ajax({
          url: "<%== table7_admin_dashboard_subscriptions_path({
            starts_at: @dashboard.starts_at,
            ends_at: @dashboard.ends_at,
            starts2_at: @dashboard.starts2_at,
            ends2_at: @dashboard.ends2_at,
          }) %>",
          dataType: 'script'
        });
      });
      </script>
    <% end %>
  </div>
</div>