<div class="container mt-5 mb-10">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto">
      <%= l(@starts_on, format: '%-d %B') %> –&nbsp;<%= l(@ends_on, format: '%-d %B') %>
    </h1>

    <% if @federal_subject %>
      <div>
        <%= @federal_subject.name %>
      </div>
    <% end %>
  </div>

  <div class="card card-border border-primary shadow mb-7">
    <div class="card-body">
      <table>
        <tr>
          <td class="w-50 pr-4">
            <h3 class="text-primary">Подключено</h3>

            <table class="table table-bordered table-hover">
              <tr>
                <td>Организаций</td>
                <td class="text-center"><%= @not_media_organizations_count %></td>
                <td class="text-center">
                  <% if @not_media_organizations_diff > 0 %>
                    <span class="fe fe-arrow-up text-success"></span>
                  <% end %>
                  <%= @not_media_organizations_diff %>
                </td>
              </tr>

              <tr>
                <td>СМИ</td>
                <td class="text-center"><%= @media_organizations_count %></td>
                <td class="text-center">
                  <% if @media_organizations_diff > 0 %>
                    <span class="fe fe-arrow-up text-success"></span>
                  <% end %>
                  <%= @media_organizations_diff %>
                </td>
              </tr>
            </table>
          </td>

          <td class="pl-4">
            <h3 class="text-primary">Размещено инфоповодов в СРК (всего) - <%= @press_releases_count %></h3>

            <% if @press_releases_count > 0 %>
              <table>
                <tr>
                  <td class="w-50">
                    <h3>
                      Количество просмотров<br>
                    </h3>
                  </td>
                  <td>
                    <h3>
                      <%= @shows_count %><br>
                    </h3>
                  </td>
                </tr>
                <tr>
                  <td class="w-50">
                    <h3>
                      Взято в СМИ<br>
                      (размещена ссылка на публикацию в СРК)
                    </h3>
                  </td>
                  <td>
                    <h3>
                      <%= @reposted_press_releases_count %> <%= t(:press_release, count: @reposted_press_releases_count) %><br>
                      <%= number_to_percentage(@reposted_press_releases_percentage, precision: 0, strip_insignificant_zeros: true) %> от числа размещенных
                    </h3>
                  </td>
                </tr>
              </table>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <% if @press_releases_count > 0 %>
    <div class="card card-border border-primary shadow mb-7">
      <div class="card-body">
        <%= line_chart @press_releases_chart.first[:data] %>
      </div>
    </div>
  <% end %>

  <h3 class="text-primary">Инфоповодов по направлениям</h3>
  <div class="card card-border border-primary shadow mb-7">
    <table class="table table-bordered table-sm mb-0 table-hover">
      <thead>
        <tr>
          <th>Направление</th>
          <th class="text-center">Сообщений, ед.</th>
          <th class="text-center">Динамика</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Всего</td>
          <td class="text-center"><%= @press_releases_total %></td>
          <td class="text-center">
            <% if @press_releases_count > 0 %>
              <span class="fe fe-arrow-up text-success"></span>
            <% end %>
            <%= @press_releases_count %>
          </td>
        </tr>

        <% @national_projects.each do |national_project| %>
          <tr>
            <td><%= national_project.short_name %></td>
            <td class="text-center"><%= national_project.press_releases_count %></td>
            <td class="text-center">
              <% if national_project.press_releases_diff > 0 %>
                <span class="fe fe-arrow-up text-success"></span>
              <% end %>
              <%= national_project.press_releases_diff %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
