<div id="top-list-item-switch" class="mr-4">
  <% unless @press_release.top_list_item %>
    <%= link_to 'Добавить в Топ', press_release_top_list_item_path(@press_release), method: :post, remote: true, class: 'btn btn-sm btn-outline-secondary' %>
  <% else %>
    <%= link_to 'Убрать из Топ', press_release_top_list_item_path(@press_release), method: :delete, remote: true, class: 'btn btn-sm btn-outline-secondary' %>
  <% end %>
</div>