<div class="form-row field">
  <div class="col-auto mb-2">
    <%= f.attribute_fields do |a| %>
      <%= a.attribute_select({ associations: [:organization, :moderatable_national_projects] }, class: 'form-control form-control-sm') %>
    <% end %>
  </div>

  <div class="col-auto mb-2">
    <%= f.predicate_select({ only: %i[cont not_cont eq blank null lteq gteq] }, class: 'form-control form-control-sm') %>
  </div>

  <div class="col-auto mb-2">
    <%= f.value_fields do |v| %>
      <%= v.text_field :value, class: 'form-control form-control-sm' %>
    <% end %>
  </div>

  <div class="col-auto mb-2">
    <%= link_to 'убрать', '#', class: 'remove_fields' %>
  </div>
</div>
