<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <%= form_tag update_multiple_permissions_admin_users_path, remote: true, method: :patch do %>
            <% @users.each do |user| %>
              <%= hidden_field_tag 'user_ids[]', user.id %>
            <% end %>

            <% %i[creatable moderatable viewable repostable].each do |permission| %>
              <div class="form-group">
                <%= label_tag permission, User.human_attribute_name("#{permission}_federal_projects") %>
                <%= select_tag("user[#{permission}_federal_projects][]", grouped_options_for_select(FederalProject.to_multiple_select), {
                  multiple: true,
                  class: 'form-control nowidth',
                  data: {
                    controller: 'selectpicker selectpicker-checkable-optgroups',
                    live_search: true,
                    live_search_normalize: true,
                    none_selected_text: '',
                    actions_box: true,
                    selected_text_format: 'count'
                  }
                }) %>
              </div>
            <% end %>

            <div class="form-group d-flex justify-content-between">
              <%= button_tag 'Добавить', type: :submit, class: 'btn btn-primary', name: 'multiple_action', value: 'add' %>
              <%= button_tag 'Убрать', type: :submit, class: 'btn btn-primary', name: 'multiple_action', value: 'remove' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
