<div class="container mt-5">
  <div class="d-flex mb-5">
    <% if @user.avatar.attached? && @user.avatar.variable? %>
      <div class="avatar-lg">
        <%= image_tag @user.avatar.variant(resize_to_limit: [103, 103]), class: 'avatar-img rounded-circle' %>
      </div>
    <% else %>
      <div class="avatar">
        <div class="avatar-img border rounded-circle"></div>
      </div>
    <% end %>

    <div class="ml-4 align-self-center">
      <h1 class="mb-0"><%= title(@user.name) %></h1>
      <div><%= @user.organization&.name %></div>
    </div>

    <div class="btn-group ml-auto align-self-end">
      <%= link_to 'Редактировать', [:edit, :admin, @user], class: 'btn btn-secondary' %>
    </div>
  </div>

  <div class="d-flex mb-7">
    <div>
      <h2 class="mb-0 font-weight-bold"><%= link_to 'Информация', [:admin, @user], class: [
        'btn',
        'btn-lh-30',
        (current_page?([:admin, @user]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>

    <div class="ml-3">
      <h2 class="mb-0 font-weight-bold"><%= link_to 'История', [:admin, @user, :activities], class: [
        'btn',
        'btn-lh-30',
        (current_page?([:admin, @user, :activities]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>

    <div class="ml-3">
      <h2 class="mb-0 font-weight-bold"><%= link_to 'Шаблоны писем', [:admin, @user, :mails], class: [
        'btn',
        'btn-lh-30',
        (current_page?([:admin, @user, :mails]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>

    <div class="ml-3">
      <h2 class="mb-0 font-weight-bold"><%= link_to 'API-ключ', [:admin, @user, :authentication_token], class: [
        'btn',
        'btn-lh-30',
        (current_page?([:admin, @user, :authentication_token]) ? 'btn-primary' : 'btn-outline-primary')
      ] %></h2>
    </div>
  </div>

  <%= yield %>
</div>