<tr id="<%= dom_id(user) %>">
  <td>
    <%= check_box_tag 'user_ids[]', user.id, false, data: { target: 'all-selectable.selectable admin-users-list-form.checkbox' } %>
  </td>
  <td class="text-center">
    <% if user.avatar.attached? && user.avatar.variable? %>
      <div class="avatar">
        <%= image_tag user.avatar.variant(resize_to_limit: [55, 55]), class: 'avatar-img rounded-circle' %>
      </div>
    <% end %>
  </td>
  <td><%= link_to [user.last_name, user.first_name].join(' '), [:admin, user] %></td>
  <td><%= user.organization&.name %></td>
  <td><%= link_to user.email, [:admin, user] %></td>
  <td class="text-center"><%= user.created_at.strftime('%d.%m.%Y %H:%M') %></td>
  <td class="text-center">
    <%= user.confirmed_at&.strftime('%d.%m.%Y %H:%M') %>
    <div><%= link_to 'отправить ссылку', [:admin, user, :send_confirmation_link], method: :post, remote: true, data: { confirm: "Вы уверены, что хотите отправить пользователю #{user.name} приглашение в систему?" } %></div>
  </td>
  <td class="text-center">
    <div>
      <%= link_to [:edit, :admin, user, :permissions] do %>
        <%= user.creatable_national_projects.size %>
        |
        <%= user.moderatable_national_projects.size %>
        |
        <%= user.repostable_national_projects.size %>
      <% end %>
    </div>

    <% if user.admin? %>
      <div class="text-primary">админ</div>
    <% end %>
  </td>
  <td class="text-center">
    <% if policy([:admin, user]).update? %>
      <%= link_to [:edit, :admin, user] do %>
        <span class="fe fe-edit"></span>
      <% end %>
    <% end %>
  </td>
</tr>