<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="d-flex border-bottom border-gray pb-2 mb-3">
      <h1 class="h3 mb-0 mr-auto"><%= title("Редактировать выбранных пользователей (#{@users.size})") %></h1>
    </div>

    <%= form_tag update_multiple_admin_users_path, method: :patch do %>
      <% @users.each do |user| %>
        <%= hidden_field_tag 'user_ids[]', user.id %>
      <% end %>

      <fieldset>
        <legend>Типы доступа к событиям</legend>
        <% UserFederalProjectPermission.permissions.keys.each do |permission| %>
          <%= hidden_field_tag "user[#{permission}_federal_project_ids[]", '' %>
        <% end %>

        <table class="table table-sm table-bordered table-hover table-striped" data-controller="permissions">
          <thead>
            <th>&nbsp;</th>
            <% {
              creatable: 'Создание',
              moderatable: 'Модерация',
              viewable: 'Просмотр',
              repostable: 'Cсылки'
            }.each do |permission, permission_name| %>
              <th class="text-center">
                <%= button_tag permission_name, type: 'button', class: 'btn btn-link', data: { action: 'permissions#permissionClicked', permission: permission, checked: false }, style: 'text-decoration: underline;'  %>
              </th>
            <% end %>
          </thead>
          <tbody>
            <% @national_projects.each do |national_project| %>
              <tr class="table-info">
                <th><%= national_project.name %></th>

                <% %i[creatable moderatable viewable repostable].each do |permission| %>
                  <th class="text-center">
                    <%= check_box_tag nil, '', false, data: { action: 'permissions#nationalProjectClicked', national_project_id: national_project.id, target: 'permissions.nationalProject', permission: permission } %>
                  </th>
                <% end %>
              </tr>
              <% national_project.federal_projects.each do |federal_project| %>
                <tr>
                  <td><%= federal_project.name %></td>
                  <% %i[creatable moderatable viewable repostable].each do |permission| %>
                    <td class="text-center">
                      <%= check_box_tag "user[#{permission}_federal_project_ids][]", federal_project.id, false, data: { permission: permission, national_project_id: national_project.id, target: 'permissions.federalProject', action: 'permissions#federalProjectClicked' } %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </fieldset>

      <div class="form-group d-flex">
        <%= submit_tag 'Сохранить', class: 'btn btn-primary mr-auto' %>
      </div>
    <% end %>
  </div>
</div>