<div class="container mt-5">
  <h1 class="mb-0 mr-auto"><%= title('Пользователь') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @user] do |f| %>
        <%= f.association :organization, collection: Organization.order(:name), input_html: { class: 'border', data: {
          controller: 'selectpicker',
          live_search: true,
          live_search_normalize: true,
        }} %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :contact_position %>
        <%= f.input :contact_phone %>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true, input_html: { autocomplete: "off" }, hint: (@user.persisted? ? 'Оставьте пустым, если не нужно поменять' : nil) %>
        <%= f.input :password_confirmation, input_html: { autocomplete: "off" } %>

        <%= f.input :avatar do %>
          <% if f.object.avatar.attached? && f.object.avatar.variable? %>
            <div class="avatar mb-2 d-block">
              <%= image_tag f.object.avatar.variant(resize_to_limit: [55, 55]), class: 'avatar-img rounded-circle' %>
            </div>
          <% end %>
          <%= f.input_field :avatar, class: 'form-control' %>
        <% end %>

        <%= f.input :admin %>
        <%= f.input :editor %>
        <%= f.input :subscribed_to_media_digest %>
        <%= f.input :reposts_list_permitted %>
        <%= f.input :show_unpublished_press_releases %>
        
        <%= f.association :user_groups, as: :check_boxes, collection: Admin::UserGroupPolicy::UserEditingScope.new(current_user, UserGroup).resolve.order(:name) %>

        <% if f.object.persisted? && !f.object.confirmed_at %>
          <div class="form-group form-check">
            <%= check_box_tag :set_confirmed_at, '1', false, class: 'form-check-input', id: 'set_confirmed_at' %>
            <label class="form-check-label" for="set_confirmed_at">Активировать</label>
          </div>
        <% end %>

        <% if false %>
          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password'  %>
            <p class="form-text text-muted"><small>We need your current password to confirm your changes</small></p>
          </div>
        <% end %>

        <%= f.input :sex, as: :radio_buttons, collection: [['неизвестно', ''], ['женский', 'female'], ['мужской', 'male']], boolean_style: :inline %>
        <%= f.input :thank_you_note %>

        <div class="form-group d-flex">
          <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>

          <% if @user.persisted? && policy(@user).destroy? %>
            <%= link_to 'Удалить', [:admin, @user], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>