<div class="container mt-5 mb-10">
  <div class="d-flex align-items-end mb-1">
    <h1 class="mb-0 mr-auto"><%= title('Пользователи') %></h1>

    <div class="btn-group">
      <%= link_to 'Добавить одного', [:new, :admin, :user], class: 'btn btn-primary' %>
      <%= link_to 'Добавить списком', [:new, :admin, :user_list], class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for [:admin, @q] do |f| %>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :email_cont %>
              <%= f.search_field :email_cont, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :last_name_cont %>
              <%= f.search_field :last_name_cont, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :federal_subject_id_eq_or_nil, 'Регион пользователя' %>
              <%= f.select :federal_subject_id_eq_or_nil, options_for_select(
                [['Вся Россия', 0]] +
                FederalSubject.order(:name).map { |fs| [fs.name, fs.id] },
                f.object.federal_subject_id_eq_or_nil
              ), {
                include_blank: 'Любой'
              }, {
                class: 'form-control',
                data: {
                  controller: 'selectpicker',
                  live_search: true,
                }
              } %>
            </div>

            <%= f.input :user_groups_id_eq, as: :select, collection: Admin::UserGroupPolicy::UserEditingScope.new(current_user, UserGroup).resolve, input_html: { data: { controller: "selectpicker" }}, label: UserGroup.model_name.human, required: false %>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :organization_kind_eq, 'Тип организации' %>
              <%= f.collection_select :organization_kind_eq, Organization.kinds.map { |key, value| [Organization.human_attribute_name("kinds.#{key}"), Organization.kinds[key]] }, :last, :first, { include_blank: 'Все' }, class: 'form-control', data: {
                controller: 'selectpicker',
              } %>
            </div>

            <div class="form-group">
              <%= f.label :organization_id_eq_or_nil, 'Организация' %>
              <%= f.select :organization_id_eq_or_nil, options_for_select(
                [['Нет организации', 0]] +
                Organization.order(:name).map { |o| [o.name, o.id] },
                f.object.organization_id_eq_or_nil
              ), {
                  include_blank: 'Все'
                }, {
                  class: 'form-control', data: {
                    controller: 'selectpicker',
                    live_search: true,
                    live_search_normalize: true,
                  }
                }
              %>
            </div>

            <div class="form-group">
              <%= f.label :organization_federal_subject_id_eq_or_nil, 'Регион организации' %>
              <%= f.select :organization_federal_subject_id_eq_or_nil, options_for_select(
                [['Вся Россия', 0]] +
                FederalSubject.order(:name).map { |fs| [fs.name, fs.id] },
                f.object.organization_federal_subject_id_eq_or_nil
              ), {
                include_blank: 'Любой'
              }, {
                class: 'form-control',
                data: {
                  controller: 'selectpicker',
                  live_search: true,
                }
              } %>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :moderatable_national_projects_id_eq, 'Право на модерацию' %>
              <%= f.collection_select :moderatable_national_projects_id_eq, NationalProject.order(:name), :id, :short_name, { include_blank: '' }, class: 'form-control', data: { controller: 'selectpicker' } %>
            </div>

            <div class="form-group">
              <%= f.label :admin_true, 'Администратор' %>
              <%= f.select :admin_true, options_for_select([
                ['Только администраторы', true],
                ['Только не администраторы', false],
              ], f.object.admin_true), { include_blank: 'Неважно' }, class: 'form-control', data: { controller: 'selectpicker' } %>
            </div>

            <div class="form-group">
              <%= label_tag :items, 'Записей на странице' %>
              <%= select_tag :items, options_for_select([10, 20, 50, 100], @pagy.items), class: 'form-control', data: { controller: 'selectpicker' } %>
            </div>
          </div>
        </div>

        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <%= form_tag nil, method: :get, remote: true, class: 'mb-5', data: { controller: 'all-selectable admin-users-list-form', action: 'ajax:success->admin-users-list-form#ajaxSuccess' } do %>

    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%== pagy_info(@pagy) %>
      </div>

      <div>
        <% if @q.result.count < 2000 %>
          <%= link_to 'Скачать .xlsx', sort_url(@q, :organization_name, format: :xlsx), class: 'h4 mb-0 text-secondary' %>
        <% else %>
          Скачать .xlsx можно, если выгрузка меньше 2000
        <% end %>
      </div>
    </div>

    <div class="card card-border border-primary">
      <table class="table table-bordered table-striped table-bordered">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th><%= User.human_attribute_name(:avatar) %></th>
            <th><%= sort_link @q, :last_name, 'Фамилия Имя' %></th>
            <th><%= sort_link @q, :organization_name, User.human_attribute_name(:organization) %></th>
            <th><%= sort_link @q, :email, User.human_attribute_name(:email) %></th>
            <th><%= sort_link @q, :created_at, 'Дата добавления', default_order: :desc %></th>
            <th><%= sort_link @q, :confirmed_at, 'Дата активации', default_order: :desc %></th>
            <th>
              Направления
              <span class="text-nowrap">Созд|Мод|Репост</span>
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'user', collection: @users %>
        </tbody>
      </table>

      <div class="mb-2">
         <%= link_to 'Выбрать показанные', '#', data: { action: 'all-selectable#select' } %>
         | <%= link_to 'Снять выделение', '#', data: { action: 'all-selectable#deselect' } %>
      </div>

      <div>
        <%= button_tag 'Изменить права', type: :button, class: 'btn btn-primary', data: { action: 'admin-users-list-form#setAction', url: edit_multiple_permissions_admin_users_path, method: 'get' } %>

        <% if false && current_user.email.in?(%[ admin@example.com sergey@burtsev.ru support.srk@nationalpriority.ru ]) %>
          <%= button_tag 'Отправить разовое письмо про дайджест', type: :button, class: 'btn btn-primary', data: { action: 'admin-users-list-form#setAction', url: about_media_digest_mail_admin_mails_path, method: 'post' } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%== pagy_nav(@pagy) %>
</div>