<div class="container mt-5">
  <h1 class="mb-0 mr-auto"><%= title('Новый пользователь') %></h1>

  <div class="card card-border border-primary shadow">
    <div class="card-body">
      <%= simple_form_for [:admin, @user] do |f| %>
        <%= f.association :organization, collection: Organization.order(:name), input_html: { class: 'border', data: {
          controller: 'selectpicker',
          live_search: true,
          live_search_normalize: true,
        }} %>
        <%= f.input :email %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :contact_position %>
        <%= f.input :contact_phone %>

        <%= f.input :asked_to_send_confirmation_notification %>

        <div class="form-group d-flex">
          <%= f.submit 'Сохранить', class: 'btn btn-primary mr-auto' %>
        </div>
      <% end %>
    </div>
  </div>
</div>