<%= render layout: 'layout' do %>
  <div class="row">
    <div class="col-4">
      <dl>
        <dt><%= User.human_attribute_name(:email) %></dt>
        <dd><%= @user.email %></dd>

        <dt><%= User.human_attribute_name(:first_name) %></dt>
        <dd><%= @user.first_name %></dd>

        <dt><%= User.human_attribute_name(:last_name) %></dt>
        <dd><%= @user.last_name %></dd>

        <dt><%= User.human_attribute_name(:contact_position) %></dt>
        <dd><%= @user.contact_position %></dd>

        <dt><%= User.human_attribute_name(:contact_phone) %></dt>
        <dd><%= @user.contact_phone %></dd>

        <dt><%= User.human_attribute_name(:federal_subject) %></dt>
        <dd><%= @user.federal_subject&.name.presence || '–' %></dd>

        <dt><%= User.human_attribute_name(:regional_moderator) %></dt>
        <dd><%= @user.regional_moderator? ? 'да' : 'нет' %></dd>

        <dt><%= User.human_attribute_name(:created_at) %></dt>
        <dd><%= l(@user.created_at, format: '%-d %B %Y %H:%M') %></dd>

        <dt><%= User.human_attribute_name(:updated_at) %></dt>
        <dd><%= l(@user.updated_at, format: '%-d %B %Y %H:%M') %></dd>

        <dt><%= User.human_attribute_name(:confirmed_at) %></dt>
        <dd>
          <% if @user.confirmed_at %>
            <%= l(@user.confirmed_at, format: '%-d %B %Y %H:%M') %>
          <% else %>
            –
          <% end %>
        </dd>

        <dt><%= User.human_attribute_name(:current_sign_in_at) %></dt>
        <dd>
          <% if @user.current_sign_in_at %>
            <%= l(@user.current_sign_in_at, format: '%-d %B %Y %H:%M') %>
          <% else %>
            –
          <% end %>
        </dd>

        <dt><%= User.human_attribute_name(:current_sign_in_ip) %></dt>
        <dd><%= @user.current_sign_in_ip || "–" %></dd>


        <dt><%= User.human_attribute_name(:last_sign_in_at) %></dt>
        <dd>
          <% if @user.last_sign_in_at %>
            <%= l(@user.last_sign_in_at, format: '%-d %B %Y %H:%M') %>
          <% else %>
            –
          <% end %>
        </dd>

        <dt><%= User.human_attribute_name(:last_sign_in_ip) %></dt>
        <dd><%= @user.last_sign_in_ip || "–" %></dd>
      </dl>
    </div>

    <div class="col-4">
      <dl>
        <dt><%= User.human_attribute_name(:organization) %></dt>
        <dd><%= @user.organization&.name.presence || '–' %></dd>

        <dt><%= Organization.human_attribute_name(:kind) %></dt>
        <dd>
          <% if @user.organization %>
            <%= Organization.human_enum_name(:kinds, @user.organization&.kind) %>
          <% else %>
            –
          <% end %>
        </dd>

        <dt><%= Organization.human_attribute_name(:federal_subject) %></dt>
        <dd><%= @user.organization&.federal_subject&.name.presence || '–' %></dd>
      </dl>
    </div>

    <div class="col-4">
      <dl>
        <dt>Количество инфоповодов</dt>
        <dd><%= @user.press_releases.count %></dd>

        <dt>Количество репостов</dt>
        <dd><%= @user.reposts.count %></dd>
      </dl>
    </div>
  </div>
<% end %>