<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 mb-6 text-secondary">
            <%= @subscription.user.name %>
            (<%= @subscription.user.email %>)
          </h1>

          <%= simple_form_for [:admin, @subscription], remote: true do |f| %>
            <%= f.association :federal_subjects, {
              collection: (
                [OpenStruct.new(name: 'Все регионы', id: 0)] +
                FederalSubject.order(:name)
              ),
              input_html: {
                data: {
                  controller: 'selectpicker selectpicker-with-all-option',
                  live_search: true,
                  none_selected_text: 'Все регионы',
                  selected_text_format: 'count > 1',
                }
              }
            } %>

            <%= f.association :national_projects, {
              collection: (
                [OpenStruct.new(short_name: 'Все направления', id: 0)] +
                NationalProject.order(:short_name)
              ),
              label_method: :short_name,
              input_html: {
                data: {
                  controller: 'selectpicker selectpicker-with-all-option',
                  none_selected_text: 'Все направления',
                  selected_text_format: 'count > 1',
                }
              }
            } %>

            <%= f.association :tags, {
              collection: (
                [OpenStruct.new(name: 'Все теги', id: 0)] +
                Tag.order(:name)
              ),
              input_html: {
                data: {
                  controller: 'selectpicker selectpicker-with-all-option',
                  live_search: true,
                  none_selected_text: 'Все теги',
                  selected_text_format: 'count > 1',
                }
              }
            } %>

            <%= f.association :organizations, {
              collection: (
                [OpenStruct.new(name: 'Все организации', id: 0)] +
                Organization.order(:name)
              ),
              input_html: {
                data: {
                  controller: 'selectpicker selectpicker-with-all-option',
                  live_search: true,
                  none_selected_text: 'Все организации',
                  selected_text_format: 'count > 1',
                }
              }
            } %>

            <%= f.input :frequency, required: false, as: :radio_buttons, collection: Subscription.frequencies.keys.map { |key| [Subscription.human_enum_name(:frequencies, key), key] } %>

            <%= f.input :activated %>

            <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
