<%= tag.tr id: dom_id(subscription) do %>
  <td><%= subscription.created_at.strftime("%d.%m.%Y %H:%M") %></td>
  <td>
    <%= link_to subscription.user.email, [:admin, subscription.user] %>
    <br><br>
    <div class="d-flex">
      <%= link_to admin_subscription_send_now_path(subscription, frequency: 'daily'), remote: true, method: :post, data: { confirm: 'Отправить сейчас 1 день?' }, class: 'text-decoration-none' do %>
        <span class="fe fe-send">день</span>
      <% end %>

      <%= link_to admin_subscription_send_now_path(subscription, frequency: 'weekly'), remote: true, method: :post, data: { confirm: 'Отправить сейчас 1 неделю?' }, class: 'text-decoration-none ml-2' do %>
        <span class="fe fe-send">неделя</span>
      <% end %>
    </div>
  </td>
  <td><%= subscription.user.name %></td>

  <td style="word-break: break-word;">
    <%= truncate(subscription_federal_subjects_name(subscription), length: 40) do %>
      <br>
      <%= link_to("Смотреть все", [:edit, :admin, subscription], remote: true) %>
    <% end %>
  </td>

  <td style="word-break: break-word;">
    <%= truncate(subscription_national_projects_name(subscription), length: 40) do %>
      <br>
      <%= link_to("Смотреть все", [:edit, :admin, subscription], remote: true) %>
    <% end %>
  </td>

  <td style="word-break: break-word;">
    <%= truncate(subscription_tags_name(subscription), length: 40) do %>
      <br>
      <%= link_to("Смотреть все", [:edit, :admin, subscription], remote: true) %>
    <% end %>
  </td>

  <td style="word-break: break-word;">
    <%= truncate(subscription_organizations_name(subscription), length: 40) do %>
      <br>
      <%= link_to("Смотреть все", [:edit, :admin, subscription], remote: true) %>
    <% end %>
  </td>

  <td><%= Subscription.human_enum_name(:frequencies, subscription.frequency) %></td>

  <td class="text-center">
    <%= 'да' if subscription.activated? %>
    <% if false %>
      <% if subscription.activated? %>
        <%= link_to admin_subscription_path(subscription, subscription: { activated: false }), method: :patch, remote: true, class: 'text-success', style: 'text-decoration: none;' do %>
          <span class="fe fe-check-square"></span>
        <% end %>
      <% else %>
        <%= link_to admin_subscription_path(subscription, subscription: { activated: true }), method: :patch, remote: true, class: 'text-danger', style: 'text-decoration: none;'  do %>
          <span class="fe fe-check-square"></span>
        <% end %>
      <% end %>
    <% end %>
  </td>

  <td class="text-center">
    <%= link_to [:edit, :admin, subscription], remote: true, class: 'text-decoration-none' do %>
      <span class="fe fe-edit"></span>
    <% end %>
  </td>
<% end %>
