<div class="container mt-8">
  <div class="d-flex align-items-end mb-1">
    <h2 class="mb-0 mr-auto">Подписки</h2>
  </div>

  <div class="card card-border border-primary shadow mb-4">
    <div class='card-body'>
      <%= search_form_for [:admin, @q] do |f| %>
        <%= f.input :user_email_cont, as: :string, label: 'E-mail пользователя', required: false %>
        <%= f.submit 'Поиск', class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <%== pagy_info(@pagy) %>

  <div class="card card-border shadow border-primary mb-4">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th><%= sort_link @q, :created_at, 'Дата/время создания' %></th>
          <th>E-mail</th>
          <th>Имя</th>
          <th><%= Subscription.human_attribute_name(:federal_subjects) %></th>
          <th><%= Subscription.human_attribute_name(:national_projects) %></th>
          <th><%= Subscription.human_attribute_name(:tags) %></th>
          <th><%= Subscription.human_attribute_name(:organizations) %></th>
          <th><%= Subscription.human_attribute_name(:frequency) %></th>
          <th class="text-center"><%= Subscription.human_attribute_name(:activated) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'subscription', collection: @subscriptions %>
      </tbody>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
</div>