<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1>Разослать федеральным СМИ</h1>
          
          <%= form_tag admin_main_topics_mailings_path, remote: true, method: :post do %>
            <% @main_topics.each do |main_topic| %>
              <%= hidden_field_tag 'main_topic_ids[]', main_topic.id %>
            <% end %>
            
            <div class="form-group">
              <%= label_tag :main_topic_ids, 'Главные темы' %>
              <ul class="list-unstyled">
                <% @main_topics.each do |main_topic| %>
                  <li><%= main_topic.name %></li>
                <% end %>
              </ul>
            </div>

            <div class="form-group">
              <%= label_tag :period, 'Период' %>
              <%= tag.div class: 'input-group input-group-lg', data: {
                controller: "flatpickr",
                flatpickr_wrap: true,
                #flatpickr_date_format: "d.m.Y H:i",
                flatpickr_alt_format: "d.m.Y",
                flatpickr_alt_input: true,
                flatpickr_mode: "range"
              } do %>
                <%= text_field_tag :period, nil, data: { input: '' }, class: 'form-control' %>

                <div class="input-group-append">
                  <button type="button" class="btn" title="toggle" data-toggle></button>
                </div>
              <% end %>
            </div>

            <div class="form-group d-flex justify-content-between">
              <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex', data: { disable_with: 'Отправляю…' } do %>
                <span class="mr-2">Отправить</span>
                <span class="fe fe-arrow-right"></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
