<nav class="navbar navbar-expand-lg navbar-dark bg-dark admin-navbar">
  <div class="container">
    <span class="navbar-brand mr-7">Редактирование</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= tag.li class: ['nav-item', (current_page?(:press_releases) ? 'active' : nil)] do %>
          <%= link_to :press_releases, class: 'nav-link' do %>
            Инфоповоды
            <% if current_page?(:press_releases) %>
              <span class="sr-only">(current)</span>
            <% end %>
          <% end %>
        <% end %>

        <% if policy([:admin, MainTopic]).index? %>
          <%= tag.li class: ['nav-item', (current_page?([:admin, :main_topics]) ? 'active' : nil)] do %>
            <%= link_to [:admin, :main_topics], class: 'nav-link' do %>
              Главные темы
              <% if current_page?([:admin, :main_topics]) %>
                <span class="sr-only">(current)</span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if policy([:admin, NationalProject]).index? %>
          <%= tag.li class: ['nav-item', (current_page?([:admin, :national_projects]) ? 'active' : nil)] do %>
            <%= link_to [:admin, :national_projects], class: 'nav-link' do %>
              Направления
              <% if current_page?([:admin, :national_projects]) %>
                <span class="sr-only">(current)</span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Отчёты
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Направления', [:admin, :national_projects_report], class: 'dropdown-item' %>
              <%= link_to 'Количество инфоповодов', [:admin, :press_releases_report], class: 'dropdown-item' %>
              <%= link_to 'Подключенные организации', [:admin, :organizations_report], class: 'dropdown-item' %>
              <%= link_to 'Активность СМИ', [:admin, :media_activity_report], class: 'dropdown-item' %>
              <%= link_to 'СМИ: отчет по активности', [:admin, :press_release_views_report], class: 'dropdown-item' %>
              <%= link_to 'СМИ: лента новостей', [:admin, :reposts], class: 'dropdown-item' %>
              <%= link_to 'Инфоповоды по направлениям', [:admin, :press_releases_national_projects_report], class: 'dropdown-item' %>
              <%= link_to 'РОИВ: отчёт по активности', [:admin, :regional_authorities_activities_report], class: 'dropdown-item' %>
              <%= link_to 'Рейтинг активности субъектов РФ и ФОИВ в СРК', :regional_authorities_month_ratings, class: 'dropdown-item' %>
              <%= link_to 'Брендирование', [:admin, :placements], class: 'dropdown-item' %>
              <%= link_to 'Дашборд', [:admin, :dashboard], class: 'dropdown-item' %>
              <%= link_to 'Выгрузка по инфоповодам', [:admin, :press_releases], class: 'dropdown-item' %>
              <%= link_to 'Дублированные инфоповоды', [:admin, :duplicated_press_releases], class: 'dropdown-item' %>
              <%= link_to 'Статистика по дублям', [:stats, :admin, :duplicated_press_releases], class: 'dropdown-item' %>
              <%= link_to 'Отчёт по направлениям для аналитиков', [:admin, :national_projects_stats], class: 'dropdown-item' %>
              <%= link_to 'Утверждения', [:admin, :approvements], class: 'dropdown-item' %>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Администрирование
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Пользователи', [:admin, :users], class: 'dropdown-item' %>
              <%= link_to 'Организации', [:admin, :organizations], class: 'dropdown-item' %>
              <%= link_to 'Заявки на регистрацию', [:admin, :registrations], class: 'dropdown-item' %>

              <% if policy([:admin, MainpageBanner]).index? %>
                <%= link_to 'Баннеры на главной странице', [:admin, :mainpage_banners], class: 'dropdown-item' %>
              <% end %>

              <div class="dropdown-divider"></div>
              <%= link_to 'Уведомления', [:admin, :messages], class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'FAQ', [:admin, :faq_items], class: 'dropdown-item' %>
              <%= link_to 'Как работает система СРК?', [:admin, :tutorials], class: 'dropdown-item' %>
              <%= link_to 'Страницы', [:admin, :pages], class: 'dropdown-item' %>
              <%= link_to 'Списки рассылки', [:admin, :mailing_lists], class: 'dropdown-item' %>
              <%= link_to 'Субъекты Федерации', [:admin, :federal_subjects], class: 'dropdown-item' %>
              <%= link_to 'Удалённые пользователи', [:admin, :deleted_users], class: 'dropdown-item' %>
              <% unless Rails.env.production? %>
                <%= link_to 'Проверка схожести текстов', [:admin, :similarity], class: 'dropdown-item' %>
              <% end %>
              <%= link_to 'Теги', [:admin, :tags], class: 'dropdown-item' %>
              <%= link_to 'Видео', [:admin, :video_albums], class: 'dropdown-item' %>

              <% if policy([:admin, BestPractice]).index? %>
                <%= link_to 'Лучшие региональные практики', [:admin, :best_practices], class: 'dropdown-item' %>
              <% end %>

              <% if policy([:admin, Complaint]).index? %>
                <%= link_to 'Жалобы', [:admin, :complaints], class: 'dropdown-item' %>
              <% end %>
              <%= link_to 'Подписки', [:admin, :subscriptions], class: 'dropdown-item' %>
              <%= link_to 'Категории', [:admin, :categories], class: 'dropdown-item' %>

              <% if policy([:admin, NotificationPopup]).index? %>
                <%= link_to 'Попапы', [:admin, :notification_popups], class: 'dropdown-item' %>
              <% end %>

              <% if policy([:admin, UserGroup]).index? %>
                <%= link_to "Группы пользователей", [:admin, :user_groups], class: "dropdown-item" %>
              <% end %>

              <%= link_to 'Рейтинги', [:admin, :rating_months], class: 'dropdown-item' %>
            </div>
          </li>
        <% end %>
      </ul>

      <span class="navbar-text">
        <%= current_user.name %>
        |
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'text-primary' %>
      </span>
    </div>
  </div>
</nav>