<div class="d-flex align-items-center justify-content-between bg-primary text-white py-3 px-7">
  <div class="d-flex align-items-center flex-shrink-0">
    <div class="mr-4" style="font-size: 64px; text-transform: uppercase; margin-top: 5px;">2021</div>
    <div class="text-uppercase" style="font-size: 26px; line-height: 28px;">Год науки<br>и технологий</div>
  </div>

  <div class="flex-shrink-0" style="font-size: 14px; line-height: 18px;">
    <div class="px-8">
      <div>
        Присылайте свои новости по теме – лучшие попадут в сюжеты<br>федеральных каналов,
        на&nbsp;портал <a href="https://годнауки.рф" target="_blank">годнауки.рф</a>, платформу<br><a href="https://национальныепроекты.рф" target="_blank">национальныепроекты.рф</a> и в соцсети национальных проектов
      </div>

    </div>
  </div>

  <div>
    <%= link_to 'Загрузить новость', new_press_release_path(main_topic_id: 76), class: 'btn btn-white' %>
  </div>
</div>
