<div class="row">
  <div class="col-sm-6">
    <%= render 'application/banner_nauka_compact' %>
  </div>

  <div class="col-sm-6">
    <%= render 'application/banner_video_compact' %>
  </div>
</div>

