<div class="d-flex align-items-center justify-content-between bg-primary text-white py-3 px-7 position-relative" style="height: 91px;">


  <div class="flex-shrink-0" style="font-size: 18px; line-height: 22px;">
    <div>
      <div>
        Ещё больше новых материалов для Вас<br>
        Теперь в формате <b>ВИДЕО</b>
      </div>
    </div>
  </div>

  <div>
    <%= link_to 'Посмотреть', :video_albums, class: 'btn btn-white stretched-link' %>
  </div>
</div>
