<% best_practices = BestPractice.approved.published.order(published_at: 'DESC').limit(3) %>

<% if best_practices.any? %>
  <div class="card shadow card-border border-primary mb-5">
    <div class="card-body">
      <h2 class="text-primary mb-4"><%= link_to 'Лучшие региональные практики', best_practices_path, class: 'text-reset text-decoration-none' %></h2>

      <div class="list-group list-group-flush mb-4">
        <% best_practices.each do |best_practice| %>
          <div class="list-group-item">
            <p class="text-gray-700 font-size-sm font-weight-bold mb-0">
              <%= link_to best_practice.name, best_practice, class: 'text-decoration-none' %>
            </p>
          </div>
        <% end %>
      </div>

      <hr class="mb-5">
      <%= link_to 'Смотреть все', best_practices_path %>
    </div>
  </div>
<% end %>