<div class="d-flex py-5 px-7 align-items-center justify-content-between bg-primary text-white">
  <div class="flex-shrink-0">
    <div style="font-size: 24px; text-transform: uppercase;">С 20 ноября по 20 декабря</div>
    <div style="font-size: 14px;">Конкурс на лучшие кейсы и практики с участием НКО</div>
  </div>

  <div style="font-size: 14px;">Присылайте ваши истории - лучшие попадут в соцсети<br>национальных проектов, на платформу <a href="https://национальныепроекты.рф">национальныепроекты.рф</a><br>и сюжеты федеральных телеканалов</div>

  <div>
    <a href="https://srk.nationalpriority.ru/pages/announcement" class="btn btn-white">Подробнее</a>
  </div>
</div>