<div class="card card-border border-primary shadow mb-5">
  <div class="card-body">
    <h2 class="text-primary mb-4">Рейтинг</h2>

    <ul class="nav mb-3">
      <li class="nav-item flex-grow-1" style="flex-basis: 0;">
        <%= link_to 'Регионы', '#', class: 'btn btn-primary btn-sm btn-lh-22 btn-block active', data: { toggle: 'tab', target: '#dashboard_widget_regions' } %>
      </li>

      <li class="nav-item flex-grow-1 ml-2" style="flex-basis: 0;">
        <%= link_to 'Организации', '#', class: 'btn btn-primary btn-sm btn-lh-22 btn-block', data: { toggle: 'tab', target: '#dashboard_widget_organizations' } %>
      </li>
    </ul>

    <div class="tab-content mb-3">
      <div class="tab-pane active" id="dashboard_widget_regions">
        <table>
          <tbody>
            <% FederalSubject.joins(:press_releases).group(:id).select(:name).select('COUNT(DISTINCT press_releases.id) AS press_releases_count').order(press_releases_count: 'DESC').limit(10).each do |federal_subject| %>
              <tr>
                <td><%= federal_subject.name %></td>
                <td class="text-right pl-2" style="vertical-align: top;"><%= federal_subject.press_releases_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="dashboard_widget_organizations">
        <table>
          <tbody>
            <% Organization.joins(users: :press_releases).group(:id).select(:name).select('COUNT(DISTINCT press_releases.id) AS press_releases_count').order(press_releases_count: 'DESC').limit(10).each do |organization| %>
              <tr>
                <td><%= organization.name %></td>
                <td class="text-right pl-2" style="vertical-align: top;"><%= organization.press_releases_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= link_to 'Подробнее', :dashboard %>
  </div>
</div>
