<footer class="footer mt-auto">
  <div class="container">
    <div class="d-flex justify-content-between align-items-end">
      <div>
        <ul class="list small text-secondary mb-5">
          <% ["user-agreement", "personal-data-policy", "personal-data-agreement"].each do |slug| %>
            <% if (page = Page.find_by(slug: slug)) %>
              <li class="list-item">
                <%= link_to page.name, page_url(page.slug) %>
              </li>
            <% end %>
          <% end %>
        </ul>
        
        <div class="small text-secondary">© 2021 Система сбора и распределение контента. Платформа разработана и поддерживается АНО «Национальные приоритеты».</div>
      </div>
      <div>
        <%= image_tag 'footer_logo.png', width: 178 %>
      </div>
  </div>
</footer>
