<div class="container mt-7 mb-7">
  <div class="row">
    <div class="col-9">
      <div style="width: 328px;">
        <%= link_to :root do %>
          <%= image_tag 'logo_top.svg', class: 'w-100' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
