<div class="container mt-7 mb-7">
  <div class="row">
    <div class="col-9">
      <div class="d-flex h-100">
        <div style="width: 132px;">
          <%= link_to :root do %>
            <%= image_tag 'logo_vertical.svg', class: 'w-100' %>
          <% end %>
        </div>

        <% if current_user.has_ability?(:show_mainpage_banners) %>
          <div class="card card-border border-primary shadow ml-auto" style="width: 663px;">
            <div class="card-body">
              <%= render 'application/mainpage_banners' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/user' %>
    </div>
  </div>
</div>
