<div data-controller="mainpage-banners" class="mainpage-banners">
  <h4 class="h3 text-primary mb-0">Новости</h4>
  <div class="text-secondary">Ваши инфоповоды в новостях</div>

  <hr class="mt-3 mb-4">

  <div class="position-relative">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% MainpageBanner.with_attached_avatar.order(created_at: 'DESC').each do |mainpage_banner| %>
          <% if mainpage_banner.avatar.attached? && mainpage_banner.avatar.variable? %>
            <div class="swiper-slide">
              <%= tag.div class: 'position-relative' do %>
                <% if false %>
                  <div class="d-flex mb-1 mainpage-banners--above-image">
                    <div><%= mainpage_banner.created_at.strftime('%d.%m.%Y') %></div>
                    <div class="ml-auto"><%= mainpage_banner.region %></div>
                  </div>
                <% end %>

                <div class="shadow-sm position-relative">
                  <%= image_tag mainpage_banner.avatar.variant(resize_to_fill: [196, 120]), class: 'w-100' %>
                  <div class="mainpage-banners--image-text"><%= mainpage_banner.source %></div>
                </div>
                <div class="pt-2"><%= link_to mainpage_banner.text.truncate(56, separator: ' '), mainpage_banner.url, target: '_blank', class: 'stretched-link text-decoration-none' %></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>