<% if policy(MainTopic).index? %>
  <div class="card shadow card-border border-primary mb-5">
    <div class="card-body">
      <h2 class="text-primary mb-4"><%= link_to 'Главные темы', main_topics_path, class: 'text-reset text-decoration-none' %></h2>

      <div class="list-group list-group-flush mb-4">
        <% main_topics_list.each do |main_topic| %>
          <div class="list-group-item">
            <p class="text-gray-700 font-size-sm font-weight-bold mb-0">
              <%= link_to main_topic.name, main_topic, class: 'text-decoration-none' %>
            </p>
          </div>
        <% end %>
      </div>

      <hr class="mb-5">
      <%= link_to main_topics_path do %>
        Смотреть все
      <% end %>
    </div>
  </div>
<% end %>