<% if main_topics_press_releases.any? %>
  <div class="card shadow card-border border-primary">
    <div class="card-body">
      <h2 class="text-primary mb-4">Топ инфоповодов</h2>

      <div class="list-group list-group-flush">
        <% main_topics_press_releases.each do |press_release| %>
          <div class="list-group-item">
            <p class="text-muted font-size-sm mb-1 font-decoration-underline">
              <%= press_release.published_at == Date.today ? 'Сегодня' : l(press_release.published_at, format: '%-d %B') %>
            </p>

            <p class="text-gray-700 font-size-sm font-weight-bold mb-1">
              <%= link_to press_release.title, press_release, class: 'text-decoration-none' %>
            </p>

            <p class="font-size-sm text-muted font-weight-light mb-0">
              <%= link_to press_release_brief(press_release), press_release, class: 'text-decoration-none' %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>