<% if main_topics_press_releases.size > 0 %>
  <div class="mt-7 mb-7">
    <h2 class="text-primary mb-4">Топ инфоповодов</h2>

    <div class="swiper-container pb-7" data-controller="main-topics-slider">

      <div class="swiper-wrapper">
        <% main_topics_press_releases.each do |press_release| %>
          <div class="swiper-slide">
            <p class="text-gray-700 font-size-sm font-weight-bold mb-1">
              <%= link_to press_release.title, press_release, class: 'text-decoration-none' %>
            </p>

            <p class="font-size-sm text-muted font-weight-light mb-0 text-justify">
              <%= link_to press_release_brief(press_release), press_release, class: 'text-decoration-none' %>
            </p>
          </div>
        <% end %>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
<% end %>