<div class="modal fade" role="dialog" data-controller="modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 text-primary"><%= tutorial.name %></h1>

          <%= tutorial.content %>
        </div>
      </div>
    </div>
  </div>
</div>
