<% rating_month = RatingMonth.where(published: true).order(:month).last %>
<% if rating_month %>
  <div class="card card-border border-primary shadow mb-5">
    <div class="card-body">
      <h2 class="text-primary mb-4">
        <%= link_to "Рейтинг регионов и&nbsp;ФОИВов за #{t(rating_month.month.strftime('%B'), scope: :months).downcase}".html_safe, regional_authorities_month_rating_path(rating_month.month.to_s), class: 'text-decoration-none' %>
      </h2>

      <%= link_to 'Скачать .pdf', regional_authorities_month_rating_path(rating_month.month.to_s, format: :pdf) %>
    </div>
  </div>
<% end %>