<div class="card card-border border-primary shadow mb-5">
  <div class="card-body">
    <h2 class="text-primary mb-4">Материалы</h2>
    <p class="mb-0 small font-weight-light">Используйте фирменный стиль национальных проектов</p>

    <hr>

    <div class="d-flex">
      <div class="w-50 mr-1">
        <%= link_to 'Направления', :national_projects, class: 'btn btn-primary btn-sm btn-lh-22 btn-block' %>
      </div>
      <div class="w-50 ml-1">
        <%= link_to 'Брендинг', :brandings, class: 'btn btn-primary btn-sm btn-lh-22 btn-block' %>
      </div>
    </div>
  </div>
</div>