<div class="container mb-7 position-relative">
  <div class="row">
    <div class="col-9">
      <%= form_tag press_releases_path, method: :get do %>
        <div data-controller="autocomplete" data-autocomplete-url-value="<%= search_suggestions_path %>">
          <div class="input-group">
            <%= text_field_tag :q, params[:q], placeholder: 'Что вы ищете?', class: 'form-control form-control rounded-0', data: { autocomplete_target: 'input' } %>
            <div class="dropdown-menu show" data-autocomplete-target="results"></div>

            <div class="input-group-append">
              <%= button_tag class: 'btn btn-primary btn-sm px-7 py-0', name: nil do %>
                <%= image_tag 'search.svg', style: 'max-height: 2rem;' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="mt-2 d-flex flex-wrap align-items-center">
        <% Tag.top(current_tag_id: params[:tag_id]).each do |tag| %>
          <%= link_to "##{tag.name}", press_releases_path(tag_id: (tag.id.to_s != params[:tag_id] ? tag.id : nil)), class: ['mr-3', ('text-primary' if tag.id.to_s == params[:tag_id])], style: "font-size: #{12 + (6 * tag.value).round}px" %>
        <% end %>

        <%= link_to 'все теги…', tags_path %>
      </div>
    </div>

    <div class="col-3">
      <%#= link_to 'Помощь', new_support_request_path(email: current_user.email), remote: true, class: 'btn btn-outline-primary btn-block btn-lh-30 text-uppercase' %>
      <%= link_to 'Помощь', help_path, remote: true, class: 'btn btn-outline-primary btn-block btn-lh-30 text-uppercase' %>
    </div>
  </div>
</div>