<div class="card h-100 card-border border-primary shadow">
  <div class="card-body">
    <div class="d-flex align-items-center mb-3">
      <div class="mr-4">
        <% if current_user.avatar.attached? && current_user.avatar.variable? %>
          <div class="avatar">
            <%= image_tag current_user.avatar.variant(resize_to_limit: [55, 55]), class: 'avatar-img rounded-circle' %>
          </div>
        <% else %>
          <div class="avatar">
            <div class="avatar-img border rounded-circle"></div>
          </div>
        <% end %>
      </div>
      <div>
        <h4 class="text-muted text-uppercase mb-0">
          <%== [current_user.last_name, current_user.first_name].select(&:present?).join('<br>') %>
        </h4>
      </div>
    </div>

    <ul class="list">
      <% if policy(Tutorial).index? %>
        <li class="list-item"><%= link_to 'Как работает система СРК?', [:tutorials] %></li>
      <% end %>

      <li class="list-item">
        <%= link_to 'Уведомления', profile_path(anchor: 'messages'), class: [current_user.message_deliveries.published.unread.any? ? 'text-primary' : nil] %>

        <% if current_user.message_deliveries.published.unread.any? %>
          <span class="text-primary"><%= current_user.message_deliveries.published.unread.count %></span>
        <% end %>
      </li>
      <li class="list-item text-muted"><%= link_to 'Профиль', :profile %></li>

      <% if current_user.thank_you_note? && current_user.admin? %>
        <li class="list-item text-primary"><%= link_to 'Благодарственное письмо', profile_thank_you_path(format: :pdf) %></li>
      <% end %>

      <% if policy(Placement).new? %>
        <li class="list-item"><%= link_to 'Добавить брендирование', new_placement_path %></li>
      <% end %>

      <li class="list-item"><%= link_to 'Избранное', profile_favourites_path %></li>

      <li class="list-item text-muted"><%= link_to 'Выход', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>