<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(65583544, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
   <%
   if current_user
     user_params = { UserID: current_user.id }

     if current_user.organization
       user_params.merge!({
         organization: {
           name: current_user.organization.name,
           kind: Organization.human_attribute_name("kinds.#{current_user.organization.kind}"),
           federal_subject: (current_user.organization.federal_subject&.name || 'Вся Россия')
         }
       })
     end
   %>
   ym(65583544, 'userParams', <%== user_params.to_json %>);
   <% end %>
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/65583544" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
