<% if @calculator.federal_subject_id.present? %>
  $('input[name="federal_subject_rating_value[press_releases_count]"]').val(<%= @calculator.press_releases_count %>)
  $('input[name="federal_subject_rating_value[press_releases_value]"]').val(<%= @calculator.press_releases_value %>)
  $('input[name="federal_subject_rating_value[press_releases_value_with_nullified]"]').val(<%= @calculator.press_releases_value_with_nullified %>)
  $('input[name="federal_subject_rating_value[value_with_returns]"]').val(<%= @calculator.value_with_returns %>)

  $('input[name="federal_subject_rating_value[regional_media_links_count]"]').val(<%= @calculator.regional_media_links_count %>)
  $('input[name="federal_subject_rating_value[federal_media_links_count]"]').val(<%= @calculator.federal_media_links_count %>)
  $('input[name="federal_subject_rating_value[awarded_count]"]').val(<%= @calculator.awarded_count %>)

  $('input[name="federal_subject_rating_value[likeness]"]').val(<%= @calculator.likeness %>)
  $('input[name="federal_subject_rating_value[activity_rate]"]').val(<%= @calculator.activity_rate %>)

  $('input[name="federal_subject_rating_value[total_value]"]').val(<%= @calculator.total_value %>)
<% else %>
  $('input[name="federal_subject_rating_value[press_releases_count]"]').val('')
  $('input[name="federal_subject_rating_value[press_releases_value]"]').val('')
  $('input[name="federal_subject_rating_value[press_releases_value_with_nullified]"]').val('')
  $('input[name="federal_subject_rating_value[value_with_returns]"]').val('')

  $('input[name="federal_subject_rating_value[regional_media_links_count]"]').val('')
  $('input[name="federal_subject_rating_value[federal_media_links_count]"]').val('')
  $('input[name="federal_subject_rating_value[awarded_count]"]').val('')

  $('input[name="federal_subject_rating_value[likeness]"]').val('')
  $('input[name="federal_subject_rating_value[activity_rate]"]').val('')

  $('input[name="federal_subject_rating_value[total_value]"]').val('')
<% end %>