<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="text-primary mb-0"><%= title(@national_project.name) %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body px-8">
          <div id="pjax-container-bottom">
            <div class="d-flex mb-6 align-items-center">
              <div class="mr-8">
                <h2 class="mb-0 font-weight-bold">
                  <%= link_to (current_page?(national_project_path(@national_project)) ? national_projects_path : brandings_path), class: 'btn btn-outline-primary btn-lh-30', style: ' padding-left: 0; padding-right: 2px;' do %>
                    <span class="fe fe-chevron-left" style="font-size: 28px;"></span>
                  <% end %>
                </h2>
              </div>

              <div class="mr-6">
                <h2 class="mb-0 font-weight-bold"><%= link_to 'Материалы', national_project_path(@national_project), class: [
                  'btn',
                  'btn-lh-30',
                  (current_page?(national_project_path(@national_project)) ? 'btn-primary' : 'btn-outline-primary')
                ], data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h2>
              </div>

              <div>
                <h2 class="mb-0 font-weight-bold"><%= link_to 'Брендинг', national_project_branding_path(@national_project), class: [
                  'btn',
                  'btn-lh-30',
                  (current_page?(national_project_branding_path(@national_project)) ? 'btn-primary' : 'btn-outline-primary')
                ], data: { pjax: '', pjax_container: '#pjax-container-bottom' } %></h2>
              </div>

              <% if current_page?(national_project_path(@national_project)) %>
              <div class="ml-auto">
                <%= link_to 'Скачать .docx', national_project_path(@national_project, format: :docx), class: 'h4 mb-0 text-secondary' %>
              </div>
              <% end %>
            </div>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>