<%= render layout: 'layout' do %>
  <%= @national_project.branding %>

  <table class="mt-5 branding-assets-table">
    <tbody>
      <% @national_project.branding_assets.each do |branding_asset| %>
        <tr>
          <td style="width: 91px;"><%= image_tag branding_asset.avatar, width: 58 %></td>
          <td><%= branding_asset.description %></td>
          <td>
            <%== branding_asset.images.map { |image| link_to(image.blob.filename.extension, rails_blob_path(image, disposition: (image.blob.filename.extension == 'pdf' ? 'inline' : 'attachment'))) }.join(', ') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>