<%= render 'application/search_and_help' %>

<div class="container">
  <h1 class="text-primary mb-0"><%= title('Направления') %></h1>

  <div class="row">
    <div class="col-9">
      <div class="card card-border border-primary shadow">
        <div class="card-body pt-0 pb-7">
          <% @national_projects.each do |national_project| %>
            <div class="d-flex py-5 border-bottom position-relative">
              <div class="mr-4" style="width: 41px;">
                <% if national_project.avatar.attached? %>
                  <%= image_tag national_project.avatar, width: 41, height: 41 %>
                <% end %>
              </div>
              <div>
                <h4 class="mb-0">
                  Направление<br>
                  <%= link_to national_project.name, (@national_project_branding_link ? national_project_branding_path(national_project) : national_project_path(national_project)), class: 'text-decoration-none stretched-link' %>
                </h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'application/main_topics_list' %>
    </div>
  </div>
</div>