<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Жалобы') %></h1>
  </div>

  <div>
    <%== pagy_info(@pagy) %>
  </div>

  <div class="card card-border shadow border-primary mb-5">
    <table class="table table-bordered table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th>Создана</th>
          <th>Пользователь</th>
          <th>Инфоповод</th>
        </tr>
      </thead>
      <tbody>
        <% @complaints.each do |complaint| %>
          <tr>
            <td><%= complaint.created_at.strftime("%d.%m.%Y %H:%M") %></td>
            <td><%= link_to complaint.user.name, [:admin, complaint.user] %></td>
            <td><%= link_to complaint.press_release.name, complaint.press_release %></td>
            <td><%= complaint.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%== pagy_nav(@pagy) %>
</div>