<div class="modal fade" role="dialog" data-controller="modal modal-timer" data-modal-backdrop-value="static" data-modal-timer-close-button-when-user-clicks-link-value="<%= notification_popup.close_button_when_user_clicks_link? %>" data-modal-timer-timer-value="<%= notification_popup.timeout %>">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card card-border border-primary">
      <div class="card-body pt-5">

        <div data-modal-timer-target="timer" class="text-muted" style="float: right; width: 20px; height: 20px; text-align: center; padding-top: 4px;"><%= notification_popup.timeout %></div>

        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close" data-modal-timer-target="close">
          <span aria-hidden="true" class="fe fe-x"></span>
        </button>

        <div class="px-3">
          <h1 class="mt-3 mb-6 text-secondary"><%= notification_popup.name %></h1>
          <%== notification_popup.content %>
        </div>
      </div>
    </div>
  </div>
</div>
