<%= simple_form_for([:admin, mainpage_banner]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :avatar do %>
      <% if f.object.avatar.attached? && f.object.avatar.variable? %>
        <div class="mb-1"><%= image_tag mainpage_banner.avatar.variant(resize_to_fill: [134, 90]) %></div>
      <% end %>
      <%= f.input_field :avatar, class: 'form-control' %>
    <% end %>

    <%#= f.input :region %>
    <%= f.input :source, label: 'Текст на картинке' %>
    <%= f.input :text, label: 'Текст под картинкой' %>
    <%= f.input :url %>
  </div>

  <div class="form-actions d-flex align-items-center">
      <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-5' %>

      <% if f.object.persisted? && policy([:admin, f.object]).destroy? %>
        <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' } %>
      <% end %>
    </div>
  </div>
<% end %>
