<%= render 'application/header_with_profile' %>

<div class="container mt-5">
  <div class="d-flex mb-1 align-items-end">
    <h1 class="mb-0 mr-auto"><%= title('Баннеры на главной странице') %></h1>
    <%= link_to 'Добавить', [:new, :admin, :mainpage_banner], class: 'btn btn-primary' %>
  </div>



  <div class="card card-border border-primary">
    <table class="table table-bordered table-striped table-bordered">
      <thead>
        <tr>
          <th style="width: 134px;"><%= MainpageBanner.human_attribute_name(:avatar) %></th>
          <th><%= MainpageBanner.human_attribute_name(:text) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @mainpage_banners.each do |mainpage_banner| %>
          <tr>
            <td>
              <% if mainpage_banner.avatar.attached? && mainpage_banner.avatar.variable? %>
                <%= image_tag mainpage_banner.avatar.variant(resize_to_fill: [134, 90]) %>
              <% end %>
            </td>
            <td>
              <% if false %>
                <div>
                  <%= mainpage_banner.created_at.strftime('%d.%m.%Y') %>
                  |
                  <%= mainpage_banner.region %>
                </div>
              <% end %>
              <div class="mb-2"><%= mainpage_banner.source %></div>
              <div><%= mainpage_banner.text %></div>
              <div><%= link_to mainpage_banner.url, mainpage_banner.url, target: '_blank' %></div>
            </td>
            <td class="text-center">
              <%= link_to [:edit, :admin, mainpage_banner] do %>
                <span class="fe fe-edit"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
