<%= simple_form_for @tag_request, remote: true do |f| %>
  <%= f.input :subject, placeholder: 'Введите предлагаемый тег…', required: false %>

  <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg d-flex' do %>
    <span class="mr-2">Отправить</span>
    <span class="fe fe-arrow-right"></span>
  <% end %>
<% end %>
