<%= simple_form_for([:admin, main_topic]) do |f| %>
  <%#= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, required: false %>

    <%= f.association :national_projects, required: false, collection: NationalProject.order(:short_name), label_method: :short_name, input_html: {
      data: {
        controller: 'selectpicker',
        actions_box: true,
        selected_text_format: 'count > 3'
      }
    } %>

    <%= f.input :content do %>
      <%= f.rich_text_area :content %>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :starts_at, hint: 'можно не указывать' do %>
          <%= tag.div class: 'input-group input-group-lg', data: {
            controller: "flatpickr",
            flatpickr_wrap: true,
            #flatpickr_date_format: "d.m.Y H:i",
            flatpickr_alt_format: "d.m.Y H:i",
            flatpickr_alt_input: true,
            flatpickr_enable_time: true
          } do %>
            <%= f.input_field :starts_at, as: :string, placeholder: 'Дата и время…', data: { input: '' }, class: 'form-control' %>

            <div class="input-group-append">
              <button type="button" class="btn" title="toggle" data-toggle></button>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-6">
        <%= f.input :ends_at, hint: 'можно не указывать' do %>
          <%= tag.div class: 'input-group input-group-lg', data: {
            controller: "flatpickr",
            flatpickr_wrap: true,
            #flatpickr_date_format: "d.m.Y H:i",
            flatpickr_alt_format: "d.m.Y H:i",
            flatpickr_alt_input: true,
            flatpickr_enable_time: true
          } do %>
            <%= f.input_field :ends_at, as: :string, placeholder: 'Дата и время…', data: { input: '' }, class: 'form-control' %>

            <div class="input-group-append">
              <button type="button" class="btn" title="toggle" data-toggle></button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg mr-auto' %>

      <% if f.object.persisted? && policy(f.object).destroy? %>
        <%= link_to 'Удалить', [:admin, f.object], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>
