<div class="container mt-5 mb-10">
  <%= form_tag nil, method: :get, remote: true, class: 'mb-5', data: { controller: 'all-selectable admin-users-list-form', action: 'ajax:success->admin-users-list-form#ajaxSuccess' } do %>

    <div class="d-flex mb-1 align-items-end">
      <h1 class="mb-0"><%= title('Главные темы') %></h1>

      <%= button_tag 'Разослать федеральным СМИ', type: :button, class: 'btn btn-primary ml-auto', data: { action: 'admin-users-list-form#setAction', url: new_admin_main_topics_mailing_path, method: 'get', confirm: 'Вы уверены?' } %>

      <%= link_to 'Добавить', [:new, :admin, :main_topic], class: 'btn btn-primary ml-2' %>
    </div>

    <div class="d-flex mb-3">
      <div>
        <h2 class="mb-0 font-weight-bold"><%= link_to 'Актуальные', admin_main_topics_path, class: [
          'btn',
          'btn-lh-30',
          (!@archived_mode ? 'btn-primary' : 'btn-outline-primary')
        ] %></h2>
      </div>

      <% if current_user.has_ability?(:show_archived_main_topics) %>
        <div class="ml-3">
          <h2 class="mb-0 font-weight-bold"><%= link_to 'Архив', admin_main_topics_path(archived: 1), class: [
            'btn',
            'btn-lh-30',
            (@archived_mode ? 'btn-primary' : 'btn-outline-primary')
          ] %></h2>
        </div>
      <% end %>
    </div>

    <div class="card card-border border-primary shadow">
      <table class="table table-bordered table-striped table-bordered mb-0">
        <thead>
          <tr>
            <td>&nbsp;</th>
            <th class="text-center"><%= MainTopic.human_attribute_name(:starts_at) %></th>
            <th class="text-center"><%= MainTopic.human_attribute_name(:ends_at) %></th>
            <th><%= MainTopic.human_attribute_name(:national_projects) %></th>
            <th><%= MainTopic.human_attribute_name(:name) %></th>
            <th>&nbsp;</th>
            <% unless @archived_mode %>
              <th>&nbsp;</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @main_topics.each do |main_topic| %>
            <tr>
              <td class='text-center'><%= check_box_tag 'main_topic_ids[]', main_topic.id, false, data: { target: 'all-selectable.selectable admin-users-list-form.checkbox' } %></td>
              <td class="text-center"><%= main_topic.starts_at&.strftime('%d.%m.%Y') %></td>
              <td class="text-center"><%= main_topic.ends_at&.strftime('%d.%m.%Y') %></td>
              <td>
                <%= main_topic.national_projects.map(&:short_name).join(', ') %>
              </td>
              <td><%= link_to main_topic.name, main_topic %></td>
              <td>
                <%= link_to edit_admin_main_topic_path(main_topic) do %>
                  <span class="fe fe-edit"></span>
                <% end %>
              </td>

              <% unless @archived_mode%>
                <td class="text-nowrap">
                  <%= link_to 'в архив', admin_main_topic_archive_path(main_topic), method: :patch, data: { confirm: 'Вы уверены?' } %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
