<!DOCTYPE html>
<html lang="ru">
  <head>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      <% if current_user %>
        window.dataLayer.push(<%== {
          event: 'userId',
          user_id: current_user.id,
          org_type: (current_user.organization ? Organization.human_enum_name(:kinds, current_user.organization&.kind) : nil),
          org_name: current_user.organization_id,
          org_region: current_user.organization&.federal_subject_id,
        }.to_json %>);
      <% end %>
    </script>
    <%= yield(:analytics_head) %>

    <% if Rails.env.production? || Rails.env.dev? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5GBV8SD');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= display_meta_tags site: 'СРК' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%#= render 'application/google_tag_manager' if Rails.env.production? %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% if Rails.env.production? || Rails.env.dev? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GBV8SD"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <%#= render 'application/yandex_metrika' if Rails.env.production? %>
    <%= render 'application/admin_navbar' if policy(:admin_navbar).show? %>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= render 'application/rocket_chat' if Rails.env.production? && current_user&.admin? %>
  </body>
</html>
