<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= wicked_pdf_stylesheet_link_tag 'application' %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>

    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%#= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js" %>
    <%= wicked_pdf_javascript_include_tag 'pdf' %>
    <%#= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.2.4/chartkick.min.js" %>


    <%#= wicked_pdf_javascript_pack_tag 'chartkick' %>
    <%#= javascript_include_tag wicked_pdf_asset_base64('pdf') %>

    <script>
      setTimeout((function () {
        window.status = "FLAG_FOR_PDF";
        Chartkick.eachChart( function(chart) {
          chart.redraw();
        });
      }), 500);
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
