<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
    <style>
      body { font-family: 'Roboto', sans-serif; font-weight: 100; margin: 0; }
      .bg { width: 100%; position: absolute; }
      .wrapper { position: absolute; top: 680px; left: 155px; }
      .greeting { font-size: 48px; color: #e83b4d; width: 730px; }
      .text { margin-top: 20px; margin-left: 0px; font-size: 22px; width: 730px; }
    </style>
  </head>
  <body>
    <%= image_tag wicked_pdf_asset_base64('thank_you_bg.png'), class: 'bg' %>

    <div class="wrapper">
      <div class="greeting"><%= yield %></div>

      <div class="text">
        АНО «Национальные приоритеты» выражает<br>
        Вам искреннюю благодарность за активное участие<br>
        в деятельности по информационному освещению национальных<br>
        проектов России и сопричастность в процессе развития<br>
        Системы Распределения Контента (СРК).<br>
        <br>
        Эффективность информационного взаимодействия между<br>
        субъектами Российской Федерации определяется совместными<br>
        усилиями и стремлением к улучшению жизни граждан<br>
        всей страны. Благодарим Вас за особый вклад в обеспечение<br>
        результативности национальных проектов России!
      </div>
    </div>
  </body>
</html>