<% content_for :content, flush: true do %>
  <% if current_user && !@compact_header %>
    <%= render 'application/header_with_profile' %>
  <% else %>
    <%= render 'application/header_only_logo' %>
  <% end %>

  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= render 'application/footer' %>
<% end %>

<%= render template: 'layouts/application' %>

<% flash.clear %>
