<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'user_mailer' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
