<div id="likes" class="d-flex mb-2 align-self-center">
  <% if policy(PressReleaseLike.new(press_release: @press_release)).create? %>
    <%= link_to [@press_release, :like], remote: true, method: (current_user.liked?(@press_release) ? :delete : :post), class: "text-decoration-none #{'text-primary' if current_user.liked?(@press_release) }", style: 'font-size: 24px' do %>
      <span class="fe fe-thumbs-up"></span>
      <span><%= @press_release.press_release_likes_count %></span>
    <% end %>
  <% else %>
    <%= tag.span class: "text-decoration-none", style: 'font-size: 24px' do %>
      <span class="fe fe-thumbs-up"></span>
      <span><%= @press_release.press_release_likes_count %></span>
    <% end %>
  <% end %>
</div>