<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      body { font-family: 'Arial'; font-size: 16px; }
      .text-uppercase { text-transform: uppercase; }
      .text-left { text-align: left; }
      .text-center { text-align: center; }
      .text-success { color: #bccb1b; }
      .text-danger { color: #fe3945; }
      .nowrap { white-space: nowrap; }
      div.alwaysbreak { page-break-before: always; }
      div.nobreak:before { clear:both; }
      div.nobreak { page-break-inside: avoid; }
      table.table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
      }
      h2 { font-weight: normal; text-transform: uppercase; }
      table.table tr th {
        background-color: #000;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
        text-transform: uppercase;
      }
      table.table tr td {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      td.rank-0 { background-color: #bccb1b; }
      td.rank-1 { background-color: #00cfce; }
      td.rank-2 { background-color: #fa8200; }
      td.rank-3 { background-color: #ffd9d9; }
      td.rank-4 { background-color: #fe3945; }
    </style>
  </head>
  <body>
    <div style="margin-left: 60px; margin-right: 60px;">
      <div class="text-center">
        <div style="padding-top: 150px; height: 900px;">
          <%= image_tag wicked_pdf_asset_base64('logo_vertical.png') %>
        </div>

        <div class="text-uppercase text-center" style="background-color: #bccb1b; font-size: 26px; margin-bottom: 5px; border-top: 10px solid #000; padding: 7px 0;">Рейтинг активности</div>
        <div class="text-uppercase text-center" style="background-color: #05cece; font-size: 26px; margin-bottom: 5px; padding: 7px 0;">Средств массовой информации</div>
        <div class="text-center text-uppercase" style="background-color: #fe3945; color: #fff; font-size: 26px; padding: 7px 0;">в СРК за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.strftime('%Y') %> года</div>
      </div>


      <div class="alwaysbreak">
        <h2>Рейтинг СМИ по количеству загруженных публикаций за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.year %> года</h2>

        <table class="table table-sm table-bordered table-striped table-hover mb-7">
          <thead>
            <th>№</th>
            <th class="text-left">СМИ</th>
            <th class="text-center"><%= t("months.#{@rating.prev_month.strftime('%B')}") %></th>
            <th class="text-center"><%= t("months.#{@rating.month.strftime('%B')}") %></th>
            <th style="width: 5px; padding: 0;">&nbsp;</th>
            <th style="width: 30px; background-color: #fff; padding: 0;">&nbsp;</th>
          </thead>
          <tbody>
            <% @rating.rated_media_organizations_stats.each_with_index do |row, index| %>
              <tr>
                <td class="text-center rank-<%= row.partition %>"><%= index + 1 %></td>
                <td class="rank-<%= row.partition %>"><%= row.name %></td>
                <td class="text-center"><%= row.prev_count %></td>
                <td class="text-center nowrap">
                  <%= row.current_count %>

                  <% unless row.current_count == row.prev_count %>
                    (
                      <% if row.current_count > row.prev_count %>
                        <span class="text-success">↑</span>
                      <% elsif row.current_count < row.prev_count %>
                        <span class="text-danger">↓</span>
                      <% end %>

                      <%= (row.current_count - row.prev_count).abs %>
                    )
                  <% end %>
                </td>
                <td class="rank-<%= row.partition %>" style="padding: 0;"></td>
                <% if index == 0 && row.current_count > 0 %>
                  <td rowspan="<%= @rating.rated_media_organizations_stats.count { |row| row.partition == 0 } %>" class="text-center" style="background-color: #ffff00; padding: 0;">
                    <span class="text-uppercase" style="-webkit-writing-mode: vertical-rl; font-size: 24px; line-height: 24px;">Топ 10</span>
                  </td>
                <% elsif row.partition != 0 %>
                  <td></td>
                <% elsif false && index == rank4_index %>
                  <td rowspan="<%= @rating.rated_media_organizations_stats.length - rank4_index %>" class="text-center" style="background-color: #ffff00;">
                    <span class="text-uppercase" style="-webkit-writing-mode: vertical-rl; font-size: 24px; line-height: 24px;">Неактивные регионы</span>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </body>
</html>