<div class="container">

  <div class="mb-7">
    <% @all_rating_months.each do |rating_month| %>
      <%= link_to "#{t("months.#{rating_month.month.strftime('%B')}")} #{rating_month.month.year}", regional_authorities_month_rating_path(rating_month. month), class: 'btn btn-primary' %>
    <% end %>

    <% if @new_month %>
      <%= link_to "создать #{t("months.#{@new_month.strftime('%B')}")} #{@new_month.year}", regional_authorities_month_ratings_path, method: :post, class: 'btn btn-link' %>
    <% end %>
  </div>


  <h1>
    <span class="text-uppercase">Рейтинг активности субъектов РФ и ФОИВов в СРК</span><br>
    <span class="text-primary">за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.strftime('%Y') %> года</span>
    <%= link_to 'PDF', regional_authorities_month_rating_path(@rating.month, format: :pdf), class: 'btn btn-primary btn-sm btn-lh-22' %>

    <% if policy(@rating_month).update? %>
      <% if @rating_month.published? %>
        <%= link_to 'Снять с публикации', regional_authorities_month_rating_path(@rating.month, rating_month: { published: false }), method: :patch, class: 'btn btn-outline-primary btn-sm btn-lh-22' %>
      <% else %>
        <%= link_to 'Опубликовать', regional_authorities_month_rating_path(@rating.month, rating_month: { published: true }), method: :patch, class: 'btn btn-primary btn-sm btn-lh-22' %>
      <% end %>
    <% end %>

    <% if @rating_month.last_month? && policy(@rating_month).destroy? %>
      <%= link_to 'Удалить', regional_authorities_month_rating_path(@rating.month), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-outline-primary btn-sm btn-lh-22' %>
    <% end %>
  </h1>


  <h2 class="text-uppercase">Рейтинг федеральных органов исполнительной власти по количеству загруженных инфоповодов за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.year %> года</h2>

  <table class="table table-sm table-bordered table-striped table-hover mb-7" data-controller="sortable-table">
    <thead>
      <th class="text-center"><%= sortable_table_sort_link("№", column_index: 0, direction: "asc", active: true) %></th>
      <th class="text-center"><%= sortable_table_sort_link("Место в рейтинге", column_index: 1, direction: "asc") %></th>
      <th><%= sortable_table_sort_link("Название", column_index: 2, direction: "asc", value_type: "string") %></th>
      <th class="text-center"><%= sortable_table_sort_link(t("months.#{@rating.month.strftime('%B')}"), column_index: 3) %></th>
      <% if @rating.show_prev_month? %>
        <th class="text-center"><%= sortable_table_sort_link(t("months.#{@rating.prev_month.strftime('%B')}"), column_index: 4) %></th>
      <% end %>
    </thead>
    <tbody>
      <% @rating.federal_authorities_stats.each_with_index do |organization, index| %>
        <tr>
          <td class="text-center" data-sortable-table-value="<%= index + 1 %>"><%= index + 1 %></td>
          <td class="text-center" data-sortable-table-value="<%= organization.rank + 1 %>"><%= organization.rank + 1 %></td>
          <td data-sortable-table-value="<%= organization.name %>"><%== organization.name %></td>
          <td class="text-center" data-sortable-table-value="<%= organization.current_count %>">
            <%= organization.current_count.round(1) %>

            <% if @rating.show_prev_month? %>
              <% unless organization.current_count == organization.prev_count %>
                (
                  <% if organization.current_count > organization.prev_count %>
                    <span class="text-success">↑</span>
                  <% elsif organization.current_count < organization.prev_count %>
                    <span class="text-danger">↓</span>
                  <% end %>

                  <%= (organization.current_count - organization.prev_count).abs.round(1) %>
                )
              <% end %>
            <% end %>
          </td>
          <% if @rating.show_prev_month? %>
            <td class="text-center" data-sortable-table-value="<%= organization.prev_count %>"><%= organization.prev_count.round(1) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h2 class="text-uppercase">Рейтинг субъектов РФ по количеству загруженных инфоповодов за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.year %> года<sup>*</sup></h2>

  <table class="table table-sm table-bordered table-striped table-hover" data-controller="sortable-table">
    <thead>
      <th class="text-center"><%= sortable_table_sort_link("№", column_index: 0, direction: "asc", active: true) %></th>
      <th class="text-center"><%= sortable_table_sort_link("Место в рейтинге", column_index: 1, direction: "asc") %></th>
      <th><%= sortable_table_sort_link("Название", column_index: 2, direction: "asc", value_type: "string") %></th>
      <th class="text-center"><%= sortable_table_sort_link(t("months.#{@rating.month.strftime('%B')}"), column_index: 3) %></th>
      <% if @rating.show_prev_month? %>
        <th class="text-center"><%= sortable_table_sort_link(t("months.#{@rating.prev_month.strftime('%B')}"), column_index: 4) %></th>
      <% end %>
    </thead>
    <tbody>
      <% @rating.federal_subjects_press_releases_stats.each_with_index do |row, index| %>
        <tr>
          <td class="text-center" data-sortable-table-value="<%= index + 1 %>"><%= index + 1 %></td>
          <td class="text-center" data-sortable-table-value="<%= row.rank + 1 %>"><%= row.rank + 1 %></td>
          <td data-sortable-table-value="<%= row.name %>"><%= row.name %></td>
          <td class="text-center" data-sortable-table-value="<%= row.current_count %>">
            <%= row.current_count.round(1) %>

            <% if @rating.show_prev_month? %>
              <% unless row.current_count == row.prev_count %>
                (
                  <% if row.current_count > row.prev_count %>
                    <span class="text-success">↑</span>
                  <% elsif row.current_count < row.prev_count %>
                    <span class="text-danger">↓</span>
                  <% end %>

                  <%= (row.current_count - row.prev_count).abs.round(1) %>
                )
              <% end %>
            <% end %>
          </td>
          <% if @rating.show_prev_month? %>
            <td class="text-center" data-sortable-table-value="<%= row.prev_count %>"><%= row.prev_count.round(1) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p class="mb-7">
    <% if @rating.show_prev_month? %>
      <sup>*</sup>Учитываются инфоповоды РОИВов, муниципалитетов и иных организаций
    <% else %>
      <sup>*</sup>Учитываются уникальные инфоповоды РОИВов, муниципалитетов и иных организаций, размещенные в системе, предназначенные для качественного информирования общественности и размещении в СМИ материалов о национальных проектах.<br>
      <br>
      Проверка информационных поводов на качество и их модерация были введены с ноября 2020 года. Это стало необходимым, так как важно организовать эффективное информационное освещение реализации национальных проектов во всех регионах Российской Федерации.
    <% end %>
  </p>


  <h2>Топ субъектов РФ по количеству инфоповодов по конкретным направлениям за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.year %> года<sup>*</sup></h2>

  <table class="table table-sm table-bordered table-striped table-hover">
    <tbody>
      <% @rating.federal_subjects_national_projects_stats.each do |(natinal_project_id, national_projects)| %>
        <tr class="table-warning">
          <td>НП "<%= national_projects.first.short_name %>"</td>
          <td class="text-center">
            (всего) <%= national_projects.sum(&:press_releases_count) %>
          </td>
        </tr>

        <% national_projects.first(5).each do |national_project| %>
          <tr>
            <td><%= national_project.federal_subject_name %></td>
            <td class="text-center"><%= national_project.press_releases_count %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <p class="mb-7">
    <% if @rating.show_prev_month? %>
      <sup>*</sup>Учитываются инфоповоды РОИВов, муниципалитетов и иных организаций
    <% else %>
      <sup>*</sup>Учитываются уникальные инфоповоды РОИВов, муниципалитетов и иных организаций, размещенные в системе, предназначенные для качественного информирования общественности и размещении в СМИ материалов о национальных проектах.<br>
      <br>
      Проверка информационных поводов на качество и их модерация были введены с ноября 2020 года. Это стало необходимым, так как важно организовать эффективное информационное освещение реализации национальных проектов во всех регионах Российской Федерации.
    <% end %>
  </p>


  <h2>Рейтинг субъектов РФ по количеству подключенных региональных СМИ</h2>

  <table class="table table-sm table-bordered table-striped table-hover mb-7" data-controller="sortable-table">
    <thead>
      <tr>
        <th class="text-center"><%= sortable_table_sort_link("№", column_index: 0, direction: "asc", active: true) %></th>
        <th class="text-center"><%= sortable_table_sort_link("Место в рейтинге", column_index: 1, direction: "asc") %></th>
        <th><%= sortable_table_sort_link("Название", column_index: 2, direction: "asc", value_type: "string") %></th>
        <th class="text-center"><%= sortable_table_sort_link(t("months.#{@rating.month.strftime('%B')}"), column_index: 3) %></th>
      </tr>
    </thead>
    <tbody>
      <% @rating.federal_subjects_media_organizations_stats.each_with_index do |row, index| %>
        <tr>
          <td class="text-center" data-sortable-table-value="<%= index + 1 %>"><%= index + 1 %></td>
          <td class="text-center" data-sortable-table-value="<%= row.rank + 1 %>"><%= row.rank + 1 %></td>
          <td data-sortable-table-value="<%= row.name %>"><%= row.name %></td>
          <td class="text-center" data-sortable-table-value="<%= row.current_count %>"><%= row.current_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>