<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      body { font-family: 'Arial'; font-size: 16px; }
      .text-uppercase { text-transform: uppercase; }
      .text-left { text-align: left; }
      .text-center { text-align: center; }
      .text-success { color: #bccb1b; }
      .text-danger { color: #fe3945; }
      .nowrap { white-space: nowrap; }
      div.alwaysbreak { page-break-before: always; }
      div.nobreak:before { clear:both; }
      div.nobreak { page-break-inside: avoid; }
      table.table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
      }
      h2 { font-weight: normal; text-transform: uppercase; }
      table.table tr th {
        background-color: #000;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
        text-transform: uppercase;
      }
      table.table tr td {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      td.rank-0 { background-color: #bccb1b; }
      td.rank-1 { background-color: #00cfce; }
      td.rank-2 { background-color: #fa8200; }
      td.rank-3 { background-color: #ffd9d9; }
      td.rank-4 { background-color: #fe3945; }
    </style>
  </head>
  <body>
    <div style="margin-left: 60px; margin-right: 60px;">
      <div class="text-center">
        <div style="padding-top: 150px; height: 900px;">
          <%= image_tag wicked_pdf_asset_base64('logo_vertical.png') %>
        </div>

        <% if false %>
          <div class="text-uppercase text-center" style="background-color: #bccb1b; font-size: 26px; margin-bottom: 5px; border-top: 10px solid #000; padding: 7px 0;">Рейтинг активности субъектов РФ,</div>
          <div class="text-uppercase text-center" style="background-color: #05cece; font-size: 26px; margin-bottom: 5px; padding: 7px 0;">Федеральных органов исполнительной власти,</div>
          <div class="text-center text-uppercase" style="background-color: #fe3945; color: #fff; font-size: 26px; padding: 7px 0;">ведомств и СМИ в СРК за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.strftime('%Y') %> года</div>
        <% else %>
          <div class="text-uppercase text-center" style="background-color: #bccb1b; font-size: 48px; margin-bottom: 10px; border-top: 10px solid #000;">Рейтинг активности</div>
          <div class="text-uppercase text-center" style="background-color: #05cece; font-size: 48px; margin-bottom: 10px;">субъектов РФ и ФОИВ<span style="text-transform: none;">ов</span></div>
          <div class="text-center" style="background-color: #fe3945; color: #fff; font-size: 48px;">в СРК за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.strftime('%Y') %> года</div>
        <% end %>
      </div>


      <div class="alwaysbreak">
        <h2>Рейтинг федеральных органов исполнительной власти и ведомств по количеству загруженных инфоповодов за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.year %> года</h2>

        <table class="table table-sm table-bordered table-striped table-hover mb-7">
          <thead>
            <th>№</th>
            <th>Место в рейтинге</th>
            <th class="text-left">ФОИВ и подведомственные ему организации</th>
            <th class="text-center"><%= t("months.#{@rating.month.strftime('%B')}") %></th>
            <% if @rating.show_prev_month? %>
              <th class="text-center"><%= t("months.#{@rating.prev_month.strftime('%B')}") %></th>
            <% end %>
            <th style="width: 5px; padding: 0;">&nbsp;</th>
            <th style="width: 30px; background-color: #fff; padding: 0;">&nbsp;</th>
          </thead>
          <tbody>
            <% @rating.federal_authorities_stats.each_with_index do |row, index| %>
              <tr>
                <td class="text-center rank-<%= row.partition %>" style="border: 1px solid #000000; vertical-align: top;"><%= index + 1 %></td>
                <td class="text-center rank-<%= row.partition %>" style="border: 1px solid #000000; vertical-align: top;"><%= row.rank + 1 %></td>
                <td class="rank-<%= row.partition %>" style="border: 1px solid #000000;"><%== row.name %></td>
                <td class="text-center nowrap" style="border: 1px solid #000000; vertical-align: top;">
                  <%= row.current_count.round(1) %>

                  <% if @rating.show_prev_month? %>
                    <% unless row.current_count == row.prev_count %>
                      (
                        <% if row.current_count > row.prev_count %>
                          <span class="text-success">↑</span>
                        <% elsif row.current_count < row.prev_count %>
                          <span class="text-danger">↓</span>
                        <% end %>

                        <%= (row.current_count - row.prev_count).abs.round(1) %>
                      )
                    <% end %>
                  <% end %>
                </td>
                <% if @rating.show_prev_month? %>
                  <td class="text-center" style="border: 1px solid #000000; vertical-align: top;"><%= row.prev_count.round(1) %></td>
                <% end %>
                <td class="rank-<%= row.partition %>" style="padding: 0; border: 1px solid #000000;"></td>
                <% if index == 0 %>
                  <td rowspan="<%= @rating.federal_authorities_stats.count { |row| row.partition == 0 } %>" class="text-center" style="background-color: #ffff00; padding: 0;">
                    <span class="text-uppercase" style="-webkit-writing-mode: vertical-rl; font-size: 24px; line-height: 24px;">Топ 10</span>
                  </td>
                <% elsif row.partition != 0 %>
                  <td></td>
                <% elsif false && index == rank4_index %>
                  <td rowspan="<%= @rating.federal_authorities_stats.length - rank4_index %>" class="text-center" style="background-color: #ffff00;">
                    <span class="text-uppercase" style="-webkit-writing-mode: vertical-rl; font-size: 24px; line-height: 24px;">Неактивные регионы</span>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="alwaysbreak">
        <h2>Рейтинг субъектов РФ по количеству загруженных инфоповодов за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.year %> года<sup>*</sup></h2>


        <% rank4_index = @rating.federal_subjects_press_releases_stats.index { |row| row.partition == 4 } %>
        <table class="table table-sm table-bordered table-striped table-hover">
          <thead>
            <th>№</th>
            <th>Место в рейтинге</th>
            <th class="text-left">Субъект РФ</th>
            <th class="text-center"><%= t("months.#{@rating.month.strftime('%B')}") %></th>
            <% if @rating.show_prev_month? %>
              <th class="text-center"><%= t("months.#{@rating.prev_month.strftime('%B')}") %></th>
            <% end %>
            <th style="width: 5px; padding: 0;">&nbsp;</th>
            <th style="width: 30px; background-color: #fff; padding: 0;">&nbsp;</th>
          </thead>
          <tbody>
            <% @rating.federal_subjects_press_releases_stats.each_with_index do |row, index| %>
              <tr>
                <td class="text-center rank-<%= row.partition %>"><%= index + 1 %></td>
                <td class="text-center rank-<%= row.partition %>"><%= row.rank + 1 %></td>
                <td class="rank-<%= row.partition %>"><%= row.name %></td>
                <td class="text-center <%= "rank-#{row.partition}" if row.partition == 4 %>">
                  <%= row.current_count.round(1) %>

                  <% if @rating.show_prev_month? %>
                    <% unless row.current_count == row.prev_count %>
                      (
                        <% if row.current_count > row.prev_count %>
                          <span class="text-success">↑</span>
                        <% elsif row.current_count < row.prev_count %>
                          <span class="text-danger">↓</span>
                        <% end %>

                        <%= (row.current_count - row.prev_count).abs.round(1) %>
                      )
                    <% end %>
                  <% end %>
                </td>
                <% if @rating.show_prev_month? %>
                  <td class="text-center <%= "rank-#{row.partition}" if row.partition == 4 %>"><%= row.prev_count.round(1) %></td>
                <% end %>
                <td class="rank-<%= row.partition %>" style="padding: 0;"></td>
                <% if index == 0 %>
                  <td rowspan="<%= @rating.federal_subjects_press_releases_stats.count { |row| row.partition == 0 } %>" class="text-center" style="background-color: #ffff00; padding: 0;">
                    <span class="text-uppercase" style="-webkit-writing-mode: vertical-rl; font-size: 24px; line-height: 24px;">Топ 10</span>
                  </td>
                <% elsif row.partition != 0 %>
                  <td></td>
                <% elsif false && index == rank4_index %>
                  <td rowspan="<%= @rating.federal_subjects_press_releases_stats.length - rank4_index %>" class="text-center" style="background-color: #ffff00;">
                    <span class="text-uppercase" style="-webkit-writing-mode: vertical-rl; font-size: 24px; line-height: 24px;">Неактивные регионы</span>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p class="mb-7">
          <% if @rating.show_prev_month? %>
            <sup>*</sup>Учитываются инфоповоды РОИВов, муниципалитетов и иных организаций
          <% else %>
            <sup>*</sup>Учитываются уникальные инфоповоды РОИВов, муниципалитетов и иных организаций, размещенные в системе, предназначенные для качественного информирования общественности и размещении в СМИ материалов о национальных проектах.<br>
            <br>
            Проверка информационных поводов на качество и их модерация были введены с ноября 2020 года. Это стало необходимым, так как важно организовать эффективное информационное освещение реализации национальных проектов во всех регионах Российской Федерации.
          <% end %>
        </p>
      </div>

      <div class="alwaysbreak">
        <h2>Топ субъектов РФ по количеству инфоповодов по конкретным направлениям за <%= t("months.#{@rating.month.strftime('%B')}").downcase %> <%= @rating.month.year %> года<sup>*</sup></h2>

        <table class="table table-sm table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-left">Направление в разрезе регионов</th>
              <th>Количество инфоповодов</th>
            </tr>
          </thead>
          <tbody>
            <% @rating.federal_subjects_national_projects_stats.each do |(natinal_project_id, national_projects)| %>
              <tr>
                <th class="text-left" style="background-color: <%= national_projects.first.color %>; color: #000; padding-left: 15px; text-transform: none;">НП "<%= national_projects.first.short_name %>"</th>
                <th class="text-center" style="background-color: <%= national_projects.first.color %>; color: #000; text-transform: none;">
                  (всего) <%= national_projects.sum(&:press_releases_count) %>
                </th>
              </tr>

              <% national_projects.first(5).each do |national_project| %>
                <tr>
                  <td style="padding-left: 15px;"><%= national_project.federal_subject_name %></td>
                  <td class="text-center"><%= national_project.press_releases_count %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <p class="mb-7">
          <% if @rating.show_prev_month? %>
            <sup>*</sup>Учитываются инфоповоды РОИВов, муниципалитетов и иных организаций
          <% else %>
            <sup>*</sup>Учитываются уникальные инфоповоды РОИВов, муниципалитетов и иных организаций, размещенные в системе, предназначенные для качественного информирования общественности и размещении в СМИ материалов о национальных проектах.<br>
            <br>
            Проверка информационных поводов на качество и их модерация были введены с ноября 2020 года. Это стало необходимым, так как важно организовать эффективное информационное освещение реализации национальных проектов во всех регионах Российской Федерации.
          <% end %>
        </p>
      </div>

      <% if false %>
        <div class="alwaysbreak">
          <h2>Рейтинг субъектов РФ по количеству подключенных региональных СМИ</h2>

          <table class="table table-sm table-bordered table-striped table-hover mb-7">
            <thead>
              <tr>
                <th>№</th>
                <th class="text-left">Субъект РФ</th>
                <th class="text-center">Подключенные СМИ</th>
                <th style="width: 5px; padding: 0;">&nbsp;</th>
                <th style="width: 30px; background-color: #fff; padding: 0;">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @rating.federal_subjects_media_organizations_stats.each_with_index do |row, index| %>
                <tr>
                  <td class="text-center rank-<%= row.partition %>"><%= index + 1 %></td>
                  <td class="rank-<%= row.partition %>"><%= row.name %></td>
                  <td class="text-center"><%= row.current_count %></td>
                  <td class="rank-<%= row.partition %>" style="padding: 0;"></td>
                  <% if index == 0 %>
                    <td rowspan="<%= @rating.federal_subjects_media_organizations_stats.count { |row| row.partition == 0 } %>" class="text-center" style="background-color: #ffff00; padding: 0;">
                      <span class="text-uppercase" style="-webkit-writing-mode: vertical-rl; font-size: 24px; line-height: 24px;">Топ 10</span>
                    </td>
                  <% elsif row.partition != 0 %>
                    <td></td>
                  <% elsif false && index == rank4_index %>
                    <td rowspan="<%= @rating.federal_subjects_media_organizations_stats.length - rank4_index %>" class="text-center" style="background-color: #ffff00;">
                      <span class="text-uppercase" style="-webkit-writing-mode: vertical-rl; font-size: 24px; line-height: 24px;">Неактивные регионы</span>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

    </div>
  </body>
</html>